Repository openstack-k8s-operators/edpm-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: edpm-ansible-molecule-edpm_bootstrap, edpm-ansible-molecule-edpm_podman, edpm-ansible-molecule-edpm_module_load, edpm-ansible-molecule-edpm_kernel, edpm-ansible-molecule-edpm_libvirt, edpm-ansible-molecule-edpm_nova, edpm-ansible-molecule-edpm_frr, edpm-ansible-molecule-edpm_iscsid, edpm-ansible-molecule-edpm_ovn_bgp_agent, edpm-ansible-molecule-edpm_ovs, edpm-ansible-molecule-edpm_tripleo_cleanup, edpm-ansible-molecule-edpm_tuned, edpm-ansible-molecule-edpm_telemetry_power_monitoring, edpm-ansible-centos-stream-molecule-env_data, edpm-ansible-centos-stream-molecule-test_deps, edpm-ansible-centos-stream-molecule-chrony, edpm-ansible-centos-stream-molecule-edpm_bootstrap, edpm-ansible-centos-stream-molecule-edpm_ceph_client_files, edpm-ansible-centos-stream-molecule-edpm_container_manage, edpm-ansible-centos-stream-molecule-edpm_container_rm, edpm-ansible-centos-stream-molecule-edpm_container_standalone, edpm-ansible-centos-stream-molecule-edpm_hosts_entries, edpm-ansible-centos-stream-molecule-edpm_iscsid, edpm-ansible-centos-stream-molecule-edpm_kernel, edpm-ansible-centos-stream-molecule-edpm_logrotate_crond, edpm-ansible-centos-stream-molecule-edpm_module_load, edpm-ansible-centos-stream-molecule-edpm_network_config, edpm-ansible-centos-stream-molecule-edpm_nftables, edpm-ansible-centos-stream-molecule-edpm_nodes_validation, edpm-ansible-centos-stream-molecule-edpm_nova_libvirt, edpm-ansible-centos-stream-molecule-edpm_nova_compute, edpm-ansible-centos-stream-molecule-edpm_nvdimm, edpm-ansible-centos-stream-molecule-edpm_ovn, edpm-ansible-centos-stream-molecule-edpm_podman, edpm-ansible-centos-stream-molecule-edpm_ssh_known_hosts, edpm-ansible-centos-stream-molecule-edpm_sshd, edpm-ansible-centos-stream-molecule-edpm_timezone, edpm-ansible-centos-stream-role-addition

edpm-ansible-molecule-edpm_bootstrap:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_bootstrap

edpm-ansible-molecule-edpm_podman:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_podman

edpm-ansible-molecule-edpm_module_load:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_module_load

edpm-ansible-molecule-edpm_kernel:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_kernel

edpm-ansible-molecule-edpm_libvirt:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_libvirt

edpm-ansible-molecule-edpm_nova:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_nova

edpm-ansible-molecule-edpm_frr:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_frr

edpm-ansible-molecule-edpm_iscsid:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_iscsid

edpm-ansible-molecule-edpm_ovn_bgp_agent:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_ovn_bgp_agent

edpm-ansible-molecule-edpm_ovs:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_ovs

edpm-ansible-molecule-edpm_tripleo_cleanup:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_tripleo_cleanup

edpm-ansible-molecule-edpm_tuned:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_tuned

edpm-ansible-molecule-edpm_telemetry_power_monitoring:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_telemetry_power_monitoring

edpm-ansible-centos-stream-molecule-env_data:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: env_data

edpm-ansible-centos-stream-molecule-test_deps:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: test_deps

edpm-ansible-centos-stream-molecule-chrony:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: chrony

edpm-ansible-centos-stream-molecule-edpm_bootstrap:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_bootstrap

edpm-ansible-centos-stream-molecule-edpm_ceph_client_files:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_ceph_client_files

edpm-ansible-centos-stream-molecule-edpm_container_manage:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_container_manage
  voting: false

edpm-ansible-centos-stream-molecule-edpm_container_rm:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_container_rm

edpm-ansible-centos-stream-molecule-edpm_container_standalone:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_container_standalone

edpm-ansible-centos-stream-molecule-edpm_hosts_entries:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_hosts_entries

edpm-ansible-centos-stream-molecule-edpm_iscsid:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_iscsid

edpm-ansible-centos-stream-molecule-edpm_kernel:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_kernel

Remove all /var/log/container mounts
  plugins/modules/edpm_container_manage.py
  roles/edpm_container_manage/defaults/main.yml
  roles/edpm_container_manage/meta/argument_specs.yml
  roles/edpm_container_manage/tasks/main.yml
  roles/edpm_nova/molecule/default/test-data/nova-cell1/02-nova-log.conf
  roles/edpm_nova/molecule/default/verify.yml
  roles/edpm_nova/tasks/configure.yml
  roles/edpm_nova/templates/config.json.j2
  roles/edpm_nova/templates/nova_compute.json.j2
  roles/edpm_swift/defaults/main.yml
  roles/edpm_swift/tasks/configure.yml
Due: edpm-ansible-molecule-edpm_nova

reduce libvirtd log levels
  roles/edpm_libvirt/defaults/main.yml
  roles/edpm_libvirt/meta/argument_specs.yml
  roles/edpm_libvirt/molecule/default/converge.yml
  roles/edpm_libvirt/molecule/default/prepare.yml
  roles/edpm_libvirt/molecule/default/test-helpers/verify_logging.yaml
  roles/edpm_libvirt/molecule/default/verify.yml
  roles/edpm_libvirt/molecule/vagrant/molecule.yml
  roles/edpm_libvirt/templates/virtlogd.conf
  roles/edpm_libvirt/templates/virtnodedevd.conf
  roles/edpm_libvirt/templates/virtproxyd.conf
  roles/edpm_libvirt/templates/virtqemud.conf
  roles/edpm_libvirt/templates/virtsecretd.conf
Due: edpm-ansible-molecule-edpm_libvirt

Refactor edpm_network_config role
  roles/edpm_bootstrap/tasks/packages.yml
  roles/edpm_network_config/defaults/main.yml
  roles/edpm_network_config/handlers/main.yml
  roles/edpm_network_config/tasks/download_cache.yml
  roles/edpm_network_config/tasks/main.yml
  roles/edpm_network_config/tasks/network_config.yml
  roles/edpm_network_config/tasks/nm_config.yml
  roles/edpm_network_config/tasks/nmstate_tool.yml
  roles/edpm_network_config/tasks/os_net_config.yml
  roles/edpm_network_config/tasks/os_net_config_tool.yml
  roles/edpm_network_config/tasks/package_management.yml
  roles/edpm_network_config/tasks/post_config.yml
  roles/edpm_network_config/tasks/pre_config.yml
Due: edpm-ansible-molecule-edpm_bootstrap

Update kepler version and container template
  roles/edpm_telemetry_power_monitoring/defaults/main.yml
  roles/edpm_telemetry_power_monitoring/files/healthchecks/exporter/healthcheck
  roles/edpm_telemetry_power_monitoring/templates/kepler.json.j2
Due: edpm-ansible-molecule-edpm_telemetry_power_monitoring

Use separate registries.conf.d files for config
  roles/edpm_podman/defaults/main.yml
  roles/edpm_podman/molecule/disconnected/converge.yml
  roles/edpm_podman/tasks/install.yml
Due: edpm-ansible-molecule-edpm_podman

Update kepler version and container template
  roles/edpm_telemetry_power_monitoring/defaults/main.yml
  roles/edpm_telemetry_power_monitoring/files/healthchecks/exporter/healthcheck
  roles/edpm_telemetry_power_monitoring/tasks/configure.yml
  roles/edpm_telemetry_power_monitoring/templates/kepler-config.yaml.j2
  roles/edpm_telemetry_power_monitoring/templates/kepler.json.j2
Due: edpm-ansible-molecule-edpm_telemetry_power_monitoring

edpm_container_manage support bootc
  roles/edpm_container_manage/tasks/shutdown.yml
Due: none

Skip swapfile creation for bootc
  roles/edpm_bootstrap/tasks/swap.yml
Due: edpm-ansible-molecule-edpm_bootstrap

Skip package installations for bootc
  roles/edpm_bootstrap/tasks/bootstrap.yml
  roles/edpm_kernel/tasks/main.yml
  roles/edpm_libvirt/tasks/install.yml
  roles/edpm_network_config/tasks/main.yml
  roles/edpm_network_config/tasks/pre_config.yml
  roles/edpm_nvmeof/tasks/install.yml
  roles/edpm_ovs/tasks/download_cache.yml
  roles/edpm_ovs/tasks/install.yml
  roles/edpm_podman/tasks/install.yml
  roles/edpm_reboot/tasks/main.yaml
  roles/edpm_sshd/tasks/install.yml
Due: edpm-ansible-molecule-edpm_bootstrap, edpm-ansible-molecule-edpm_podman, edpm-ansible-molecule-edpm_kernel, edpm-ansible-molecule-edpm_libvirt, edpm-ansible-molecule-edpm_ovs

Create /etc/localtime if it doesn't exist
  roles/edpm_timezone/tasks/configure.yml
Due: none

Skip tuned package installed for bootc
  roles/edpm_tuned/tasks/main.yml
Due: edpm-ansible-molecule-edpm_tuned

Add bootc fact to test_deps
  molecule/common/test_deps/defaults/main.yml
  molecule/common/test_deps/tasks/main.yml
Due: none

Install edpm-container-shutdown to /var
  roles/edpm_container_manage/files/edpm-container-shutdown-service
  roles/edpm_container_manage/tasks/shutdown.yml
  roles/edpm_container_manage/templates/systemd-service.j2
  roles/edpm_frr/tasks/run.yml
  roles/edpm_iscsid/tasks/run.yml
  roles/edpm_multipathd/tasks/run.yml
  roles/edpm_neutron_dhcp/tasks/run.yml
  roles/edpm_neutron_metadata/tasks/run.yml
  roles/edpm_neutron_ovn/tasks/run.yml
  roles/edpm_neutron_sriov/tasks/run.yml
  roles/edpm_ovn/tasks/run.yml
  roles/edpm_ovn_bgp_agent/tasks/run.yml
  roles/edpm_ovn_bgp_agent/tasks/run_ovn.yml
  roles/edpm_swift/tasks/run.yml
Due: edpm-ansible-molecule-edpm_frr, edpm-ansible-molecule-edpm_iscsid, edpm-ansible-molecule-edpm_ovn_bgp_agent

Skip kernel tasks when using bootc
  playbooks/bootstrap.yml
  roles/edpm_kernel/tasks/main.yml
Due: edpm-ansible-molecule-edpm_kernel

Gather ansible_local facts at the start of each service
  playbooks/configure_network.yml
  playbooks/configure_os.yml
  playbooks/download_cache.yml
  playbooks/install_certs.yml
  playbooks/install_os.yml
  playbooks/libvirt.yml
  playbooks/neutron_metadata.yml
  playbooks/neutron_ovn.yaml
  playbooks/nova.yml
  playbooks/ovn.yml
  playbooks/run_os.yml
  playbooks/telemetry.yml
  playbooks/validate_network.yml
Due: none

Fix rsync permission issue for Swift
  roles/edpm_swift/templates/rsync.yaml.j2
Due: none

Add prepare.yml for edpm_sshd molecule tests
  roles/edpm_sshd/molecule/banners/prepare.yml
  roles/edpm_sshd/molecule/default/molecule.yml
  roles/edpm_sshd/molecule/gssapi/molecule.yml
  roles/edpm_sshd/molecule/gssapi/prepare.yml
Due: none

edpm_kernel: bootc support
  playbooks/bootstrap.yml
  roles/edpm_kernel/tasks/kernelargs.yml
Due: edpm-ansible-molecule-edpm_kernel

Gather local ansible facts if not done for roles
  roles/edpm_bootstrap/tasks/fips.yml
  roles/edpm_bootstrap/tasks/packages.yml
  roles/edpm_bootstrap/tasks/swap.yml
  roles/edpm_download_cache/tasks/main.yml
  roles/edpm_kernel/tasks/kernelargs.yml
  roles/edpm_kernel/tasks/main.yml
  roles/edpm_libvirt/tasks/install.yml
  roles/edpm_nvmeof/tasks/install.yml
  roles/edpm_ovs/tasks/download_cache.yml
  roles/edpm_ovs/tasks/install.yml
  roles/edpm_podman/tasks/install.yml
  roles/edpm_reboot/tasks/main.yaml
  roles/edpm_sshd/tasks/install.yml
  roles/edpm_telemetry_logging/tasks/configure.yml
  roles/edpm_timezone/tasks/configure.yml
  roles/edpm_tuned/tasks/main.yml
  roles/edpm_update/tasks/main.yml
Due: edpm-ansible-molecule-edpm_bootstrap, edpm-ansible-molecule-edpm_podman, edpm-ansible-molecule-edpm_kernel, edpm-ansible-molecule-edpm_libvirt, edpm-ansible-molecule-edpm_ovs, edpm-ansible-molecule-edpm_tuned

edpm_ovn_bgp_agent: use /var paths instead of /usr for bootc
  roles/edpm_ovn_bgp_agent/files/ovn-bgp-agent-cleanup.service
  roles/edpm_ovn_bgp_agent/tasks/install_ovn.yml
Due: edpm-ansible-molecule-edpm_ovn_bgp_agent

Gather local facts for update.yml playbook
  playbooks/update.yml
Due: none

Gather local facts for neutron_dhcp playbook
  playbooks/neutron_dhcp.yml
Due: none

Gather local facts for playbooks/telemetry_logging.yml
  playbooks/telemetry_logging.yml
  roles/edpm_telemetry_logging/tasks/configure.yml
Due: none

Gather local facts for configure_ovs_dpdk playbook
  playbooks/configure_ovs_dpdk.yml
Due: none

edpm_kernel bootc support
  roles/edpm_kernel/tasks/kernelargs.yml
Due: edpm-ansible-molecule-edpm_kernel

Fail when edpm_ddp_package used on a bootc system
  roles/edpm_ddp_package/tasks/main.yml
Due: none

Fix ansible-lint complaints
  roles/edpm_bootstrap/tasks/swap.yml
  roles/edpm_container_manage/tasks/shutdown.yml
  roles/edpm_telemetry_power_monitoring/tasks/configure.yml
  roles/edpm_timezone/tasks/configure.yml
Due: edpm-ansible-molecule-edpm_bootstrap, edpm-ansible-molecule-edpm_telemetry_power_monitoring

edpm_kernel: bootc molecule tests
  roles/edpm_kernel/molecule/kernelargs-update-bootc/converge.yml
  roles/edpm_kernel/molecule/kernelargs-update-bootc/molecule.yml
  roles/edpm_kernel/molecule/kernelargs-update-bootc/test_kernelargs.yml
  roles/edpm_kernel/molecule/kernelargs-update-bootc/verify.yml
  roles/edpm_kernel/resources/molecule/prepare-bootc.yml
Due: edpm-ansible-molecule-edpm_kernel

Preliminary bootc update handling
  roles/edpm_update/defaults/main.yml
  roles/edpm_update/tasks/bootc.yml
Due: none

Skip download_cache packages tasks with bootc
  roles/edpm_download_cache/tasks/main.yml
Due: none

select_kernel_ddp_package.yml bootc support
  playbooks/select_kernel_ddp_package.yml
Due: none

Do not change FIPS status for bootc and warn if requested
  roles/edpm_bootstrap/tasks/fips.yml
Due: edpm-ansible-molecule-edpm_bootstrap

Add bootc fact tasks
  roles/edpm_bootstrap/facts/bootc.fact
  roles/edpm_bootstrap/tasks/bootc.yml
  roles/edpm_bootstrap/tasks/bootstrap.yml
Due: edpm-ansible-molecule-edpm_bootstrap

bootc fact bashate spacing
  roles/edpm_bootstrap/facts/bootc.fact
Due: none

Re-enable swap for bootc
  playbooks/bootstrap.yml
  roles/edpm_bootstrap/defaults/main.yml
  roles/edpm_bootstrap/handlers/main.yml
  roles/edpm_bootstrap/tasks/bootstrap.yml
  roles/edpm_bootstrap/tasks/swap.yml
Due: edpm-ansible-molecule-edpm_bootstrap

Gather local facts for bootc
  playbooks/nova_storage.yml
  playbooks/reboot.yml
Due: none

Trim newline from end of swap path
  roles/edpm_bootstrap/tasks/swap.yml
Due: edpm-ansible-molecule-edpm_bootstrap

Path conditions:
  edpm-ansible-molecule-edpm_bootstrap: any of: ^roles/edpm_bootstrap/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_podman: any of: ^roles/edpm_podman/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_module_load: any of: ^roles/edpm_module_load/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_kernel: any of: ^roles/edpm_kernel/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_libvirt: any of: ^roles/edpm_libvirt/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_nova: any of: ^roles/edpm_nova/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_frr: any of: ^roles/edpm_frr/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_iscsid: any of: ^roles/edpm_iscsid/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_ovn_bgp_agent: any of: ^roles/edpm_ovn_bgp_agent/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_ovs: any of: ^roles/edpm_ovs/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_tripleo_cleanup: any of: ^roles/edpm_tripleo_cleanup/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_tuned: any of: ^roles/edpm_tuned/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_telemetry_power_monitoring: any of: ^roles/edpm_telemetry_power_monitoring/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-centos-stream-molecule-env_data: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/env_data/(?!meta).*
  edpm-ansible-centos-stream-molecule-test_deps: any of: ^molecule-requirements.txt, ^.config/molecule/config.yml, ^edpm_ansible/roles/test_deps/(?!meta).*, ^zuul.d/playbooks/pre.yml
  edpm-ansible-centos-stream-molecule-chrony: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/chrony/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_bootstrap: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_bootstrap/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ceph_client_files: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ceph_client_files/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_container_manage: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_manage/(?!meta).*, ^edpm_ansible/roles/edpm_container_rm/.*, ^edpm_ansible/ansible_plugins/action/container_systemd.py$, ^edpm_ansible/ansible_plugins/filter/helpers.py$, ^edpm_ansible/ansible_plugins/modules/container_config_data.py$, ^edpm_ansible/ansible_plugins/modules/container_config_hash.py$
  edpm-ansible-centos-stream-molecule-edpm_container_rm: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_rm/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_container_standalone: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_standalone/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_hosts_entries: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_hosts_entries/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_iscsid: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_iscsid/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_kernel: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_kernel/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_logrotate_crond: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_logrotate_crond/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_module_load: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_module_load/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_network_config: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_network_config/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_os_net_config.py, ^edpm_ansible/ansible_plugins/modules/edpm_os_net_config_mappings.py
  edpm-ansible-centos-stream-molecule-edpm_nftables: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nftables/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_nftables_from_files.py, ^edpm_ansible/ansible_plugins/modules/edpm_nftables_snippet.py
  edpm-ansible-centos-stream-molecule-edpm_nodes_validation: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nodes_validation/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nova_libvirt: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nova_libvirt/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nova_compute: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nova_compute/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nvdimm: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nvdimm/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ovn: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ovn/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_ovn_mac_addresses.py
  edpm-ansible-centos-stream-molecule-edpm_podman: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_podman/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ssh_known_hosts: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ssh_known_hosts/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_sshd: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_sshd/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_timezone: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_timezone/(?!meta).*
  edpm-ansible-centos-stream-role-addition: any of: ^.config/molecule/config.yml, ^_skeleton_role_/.*, ^role-addition.yml, ^tox.ini, ^molecule-requirements.txt, ^zuul.d/playbooks/.*, ^zuul.d/molecule.yaml
