Repository openstack-k8s-operators/edpm-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: edpm-ansible-molecule-edpm_bootstrap, edpm-ansible-molecule-edpm_podman, edpm-ansible-molecule-edpm_module_load, edpm-ansible-molecule-edpm_kernel, edpm-ansible-molecule-edpm_libvirt, edpm-ansible-molecule-edpm_nova, edpm-ansible-molecule-edpm_frr, edpm-ansible-molecule-edpm_iscsid, edpm-ansible-molecule-edpm_ovn_bgp_agent, edpm-ansible-molecule-edpm_ovs, edpm-ansible-molecule-edpm_tripleo_cleanup, edpm-ansible-molecule-edpm_tuned, edpm-ansible-molecule-edpm_telemetry_power_monitoring, edpm-ansible-centos-stream-molecule-env_data, edpm-ansible-centos-stream-molecule-test_deps, edpm-ansible-centos-stream-molecule-chrony, edpm-ansible-centos-stream-molecule-edpm_bootstrap, edpm-ansible-centos-stream-molecule-edpm_ceph_client_files, edpm-ansible-centos-stream-molecule-edpm_container_manage, edpm-ansible-centos-stream-molecule-edpm_container_rm, edpm-ansible-centos-stream-molecule-edpm_container_standalone, edpm-ansible-centos-stream-molecule-edpm_hosts_entries, edpm-ansible-centos-stream-molecule-edpm_iscsid, edpm-ansible-centos-stream-molecule-edpm_kernel, edpm-ansible-centos-stream-molecule-edpm_logrotate_crond, edpm-ansible-centos-stream-molecule-edpm_module_load, edpm-ansible-centos-stream-molecule-edpm_network_config, edpm-ansible-centos-stream-molecule-edpm_nftables, edpm-ansible-centos-stream-molecule-edpm_nodes_validation, edpm-ansible-centos-stream-molecule-edpm_nova_libvirt, edpm-ansible-centos-stream-molecule-edpm_nova_compute, edpm-ansible-centos-stream-molecule-edpm_nvdimm, edpm-ansible-centos-stream-molecule-edpm_ovn, edpm-ansible-centos-stream-molecule-edpm_podman, edpm-ansible-centos-stream-molecule-edpm_ssh_known_hosts, edpm-ansible-centos-stream-molecule-edpm_sshd, edpm-ansible-centos-stream-molecule-edpm_timezone, edpm-ansible-centos-stream-role-addition

edpm-ansible-molecule-edpm_bootstrap:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_bootstrap

edpm-ansible-molecule-edpm_podman:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_podman

edpm-ansible-molecule-edpm_module_load:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_module_load

edpm-ansible-molecule-edpm_kernel:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_kernel

edpm-ansible-molecule-edpm_libvirt:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_libvirt

edpm-ansible-molecule-edpm_nova:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_nova

edpm-ansible-molecule-edpm_frr:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_frr

edpm-ansible-molecule-edpm_iscsid:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_iscsid

edpm-ansible-molecule-edpm_ovn_bgp_agent:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_ovn_bgp_agent

edpm-ansible-molecule-edpm_ovs:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_ovs

edpm-ansible-molecule-edpm_tripleo_cleanup:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_tripleo_cleanup

edpm-ansible-molecule-edpm_tuned:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_tuned

edpm-ansible-molecule-edpm_telemetry_power_monitoring:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_telemetry_power_monitoring

edpm-ansible-centos-stream-molecule-env_data:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: env_data

edpm-ansible-centos-stream-molecule-test_deps:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: test_deps

edpm-ansible-centos-stream-molecule-chrony:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: chrony

edpm-ansible-centos-stream-molecule-edpm_bootstrap:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_bootstrap

edpm-ansible-centos-stream-molecule-edpm_ceph_client_files:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_ceph_client_files

edpm-ansible-centos-stream-molecule-edpm_container_manage:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_container_manage
  voting: false

edpm-ansible-centos-stream-molecule-edpm_container_rm:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_container_rm

edpm-ansible-centos-stream-molecule-edpm_container_standalone:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_container_standalone

edpm-ansible-centos-stream-molecule-edpm_hosts_entries:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_hosts_entries

edpm-ansible-centos-stream-molecule-edpm_iscsid:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_iscsid

edpm-ansible-centos-stream-molecule-edpm_kernel:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_kernel

Revert "Force rhc_organization variable to be interger"
  playbooks/redhat.yml
Due: none

Allow unprivileged rsync use port 873 for Swift
  roles/edpm_swift/tasks/configure.yml
Due: none

Remove frenzyfriday from ci approvers
  OWNERS_ALIASES
Due: none

EDPM deployment should not do network cleanup by default
  docs/source/roles/role-edpm_network_config.rst
  plugins/modules/edpm_os_net_config.py
  roles/edpm_network_config/defaults/main.yml
  roles/edpm_network_config/meta/argument_specs.yml
  roles/edpm_network_config/molecule/nmstate/converge.yml
Due: none

Enable pmd auto lb by default for ovs-dpdk
  roles/edpm_ovs_dpdk/defaults/main.yml
Due: none

Pin ansible-core to < 2.19.0
  docs/docs-requirements.txt
  molecule-requirements.txt
  openstack_ansibleee/requirements.txt
Due: edpm-ansible-centos-stream-molecule-env_data, edpm-ansible-centos-stream-molecule-test_deps, edpm-ansible-centos-stream-molecule-chrony, edpm-ansible-centos-stream-molecule-edpm_bootstrap, edpm-ansible-centos-stream-molecule-edpm_ceph_client_files, edpm-ansible-centos-stream-molecule-edpm_container_manage, edpm-ansible-centos-stream-molecule-edpm_container_rm, edpm-ansible-centos-stream-molecule-edpm_container_standalone, edpm-ansible-centos-stream-molecule-edpm_hosts_entries, edpm-ansible-centos-stream-molecule-edpm_iscsid, edpm-ansible-centos-stream-molecule-edpm_kernel, edpm-ansible-centos-stream-molecule-edpm_logrotate_crond, edpm-ansible-centos-stream-molecule-edpm_module_load, edpm-ansible-centos-stream-molecule-edpm_network_config, edpm-ansible-centos-stream-molecule-edpm_nftables, edpm-ansible-centos-stream-molecule-edpm_nodes_validation, edpm-ansible-centos-stream-molecule-edpm_nova_libvirt, edpm-ansible-centos-stream-molecule-edpm_nova_compute, edpm-ansible-centos-stream-molecule-edpm_nvdimm, edpm-ansible-centos-stream-molecule-edpm_ovn, edpm-ansible-centos-stream-molecule-edpm_podman, edpm-ansible-centos-stream-molecule-edpm_ssh_known_hosts, edpm-ansible-centos-stream-molecule-edpm_sshd, edpm-ansible-centos-stream-molecule-edpm_timezone, edpm-ansible-centos-stream-role-addition

edpm_iscsid: move iscsid from container to host
  Makefile
  roles/edpm_container_standalone/defaults/main.yml
  roles/edpm_container_standalone/meta/argument_specs.yml
  roles/edpm_download_cache/tasks/container_images.yml
  roles/edpm_download_cache/tasks/packages.yml
  roles/edpm_iscsid/defaults/main.yml
  roles/edpm_iscsid/files/healthchecks/iscsid/healthcheck
  roles/edpm_iscsid/files/iscsid.yaml
  roles/edpm_iscsid/handlers/main.yml
  roles/edpm_iscsid/meta/argument_specs.yml
  roles/edpm_iscsid/tasks/configure.yml
  roles/edpm_iscsid/tasks/download_cache.yml
  roles/edpm_iscsid/tasks/healthchecks.yml
  roles/edpm_iscsid/tasks/install.yml
  roles/edpm_iscsid/tasks/iscsid.yaml
  roles/edpm_iscsid/tasks/iscsid_install.yaml
  roles/edpm_iscsid/tasks/run.yml
  roles/edpm_iscsid/templates/iscsid.yaml.j2
  roles/edpm_multipathd/defaults/main.yml
  roles/edpm_nova/molecule/default/verify.yml
  roles/edpm_nova/tasks/configure.yml
  roles/edpm_nova/templates/config.json.j2
  roles/edpm_nova/templates/nova_compute.json.j2
  roles/edpm_nova/templates/run-on-host
  roles/edpm_update/tasks/containers.yml
  roles/edpm_update_services/tasks/containers.yml
Due: edpm-ansible-molecule-edpm_nova, edpm-ansible-molecule-edpm_iscsid

Drop edpm_logrotate_crond role and it's usage
  .github/workflows/molecule.yaml
  docs/source/roles/role-edpm_logrotate_crond.rst
  playbooks/configure_os.yml
  playbooks/install_os.yml
  playbooks/run_os.yml
  roles/edpm_download_cache/tasks/container_images.yml
  roles/edpm_download_cache/tasks/packages.yml
  roles/edpm_logrotate_crond/defaults/main.yml
  roles/edpm_logrotate_crond/files/healthchecks/logrotate_crond/healthcheck
  roles/edpm_logrotate_crond/files/logrotate_crond.yaml
  roles/edpm_logrotate_crond/meta/argument_specs.yml
  roles/edpm_logrotate_crond/meta/main.yml
  roles/edpm_logrotate_crond/molecule/default/collections.yml
  roles/edpm_logrotate_crond/molecule/default/converge.yml
  roles/edpm_logrotate_crond/molecule/default/molecule.yml
  roles/edpm_logrotate_crond/molecule/default/prepare.yml
  roles/edpm_logrotate_crond/molecule/default/verify.yml
  roles/edpm_logrotate_crond/tasks/configure.yml
  roles/edpm_logrotate_crond/tasks/download_cache_images.yml
  roles/edpm_logrotate_crond/tasks/download_cache_packages.yml
  roles/edpm_logrotate_crond/tasks/healthchecks.yml
  roles/edpm_logrotate_crond/tasks/install.yml
  roles/edpm_logrotate_crond/tasks/logrotate_crond.yml
  roles/edpm_logrotate_crond/tasks/run.yml
  roles/edpm_logrotate_crond/tasks/update.yml
  roles/edpm_logrotate_crond/tasks/upgrade.yml
  roles/edpm_logrotate_crond/templates/logrotate-crond.conf.j2
  roles/edpm_logrotate_crond/templates/logrotate_crond.yaml.j2
  roles/edpm_update/tasks/containers.yml
  roles/edpm_update_services/tasks/containers.yml
  scripts/generate_molecule.py
  zuul.d/projects.yaml
Due: none

Set test_deps_setup_edpm: true by default
  molecule/common/test_deps/defaults/main.yml
Due: none

Revert "Pin ansible-core to < 2.19.0"
  docs/docs-requirements.txt
  molecule-requirements.txt
  openstack_ansibleee/requirements.txt
Due: edpm-ansible-centos-stream-molecule-env_data, edpm-ansible-centos-stream-molecule-test_deps, edpm-ansible-centos-stream-molecule-chrony, edpm-ansible-centos-stream-molecule-edpm_bootstrap, edpm-ansible-centos-stream-molecule-edpm_ceph_client_files, edpm-ansible-centos-stream-molecule-edpm_container_manage, edpm-ansible-centos-stream-molecule-edpm_container_rm, edpm-ansible-centos-stream-molecule-edpm_container_standalone, edpm-ansible-centos-stream-molecule-edpm_hosts_entries, edpm-ansible-centos-stream-molecule-edpm_iscsid, edpm-ansible-centos-stream-molecule-edpm_kernel, edpm-ansible-centos-stream-molecule-edpm_logrotate_crond, edpm-ansible-centos-stream-molecule-edpm_module_load, edpm-ansible-centos-stream-molecule-edpm_network_config, edpm-ansible-centos-stream-molecule-edpm_nftables, edpm-ansible-centos-stream-molecule-edpm_nodes_validation, edpm-ansible-centos-stream-molecule-edpm_nova_libvirt, edpm-ansible-centos-stream-molecule-edpm_nova_compute, edpm-ansible-centos-stream-molecule-edpm_nvdimm, edpm-ansible-centos-stream-molecule-edpm_ovn, edpm-ansible-centos-stream-molecule-edpm_podman, edpm-ansible-centos-stream-molecule-edpm_ssh_known_hosts, edpm-ansible-centos-stream-molecule-edpm_sshd, edpm-ansible-centos-stream-molecule-edpm_timezone, edpm-ansible-centos-stream-role-addition

Fix ovn cleanup.yaml
  roles/edpm_ovn/tasks/cleanup.yml
Due: none

Fix conditionals/var acess broken with ansible 2.9
  roles/edpm_kernel/tasks/hugepages.yml
  roles/edpm_libvirt/tasks/virsh-secret.yml
  roles/edpm_nftables/templates/dport.j2
  roles/edpm_ovs_dpdk/tasks/configure.yml
  roles/edpm_pre_adoption_validation/tasks/kernel_args.yml
  roles/edpm_ssh_known_hosts/tasks/main.yml
Due: edpm-ansible-molecule-edpm_kernel, edpm-ansible-molecule-edpm_libvirt

[WIP] reduce libvirtd log levels
  roles/edpm_libvirt/defaults/main.yml
  roles/edpm_libvirt/templates/virtlogd.conf
  roles/edpm_libvirt/templates/virtproxyd.conf
  roles/edpm_libvirt/templates/virtqemud.conf
  roles/edpm_libvirt/templates/virtsecretd.conf
Due: edpm-ansible-molecule-edpm_libvirt

Trust systemd unit template
  plugins/action/container_systemd.py
Due: none

Add retries while Verify a FQDN is set
  roles/edpm_nodes_validation/tasks/main.yml
Due: none

[zuul] Add telemetry jobs
  roles/edpm_telemetry/tasks/main.yml
  roles/edpm_telemetry_logging/tasks/main.yml
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: none

Fix ansible 2.19 incompatibility
  roles/edpm_frr/tasks/configure.yml
Due: edpm-ansible-molecule-edpm_frr

Let NetworkManager manage resolv.conf after all downloads
  roles/edpm_network_config/tasks/dns_nm_configs.yml
  roles/edpm_network_config/tasks/main.yml
  roles/edpm_network_config/tasks/network_config.yml
Due: none

select_kernel_ddp_package.yml bootc support
  playbooks/select_kernel_ddp_package.yml
Due: none

Fail when edpm_ddp_package used on a bootc system
  roles/edpm_ddp_package/tasks/main.yml
Due: none

Gather local ansible facts if not done for roles
  roles/edpm_bootstrap/tasks/fips.yml
  roles/edpm_bootstrap/tasks/packages.yml
  roles/edpm_bootstrap/tasks/swap.yml
  roles/edpm_download_cache/tasks/main.yml
  roles/edpm_kernel/tasks/kernelargs.yml
  roles/edpm_kernel/tasks/main.yml
  roles/edpm_libvirt/tasks/install.yml
  roles/edpm_network_config/tasks/main.yml
  roles/edpm_network_config/tasks/network_config.yml
  roles/edpm_nvmeof/tasks/install.yml
  roles/edpm_ovs/tasks/download_cache.yml
  roles/edpm_ovs/tasks/install.yml
  roles/edpm_podman/tasks/install.yml
  roles/edpm_reboot/tasks/main.yaml
  roles/edpm_sshd/tasks/install.yml
  roles/edpm_telemetry_logging/tasks/configure.yml
  roles/edpm_timezone/tasks/configure.yml
  roles/edpm_tuned/tasks/main.yml
  roles/edpm_update/tasks/main.yml
Due: edpm-ansible-molecule-edpm_bootstrap, edpm-ansible-molecule-edpm_podman, edpm-ansible-molecule-edpm_kernel, edpm-ansible-molecule-edpm_libvirt, edpm-ansible-molecule-edpm_ovs, edpm-ansible-molecule-edpm_tuned

Add prepare.yml for edpm_sshd molecule tests
  roles/edpm_sshd/molecule/banners/prepare.yml
  roles/edpm_sshd/molecule/default/molecule.yml
  roles/edpm_sshd/molecule/gssapi/molecule.yml
  roles/edpm_sshd/molecule/gssapi/prepare.yml
Due: none

Remove Lewis from ci-approvers
  OWNERS_ALIASES
Due: none

Adds nova_compute_nvme_cleanup service in nova_compute container
  roles/edpm_nova/molecule/default/verify.yml
  roles/edpm_nova/tasks/install.yml
  roles/edpm_nova/tasks/nova_compute_nvme_cleanup.yml
  roles/edpm_nova/templates/nova_compute_nvme_cleanup.service.j2
Due: edpm-ansible-molecule-edpm_nova

Update kepler container template
  roles/edpm_telemetry_power_monitoring/templates/kepler.json.j2
Due: edpm-ansible-molecule-edpm_telemetry_power_monitoring

Network Configs Migration ifcfg to nmstate provider
  playbooks/migration_netowrk.yml
  plugins/modules/edpm_os_net_config.py
  roles/edpm_network_config/defaults/main.yml
  roles/edpm_network_config/meta/argument_specs.yml
  roles/edpm_network_config/tasks/purge_os_net_config.yml
Due: none

os-net-config packages installation failing changes
  roles/edpm_network_config/tasks/dns_nm_configs.yml
  roles/edpm_network_config/tasks/install.yml
  roles/edpm_network_config/tasks/main.yml
  roles/edpm_network_config/tasks/network_config.yml
Due: none

Fix a few molecule tests
  roles/edpm_container_standalone/molecule/default/prepare.yml
  roles/edpm_multipathd/molecule/default/prepare.yml
Due: none

append returns implicit None which with Ansible-core 2.19 will evaluate as literal None
  roles/edpm_ovn/defaults/main.yml
Due: none

Refactor edpm_network_config role
  roles/edpm_network_config/defaults/main.yml
  roles/edpm_network_config/handlers/main.yml
  roles/edpm_network_config/tasks/main.yml
  roles/edpm_network_config/tasks/network_config.yml
  roles/edpm_network_config/tasks/nm_config.yml
  roles/edpm_network_config/tasks/nmstate_tool.yml
  roles/edpm_network_config/tasks/os_net_config.yml
  roles/edpm_network_config/tasks/os_net_config_tool.yml
  roles/edpm_network_config/tasks/package_management.yml
  roles/edpm_network_config/tasks/post_config.yml
  roles/edpm_network_config/tasks/pre_config.yml
Due: none

Refactor edpm_network_config role
  roles/edpm_bootstrap/tasks/packages.yml
  roles/edpm_network_config/defaults/main.yml
  roles/edpm_network_config/handlers/main.yml
  roles/edpm_network_config/tasks/download_cache.yml
  roles/edpm_network_config/tasks/main.yml
  roles/edpm_network_config/tasks/network_config.yml
  roles/edpm_network_config/tasks/nm_config.yml
  roles/edpm_network_config/tasks/nmstate_tool.yml
  roles/edpm_network_config/tasks/os_net_config.yml
  roles/edpm_network_config/tasks/os_net_config_tool.yml
  roles/edpm_network_config/tasks/package_management.yml
  roles/edpm_network_config/tasks/post_config.yml
  roles/edpm_network_config/tasks/pre_config.yml
Due: edpm-ansible-molecule-edpm_bootstrap

edpm_iscsid: Move iscsid from container to host
  roles/edpm_download_cache/tasks/container_images.yml
  roles/edpm_download_cache/tasks/packages.yml
  roles/edpm_iscsid/defaults/main.yml
  roles/edpm_iscsid/handlers/main.yml
  roles/edpm_iscsid/meta/argument_specs.yml
  roles/edpm_iscsid/tasks/configure.yml
  roles/edpm_iscsid/tasks/download_cache.yml
  roles/edpm_iscsid/tasks/install.yml
  roles/edpm_iscsid/tasks/update.yml
  roles/edpm_multipathd/defaults/main.yml
  roles/edpm_nova/molecule/default/verify.yml
  roles/edpm_nova/tasks/configure.yml
  roles/edpm_nova/templates/config.json.j2
  roles/edpm_nova/templates/nova_compute.json.j2
  roles/edpm_nova/templates/run-on-host
  roles/edpm_update/tasks/containers.yml
  roles/edpm_update_services/tasks/containers.yml
Due: edpm-ansible-molecule-edpm_nova, edpm-ansible-molecule-edpm_iscsid

edpm_iscsid: Update and improve molecule tests
  roles/edpm_iscsid/molecule/adoption/converge.yml
  roles/edpm_iscsid/molecule/adoption/molecule.yml
  roles/edpm_iscsid/molecule/adoption/prepare.yml
  roles/edpm_iscsid/molecule/adoption/verify.yml
  roles/edpm_iscsid/molecule/default/converge.yml
  roles/edpm_iscsid/molecule/default/molecule.yml
  roles/edpm_iscsid/molecule/default/prepare.yml
  roles/edpm_iscsid/molecule/default/verify.yml
  roles/edpm_iscsid/molecule/vagrant/README.md
  roles/edpm_iscsid/molecule/vagrant/collections.yml
  roles/edpm_iscsid/molecule/vagrant/molecule.yml
  scripts/test_roles.py
Due: edpm-ansible-molecule-edpm_iscsid

edpm_iscsid: Minor cleanup to delete cruft
  roles/edpm_container_standalone/defaults/main.yml
  roles/edpm_container_standalone/meta/argument_specs.yml
  roles/edpm_iscsid/files/healthchecks/iscsid/healthcheck
  roles/edpm_iscsid/files/iscsid.yaml
  roles/edpm_iscsid/tasks/healthchecks.yml
  roles/edpm_iscsid/tasks/iscsid.yaml
  roles/edpm_iscsid/tasks/iscsid_install.yaml
  roles/edpm_iscsid/templates/iscsid.yaml.j2
Due: edpm-ansible-molecule-edpm_iscsid

Path conditions:
  edpm-ansible-molecule-edpm_bootstrap: any of: ^roles/edpm_bootstrap/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_podman: any of: ^roles/edpm_podman/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_module_load: any of: ^roles/edpm_module_load/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_kernel: any of: ^roles/edpm_kernel/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_libvirt: any of: ^roles/edpm_libvirt/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_nova: any of: ^roles/edpm_nova/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_frr: any of: ^roles/edpm_frr/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_iscsid: any of: ^roles/edpm_iscsid/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_ovn_bgp_agent: any of: ^roles/edpm_ovn_bgp_agent/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_ovs: any of: ^roles/edpm_ovs/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_tripleo_cleanup: any of: ^roles/edpm_tripleo_cleanup/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_tuned: any of: ^roles/edpm_tuned/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_telemetry_power_monitoring: any of: ^roles/edpm_telemetry_power_monitoring/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-centos-stream-molecule-env_data: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/env_data/(?!meta).*
  edpm-ansible-centos-stream-molecule-test_deps: any of: ^molecule-requirements.txt, ^.config/molecule/config.yml, ^edpm_ansible/roles/test_deps/(?!meta).*, ^zuul.d/playbooks/pre.yml
  edpm-ansible-centos-stream-molecule-chrony: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/chrony/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_bootstrap: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_bootstrap/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ceph_client_files: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ceph_client_files/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_container_manage: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_manage/(?!meta).*, ^edpm_ansible/roles/edpm_container_rm/.*, ^edpm_ansible/ansible_plugins/action/container_systemd.py$, ^edpm_ansible/ansible_plugins/filter/helpers.py$, ^edpm_ansible/ansible_plugins/modules/container_config_data.py$, ^edpm_ansible/ansible_plugins/modules/container_config_hash.py$
  edpm-ansible-centos-stream-molecule-edpm_container_rm: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_rm/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_container_standalone: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_standalone/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_hosts_entries: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_hosts_entries/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_iscsid: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_iscsid/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_kernel: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_kernel/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_logrotate_crond: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_logrotate_crond/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_module_load: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_module_load/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_network_config: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_network_config/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_os_net_config.py, ^edpm_ansible/ansible_plugins/modules/edpm_os_net_config_mappings.py
  edpm-ansible-centos-stream-molecule-edpm_nftables: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nftables/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_nftables_from_files.py, ^edpm_ansible/ansible_plugins/modules/edpm_nftables_snippet.py
  edpm-ansible-centos-stream-molecule-edpm_nodes_validation: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nodes_validation/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nova_libvirt: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nova_libvirt/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nova_compute: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nova_compute/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nvdimm: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nvdimm/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ovn: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ovn/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_ovn_mac_addresses.py
  edpm-ansible-centos-stream-molecule-edpm_podman: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_podman/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ssh_known_hosts: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ssh_known_hosts/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_sshd: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_sshd/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_timezone: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_timezone/(?!meta).*
  edpm-ansible-centos-stream-role-addition: any of: ^.config/molecule/config.yml, ^_skeleton_role_/.*, ^role-addition.yml, ^tox.ini, ^molecule-requirements.txt, ^zuul.d/playbooks/.*, ^zuul.d/molecule.yaml
