Repository openstack-k8s-operators/edpm-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: edpm-ansible-molecule-edpm_accel_drivers, edpm-ansible-molecule-edpm_bootstrap, edpm-ansible-molecule-edpm_podman, edpm-ansible-molecule-edpm_module_load, edpm-ansible-molecule-edpm_kernel, edpm-ansible-molecule-edpm_libvirt, edpm-ansible-molecule-edpm_nova, edpm-ansible-molecule-edpm_frr, edpm-ansible-molecule-edpm_iscsid, edpm-ansible-molecule-edpm_ovn_bgp_agent, edpm-ansible-molecule-edpm_ovs, edpm-ansible-molecule-edpm_tripleo_cleanup, edpm-ansible-molecule-edpm_tuned, edpm-ansible-molecule-edpm_telemetry_power_monitoring, edpm-ansible-molecule-edpm_update, edpm-ansible-centos-stream-molecule-env_data, edpm-ansible-centos-stream-molecule-test_deps, edpm-ansible-centos-stream-molecule-chrony, edpm-ansible-centos-stream-molecule-edpm_bootstrap, edpm-ansible-centos-stream-molecule-edpm_ceph_client_files, edpm-ansible-centos-stream-molecule-edpm_container_manage, edpm-ansible-centos-stream-molecule-edpm_container_rm, edpm-ansible-centos-stream-molecule-edpm_container_standalone, edpm-ansible-centos-stream-molecule-edpm_hosts_entries, edpm-ansible-centos-stream-molecule-edpm_iscsid, edpm-ansible-centos-stream-molecule-edpm_kernel, edpm-ansible-centos-stream-molecule-edpm_logrotate_crond, edpm-ansible-centos-stream-molecule-edpm_module_load, edpm-ansible-centos-stream-molecule-edpm_network_config, edpm-ansible-centos-stream-molecule-edpm_nftables, edpm-ansible-centos-stream-molecule-edpm_nodes_validation, edpm-ansible-centos-stream-molecule-edpm_nova_libvirt, edpm-ansible-centos-stream-molecule-edpm_nova_compute, edpm-ansible-centos-stream-molecule-edpm_nvdimm, edpm-ansible-centos-stream-molecule-edpm_ovn, edpm-ansible-centos-stream-molecule-edpm_podman, edpm-ansible-centos-stream-molecule-edpm_ssh_known_hosts, edpm-ansible-centos-stream-molecule-edpm_sshd, edpm-ansible-centos-stream-molecule-edpm_timezone, edpm-ansible-centos-stream-role-addition

edpm-ansible-molecule-edpm_accel_drivers:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_accel_drivers

edpm-ansible-molecule-edpm_bootstrap:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_bootstrap

edpm-ansible-molecule-edpm_podman:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_podman

edpm-ansible-molecule-edpm_module_load:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_module_load

edpm-ansible-molecule-edpm_kernel:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_kernel

edpm-ansible-molecule-edpm_libvirt:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_libvirt

edpm-ansible-molecule-edpm_nova:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_nova

edpm-ansible-molecule-edpm_frr:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_frr

edpm-ansible-molecule-edpm_iscsid:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_iscsid

edpm-ansible-molecule-edpm_ovn_bgp_agent:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_ovn_bgp_agent

edpm-ansible-molecule-edpm_ovs:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_ovs

edpm-ansible-molecule-edpm_tripleo_cleanup:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_tripleo_cleanup

edpm-ansible-molecule-edpm_tuned:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_tuned

edpm-ansible-molecule-edpm_telemetry_power_monitoring:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_telemetry_power_monitoring

edpm-ansible-molecule-edpm_update:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_update

edpm-ansible-centos-stream-molecule-env_data:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: env_data

edpm-ansible-centos-stream-molecule-test_deps:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: test_deps

edpm-ansible-centos-stream-molecule-chrony:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: chrony

edpm-ansible-centos-stream-molecule-edpm_bootstrap:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_bootstrap

edpm-ansible-centos-stream-molecule-edpm_ceph_client_files:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_ceph_client_files

edpm-ansible-centos-stream-molecule-edpm_container_manage:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_container_manage
  voting: false

edpm-ansible-centos-stream-molecule-edpm_container_rm:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_container_rm

edpm-ansible-centos-stream-molecule-edpm_container_standalone:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_container_standalone

edpm-ansible-centos-stream-molecule-edpm_hosts_entries:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_hosts_entries

Add RHEL restriction for kernel pinning feature
  roles/edpm_accel_drivers/molecule/kernel_pin/converge.yml
  roles/edpm_accel_drivers/tasks/kernel_pin.yml
Due: edpm-ansible-molecule-edpm_accel_drivers

Fix virtproxyd config readability on RHEL 10 only
  roles/edpm_libvirt/molecule/default/verify.yml
  roles/edpm_libvirt/tasks/confined_config_owner.yml
  roles/edpm_libvirt/tasks/main.yml
Due: edpm-ansible-molecule-edpm_libvirt

Share NIC mapping tasks for nmstate and os-net-config
  roles/edpm_network_config/defaults/main.yml
  roles/edpm_network_config/meta/argument_specs.yml
  roles/edpm_network_config/tasks/nic_mapping.yml
  roles/edpm_network_config/tasks/nmstate_tool.yml
  roles/edpm_network_config/tasks/os_net_config_tool.yml
Due: none

WIP: Add CS10 zuul jobs
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: none

Revert "Merge pull request #1204 from skovili/accel-drivers-kernel-pin-reboot"
  roles/edpm_accel_drivers/defaults/main.yml
  roles/edpm_accel_drivers/meta/argument_specs.yml
  roles/edpm_accel_drivers/molecule/kernel_pin/converge.yml
  roles/edpm_accel_drivers/molecule/kernel_pin/molecule.yml
  roles/edpm_accel_drivers/molecule/kernel_pin/prepare.yml
  roles/edpm_accel_drivers/molecule/kernel_pin/verify.yml
  roles/edpm_accel_drivers/molecule/kernel_pin_vagrant/molecule.yml
  roles/edpm_accel_drivers/tasks/install_from_rpm.yml
  roles/edpm_accel_drivers/tasks/kernel_pin.yml
  roles/edpm_accel_drivers/tasks/main.yml
  zuul.d/jobs.yaml
Due: edpm-ansible-molecule-edpm_accel_drivers

[OSPRH-33254] Require mTLS for prom exporter
  roles/edpm_telemetry/defaults/main.yml
  roles/edpm_telemetry/files/podman_exporter.yaml
  roles/edpm_telemetry/meta/argument_specs.yml
  roles/edpm_telemetry/molecule/default/prepare.yml
  roles/edpm_telemetry/molecule/default/verify.yml
  roles/edpm_telemetry/tasks/exporter.yml
  roles/edpm_telemetry/templates/quadlet/podman_exporter.container.j2
Due: none

[OSPRH-33255] Require mTLS for node exporter
  roles/edpm_telemetry/defaults/main.yml
  roles/edpm_telemetry/files/node_exporter.yaml
  roles/edpm_telemetry/meta/argument_specs.yml
  roles/edpm_telemetry/molecule/default/verify.yml
  roles/edpm_telemetry/templates/quadlet/node_exporter.container.j2
Due: none

Use Prometheus web-config for network exporter TLS
  roles/edpm_telemetry/defaults/main.yml
  roles/edpm_telemetry/tasks/configure.yml
  roles/edpm_telemetry/tasks/update.yml
  roles/edpm_telemetry/templates/config/openstack_network_exporter.yaml.j2
  roles/edpm_telemetry/templates/config/web_config.yaml.j2
Due: none

Ensure network-exporter conf is correctly updated
  roles/edpm_telemetry/tasks/update.yml
Due: none

edpm_network_config: add PCI driver binding via driverctl
  docs/source/roles/role-edpm_network_config.rst
  plugins/tests/test_edpm_driver_bind.py
  roles/edpm_network_config/defaults/main.yml
  roles/edpm_network_config/files/edpm_driver_bind.py
  roles/edpm_network_config/meta/argument_specs.yml
  roles/edpm_network_config/tasks/driver_bind.yml
  roles/edpm_network_config/tasks/nmstate_tool.yml
Due: none

edpm_network_config: retain device_map entries for vfio-pci passthrough devices
  plugins/tests/test_edpm_nmstate_device_map.py
  roles/edpm_network_config/files/edpm_nmstate_device_map.py
Due: none

edpm_network_config: add VF driver bind for NIC partitioning
  docs/source/roles/role-edpm_network_config.rst
  roles/edpm_network_config/defaults/main.yml
  roles/edpm_network_config/files/edpm_vf_driver_bind.sh
  roles/edpm_network_config/meta/argument_specs.yml
  roles/edpm_network_config/tasks/nmstate_tool.yml
  roles/edpm_network_config/tasks/vf_driver_bind_script.yml
Due: none

edpm_network_config: fix nic alias substitution for SR-IOV PF references
  plugins/filter/edpm_nmstate_nic_aliases.py
  plugins/tests/test_edpm_nmstate_nic_aliases.py
Due: none

Use Prometheus web-config for network exporter TLS (#1268)
  roles/edpm_telemetry/defaults/main.yml
  roles/edpm_telemetry/tasks/configure.yml
  roles/edpm_telemetry/tasks/update.yml
  roles/edpm_telemetry/templates/config/openstack_network_exporter.yaml.j2
  roles/edpm_telemetry/templates/config/web_config.yaml.j2
Due: none

Report AEE run termination in pod logs for non-successful runs
  openstack_ansibleee/edpm_run_and_summarize.sh
  openstack_ansibleee/write_runner_summary.py
  tests/test_write_runner_summary.py
Due: none

[OSPRH-33254] Require mTLS for prom exporter (#1267)
  roles/edpm_telemetry/defaults/main.yml
  roles/edpm_telemetry/files/podman_exporter.yaml
  roles/edpm_telemetry/meta/argument_specs.yml
  roles/edpm_telemetry/molecule/default/prepare.yml
  roles/edpm_telemetry/molecule/default/verify.yml
  roles/edpm_telemetry/tasks/exporter.yml
  roles/edpm_telemetry/templates/quadlet/podman_exporter.container.j2
Due: none

Clean up Kepler container and config artifacts during update
  roles/edpm_telemetry_power_monitoring/tasks/update.yml
  roles/edpm_update_services/tasks/containers.yml
Due: edpm-ansible-molecule-edpm_telemetry_power_monitoring

Fix os-net-config reapplying issue in adoption scenario
  roles/edpm_tripleo_cleanup/tasks/main.yml
Due: edpm-ansible-molecule-edpm_tripleo_cleanup

Report AEE run termination in pod logs for non-successful runs (#1272)
  openstack_ansibleee/edpm_run_and_summarize.sh
  openstack_ansibleee/write_runner_summary.py
  tests/test_write_runner_summary.py
Due: none

Add CS10 zuul jobs
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: none

Feat: Upgrade PoC for 18->19
  playbooks/upgrade.yml
  roles/edpm_neutron_ovn/tasks/update.yml
  roles/edpm_neutron_ovn/tasks/upgrade.yml
  roles/edpm_upgrade_services/defaults/main.yml
  roles/edpm_upgrade_services/meta/argument_specs.yml
  roles/edpm_upgrade_services/meta/main.yml
  roles/edpm_upgrade_services/tasks/main.yml
Due: none

Clean up Kepler container and config artifacts during update (#1261)
  roles/edpm_telemetry_power_monitoring/tasks/update.yml
  roles/edpm_update_services/tasks/containers.yml
Due: edpm-ansible-molecule-edpm_telemetry_power_monitoring

edpm_network_config: fix broken two-step SR-IOV apply and FQCN filter lookup
  roles/edpm_network_config/tasks/nmstate_apply_state.yml
  roles/edpm_network_config/tasks/nmstate_tool.yml
Due: none

edpm_network_config: skip redundant linux_system_roles.network setup on 2nd SR-IOV phase
  roles/edpm_network_config/tasks/nmstate_apply_state.yml
  roles/edpm_network_config/tasks/nmstate_tool.yml
Due: none

edpm_network_config: fix nic alias substitution for SR-IOV PF references
  plugins/filter/edpm_nmstate_nic_aliases.py
  plugins/tests/test_edpm_nmstate_nic_aliases.py
  roles/edpm_network_config/tasks/nmstate_tool.yml
Due: none

[18-stable] Clean up Kepler container and config artifacts during update (#1275)
  roles/edpm_telemetry_power_monitoring/tasks/update.yml
  roles/edpm_update_services/tasks/containers.yml
Due: edpm-ansible-molecule-edpm_telemetry_power_monitoring

[18-stable] Report AEE run termination in pod logs for non-successful runs (#1273)
  openstack_ansibleee/edpm_run_and_summarize.sh
  openstack_ansibleee/write_runner_summary.py
  tests/test_write_runner_summary.py
Due: none

edpm_network_config: keep pci addresses as strings
  plugins/filter/edpm_nmstate_nic_aliases.py
  plugins/filter/edpm_safe_yaml.py
  plugins/tests/test_edpm_driver_bind.py
  plugins/tests/test_edpm_nmstate_nic_aliases.py
  plugins/tests/test_edpm_safe_yaml.py
  roles/edpm_network_config/files/edpm_driver_bind.py
  roles/edpm_network_config/tasks/nmstate_apply_state.yml
  roles/edpm_network_config/tasks/nmstate_tool.yml
Due: none

Add CS10 zuul jobs (#1262)
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: none

edpm_network_config: stop reshuffling nicN aliases when a mapped NIC leaves sysfs
  plugins/tests/test_edpm_derived_nic_mapping.py
  roles/edpm_network_config/defaults/main.yml
  roles/edpm_network_config/files/edpm_derived_nic_mapping.py
  roles/edpm_network_config/tasks/nmstate_tool.yml
Due: none

Path conditions:
  edpm-ansible-molecule-edpm_accel_drivers: any of: ^roles/edpm_accel_drivers/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_bootstrap: any of: ^roles/edpm_bootstrap/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_podman: any of: ^roles/edpm_podman/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_module_load: any of: ^roles/edpm_module_load/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_kernel: any of: ^roles/edpm_kernel/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_libvirt: any of: ^roles/edpm_libvirt/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_nova: any of: ^roles/edpm_nova/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_frr: any of: ^roles/edpm_frr/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_iscsid: any of: ^roles/edpm_iscsid/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_ovn_bgp_agent: any of: ^roles/edpm_ovn_bgp_agent/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_ovs: any of: ^roles/edpm_ovs/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_tripleo_cleanup: any of: ^roles/edpm_tripleo_cleanup/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_tuned: any of: ^roles/edpm_tuned/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_telemetry_power_monitoring: any of: ^roles/edpm_telemetry_power_monitoring/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_update: any of: ^roles/edpm_update/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-centos-stream-molecule-env_data: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/env_data/(?!meta).*
  edpm-ansible-centos-stream-molecule-test_deps: any of: ^molecule-requirements.txt, ^.config/molecule/config.yml, ^edpm_ansible/roles/test_deps/(?!meta).*, ^zuul.d/playbooks/pre.yml
  edpm-ansible-centos-stream-molecule-chrony: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/chrony/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_bootstrap: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_bootstrap/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ceph_client_files: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ceph_client_files/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_container_manage: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_manage/(?!meta).*, ^edpm_ansible/roles/edpm_container_rm/.*, ^edpm_ansible/ansible_plugins/action/container_systemd.py$, ^edpm_ansible/ansible_plugins/filter/helpers.py$, ^edpm_ansible/ansible_plugins/modules/container_config_data.py$, ^edpm_ansible/ansible_plugins/modules/container_config_hash.py$
  edpm-ansible-centos-stream-molecule-edpm_container_rm: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_rm/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_container_standalone: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_standalone/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_hosts_entries: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_hosts_entries/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_iscsid: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_iscsid/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_kernel: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_kernel/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_logrotate_crond: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_logrotate_crond/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_module_load: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_module_load/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_network_config: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_network_config/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_os_net_config.py, ^edpm_ansible/ansible_plugins/modules/edpm_os_net_config_mappings.py
  edpm-ansible-centos-stream-molecule-edpm_nftables: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nftables/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_nftables_from_files.py, ^edpm_ansible/ansible_plugins/modules/edpm_nftables_snippet.py
  edpm-ansible-centos-stream-molecule-edpm_nodes_validation: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nodes_validation/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nova_libvirt: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nova_libvirt/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nova_compute: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nova_compute/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nvdimm: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nvdimm/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ovn: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ovn/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_ovn_mac_addresses.py
  edpm-ansible-centos-stream-molecule-edpm_podman: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_podman/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ssh_known_hosts: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ssh_known_hosts/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_sshd: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_sshd/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_timezone: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_timezone/(?!meta).*
  edpm-ansible-centos-stream-role-addition: any of: ^.config/molecule/config.yml, ^_skeleton_role_/.*, ^role-addition.yml, ^tox.ini, ^molecule-requirements.txt, ^zuul.d/playbooks/.*, ^zuul.d/molecule.yaml
