Repository openstack-k8s-operators/edpm-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: edpm-ansible-molecule-edpm_bootstrap, edpm-ansible-molecule-edpm_podman, edpm-ansible-molecule-edpm_module_load, edpm-ansible-molecule-edpm_kernel, edpm-ansible-molecule-edpm_libvirt, edpm-ansible-molecule-edpm_nova, edpm-ansible-molecule-edpm_frr, edpm-ansible-molecule-edpm_iscsid, edpm-ansible-molecule-edpm_ovn_bgp_agent, edpm-ansible-molecule-edpm_ovs, edpm-ansible-molecule-edpm_tripleo_cleanup, edpm-ansible-molecule-edpm_tuned, edpm-ansible-molecule-edpm_telemetry_power_monitoring, edpm-ansible-centos-stream-molecule-env_data, edpm-ansible-centos-stream-molecule-test_deps, edpm-ansible-centos-stream-molecule-chrony, edpm-ansible-centos-stream-molecule-edpm_bootstrap, edpm-ansible-centos-stream-molecule-edpm_ceph_client_files, edpm-ansible-centos-stream-molecule-edpm_container_manage, edpm-ansible-centos-stream-molecule-edpm_container_rm, edpm-ansible-centos-stream-molecule-edpm_container_standalone, edpm-ansible-centos-stream-molecule-edpm_hosts_entries, edpm-ansible-centos-stream-molecule-edpm_iscsid, edpm-ansible-centos-stream-molecule-edpm_kernel, edpm-ansible-centos-stream-molecule-edpm_logrotate_crond, edpm-ansible-centos-stream-molecule-edpm_module_load, edpm-ansible-centos-stream-molecule-edpm_network_config, edpm-ansible-centos-stream-molecule-edpm_nftables, edpm-ansible-centos-stream-molecule-edpm_nodes_validation, edpm-ansible-centos-stream-molecule-edpm_nova_libvirt, edpm-ansible-centos-stream-molecule-edpm_nova_compute, edpm-ansible-centos-stream-molecule-edpm_nvdimm, edpm-ansible-centos-stream-molecule-edpm_ovn, edpm-ansible-centos-stream-molecule-edpm_podman, edpm-ansible-centos-stream-molecule-edpm_ssh_known_hosts, edpm-ansible-centos-stream-molecule-edpm_sshd, edpm-ansible-centos-stream-molecule-edpm_timezone, edpm-ansible-centos-stream-role-addition

edpm-ansible-molecule-edpm_bootstrap:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_bootstrap

edpm-ansible-molecule-edpm_podman:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_podman

edpm-ansible-molecule-edpm_module_load:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_module_load

edpm-ansible-molecule-edpm_kernel:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_kernel

edpm-ansible-molecule-edpm_libvirt:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_libvirt

edpm-ansible-molecule-edpm_nova:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_nova

edpm-ansible-molecule-edpm_frr:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_frr

edpm-ansible-molecule-edpm_iscsid:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_iscsid

edpm-ansible-molecule-edpm_ovn_bgp_agent:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_ovn_bgp_agent

edpm-ansible-molecule-edpm_ovs:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_ovs

edpm-ansible-molecule-edpm_tripleo_cleanup:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_tripleo_cleanup

edpm-ansible-molecule-edpm_tuned:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_tuned

edpm-ansible-molecule-edpm_telemetry_power_monitoring:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_telemetry_power_monitoring

edpm-ansible-centos-stream-molecule-env_data:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: env_data

edpm-ansible-centos-stream-molecule-test_deps:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: test_deps

edpm-ansible-centos-stream-molecule-chrony:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: chrony

edpm-ansible-centos-stream-molecule-edpm_bootstrap:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_bootstrap

edpm-ansible-centos-stream-molecule-edpm_ceph_client_files:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_ceph_client_files

edpm-ansible-centos-stream-molecule-edpm_container_manage:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_container_manage
  voting: false

edpm-ansible-centos-stream-molecule-edpm_container_rm:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_container_rm

edpm-ansible-centos-stream-molecule-edpm_container_standalone:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_container_standalone

edpm-ansible-centos-stream-molecule-edpm_hosts_entries:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_hosts_entries

edpm-ansible-centos-stream-molecule-edpm_iscsid:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_iscsid

edpm-ansible-centos-stream-molecule-edpm_kernel:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_kernel

Copy newly introduce run-on-host file during update
  roles/edpm_nova/tasks/update.yml
Due: edpm-ansible-molecule-edpm_nova

Fix: update_system and reboot roles for bootc image update
  roles/edpm_reboot/tasks/main.yaml
  roles/edpm_update_system/tasks/bootc.yml
Due: none

Fail with a clear message if bootc OS image variable is undefined
  roles/edpm_update_system/tasks/bootc.yml
Due: none

edpm_multipathd: Move multipathd from container to host
  roles/edpm_download_cache/tasks/container_images.yml
  roles/edpm_download_cache/tasks/packages.yml
  roles/edpm_multipathd/defaults/main.yml
  roles/edpm_multipathd/files/healthchecks/multipathd/healthcheck
  roles/edpm_multipathd/handlers/main.yml
  roles/edpm_multipathd/meta/argument_specs.yml
  roles/edpm_multipathd/tasks/cleanup_containers.yml
  roles/edpm_multipathd/tasks/configure.yml
  roles/edpm_multipathd/tasks/download_cache.yml
  roles/edpm_multipathd/tasks/healthchecks.yml
  roles/edpm_multipathd/tasks/install.yml
  roles/edpm_multipathd/tasks/restart_multipath.yml
  roles/edpm_multipathd/tasks/update.yml
  roles/edpm_multipathd/templates/kolla_multipathd.yaml.j2
  roles/edpm_multipathd/templates/multipathd.yaml.j2
  roles/edpm_nova/templates/nova_compute.json.j2
  roles/edpm_update/tasks/containers.yml
  roles/edpm_update_services/tasks/containers.yml
Due: edpm-ansible-molecule-edpm_nova

edpm_multipathd: Update molecule tests
  .github/workflows/molecule.yaml
  roles/edpm_multipathd/molecule/custom_config/collections.yml
  roles/edpm_multipathd/molecule/custom_config/molecule.yml
  roles/edpm_multipathd/molecule/custom_config/prepare.yml
  roles/edpm_multipathd/molecule/default/collections.yml
  roles/edpm_multipathd/molecule/default/converge.yml
  roles/edpm_multipathd/molecule/default/molecule.yml
  roles/edpm_multipathd/molecule/default/prepare.yml
  roles/edpm_multipathd/molecule/default/verify.yml
  roles/edpm_multipathd/molecule/preexisting_config/collections.yml
  roles/edpm_multipathd/molecule/preexisting_config/converge.yml
  roles/edpm_multipathd/molecule/preexisting_config/molecule.yml
  roles/edpm_multipathd/molecule/vagrant/collections.yml
  roles/edpm_multipathd/molecule/vagrant/molecule.yml
  scripts/test_roles.py
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: none

Bump pre-commit hooks
  .ansible-lint
  .pre-commit-config.yaml
  galaxy.yml
  roles/edpm_telemetry_power_monitoring/tasks/configure.yml
  roles/edpm_update/tasks/packages.yml
  tests/test_molecule.py
Due: edpm-ansible-molecule-edpm_telemetry_power_monitoring

Fix reboot flag logic for bootc deployments
  roles/edpm_update_system/tasks/bootc.yml
Due: none

Fix edpm_reboot role for bootc image update
  roles/edpm_reboot/tasks/main.yaml
Due: none

Add update tasks for movement of config files to new locations
  roles/edpm_frr/tasks/update.yml
  roles/edpm_neutron_dhcp/tasks/update.yml
  roles/edpm_neutron_metadata/tasks/update.yml
  roles/edpm_neutron_ovn/tasks/update.yml
  roles/edpm_neutron_sriov/tasks/update.yml
  roles/edpm_ovn_bgp_agent/tasks/update.yml
  roles/edpm_swift/tasks/update.yml
  roles/edpm_telemetry/tasks/install.yml
  roles/edpm_telemetry/tasks/update.yml
  roles/edpm_telemetry_power_monitoring/tasks/update.yml
  roles/edpm_update/tasks/containers.yml
  roles/edpm_update_services/tasks/containers.yml
Due: edpm-ansible-molecule-edpm_frr, edpm-ansible-molecule-edpm_ovn_bgp_agent, edpm-ansible-molecule-edpm_telemetry_power_monitoring

Add service cleanup automation
  docs/source/roles/role-edpm_container_manage.rst
  playbooks/cleanup.yml
  playbooks/nova.yml
  plugins/filter/helpers.py
  plugins/filter/needs_delete.yml
  plugins/modules/edpm_container_manage.py
  roles/edpm_cleanup/README.md
  roles/edpm_cleanup/defaults/main.yml
  roles/edpm_cleanup/meta/argument_specs.yml
  roles/edpm_cleanup/meta/main.yml
  roles/edpm_cleanup/molecule/default/collections.yml
  roles/edpm_cleanup/molecule/default/converge.yml
  roles/edpm_cleanup/molecule/default/molecule.yml
  roles/edpm_cleanup/molecule/default/prepare.yml
  roles/edpm_cleanup/tasks/cleanup_services.yml
  roles/edpm_cleanup/tasks/cleanup_single_service.yml
  roles/edpm_cleanup/tasks/main.yml
  roles/edpm_container_manage/defaults/main.yml
  roles/edpm_container_manage/meta/argument_specs.yml
  roles/edpm_container_manage/tasks/create.yml
  roles/edpm_container_manage/tasks/delete_orphan.yml
  roles/edpm_container_manage/tasks/main.yml
  roles/edpm_container_standalone/README.md
  roles/edpm_container_standalone/defaults/main.yml
  roles/edpm_container_standalone/meta/argument_specs.yml
  roles/edpm_container_standalone/tasks/main.yml
  roles/edpm_container_standalone/tasks/state_file_update.yml
  roles/edpm_network_config/molecule/default/converge.yml
  roles/edpm_network_config/molecule/nmstate/converge.yml
  roles/edpm_network_config/tasks/pre_config.yml
  roles/edpm_neutron_metadata/tasks/run.yml
  roles/edpm_ovn/tasks/run.yml
  roles/edpm_telemetry/tasks/exporter.yml
Due: none

Add support for the sidecar containers in ``neutron_ovn`` role
  roles/edpm_neutron_ovn/defaults/main.yml
  roles/edpm_neutron_ovn/molecule/default/molecule.yml
  roles/edpm_neutron_ovn/molecule/default/tests/test_neutron_ovn.py
  roles/edpm_neutron_ovn/molecule/default/verify.yml
  roles/edpm_neutron_ovn/tasks/install.yml
  roles/edpm_neutron_ovn/templates/ovn_agent.yaml.j2
  roles/edpm_neutron_ovn/templates/wrappers/common_part.j2
  roles/edpm_neutron_ovn/templates/wrappers/haproxy.j2
  roles/edpm_neutron_ovn/templates/wrappers/kill-script.j2
  roles/edpm_neutron_ovn/templates/wrappers/kill-script_common_part.j2
Due: none

Add edpm_playbook_environment variable support to all playbooks
  docs/source/contributing_playbooks.rst
  playbooks/bootstrap.yml
  playbooks/ceph_client.yml
  playbooks/ceph_hci_pre.yml
  playbooks/configure_network.yml
  playbooks/configure_os.yml
  playbooks/configure_ovs_dpdk.yml
  playbooks/download_cache.yml
  playbooks/fips_status.yml
  playbooks/frr.yml
  playbooks/install_certs.yml
  playbooks/install_os.yml
  playbooks/libvirt.yml
  playbooks/neutron_dhcp.yml
  playbooks/neutron_metadata.yml
  playbooks/neutron_ovn.yaml
  playbooks/neutron_sriov.yml
  playbooks/nova.yml
  playbooks/nova_storage.yml
  playbooks/ovn.yml
  playbooks/ovn_bgp_agent.yml
  playbooks/pre_adoption_validation.yml
  playbooks/reboot.yml
  playbooks/redhat.yml
  playbooks/run_os.yml
  playbooks/select_kernel_ddp_package.yml
  playbooks/sriov_derive_device_spec.yml
  playbooks/ssh_known_hosts.yml
  playbooks/swift.yml
  playbooks/telemetry.yml
  playbooks/telemetry_logging.yml
  playbooks/telemetry_power_monitoring.yml
  playbooks/tripleo_cleanup.yml
  playbooks/update.yml
  playbooks/update_services.yml
  playbooks/update_system.yml
  playbooks/validate_network.yml
Due: none

Add "[agent]extension" config variable to the OVN agent
  roles/edpm_neutron_ovn/defaults/main.yml
  roles/edpm_neutron_ovn/meta/argument_specs.yml
  roles/edpm_neutron_ovn/templates/neutron-ovn-agent.conf.j2
Due: none

Add new minor update zuul job
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: none

Add nova containers to cleanup exclusion list
  roles/edpm_cleanup/README.md
  roles/edpm_cleanup/defaults/main.yml
  roles/edpm_cleanup/meta/argument_specs.yml
  roles/edpm_cleanup/tasks/cleanup_services.yml
Due: none

edpm_multipathd: Move multipathd from container to host
  roles/edpm_download_cache/tasks/container_images.yml
  roles/edpm_download_cache/tasks/packages.yml
  roles/edpm_multipathd/defaults/main.yml
  roles/edpm_multipathd/files/healthchecks/multipathd/healthcheck
  roles/edpm_multipathd/handlers/main.yml
  roles/edpm_multipathd/meta/argument_specs.yml
  roles/edpm_multipathd/tasks/cleanup_containers.yml
  roles/edpm_multipathd/tasks/configure.yml
  roles/edpm_multipathd/tasks/download_cache.yml
  roles/edpm_multipathd/tasks/healthchecks.yml
  roles/edpm_multipathd/tasks/install.yml
  roles/edpm_multipathd/tasks/update.yml
  roles/edpm_multipathd/templates/kolla_multipathd.yaml.j2
  roles/edpm_multipathd/templates/multipathd.yaml.j2
  roles/edpm_nova/templates/nova_compute.json.j2
  roles/edpm_update/tasks/containers.yml
  roles/edpm_update_services/tasks/containers.yml
Due: edpm-ansible-molecule-edpm_nova

New role for accelerator drivers
  docs/source/roles/role-edpm_accel_drivers.rst
  playbooks/accel_drivers.yml
  roles/edpm_accel_drivers/defaults/main.yml
  roles/edpm_accel_drivers/meta/argument_specs.yml
  roles/edpm_accel_drivers/meta/main.yml
  roles/edpm_accel_drivers/molecule/default/converge.yml
  roles/edpm_accel_drivers/molecule/default/molecule.yml
  roles/edpm_accel_drivers/molecule/default/prepare.yml
  roles/edpm_accel_drivers/molecule/default_vagrant/molecule.yml
  roles/edpm_accel_drivers/tasks/blacklist_nouveau.yml
  roles/edpm_accel_drivers/tasks/boot_config.yml
  roles/edpm_accel_drivers/tasks/download_cache.yml
  roles/edpm_accel_drivers/tasks/main.yml
  roles/edpm_accel_drivers/tasks/nvidia_custom_url.yml
  roles/edpm_accel_drivers/tasks/nvidia_drivers.yml
  roles/edpm_accel_drivers/tasks/nvidia_from_rpm.yml
  roles/edpm_accel_drivers/tasks/nvidia_from_run.yml
  roles/edpm_accel_drivers/tasks/nvidia_kernel_version.yml
  roles/edpm_accel_drivers/tasks/nvidia_repos.yml
  roles/edpm_download_cache/tasks/packages.yml
Due: none

edpm_network_config: add new --remove-config support for os-net-config tool
  plugins/modules/edpm_os_net_config.py
  roles/edpm_network_config/defaults/main.yml
  roles/edpm_network_config/meta/argument_specs.yml
  roles/edpm_network_config/molecule/default/converge.yml
  roles/edpm_network_config/molecule/default/prepare.yml
  roles/edpm_network_config/tasks/os_net_config.yml
Due: none

doc: added note for nfs4 directory permissions for runner
  docs/source/testing_with_ansibleee.rst
Due: none

New role for accelerator drivers
  docs/source/roles/role-edpm_accel_drivers.rst
  playbooks/accel_drivers.yml
  roles/edpm_accel_drivers/defaults/main.yml
  roles/edpm_accel_drivers/meta/argument_specs.yml
  roles/edpm_accel_drivers/meta/main.yml
  roles/edpm_accel_drivers/molecule/custom_url_rpm/converge.yml
  roles/edpm_accel_drivers/molecule/custom_url_rpm/molecule.yml
  roles/edpm_accel_drivers/molecule/custom_url_rpm/prepare.yml
  roles/edpm_accel_drivers/molecule/custom_url_rpm/test_package/mock-nvidia-driver.spec
  roles/edpm_accel_drivers/molecule/custom_url_rpm_vagrant/molecule.yml
  roles/edpm_accel_drivers/molecule/custom_url_run/converge.yml
  roles/edpm_accel_drivers/molecule/custom_url_run/molecule.yml
  roles/edpm_accel_drivers/molecule/custom_url_run/prepare.yml
  roles/edpm_accel_drivers/molecule/custom_url_run/test_package/mock-nvidia-driver.run
  roles/edpm_accel_drivers/molecule/custom_url_run_vagrant/molecule.yml
  roles/edpm_accel_drivers/molecule/default/converge.yml
  roles/edpm_accel_drivers/molecule/default/molecule.yml
  roles/edpm_accel_drivers/molecule/default/prepare.yml
  roles/edpm_accel_drivers/molecule/default_vagrant/molecule.yml
  roles/edpm_accel_drivers/tasks/blacklist_nouveau.yml
  roles/edpm_accel_drivers/tasks/boot_config.yml
  roles/edpm_accel_drivers/tasks/download_cache.yml
  roles/edpm_accel_drivers/tasks/main.yml
  roles/edpm_accel_drivers/tasks/nvidia_custom_url.yml
  roles/edpm_accel_drivers/tasks/nvidia_drivers.yml
  roles/edpm_accel_drivers/tasks/nvidia_from_rpm.yml
  roles/edpm_accel_drivers/tasks/nvidia_from_run.yml
  roles/edpm_accel_drivers/tasks/nvidia_kernel_version.yml
  roles/edpm_accel_drivers/tasks/nvidia_repos.yml
  roles/edpm_download_cache/tasks/packages.yml
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: none

DNM - testing zuul molecule on accel_drivers
  roles/edpm_accel_drivers/defaults/main.yml
  zuul.d/projects.yaml
Due: none

New role for accelerator drivers
  docs/source/roles/role-edpm_accel_drivers.rst
  playbooks/accel_drivers.yml
  roles/edpm_accel_drivers/defaults/main.yml
  roles/edpm_accel_drivers/meta/argument_specs.yml
  roles/edpm_accel_drivers/meta/main.yml
  roles/edpm_accel_drivers/molecule/custom_url_rpm/converge.yml
  roles/edpm_accel_drivers/molecule/custom_url_rpm/molecule.yml
  roles/edpm_accel_drivers/molecule/custom_url_rpm/prepare.yml
  roles/edpm_accel_drivers/molecule/custom_url_rpm/test_package/mock-nvidia-driver.spec
  roles/edpm_accel_drivers/molecule/custom_url_rpm_vagrant/molecule.yml
  roles/edpm_accel_drivers/molecule/custom_url_run/converge.yml
  roles/edpm_accel_drivers/molecule/custom_url_run/molecule.yml
  roles/edpm_accel_drivers/molecule/custom_url_run/prepare.yml
  roles/edpm_accel_drivers/molecule/custom_url_run/test_package/mock-nvidia-driver.run
  roles/edpm_accel_drivers/molecule/custom_url_run_vagrant/molecule.yml
  roles/edpm_accel_drivers/molecule/default/converge.yml
  roles/edpm_accel_drivers/molecule/default/molecule.yml
  roles/edpm_accel_drivers/molecule/default/prepare.yml
  roles/edpm_accel_drivers/molecule/default_vagrant/molecule.yml
  roles/edpm_accel_drivers/molecule/nvidia_repo/converge.yml
  roles/edpm_accel_drivers/molecule/nvidia_repo/molecule.yml
  roles/edpm_accel_drivers/molecule/nvidia_repo/prepare.yml
  roles/edpm_accel_drivers/molecule/nvidia_repo_vagrant/molecule.yml
  roles/edpm_accel_drivers/tasks/blacklist_nouveau.yml
  roles/edpm_accel_drivers/tasks/boot_config.yml
  roles/edpm_accel_drivers/tasks/download_cache.yml
  roles/edpm_accel_drivers/tasks/main.yml
  roles/edpm_accel_drivers/tasks/nvidia_custom_url.yml
  roles/edpm_accel_drivers/tasks/nvidia_drivers.yml
  roles/edpm_accel_drivers/tasks/nvidia_from_rpm.yml
  roles/edpm_accel_drivers/tasks/nvidia_from_run.yml
  roles/edpm_accel_drivers/tasks/nvidia_kernel_version.yml
  roles/edpm_accel_drivers/tasks/nvidia_repos.yml
  roles/edpm_download_cache/tasks/packages.yml
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: none

Allow tuning of neighbor timers
  roles/edpm_frr/templates/frr.conf.j2
Due: edpm-ansible-molecule-edpm_frr

Fix wrong serivce name to disable multipathd.service and socket
  roles/edpm_multipathd/tasks/install.yml
Due: none

Add service cleanup automation
  docs/source/roles/role-edpm_container_manage.rst
  playbooks/cleanup.yml
  playbooks/nova.yml
  playbooks/nova_storage.yml
  plugins/filter/helpers.py
  plugins/filter/needs_delete.yml
  plugins/modules/edpm_container_manage.py
  roles/edpm_cleanup/README.md
  roles/edpm_cleanup/defaults/main.yml
  roles/edpm_cleanup/meta/argument_specs.yml
  roles/edpm_cleanup/meta/main.yml
  roles/edpm_cleanup/molecule/default/collections.yml
  roles/edpm_cleanup/molecule/default/converge.yml
  roles/edpm_cleanup/molecule/default/molecule.yml
  roles/edpm_cleanup/molecule/default/prepare.yml
  roles/edpm_cleanup/tasks/cleanup_services.yml
  roles/edpm_cleanup/tasks/cleanup_single_service.yml
  roles/edpm_cleanup/tasks/main.yml
  roles/edpm_container_manage/defaults/main.yml
  roles/edpm_container_manage/meta/argument_specs.yml
  roles/edpm_container_manage/tasks/create.yml
  roles/edpm_container_manage/tasks/delete_orphan.yml
  roles/edpm_container_manage/tasks/main.yml
  roles/edpm_container_standalone/README.md
  roles/edpm_container_standalone/defaults/main.yml
  roles/edpm_container_standalone/meta/argument_specs.yml
  roles/edpm_container_standalone/tasks/main.yml
  roles/edpm_container_standalone/tasks/state_file_update.yml
  roles/edpm_network_config/molecule/default/converge.yml
  roles/edpm_network_config/molecule/nmstate/converge.yml
  roles/edpm_network_config/tasks/pre_config.yml
  roles/edpm_neutron_metadata/tasks/run.yml
  roles/edpm_ovn/tasks/run.yml
  roles/edpm_telemetry/tasks/exporter.yml
Due: none

Update test_neutron_ovn.py to not use hardcoded paths
  roles/edpm_neutron_ovn/molecule/default/tests/test_neutron_ovn.py
Due: none

Add "[agent]extension" config variable to the OVN agent
  roles/edpm_neutron_ovn/defaults/main.yml
  roles/edpm_neutron_ovn/meta/argument_specs.yml
  roles/edpm_neutron_ovn/templates/config/neutron-ovn-agent.conf.j2
Due: none

Introduce edpm_container_state_remove var
  roles/edpm_cleanup/tasks/cleanup_services.yml
  roles/edpm_container_standalone/README.md
  roles/edpm_container_standalone/defaults/main.yml
  roles/edpm_container_standalone/meta/argument_specs.yml
  roles/edpm_container_standalone/molecule/default/converge.yml
  roles/edpm_container_standalone/tasks/state_file_update.yml
Due: none

Add edpm_nova changes for service cleanup and config reorganization
  roles/edpm_nova/defaults/main.yml
  roles/edpm_nova/files/kolla_config/nova_compute.yaml
  roles/edpm_nova/files/nova-blank.conf
  roles/edpm_nova/files/nova_statedir_ownership.py
  roles/edpm_nova/files/run-on-host
  roles/edpm_nova/files/ssh-config
  roles/edpm_nova/meta/argument_specs.yml
  roles/edpm_nova/molecule/default/prepare.yml
  roles/edpm_nova/molecule/default/verify.yml
  roles/edpm_nova/tasks/configure.yml
  roles/edpm_nova/tasks/install.yml
  roles/edpm_nova/tasks/update.yml
  roles/edpm_nova/templates/config.json.j2
  roles/edpm_nova/templates/config/02-nova-host-specific.conf.j2
  roles/edpm_nova/templates/container_defs/nova_compute.yaml.j2
  roles/edpm_nova/templates/container_defs/nova_compute_init.yaml.j2
  roles/edpm_nova/templates/container_defs/nova_nvme_cleaner.yaml.j2
  roles/edpm_nova/templates/kolla_config/nova_nvme_cleaner.yaml.j2
  roles/edpm_nova/templates/nova_compute.json.j2
  roles/edpm_nova/templates/nova_compute_init.json.j2
  roles/edpm_nova/templates/nova_nvme_cleaner.json.j2
  roles/edpm_nova/templates/nova_nvme_cleaner_config.json.j2
  tests/test_nova_statedir_ownership.py
Due: edpm-ansible-molecule-edpm_nova

[openstack_network_exporter] Allow override collectors and log level
  roles/edpm_telemetry/defaults/main.yml
  roles/edpm_telemetry/meta/argument_specs.yml
  roles/edpm_telemetry/templates/config/openstack_network_exporter.yaml.j2
Due: none

Path conditions:
  edpm-ansible-molecule-edpm_bootstrap: any of: ^roles/edpm_bootstrap/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_podman: any of: ^roles/edpm_podman/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_module_load: any of: ^roles/edpm_module_load/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_kernel: any of: ^roles/edpm_kernel/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_libvirt: any of: ^roles/edpm_libvirt/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_nova: any of: ^roles/edpm_nova/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_frr: any of: ^roles/edpm_frr/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_iscsid: any of: ^roles/edpm_iscsid/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_ovn_bgp_agent: any of: ^roles/edpm_ovn_bgp_agent/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_ovs: any of: ^roles/edpm_ovs/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_tripleo_cleanup: any of: ^roles/edpm_tripleo_cleanup/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_tuned: any of: ^roles/edpm_tuned/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_telemetry_power_monitoring: any of: ^roles/edpm_telemetry_power_monitoring/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-centos-stream-molecule-env_data: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/env_data/(?!meta).*
  edpm-ansible-centos-stream-molecule-test_deps: any of: ^molecule-requirements.txt, ^.config/molecule/config.yml, ^edpm_ansible/roles/test_deps/(?!meta).*, ^zuul.d/playbooks/pre.yml
  edpm-ansible-centos-stream-molecule-chrony: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/chrony/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_bootstrap: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_bootstrap/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ceph_client_files: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ceph_client_files/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_container_manage: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_manage/(?!meta).*, ^edpm_ansible/roles/edpm_container_rm/.*, ^edpm_ansible/ansible_plugins/action/container_systemd.py$, ^edpm_ansible/ansible_plugins/filter/helpers.py$, ^edpm_ansible/ansible_plugins/modules/container_config_data.py$, ^edpm_ansible/ansible_plugins/modules/container_config_hash.py$
  edpm-ansible-centos-stream-molecule-edpm_container_rm: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_rm/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_container_standalone: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_standalone/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_hosts_entries: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_hosts_entries/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_iscsid: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_iscsid/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_kernel: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_kernel/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_logrotate_crond: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_logrotate_crond/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_module_load: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_module_load/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_network_config: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_network_config/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_os_net_config.py, ^edpm_ansible/ansible_plugins/modules/edpm_os_net_config_mappings.py
  edpm-ansible-centos-stream-molecule-edpm_nftables: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nftables/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_nftables_from_files.py, ^edpm_ansible/ansible_plugins/modules/edpm_nftables_snippet.py
  edpm-ansible-centos-stream-molecule-edpm_nodes_validation: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nodes_validation/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nova_libvirt: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nova_libvirt/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nova_compute: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nova_compute/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nvdimm: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nvdimm/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ovn: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ovn/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_ovn_mac_addresses.py
  edpm-ansible-centos-stream-molecule-edpm_podman: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_podman/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ssh_known_hosts: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ssh_known_hosts/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_sshd: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_sshd/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_timezone: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_timezone/(?!meta).*
  edpm-ansible-centos-stream-role-addition: any of: ^.config/molecule/config.yml, ^_skeleton_role_/.*, ^role-addition.yml, ^tox.ini, ^molecule-requirements.txt, ^zuul.d/playbooks/.*, ^zuul.d/molecule.yaml
