Repository openstack-k8s-operators/edpm-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: edpm-ansible-molecule-edpm_accel_drivers, edpm-ansible-molecule-edpm_bootstrap, edpm-ansible-molecule-edpm_podman, edpm-ansible-molecule-edpm_module_load, edpm-ansible-molecule-edpm_kernel, edpm-ansible-molecule-edpm_libvirt, edpm-ansible-molecule-edpm_nova, edpm-ansible-molecule-edpm_frr, edpm-ansible-molecule-edpm_iscsid, edpm-ansible-molecule-edpm_ovn_bgp_agent, edpm-ansible-molecule-edpm_ovs, edpm-ansible-molecule-edpm_tripleo_cleanup, edpm-ansible-molecule-edpm_tuned, edpm-ansible-molecule-edpm_telemetry_power_monitoring, edpm-ansible-molecule-edpm_update, edpm-ansible-centos-stream-molecule-env_data, edpm-ansible-centos-stream-molecule-test_deps, edpm-ansible-centos-stream-molecule-chrony, edpm-ansible-centos-stream-molecule-edpm_bootstrap, edpm-ansible-centos-stream-molecule-edpm_ceph_client_files, edpm-ansible-centos-stream-molecule-edpm_container_manage, edpm-ansible-centos-stream-molecule-edpm_container_rm, edpm-ansible-centos-stream-molecule-edpm_container_standalone, edpm-ansible-centos-stream-molecule-edpm_hosts_entries, edpm-ansible-centos-stream-molecule-edpm_iscsid, edpm-ansible-centos-stream-molecule-edpm_kernel, edpm-ansible-centos-stream-molecule-edpm_logrotate_crond, edpm-ansible-centos-stream-molecule-edpm_module_load, edpm-ansible-centos-stream-molecule-edpm_network_config, edpm-ansible-centos-stream-molecule-edpm_nftables, edpm-ansible-centos-stream-molecule-edpm_nodes_validation, edpm-ansible-centos-stream-molecule-edpm_nova_libvirt, edpm-ansible-centos-stream-molecule-edpm_nova_compute, edpm-ansible-centos-stream-molecule-edpm_nvdimm, edpm-ansible-centos-stream-molecule-edpm_ovn, edpm-ansible-centos-stream-molecule-edpm_podman, edpm-ansible-centos-stream-molecule-edpm_ssh_known_hosts, edpm-ansible-centos-stream-molecule-edpm_sshd, edpm-ansible-centos-stream-molecule-edpm_timezone, edpm-ansible-centos-stream-role-addition

edpm-ansible-molecule-edpm_accel_drivers:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_accel_drivers

edpm-ansible-molecule-edpm_bootstrap:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_bootstrap

edpm-ansible-molecule-edpm_podman:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_podman

edpm-ansible-molecule-edpm_module_load:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_module_load

edpm-ansible-molecule-edpm_kernel:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_kernel

edpm-ansible-molecule-edpm_libvirt:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_libvirt

edpm-ansible-molecule-edpm_nova:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_nova

edpm-ansible-molecule-edpm_frr:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_frr

edpm-ansible-molecule-edpm_iscsid:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_iscsid

edpm-ansible-molecule-edpm_ovn_bgp_agent:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_ovn_bgp_agent

edpm-ansible-molecule-edpm_ovs:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_ovs

edpm-ansible-molecule-edpm_tripleo_cleanup:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_tripleo_cleanup

edpm-ansible-molecule-edpm_tuned:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_tuned

edpm-ansible-molecule-edpm_telemetry_power_monitoring:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_telemetry_power_monitoring

edpm-ansible-molecule-edpm_update:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_update

edpm-ansible-centos-stream-molecule-env_data:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: env_data

edpm-ansible-centos-stream-molecule-test_deps:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: test_deps

edpm-ansible-centos-stream-molecule-chrony:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: chrony

edpm-ansible-centos-stream-molecule-edpm_bootstrap:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_bootstrap

edpm-ansible-centos-stream-molecule-edpm_ceph_client_files:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_ceph_client_files

edpm-ansible-centos-stream-molecule-edpm_container_manage:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_container_manage
  voting: false

edpm-ansible-centos-stream-molecule-edpm_container_rm:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_container_rm

edpm-ansible-centos-stream-molecule-edpm_container_standalone:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_container_standalone

edpm-ansible-centos-stream-molecule-edpm_hosts_entries:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_hosts_entries

edpm_network_config: stop reshuffling nicN aliases when a mapped NIC leaves sysfs
  plugins/tests/test_edpm_derived_nic_mapping.py
  roles/edpm_network_config/defaults/main.yml
  roles/edpm_network_config/files/edpm_derived_nic_mapping.py
  roles/edpm_network_config/tasks/nmstate_tool.yml
Due: none

edpm_network_config: display resolved NIC mapping on nmstate runs
  roles/edpm_network_config/tasks/nmstate_tool.yml
Due: none

[18.0-fr6] Make BGP graceful-shutdown configurable for eBGP support (#1245)
  roles/edpm_frr/defaults/main.yml
  roles/edpm_frr/meta/argument_specs.yml
  roles/edpm_frr/templates/config/frr.conf.j2
Due: edpm-ansible-molecule-edpm_frr

edpm_ovs_dpdk: add generic edpm_ovs_dpdk_other_config passthrough
  docs/source/roles/role-edpm_ovs_dpdk.rst
  roles/edpm_ovs_dpdk/defaults/main.yml
  roles/edpm_ovs_dpdk/meta/argument_specs.yml
  roles/edpm_ovs_dpdk/tasks/configure.yml
Due: none

[OSPRH-30152] Remove missing CA bundle mount from power monitoring (#1281)
  roles/edpm_telemetry_power_monitoring/defaults/main.yml
  roles/edpm_telemetry_power_monitoring/meta/argument_specs.yml
  roles/edpm_telemetry_power_monitoring/molecule/default/verify.yml
Due: edpm-ansible-molecule-edpm_telemetry_power_monitoring

Switch ciborg-agent container image to the correct domain
  roles/edpm_cyborg/defaults/main.yml
  roles/edpm_cyborg/molecule/default/converge.yml
Due: none

Preserve nova.conf.d mounts during update-services
  roles/edpm_nova/tasks/build_config_volumes.yml
  roles/edpm_nova/tasks/configure.yml
  roles/edpm_nova/tasks/install.yml
Due: edpm-ansible-molecule-edpm_nova

Normalize OVN bridge mappings for MAC generation
  roles/edpm_ovn/defaults/main.yml
  roles/edpm_ovn/meta/argument_specs.yml
  roles/edpm_ovn/molecule/bridge_mappings_list/verify.yml
  roles/edpm_ovn/molecule/bridge_mappings_string/converge.yml
  roles/edpm_ovn/molecule/bridge_mappings_string/verify.yml
  roles/edpm_ovn/tasks/main.yml
Due: none

[OSPRH-30151] Remove missing CA bundle mount from telemetry (#1280)
  roles/edpm_telemetry/defaults/main.yml
  roles/edpm_telemetry/meta/argument_specs.yml
  roles/edpm_telemetry/molecule/default/verify.yml
Due: none

[edpm_accel_drivers] do not fail if no module
  roles/edpm_accel_drivers/tasks/disable_module.yml
Due: edpm-ansible-molecule-edpm_accel_drivers

[edpm_accel_drivers] idempotent initramfs regen
  roles/edpm_accel_drivers/tasks/main.yml
  roles/edpm_accel_drivers/tasks/nvidia_from_run.yml
Due: edpm-ansible-molecule-edpm_accel_drivers

edpm_neutron_ovn: enable metadata extension by default
  roles/edpm_neutron_ovn/defaults/main.yml
  roles/edpm_neutron_ovn/meta/argument_specs.yml
  roles/edpm_neutron_ovn/templates/config/neutron-ovn-agent.conf.j2
Due: none

[OSPRH-30153] Remove missing CA bundle mount from edpm_container_standalone (#1284)
  roles/edpm_container_standalone/defaults/main.yml
  roles/edpm_container_standalone/meta/argument_specs.yml
  roles/edpm_container_standalone/molecule/default/converge.yml
Due: none

Switch ciborg-agent container image to the correct domain (#1285)
  roles/edpm_cyborg/defaults/main.yml
  roles/edpm_cyborg/molecule/default/converge.yml
Due: none

Feat: Upgrade PoC for 18->19
  playbooks/upgrade.yml
  roles/edpm_neutron_ovn/tasks/update.yml
  roles/edpm_neutron_ovn/tasks/upgrade.yml
  roles/edpm_upgrade_services/defaults/main.yml
  roles/edpm_upgrade_services/meta/argument_specs.yml
  roles/edpm_upgrade_services/meta/main.yml
  roles/edpm_upgrade_services/tasks/main.yml
Due: none

edpm_network_config: resolve nicN aliases in driver_bind before write
  docs/source/roles/role-edpm_network_config.rst
  roles/edpm_network_config/meta/argument_specs.yml
  roles/edpm_network_config/tasks/driver_bind.yml
Due: none

edpm_ovs: update openvswitch without the wrapper package
  roles/edpm_ovs/defaults/main.yml
  roles/edpm_ovs/meta/argument_specs.yml
  roles/edpm_ovs/molecule/common/cleanup_base.yml
  roles/edpm_ovs/molecule/common/update/prepare.yml
  roles/edpm_ovs/molecule/common/update/verify.yml
  roles/edpm_ovs/molecule/update_cross_stream/converge.yml
  roles/edpm_ovs/molecule/update_cross_stream/molecule.yml
  roles/edpm_ovs/molecule/update_when_pinned_version_already_present/molecule.yml
  roles/edpm_ovs/molecule/update_with_reload/molecule.yml
  roles/edpm_ovs/molecule/update_without_reload/molecule.yml
  roles/edpm_ovs/tasks/update.yml
  roles/edpm_update_services/tasks/packages.yml
  roles/edpm_update_system/tasks/packages.yml
Due: edpm-ansible-molecule-edpm_ovs

edpm_update_system/services: only exclude openvswitch while wrapper present
  roles/edpm_update_services/tasks/packages.yml
  roles/edpm_update_system/tasks/packages.yml
Due: none

[edpm_accel_drivers] fix MIG/SR-IOV svc persists
  roles/edpm_accel_drivers/molecule/nvidia_mig/cleanup.yml
  roles/edpm_accel_drivers/molecule/nvidia_mig/molecule.yml
  roles/edpm_accel_drivers/molecule/nvidia_mig/prepare.yml
  roles/edpm_accel_drivers/molecule/nvidia_mig/test_package/mock-readlink.sh
  roles/edpm_accel_drivers/molecule/nvidia_mig/verify.yml
  roles/edpm_accel_drivers/molecule/nvidia_mig_geometry_change/verify.yml
  roles/edpm_accel_drivers/molecule/nvidia_mig_removal/verify.yml
  roles/edpm_accel_drivers/tasks/nvidia_mig_partitioning.yml
  roles/edpm_accel_drivers/tasks/nvidia_mig_partitioning_cleanup_gpu.yml
  roles/edpm_accel_drivers/tasks/nvidia_mig_partitioning_gpu.yml
  roles/edpm_accel_drivers/tasks/nvidia_mig_sriov_gpu.yml
  roles/edpm_accel_drivers/templates/edpm_nvidia_mig_apply.path.j2
  roles/edpm_accel_drivers/templates/edpm_nvidia_mig_apply.service.j2
  roles/edpm_accel_drivers/templates/edpm_nvidia_sriov_manage.path.j2
  roles/edpm_accel_drivers/templates/edpm_nvidia_sriov_manage.service.j2
  roles/edpm_accel_drivers/templates/edpm_nvidia_sriov_manage.target.j2
Due: edpm-ansible-molecule-edpm_accel_drivers

Share NIC mapping tasks for nmstate and os-net-config
  roles/edpm_network_config/defaults/main.yml
  roles/edpm_network_config/meta/argument_specs.yml
  roles/edpm_network_config/tasks/nic_mapping.yml
  roles/edpm_network_config/tasks/nmstate_tool.yml
  roles/edpm_network_config/tasks/os_net_config_tool.yml
Due: none

edpm_network_config: keep pci addresses as strings
  plugins/filter/edpm_nmstate_nic_aliases.py
  plugins/filter/edpm_safe_yaml.py
  plugins/tests/test_edpm_driver_bind.py
  plugins/tests/test_edpm_nmstate_nic_aliases.py
  plugins/tests/test_edpm_safe_yaml.py
  roles/edpm_network_config/files/edpm_driver_bind.py
  roles/edpm_network_config/tasks/nmstate_tool.yml
Due: none

edpm_network_config: resolve nicN aliases in driver_bind before write
  docs/source/roles/role-edpm_network_config.rst
  plugins/tests/test_edpm_nmstate_device_map.py
  roles/edpm_network_config/files/edpm_nmstate_device_map.py
  roles/edpm_network_config/meta/argument_specs.yml
  roles/edpm_network_config/tasks/driver_bind.yml
  roles/edpm_network_config/tasks/nmstate_device_map.yml
Due: none

[DNM] testing
  .github/workflows/molecule.yaml
  roles/edpm_neutron_metadata/tasks/configure.yml
  roles/edpm_neutron_ovn/tasks/main.yml
  roles/edpm_nova/tasks/configure.yml
  roles/edpm_ovn/tasks/configure.yml
  roles/edpm_ovs/tasks/install.yml
  roles/edpm_swift/tasks/configure.yml
  roles/edpm_telemetry/molecule/default/converge.yml
  roles/edpm_telemetry/tasks/exporter.yml
Due: edpm-ansible-molecule-edpm_nova, edpm-ansible-molecule-edpm_ovs

Bump ubuntu
  .github/workflows/molecule.yaml
Due: none

Cleanup tripleo os-net-config return code file
  roles/edpm_tripleo_cleanup/tasks/main.yml
Due: edpm-ansible-molecule-edpm_tripleo_cleanup

Pin GitHub Actions runners to ubuntu-22.04
  .github/workflows/documentation.yaml
  .github/workflows/openstack-ansibleee-runner.yaml
  renovate.json
Due: none

edpm_ovs: fix install path when upgrading from an older ovs stream
  roles/edpm_ovs/molecule/install_cross_stream/cleanup.yml
  roles/edpm_ovs/molecule/install_cross_stream/converge.yml
  roles/edpm_ovs/molecule/install_cross_stream/molecule.yml
  roles/edpm_ovs/molecule/install_cross_stream/prepare.yml
  roles/edpm_ovs/molecule/install_cross_stream/verify.yml
  roles/edpm_ovs/tasks/download_cache.yml
  roles/edpm_ovs/tasks/install.yml
Due: edpm-ansible-molecule-edpm_ovs

Pin GitHub Actions runners to ubuntu-22.04
  .github/workflows/build-collection.yaml
  .github/workflows/codeql.yml
  .github/workflows/documentation.yaml
  .github/workflows/molecule.yaml
  .github/workflows/openstack-ansibleee-runner.yaml
  renovate.json
Due: none

Pin GitHub Actions runners to ubuntu-22.04 (#1295)
  .github/workflows/documentation.yaml
  .github/workflows/openstack-ansibleee-runner.yaml
  renovate.json
Due: none

[OSPRH-30150] Remove missing CA bundle mount from edpm_frr (#1282)
  roles/edpm_frr/defaults/main.yml
  roles/edpm_frr/meta/argument_specs.yml
  roles/edpm_frr/molecule/default/verify.yml
Due: edpm-ansible-molecule-edpm_frr

[18-stable] Pin GitHub Actions runners to ubuntu-22.04 (#1296)
  .github/workflows/build-collection.yaml
  .github/workflows/codeql.yml
  .github/workflows/documentation.yaml
  .github/workflows/molecule.yaml
  .github/workflows/openstack-ansibleee-runner.yaml
  renovate.json
Due: none

[18.0-fr7] Pin GitHub Actions runners to ubuntu-22.04 (#1297)
  .github/workflows/documentation.yaml
  .github/workflows/openstack-ansibleee-runner.yaml
  renovate.json
Due: none

[18-stable][OSPRH-33254] Require mTLS for prom exporter
  roles/edpm_telemetry/files/podman_exporter.yaml
  roles/edpm_telemetry/molecule/default/prepare.yml
  roles/edpm_telemetry/tasks/exporter.yml
  roles/edpm_telemetry/templates/container_defs/podman_exporter.yaml.j2
Due: none

Add edpm_leapp_upgrade role for RHEL in-place OS upgrades
  playbooks/leapp_upgrade.yml
  roles/edpm_leapp_upgrade/README.md
  roles/edpm_leapp_upgrade/defaults/main.yml
  roles/edpm_leapp_upgrade/meta/argument_specs.yml
  roles/edpm_leapp_upgrade/meta/main.yml
  roles/edpm_leapp_upgrade/tasks/main.yml
  roles/edpm_leapp_upgrade/tasks/pre-validate.yml
  roles/edpm_leapp_upgrade/tasks/prepare.yml
  roles/edpm_leapp_upgrade/tasks/run.yml
  roles/edpm_leapp_upgrade/vars/main.yml
Due: none

edpm_neutron_ovn: enable metadata extension by default (#1289)
  roles/edpm_neutron_ovn/defaults/main.yml
  roles/edpm_neutron_ovn/meta/argument_specs.yml
  roles/edpm_neutron_ovn/templates/config/neutron-ovn-agent.conf.j2
Due: none

Path conditions:
  edpm-ansible-molecule-edpm_accel_drivers: any of: ^roles/edpm_accel_drivers/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_bootstrap: any of: ^roles/edpm_bootstrap/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_podman: any of: ^roles/edpm_podman/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_module_load: any of: ^roles/edpm_module_load/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_kernel: any of: ^roles/edpm_kernel/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_libvirt: any of: ^roles/edpm_libvirt/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_nova: any of: ^roles/edpm_nova/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_frr: any of: ^roles/edpm_frr/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_iscsid: any of: ^roles/edpm_iscsid/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_ovn_bgp_agent: any of: ^roles/edpm_ovn_bgp_agent/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_ovs: any of: ^roles/edpm_ovs/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_tripleo_cleanup: any of: ^roles/edpm_tripleo_cleanup/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_tuned: any of: ^roles/edpm_tuned/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_telemetry_power_monitoring: any of: ^roles/edpm_telemetry_power_monitoring/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_update: any of: ^roles/edpm_update/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-centos-stream-molecule-env_data: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/env_data/(?!meta).*
  edpm-ansible-centos-stream-molecule-test_deps: any of: ^molecule-requirements.txt, ^.config/molecule/config.yml, ^edpm_ansible/roles/test_deps/(?!meta).*, ^zuul.d/playbooks/pre.yml
  edpm-ansible-centos-stream-molecule-chrony: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/chrony/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_bootstrap: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_bootstrap/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ceph_client_files: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ceph_client_files/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_container_manage: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_manage/(?!meta).*, ^edpm_ansible/roles/edpm_container_rm/.*, ^edpm_ansible/ansible_plugins/action/container_systemd.py$, ^edpm_ansible/ansible_plugins/filter/helpers.py$, ^edpm_ansible/ansible_plugins/modules/container_config_data.py$, ^edpm_ansible/ansible_plugins/modules/container_config_hash.py$
  edpm-ansible-centos-stream-molecule-edpm_container_rm: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_rm/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_container_standalone: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_standalone/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_hosts_entries: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_hosts_entries/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_iscsid: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_iscsid/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_kernel: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_kernel/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_logrotate_crond: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_logrotate_crond/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_module_load: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_module_load/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_network_config: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_network_config/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_os_net_config.py, ^edpm_ansible/ansible_plugins/modules/edpm_os_net_config_mappings.py
  edpm-ansible-centos-stream-molecule-edpm_nftables: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nftables/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_nftables_from_files.py, ^edpm_ansible/ansible_plugins/modules/edpm_nftables_snippet.py
  edpm-ansible-centos-stream-molecule-edpm_nodes_validation: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nodes_validation/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nova_libvirt: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nova_libvirt/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nova_compute: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nova_compute/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nvdimm: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nvdimm/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ovn: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ovn/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_ovn_mac_addresses.py
  edpm-ansible-centos-stream-molecule-edpm_podman: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_podman/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ssh_known_hosts: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ssh_known_hosts/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_sshd: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_sshd/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_timezone: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_timezone/(?!meta).*
  edpm-ansible-centos-stream-role-addition: any of: ^.config/molecule/config.yml, ^_skeleton_role_/.*, ^role-addition.yml, ^tox.ini, ^molecule-requirements.txt, ^zuul.d/playbooks/.*, ^zuul.d/molecule.yaml
