Repository openstack-k8s-operators/edpm-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: edpm-ansible-molecule-edpm_accel_drivers, edpm-ansible-molecule-edpm_bootstrap, edpm-ansible-molecule-edpm_podman, edpm-ansible-molecule-edpm_module_load, edpm-ansible-molecule-edpm_kernel, edpm-ansible-molecule-edpm_libvirt, edpm-ansible-molecule-edpm_nova, edpm-ansible-molecule-edpm_frr, edpm-ansible-molecule-edpm_iscsid, edpm-ansible-molecule-edpm_ovn_bgp_agent, edpm-ansible-molecule-edpm_ovs, edpm-ansible-molecule-edpm_tripleo_cleanup, edpm-ansible-molecule-edpm_tuned, edpm-ansible-molecule-edpm_telemetry_power_monitoring, edpm-ansible-molecule-edpm_update, edpm-ansible-centos-stream-molecule-env_data, edpm-ansible-centos-stream-molecule-test_deps, edpm-ansible-centos-stream-molecule-chrony, edpm-ansible-centos-stream-molecule-edpm_bootstrap, edpm-ansible-centos-stream-molecule-edpm_ceph_client_files, edpm-ansible-centos-stream-molecule-edpm_container_manage, edpm-ansible-centos-stream-molecule-edpm_container_rm, edpm-ansible-centos-stream-molecule-edpm_container_standalone, edpm-ansible-centos-stream-molecule-edpm_hosts_entries, edpm-ansible-centos-stream-molecule-edpm_iscsid, edpm-ansible-centos-stream-molecule-edpm_kernel, edpm-ansible-centos-stream-molecule-edpm_logrotate_crond, edpm-ansible-centos-stream-molecule-edpm_module_load, edpm-ansible-centos-stream-molecule-edpm_network_config, edpm-ansible-centos-stream-molecule-edpm_nftables, edpm-ansible-centos-stream-molecule-edpm_nodes_validation, edpm-ansible-centos-stream-molecule-edpm_nova_libvirt, edpm-ansible-centos-stream-molecule-edpm_nova_compute, edpm-ansible-centos-stream-molecule-edpm_nvdimm, edpm-ansible-centos-stream-molecule-edpm_ovn, edpm-ansible-centos-stream-molecule-edpm_podman, edpm-ansible-centos-stream-molecule-edpm_ssh_known_hosts, edpm-ansible-centos-stream-molecule-edpm_sshd, edpm-ansible-centos-stream-molecule-edpm_timezone, edpm-ansible-centos-stream-role-addition

Path conditions:
  edpm-ansible-molecule-edpm_accel_drivers: any of: ^roles/edpm_accel_drivers/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_bootstrap: any of: ^roles/edpm_bootstrap/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_podman: any of: ^roles/edpm_podman/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_module_load: any of: ^roles/edpm_module_load/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_kernel: any of: ^roles/edpm_kernel/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_libvirt: any of: ^roles/edpm_libvirt/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_nova: any of: ^roles/edpm_nova/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_frr: any of: ^roles/edpm_frr/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_iscsid: any of: ^roles/edpm_iscsid/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_ovn_bgp_agent: any of: ^roles/edpm_ovn_bgp_agent/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_ovs: any of: ^roles/edpm_ovs/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_tripleo_cleanup: any of: ^roles/edpm_tripleo_cleanup/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_tuned: any of: ^roles/edpm_tuned/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_telemetry_power_monitoring: any of: ^roles/edpm_telemetry_power_monitoring/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_update: any of: ^roles/edpm_update/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-centos-stream-molecule-env_data: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/env_data/(?!meta).*
  edpm-ansible-centos-stream-molecule-test_deps: any of: ^molecule-requirements.txt, ^.config/molecule/config.yml, ^edpm_ansible/roles/test_deps/(?!meta).*, ^zuul.d/playbooks/pre.yml
  edpm-ansible-centos-stream-molecule-chrony: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/chrony/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_bootstrap: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_bootstrap/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ceph_client_files: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ceph_client_files/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_container_manage: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_manage/(?!meta).*, ^edpm_ansible/roles/edpm_container_rm/.*, ^edpm_ansible/ansible_plugins/action/container_systemd.py$, ^edpm_ansible/ansible_plugins/filter/helpers.py$, ^edpm_ansible/ansible_plugins/modules/container_config_data.py$, ^edpm_ansible/ansible_plugins/modules/container_config_hash.py$
  edpm-ansible-centos-stream-molecule-edpm_container_rm: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_rm/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_container_standalone: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_standalone/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_hosts_entries: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_hosts_entries/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_iscsid: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_iscsid/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_kernel: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_kernel/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_logrotate_crond: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_logrotate_crond/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_module_load: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_module_load/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_network_config: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_network_config/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_os_net_config.py, ^edpm_ansible/ansible_plugins/modules/edpm_os_net_config_mappings.py
  edpm-ansible-centos-stream-molecule-edpm_nftables: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nftables/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_nftables_from_files.py, ^edpm_ansible/ansible_plugins/modules/edpm_nftables_snippet.py
  edpm-ansible-centos-stream-molecule-edpm_nodes_validation: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nodes_validation/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nova_libvirt: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nova_libvirt/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nova_compute: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nova_compute/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nvdimm: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nvdimm/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ovn: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ovn/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_ovn_mac_addresses.py
  edpm-ansible-centos-stream-molecule-edpm_podman: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_podman/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ssh_known_hosts: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ssh_known_hosts/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_sshd: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_sshd/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_timezone: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_timezone/(?!meta).*
  edpm-ansible-centos-stream-role-addition: any of: ^.config/molecule/config.yml, ^_skeleton_role_/.*, ^role-addition.yml, ^tox.ini, ^molecule-requirements.txt, ^zuul.d/playbooks/.*, ^zuul.d/molecule.yaml

test
  Makefile
Due: none

Disable libvirt default network autostart
  roles/edpm_libvirt/tasks/post-install.yml
Due: edpm-ansible-molecule-edpm_libvirt

Allow triggering the build workflow manually of needed
  .github/workflows/openstack-ansibleee-runner.yaml
Due: none

[edpm_ovn] Fix argument spec validation when tenant_ip is undefined
  roles/edpm_ovn/meta/argument_specs.yml
  roles/edpm_ovn/molecule/no_tenant_ip/cleanup.yml
  roles/edpm_ovn/molecule/no_tenant_ip/collections.yml
  roles/edpm_ovn/molecule/no_tenant_ip/converge.yml
  roles/edpm_ovn/molecule/no_tenant_ip/molecule.yml
  roles/edpm_ovn/molecule/no_tenant_ip/prepare.yml
  roles/edpm_ovn/molecule/no_tenant_ip/test-data
  roles/edpm_ovn/molecule/no_tenant_ip/verify.yml
  roles/edpm_ovn/tasks/configure.yml
Due: none

edpm_telemetry: add --path.rootfs to node_exporter
  roles/edpm_telemetry/templates/container_defs/node_exporter.yaml.j2
Due: none

Fix argument spec validation when tenant_ip is undefined
  roles/edpm_ovn/meta/argument_specs.yml
  roles/edpm_ovn/molecule/no_tenant_ip/cleanup.yml
  roles/edpm_ovn/molecule/no_tenant_ip/collections.yml
  roles/edpm_ovn/molecule/no_tenant_ip/converge.yml
  roles/edpm_ovn/molecule/no_tenant_ip/molecule.yml
  roles/edpm_ovn/molecule/no_tenant_ip/prepare.yml
  roles/edpm_ovn/molecule/no_tenant_ip/test-data
  roles/edpm_ovn/molecule/no_tenant_ip/verify.yml
  roles/edpm_ovn/tasks/configure.yml
Due: none

Add GPU detection task
  roles/edpm_accel_drivers/defaults/main.yml
  roles/edpm_accel_drivers/tasks/detect_gpu.yml
  roles/edpm_accel_drivers/tasks/main.yml
Due: edpm-ansible-molecule-edpm_accel_drivers

EDPM deployment should not do network cleanup by default
  docs/source/roles/role-edpm_network_config.rst
  roles/edpm_network_config/molecule/nmstate/converge.yml
Due: none

Fix typo in message for variable name
  roles/edpm_reboot/tasks/main.yaml
Due: none

Check nova config directory for reboot
  roles/edpm_reboot/defaults/main.yaml
  roles/edpm_reboot/meta/argument_specs.yml
  roles/edpm_reboot/molecule/default/prepare.yml
Due: none

Adding MIG management to edpm_accel_drivers
  roles/edpm_accel_drivers/defaults/main.yml
  roles/edpm_accel_drivers/meta/argument_specs.yml
  roles/edpm_accel_drivers/molecule/nvidia_mig/converge.yml
  roles/edpm_accel_drivers/molecule/nvidia_mig/molecule.yml
  roles/edpm_accel_drivers/molecule/nvidia_mig/prepare.yml
  roles/edpm_accel_drivers/molecule/nvidia_mig/test_package/mock-nvidia-smi.sh
  roles/edpm_accel_drivers/molecule/nvidia_mig/verify.yml
  roles/edpm_accel_drivers/molecule/nvidia_mig_empty_geometry/converge.yml
  roles/edpm_accel_drivers/molecule/nvidia_mig_empty_geometry/molecule.yml
  roles/edpm_accel_drivers/molecule/nvidia_mig_empty_geometry/verify.yml
  roles/edpm_accel_drivers/molecule/nvidia_mig_geometry_change/converge.yml
  roles/edpm_accel_drivers/molecule/nvidia_mig_geometry_change/molecule.yml
  roles/edpm_accel_drivers/molecule/nvidia_mig_geometry_change/verify.yml
  roles/edpm_accel_drivers/molecule/nvidia_mig_removal/converge.yml
  roles/edpm_accel_drivers/molecule/nvidia_mig_removal/molecule.yml
  roles/edpm_accel_drivers/molecule/nvidia_mig_removal/verify.yml
  roles/edpm_accel_drivers/tasks/main.yml
  roles/edpm_accel_drivers/tasks/nvidia_mig_partitioning.yml
  roles/edpm_accel_drivers/tasks/nvidia_mig_partitioning_check_gpu_in_use.yml
  roles/edpm_accel_drivers/tasks/nvidia_mig_partitioning_cleanup.yml
  roles/edpm_accel_drivers/tasks/nvidia_mig_partitioning_cleanup_gpu.yml
  roles/edpm_accel_drivers/tasks/nvidia_mig_partitioning_gpu.yml
  roles/edpm_accel_drivers/templates/edpm_nvidia_mig_apply.service.j2
Due: edpm-ansible-molecule-edpm_accel_drivers

Add AMD driver installation via package manager & ROCm runfile installer
  roles/edpm_accel_drivers/defaults/main.yml
  roles/edpm_accel_drivers/tasks/amd_drivers.yml
  roles/edpm_accel_drivers/tasks/amd_from_rpm.yml
  roles/edpm_accel_drivers/tasks/amd_from_run.yml
  roles/edpm_accel_drivers/tasks/main.yml
Due: edpm-ansible-molecule-edpm_accel_drivers

Sync functionality with latest RHSOP17
  roles/edpm_cisco_opflex_agent/defaults/main.yml
  roles/edpm_cisco_opflex_agent/templates/opflex-agent-ovs.conf.in
  roles/edpm_cisco_opflex_agent/templates/opflex_supervisord.conf.j2
Due: none

Increase EDPM node disk size for minor update job
  zuul.d/jobs.yaml
Due: none

edpm_swift: keep rsync template in container_defs
  .github/workflows/molecule.yaml
  roles/edpm_swift/molecule/default/converge.yml
  roles/edpm_swift/molecule/default/molecule.yml
  roles/edpm_swift/molecule/default/prepare.yml
  roles/edpm_swift/molecule/default/verify.yml
  roles/edpm_swift/templates/container_defs/rsync.yaml.j2
Due: none

Enhance the Auto-detect and Manual modes for GPU driver installation
  roles/edpm_accel_drivers/defaults/main.yml
  roles/edpm_accel_drivers/tasks/detect_gpu.yml
  roles/edpm_accel_drivers/tasks/main.yml
Due: edpm-ansible-molecule-edpm_accel_drivers

Fail if if lspci returns any non-zero exit code
  roles/edpm_accel_drivers/tasks/detect_gpu.yml
Due: edpm-ansible-molecule-edpm_accel_drivers

Exclude AI personal configs from commits
  .gitignore
Due: none

Remove the edpm_update role, now unused
  docs/source/playbooks/update.rst
  docs/source/roles/role-edpm_update.rst
  roles/edpm_update/defaults/main.yml
  roles/edpm_update/meta/argument_specs.yml
  roles/edpm_update/meta/main.yml
  roles/edpm_update/molecule/default/converge.yml
  roles/edpm_update/molecule/default/molecule.yml
  roles/edpm_update/molecule/default/prepare.yml
  roles/edpm_update/molecule/kpatch/converge.yml
  roles/edpm_update/molecule/kpatch/molecule.yml
  roles/edpm_update/molecule/kpatch/prepare.yml
  roles/edpm_update/tasks/containers.yml
  roles/edpm_update/tasks/kpatch.yml
  roles/edpm_update/tasks/main.yml
  roles/edpm_update/tasks/packages.yml
  roles/edpm_update_services/meta/argument_specs.yml
  roles/edpm_update_services/molecule/default/converge.yml
  roles/edpm_update_system/meta/argument_specs.yml
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: edpm-ansible-molecule-edpm_update

edpm-podman: clean up old images in edpm_container_manage
  plugins/modules/edpm_container_manage.py
  roles/edpm_podman/tasks/main.yml
Due: edpm-ansible-molecule-edpm_podman

Ensure prometheus exporter is created when update
  roles/edpm_telemetry/tasks/update.yml
Due: none

DNM Test edpm_ovn molecule job
  roles/edpm_ovn/tasks/main.yml
Due: none

Fix endif in jinja template
  roles/edpm_cisco_opflex_agent/templates/opflex_supervisord.conf.j2
Due: none

[edpm_ovn][molecule] Include centos-stream-release as test dep
  roles/edpm_ovn/molecule/default/prepare.yml
  roles/edpm_ovn/molecule/noconfig/prepare.yml
Due: none

[edpm_ovn] Handle cases where bridge mappings are list or string
  roles/edpm_ovn/defaults/main.yml
  roles/edpm_ovn/molecule/bridge_mappings_list/cleanup.yml
  roles/edpm_ovn/molecule/bridge_mappings_list/collections.yml
  roles/edpm_ovn/molecule/bridge_mappings_list/converge.yml
  roles/edpm_ovn/molecule/bridge_mappings_list/molecule.yml
  roles/edpm_ovn/molecule/bridge_mappings_list/prepare.yml
  roles/edpm_ovn/molecule/bridge_mappings_list/test-data
  roles/edpm_ovn/molecule/bridge_mappings_list/verify.yml
  roles/edpm_ovn/molecule/bridge_mappings_string/cleanup.yml
  roles/edpm_ovn/molecule/bridge_mappings_string/collections.yml
  roles/edpm_ovn/molecule/bridge_mappings_string/converge.yml
  roles/edpm_ovn/molecule/bridge_mappings_string/molecule.yml
  roles/edpm_ovn/molecule/bridge_mappings_string/prepare.yml
  roles/edpm_ovn/molecule/bridge_mappings_string/test-data
  roles/edpm_ovn/molecule/bridge_mappings_string/verify.yml
Due: none

feat: create a variable for node exporter command
  roles/edpm_telemetry/defaults/main.yml
  roles/edpm_telemetry/meta/argument_specs.yml
  roles/edpm_telemetry/templates/container_defs/node_exporter.yaml.j2
Due: none

Fix missing EDPM parameter
  roles/edpm_cisco_opflex_agent/defaults/main.yml
Due: none

Add ACI deployment docs and organize service definitions
  Containerfile
  contrib/aci-deployment/Containerfile
  contrib/aci-deployment/DeploymentInstructions/BUILD.md
  contrib/aci-deployment/DeploymentInstructions/Build Instructions.txt
  contrib/aci-deployment/DeploymentInstructions/MANUAL_BUILD.md
  contrib/aci-deployment/DeploymentInstructions/README.md
  contrib/aci-deployment/DeploymentInstructions/build.sh
  contrib/aci-deployment/DeploymentInstructions/nodeset_patch.yaml
  contrib/aci-deployment/DeploymentInstructions/nodeset_patch_deploy.yaml
  contrib/aci-deployment/LICENSE.txt
  osp18/DeploymentInstructions/README.txt
  roles/edpm_cisco_opflex_agent/docs/README.md
  roles/edpm_cisco_opflex_agent/docs/cisco-opflex-agent-service.yaml
  roles/edpm_lldp/docs/README.md
  roles/edpm_lldp/docs/ciscoaci-lldp-agent-service.yaml
  roles/edpm_neutron_opflex_agent/docs/README.md
  roles/edpm_neutron_opflex_agent/docs/neutron-opflex-agent-service.yaml
Due: none

Remove unused contrib/aci-deployment/Containerfile
  contrib/aci-deployment/Containerfile
Due: none

Include centos-stream-release as test dep
  roles/edpm_ovn/molecule/default/prepare.yml
  roles/edpm_ovn/molecule/noconfig/prepare.yml
Due: none

Refactor GPU module blacklisting to support multiple vendors
  roles/edpm_accel_drivers/defaults/main.yml
  roles/edpm_accel_drivers/meta/argument_specs.yml
  roles/edpm_accel_drivers/tasks/blacklist_gpu_module.yml
  roles/edpm_accel_drivers/tasks/blacklist_nouveau.yml
  roles/edpm_accel_drivers/tasks/main.yml
Due: edpm-ansible-molecule-edpm_accel_drivers

Refactor GPU repository configuration task to support multiple vendors
  roles/edpm_accel_drivers/defaults/main.yml
  roles/edpm_accel_drivers/meta/argument_specs.yml
  roles/edpm_accel_drivers/molecule/nvidia_repo/converge.yml
  roles/edpm_accel_drivers/tasks/gpu_repos.yml
  roles/edpm_accel_drivers/tasks/nvidia_drivers.yml
  roles/edpm_accel_drivers/tasks/nvidia_from_rpm.yml
  roles/edpm_accel_drivers/tasks/nvidia_repos.yml
Due: edpm-ansible-molecule-edpm_accel_drivers

Rename nvidia_from_rpm.yml to gpu_from_rpm.yml for multi-vendor support
  roles/edpm_accel_drivers/tasks/gpu_from_rpm.yml
  roles/edpm_accel_drivers/tasks/nvidia_drivers.yml
Due: edpm-ansible-molecule-edpm_accel_drivers
