Repository openstack-k8s-operators/edpm-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: edpm-ansible-molecule-edpm_accel_drivers, edpm-ansible-molecule-edpm_bootstrap, edpm-ansible-molecule-edpm_podman, edpm-ansible-molecule-edpm_module_load, edpm-ansible-molecule-edpm_kernel, edpm-ansible-molecule-edpm_libvirt, edpm-ansible-molecule-edpm_nova, edpm-ansible-molecule-edpm_frr, edpm-ansible-molecule-edpm_iscsid, edpm-ansible-molecule-edpm_ovn_bgp_agent, edpm-ansible-molecule-edpm_ovs, edpm-ansible-molecule-edpm_tripleo_cleanup, edpm-ansible-molecule-edpm_tuned, edpm-ansible-molecule-edpm_telemetry_power_monitoring, edpm-ansible-molecule-edpm_update, edpm-ansible-centos-stream-molecule-env_data, edpm-ansible-centos-stream-molecule-test_deps, edpm-ansible-centos-stream-molecule-chrony, edpm-ansible-centos-stream-molecule-edpm_bootstrap, edpm-ansible-centos-stream-molecule-edpm_ceph_client_files, edpm-ansible-centos-stream-molecule-edpm_container_manage, edpm-ansible-centos-stream-molecule-edpm_container_rm, edpm-ansible-centos-stream-molecule-edpm_container_standalone, edpm-ansible-centos-stream-molecule-edpm_hosts_entries, edpm-ansible-centos-stream-molecule-edpm_iscsid, edpm-ansible-centos-stream-molecule-edpm_kernel, edpm-ansible-centos-stream-molecule-edpm_logrotate_crond, edpm-ansible-centos-stream-molecule-edpm_module_load, edpm-ansible-centos-stream-molecule-edpm_network_config, edpm-ansible-centos-stream-molecule-edpm_nftables, edpm-ansible-centos-stream-molecule-edpm_nodes_validation, edpm-ansible-centos-stream-molecule-edpm_nova_libvirt, edpm-ansible-centos-stream-molecule-edpm_nova_compute, edpm-ansible-centos-stream-molecule-edpm_nvdimm, edpm-ansible-centos-stream-molecule-edpm_ovn, edpm-ansible-centos-stream-molecule-edpm_podman, edpm-ansible-centos-stream-molecule-edpm_ssh_known_hosts, edpm-ansible-centos-stream-molecule-edpm_sshd, edpm-ansible-centos-stream-molecule-edpm_timezone, edpm-ansible-centos-stream-role-addition

Path conditions:
  edpm-ansible-molecule-edpm_accel_drivers: any of: ^roles/edpm_accel_drivers/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_bootstrap: any of: ^roles/edpm_bootstrap/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_podman: any of: ^roles/edpm_podman/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_module_load: any of: ^roles/edpm_module_load/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_kernel: any of: ^roles/edpm_kernel/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_libvirt: any of: ^roles/edpm_libvirt/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_nova: any of: ^roles/edpm_nova/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_frr: any of: ^roles/edpm_frr/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_iscsid: any of: ^roles/edpm_iscsid/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_ovn_bgp_agent: any of: ^roles/edpm_ovn_bgp_agent/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_ovs: any of: ^roles/edpm_ovs/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_tripleo_cleanup: any of: ^roles/edpm_tripleo_cleanup/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_tuned: any of: ^roles/edpm_tuned/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_telemetry_power_monitoring: any of: ^roles/edpm_telemetry_power_monitoring/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_update: any of: ^roles/edpm_update/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-centos-stream-molecule-env_data: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/env_data/(?!meta).*
  edpm-ansible-centos-stream-molecule-test_deps: any of: ^molecule-requirements.txt, ^.config/molecule/config.yml, ^edpm_ansible/roles/test_deps/(?!meta).*, ^zuul.d/playbooks/pre.yml
  edpm-ansible-centos-stream-molecule-chrony: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/chrony/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_bootstrap: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_bootstrap/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ceph_client_files: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ceph_client_files/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_container_manage: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_manage/(?!meta).*, ^edpm_ansible/roles/edpm_container_rm/.*, ^edpm_ansible/ansible_plugins/action/container_systemd.py$, ^edpm_ansible/ansible_plugins/filter/helpers.py$, ^edpm_ansible/ansible_plugins/modules/container_config_data.py$, ^edpm_ansible/ansible_plugins/modules/container_config_hash.py$
  edpm-ansible-centos-stream-molecule-edpm_container_rm: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_rm/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_container_standalone: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_standalone/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_hosts_entries: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_hosts_entries/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_iscsid: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_iscsid/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_kernel: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_kernel/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_logrotate_crond: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_logrotate_crond/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_module_load: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_module_load/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_network_config: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_network_config/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_os_net_config.py, ^edpm_ansible/ansible_plugins/modules/edpm_os_net_config_mappings.py
  edpm-ansible-centos-stream-molecule-edpm_nftables: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nftables/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_nftables_from_files.py, ^edpm_ansible/ansible_plugins/modules/edpm_nftables_snippet.py
  edpm-ansible-centos-stream-molecule-edpm_nodes_validation: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nodes_validation/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nova_libvirt: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nova_libvirt/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nova_compute: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nova_compute/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nvdimm: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nvdimm/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ovn: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ovn/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_ovn_mac_addresses.py
  edpm-ansible-centos-stream-molecule-edpm_podman: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_podman/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ssh_known_hosts: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ssh_known_hosts/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_sshd: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_sshd/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_timezone: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_timezone/(?!meta).*
  edpm-ansible-centos-stream-role-addition: any of: ^.config/molecule/config.yml, ^_skeleton_role_/.*, ^role-addition.yml, ^tox.ini, ^molecule-requirements.txt, ^zuul.d/playbooks/.*, ^zuul.d/molecule.yaml

Add HMAC-SHA256 support to heartbeat sender (HBV2)
  roles/edpm_instanceha_monitoring/defaults/main.yml
  roles/edpm_instanceha_monitoring/meta/argument_specs.yml
  roles/edpm_instanceha_monitoring/molecule/default/converge.yml
  roles/edpm_instanceha_monitoring/molecule/default/test-data/hmac-key
  roles/edpm_instanceha_monitoring/molecule/default/verify.yml
  roles/edpm_instanceha_monitoring/tasks/configure.yml
  roles/edpm_instanceha_monitoring/templates/instanceha-heartbeat.py.j2
  roles/edpm_instanceha_monitoring/templates/instanceha-heartbeat.service.j2
Due: none

Use ubi10 for runner image
  .github/workflows/openstack-ansibleee-runner.yaml
  Makefile
  openstack_ansibleee/Containerfile
Due: none

Delete Release Branch Sync workflow
  .github/workflows/release-branch-sync.yaml
Due: none

Fix: rework edpm_container_standalone for quadlet-only deployment
  molecule/test-helpers/verify_systemd_unit.yaml
  plugins/modules/container_config_hash.py
  roles/edpm_container_standalone/README.md
  roles/edpm_container_standalone/defaults/main.yml
  roles/edpm_container_standalone/meta/argument_specs.yml
  roles/edpm_container_standalone/molecule/quadlet/collections.yml
  roles/edpm_container_standalone/molecule/quadlet/converge.yml
  roles/edpm_container_standalone/molecule/quadlet/molecule.yml
  roles/edpm_container_standalone/molecule/quadlet/prepare.yml
  roles/edpm_container_standalone/molecule/quadlet/templates/test_service.container.j2
  roles/edpm_container_standalone/molecule/quadlet/templates/test_service_updated.container.j2
  roles/edpm_container_standalone/tasks/main.yml
  roles/edpm_container_standalone/tasks/quadlet.yml
  roles/edpm_container_standalone/tasks/state_file_update.yml
Due: none

Feat: Migrate OVN service to Quadlet
  roles/edpm_ovn/molecule/default/verify-quadlet.yml
  roles/edpm_ovn/molecule/default/verify.yml
  roles/edpm_ovn/tasks/run.yml
  roles/edpm_ovn/templates/quadlet/ovn_controller.container.j2
Due: none

EDPM deployment should not do network cleanup by default
  docs/source/roles/role-edpm_network_config.rst
  roles/edpm_network_config/defaults/main.yml
  roles/edpm_network_config/meta/argument_specs.yml
  roles/edpm_network_config/molecule/default/converge.yml
  roles/edpm_network_config/molecule/default/prepare.yml
  roles/edpm_network_config/molecule/nmstate/converge.yml
Due: none

Feat: Migrate ovn_bgp_agent service to Quadlet
  roles/edpm_ovn_bgp_agent/molecule/default/verify.yml
  roles/edpm_ovn_bgp_agent/molecule/local_ovn/converge.yml
  roles/edpm_ovn_bgp_agent/molecule/local_ovn/molecule.yml
  roles/edpm_ovn_bgp_agent/molecule/local_ovn/prepare.yml
  roles/edpm_ovn_bgp_agent/molecule/local_ovn/verify.yml
  roles/edpm_ovn_bgp_agent/tasks/run.yml
  roles/edpm_ovn_bgp_agent/tasks/run_ovn.yml
  roles/edpm_ovn_bgp_agent/templates/quadlet/bgp_ovn_controller.container.j2
  roles/edpm_ovn_bgp_agent/templates/quadlet/nb_db_server.container.j2
  roles/edpm_ovn_bgp_agent/templates/quadlet/northd.container.j2
  roles/edpm_ovn_bgp_agent/templates/quadlet/ovn_bgp_agent.container.j2
  roles/edpm_ovn_bgp_agent/templates/quadlet/sb_db_server.container.j2
Due: edpm-ansible-molecule-edpm_ovn_bgp_agent

Feat: migrate FRR to quadlet
  roles/edpm_frr/molecule/default/converge.yml
  roles/edpm_frr/molecule/default/molecule.yml
  roles/edpm_frr/molecule/default/prepare.yml
  roles/edpm_frr/molecule/default/verify.yml
  roles/edpm_frr/tasks/run.yml
  roles/edpm_frr/templates/quadlet/frr.container.j2
Due: edpm-ansible-molecule-edpm_frr

Add ovn agent evpn extension config variables
  roles/edpm_neutron_ovn/defaults/main.yml
  roles/edpm_neutron_ovn/meta/argument_specs.yml
  roles/edpm_neutron_ovn/molecule/evpn_disabled/collections.yml
  roles/edpm_neutron_ovn/molecule/evpn_disabled/converge.yml
  roles/edpm_neutron_ovn/molecule/evpn_disabled/molecule.yml
  roles/edpm_neutron_ovn/molecule/evpn_disabled/prepare.yml
  roles/edpm_neutron_ovn/molecule/evpn_disabled/test-data/10-neutron-ovn.conf
  roles/edpm_neutron_ovn/molecule/evpn_disabled/verify.yml
  roles/edpm_neutron_ovn/molecule/evpn_enabled/collections.yml
  roles/edpm_neutron_ovn/molecule/evpn_enabled/converge.yml
  roles/edpm_neutron_ovn/molecule/evpn_enabled/molecule.yml
  roles/edpm_neutron_ovn/molecule/evpn_enabled/prepare.yml
  roles/edpm_neutron_ovn/molecule/evpn_enabled/test-data/10-neutron-ovn.conf
  roles/edpm_neutron_ovn/molecule/evpn_enabled/verify.yml
  roles/edpm_neutron_ovn/templates/config/neutron-ovn-agent.conf.j2
Due: none

Split frr configuration to bgp and bgp+evpn
  roles/edpm_frr/defaults/main.yml
  roles/edpm_frr/meta/argument_specs.yml
  roles/edpm_frr/molecule/default/prepare.yml
  roles/edpm_frr/molecule/evpn_mode/collections.yml
  roles/edpm_frr/molecule/evpn_mode/converge.yml
  roles/edpm_frr/molecule/evpn_mode/molecule.yml
  roles/edpm_frr/molecule/evpn_mode/prepare.yml
  roles/edpm_frr/molecule/evpn_mode/verify.yml
  roles/edpm_frr/tasks/configure.yml
  roles/edpm_frr/tasks/configure_bgp.yml
  roles/edpm_frr/tasks/configure_evpn.yml
  roles/edpm_frr/tasks/install.yml
  roles/edpm_frr/templates/config/frr.conf.evpn.j2
Due: edpm-ansible-molecule-edpm_frr

Add edpm_leapp_upgrade role for RHEL in-place OS upgrades
  playbooks/leapp_upgrade.yml
  roles/edpm_leapp_upgrade/README.md
  roles/edpm_leapp_upgrade/defaults/main.yml
  roles/edpm_leapp_upgrade/meta/argument_specs.yml
  roles/edpm_leapp_upgrade/meta/main.yml
  roles/edpm_leapp_upgrade/tasks/main.yml
  roles/edpm_leapp_upgrade/tasks/pre-validate.yml
  roles/edpm_leapp_upgrade/tasks/prepare.yml
  roles/edpm_leapp_upgrade/tasks/run.yml
  roles/edpm_leapp_upgrade/vars/main.yml
Due: none

Feat: Migrate neutron_sriov to Quadlet
  roles/edpm_neutron_sriov/molecule/default/verify.yml
  roles/edpm_neutron_sriov/tasks/run.yml
  roles/edpm_neutron_sriov/templates/quadlet/neutron_sriov_agent.container.j2
Due: none

Feat: Migrate neutron_ovn to quadlet
  roles/edpm_neutron_ovn/molecule/default/prepare.yml
  roles/edpm_neutron_ovn/molecule/default/tests/test_neutron_ovn.py
  roles/edpm_neutron_ovn/tasks/run.yml
  roles/edpm_neutron_ovn/templates/quadlet/ovn_agent.container.j2
Due: none

Feat: Migrate neutron_dhcp to Quadlet
  roles/edpm_neutron_dhcp/molecule/default/prepare.yml
  roles/edpm_neutron_dhcp/molecule/default/tests/test_neutron_dhcp.py
  roles/edpm_neutron_dhcp/tasks/run.yml
  roles/edpm_neutron_dhcp/templates/quadlet/neutron_dhcp_agent.container.j2
Due: none

Feat: Migrate neutron_metadata to Quadlet
  roles/edpm_neutron_metadata/molecule/default/prepare.yml
  roles/edpm_neutron_metadata/molecule/default/tests/test_neutron_metadata.py
  roles/edpm_neutron_metadata/tasks/run.yml
  roles/edpm_neutron_metadata/templates/quadlet/ovn_metadata_agent.container.j2
Due: none

fix: prevent libvirt password truncation in saslpasswd2
  roles/edpm_libvirt/tasks/configure.yml
Due: edpm-ansible-molecule-edpm_libvirt

Feat: Migrate edpm_telemetry to quadlet
  roles/edpm_telemetry/defaults/main.yml
  roles/edpm_telemetry/meta/argument_specs.yml
  roles/edpm_telemetry/molecule/default/prepare.yml
  roles/edpm_telemetry/molecule/default/verify.yml
  roles/edpm_telemetry/tasks/exporter.yml
  roles/edpm_telemetry/tasks/install.yml
  roles/edpm_telemetry/tasks/update.yml
  roles/edpm_telemetry/templates/quadlet/ceilometer_agent_compute.container.j2
  roles/edpm_telemetry/templates/quadlet/node_exporter.container.j2
  roles/edpm_telemetry/templates/quadlet/openstack_network_exporter.container.j2
  roles/edpm_telemetry/templates/quadlet/podman_exporter.container.j2
Due: none

Feat: Migrate edpm_telemetry_power_monitoring to quadlet
  roles/edpm_telemetry_power_monitoring/defaults/main.yml
  roles/edpm_telemetry_power_monitoring/meta/argument_specs.yml
  roles/edpm_telemetry_power_monitoring/molecule/default/prepare.yml
  roles/edpm_telemetry_power_monitoring/molecule/default/verify.yml
  roles/edpm_telemetry_power_monitoring/tasks/install.yml
  roles/edpm_telemetry_power_monitoring/templates/quadlet/ceilometer_agent_ipmi.container.j2
  roles/edpm_telemetry_power_monitoring/templates/quadlet/kepler.container.j2
Due: edpm-ansible-molecule-edpm_telemetry_power_monitoring

Feat: Migrate edpm_nova to Quadlet
  roles/edpm_nova/defaults/main.yml
  roles/edpm_nova/handlers/main.yml
  roles/edpm_nova/meta/argument_specs.yml
  roles/edpm_nova/molecule/default/verify.yml
  roles/edpm_nova/tasks/install.yml
  roles/edpm_nova/templates/quadlet/nova_compute.container.j2
  roles/edpm_nova/templates/quadlet/nova_compute_init.container.j2
  roles/edpm_nova/templates/quadlet/nova_nvme_cleaner.container.j2
Due: edpm-ansible-molecule-edpm_nova

Remove Kepler power monitoring agent
  docs/source/playbooks/telemetry_power_monitoring.rst
  roles/edpm_telemetry/defaults/main.yml
  roles/edpm_telemetry_power_monitoring/defaults/main.yml
  roles/edpm_telemetry_power_monitoring/files/firewall.yaml
  roles/edpm_telemetry_power_monitoring/meta/argument_specs.yml
  roles/edpm_telemetry_power_monitoring/molecule/default/test-helpers/kepler.yaml
  roles/edpm_telemetry_power_monitoring/molecule/default/verify.yml
  roles/edpm_telemetry_power_monitoring/tasks/download_cache.yml
  roles/edpm_telemetry_power_monitoring/tasks/install.yml
  roles/edpm_telemetry_power_monitoring/tasks/post-install.yml
  roles/edpm_telemetry_power_monitoring/templates/container_defs/kepler.yaml.j2
Due: edpm-ansible-molecule-edpm_telemetry_power_monitoring

Feat: Migrate edpm_swift to Quadlet
  roles/edpm_swift/molecule/default/molecule.yml
  roles/edpm_swift/molecule/default/verify.yml
  roles/edpm_swift/tasks/run.yml
  roles/edpm_swift/templates/quadlet/rsync.container.j2
  roles/edpm_swift/templates/quadlet/swift_account_auditor.container.j2
  roles/edpm_swift/templates/quadlet/swift_account_reaper.container.j2
  roles/edpm_swift/templates/quadlet/swift_account_replicator.container.j2
  roles/edpm_swift/templates/quadlet/swift_account_server.container.j2
  roles/edpm_swift/templates/quadlet/swift_container_auditor.container.j2
  roles/edpm_swift/templates/quadlet/swift_container_replicator.container.j2
  roles/edpm_swift/templates/quadlet/swift_container_server.container.j2
  roles/edpm_swift/templates/quadlet/swift_container_updater.container.j2
  roles/edpm_swift/templates/quadlet/swift_object_auditor.container.j2
  roles/edpm_swift/templates/quadlet/swift_object_expirer.container.j2
  roles/edpm_swift/templates/quadlet/swift_object_replicator.container.j2
  roles/edpm_swift/templates/quadlet/swift_object_server.container.j2
  roles/edpm_swift/templates/quadlet/swift_object_updater.container.j2
Due: none

Remove tj-actions/branch-names from build workflow
  .github/workflows/openstack-ansibleee-runner.yaml
Due: none

EVPN mode with BGP
  roles/edpm_frr/defaults/main.yml
  roles/edpm_frr/meta/argument_specs.yml
  roles/edpm_frr/molecule/evpn_mode/collections.yml
  roles/edpm_frr/molecule/evpn_mode/converge.yml
  roles/edpm_frr/molecule/evpn_mode/molecule.yml
  roles/edpm_frr/molecule/evpn_mode/prepare.yml
  roles/edpm_frr/molecule/evpn_mode/verify.yml
  roles/edpm_frr/tasks/configure.yml
  roles/edpm_frr/tasks/configure_bgp.yml
  roles/edpm_frr/tasks/install.yml
  roles/edpm_frr/templates/config/frr.conf.j2
Due: edpm-ansible-molecule-edpm_frr

Move molecule tests to run in zuul. This is in preparation for future tests which will not be possible to run in a podman container.
  .github/workflows/molecule.yaml
  roles/edpm_neutron_ovn/molecule/bgp_custom_interconnect_bridge/verify.yml
  roles/edpm_neutron_ovn/molecule/bgp_disabled/molecule.yml
  roles/edpm_neutron_ovn/molecule/bgp_disabled/verify.yml
  roles/edpm_neutron_ovn/molecule/bgp_enabled/verify.yml
  roles/edpm_neutron_ovn/molecule/common/cleanup.yml
  roles/edpm_neutron_ovn/molecule/default/molecule.yml
  roles/edpm_neutron_ovn/molecule/default/prepare.yml
  roles/edpm_neutron_ovn/molecule/default/tests/test_neutron_ovn.py
  scripts/test_roles.py
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: none

Move molecule test to zuul in preparation to run add new tests which can not be run in a podman container
  .github/workflows/molecule.yaml
  roles/edpm_neutron_ovn/molecule/bgp_custom_interconnect_bridge/verify.yml
  roles/edpm_neutron_ovn/molecule/bgp_disabled/molecule.yml
  roles/edpm_neutron_ovn/molecule/bgp_disabled/verify.yml
  roles/edpm_neutron_ovn/molecule/bgp_enabled/verify.yml
  roles/edpm_neutron_ovn/molecule/common/cleanup.yml
  roles/edpm_neutron_ovn/molecule/default/molecule.yml
  roles/edpm_neutron_ovn/molecule/default/prepare.yml
  roles/edpm_neutron_ovn/molecule/default/tests/test_neutron_ovn.py
  scripts/test_roles.py
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: none

EDPM nmstate tool support
  roles/edpm_network_config/defaults/main.yml
  roles/edpm_network_config/tasks/nmstate_tool.yml
Due: none

Add ovn agent evpn extension config variables
  roles/edpm_neutron_ovn/defaults/main.yml
  roles/edpm_neutron_ovn/meta/argument_specs.yml
  roles/edpm_neutron_ovn/molecule/evpn_disabled/collections.yml
  roles/edpm_neutron_ovn/molecule/evpn_disabled/converge.yml
  roles/edpm_neutron_ovn/molecule/evpn_disabled/molecule.yml
  roles/edpm_neutron_ovn/molecule/evpn_disabled/prepare.yml
  roles/edpm_neutron_ovn/molecule/evpn_disabled/test-data/10-neutron-ovn.conf
  roles/edpm_neutron_ovn/molecule/evpn_disabled/verify.yml
  roles/edpm_neutron_ovn/molecule/evpn_enabled/collections.yml
  roles/edpm_neutron_ovn/molecule/evpn_enabled/converge.yml
  roles/edpm_neutron_ovn/molecule/evpn_enabled/molecule.yml
  roles/edpm_neutron_ovn/molecule/evpn_enabled/prepare.yml
  roles/edpm_neutron_ovn/molecule/evpn_enabled/test-data/10-neutron-ovn.conf
  roles/edpm_neutron_ovn/molecule/evpn_enabled/verify.yml
  roles/edpm_neutron_ovn/tasks/configure.yml
  roles/edpm_neutron_ovn/templates/config/neutron-ovn-agent.conf.j2
Due: none

[18.0-fr6] Add ovn agent evpn extension config variables
  roles/edpm_neutron_ovn/defaults/main.yml
  roles/edpm_neutron_ovn/meta/argument_specs.yml
  roles/edpm_neutron_ovn/molecule/evpn_disabled/collections.yml
  roles/edpm_neutron_ovn/molecule/evpn_disabled/converge.yml
  roles/edpm_neutron_ovn/molecule/evpn_disabled/molecule.yml
  roles/edpm_neutron_ovn/molecule/evpn_disabled/prepare.yml
  roles/edpm_neutron_ovn/molecule/evpn_disabled/test-data/10-neutron-ovn.conf
  roles/edpm_neutron_ovn/molecule/evpn_disabled/verify.yml
  roles/edpm_neutron_ovn/molecule/evpn_enabled/collections.yml
  roles/edpm_neutron_ovn/molecule/evpn_enabled/converge.yml
  roles/edpm_neutron_ovn/molecule/evpn_enabled/molecule.yml
  roles/edpm_neutron_ovn/molecule/evpn_enabled/prepare.yml
  roles/edpm_neutron_ovn/molecule/evpn_enabled/test-data/10-neutron-ovn.conf
  roles/edpm_neutron_ovn/molecule/evpn_enabled/verify.yml
  roles/edpm_neutron_ovn/tasks/configure.yml
  roles/edpm_neutron_ovn/templates/config/neutron-ovn-agent.conf.j2
Due: none

Ovn-agent needs access to /run/frr to get access to vtysh socket
  roles/edpm_neutron_ovn/defaults/main.yml
  roles/edpm_neutron_ovn/meta/argument_specs.yml
  roles/edpm_neutron_ovn/molecule/default/prepare.yml
  roles/edpm_neutron_ovn/molecule/evpn_enabled/verify.yml
Due: none

Add kernel pinning and post-driver reboot to accel_drivers role
  roles/edpm_accel_drivers/defaults/main.yml
  roles/edpm_accel_drivers/tasks/kernel_pin.yml
  roles/edpm_accel_drivers/tasks/main.yml
  roles/edpm_accel_drivers/tasks/reboot.yml
Due: edpm-ansible-molecule-edpm_accel_drivers

Address review findings: validation, idempotency, and tests
  roles/edpm_accel_drivers/meta/argument_specs.yml
  roles/edpm_accel_drivers/molecule/kernel_pin_reboot/converge.yml
  roles/edpm_accel_drivers/molecule/kernel_pin_reboot/molecule.yml
  roles/edpm_accel_drivers/molecule/kernel_pin_reboot/prepare.yml
  roles/edpm_accel_drivers/molecule/kernel_pin_reboot/verify.yml
  roles/edpm_accel_drivers/tasks/kernel_pin.yml
  roles/edpm_accel_drivers/tasks/reboot.yml
Due: edpm-ansible-molecule-edpm_accel_drivers

Add Renovate configuration
  renovate.json
Due: none
