Repository openstack-k8s-operators/edpm-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: edpm-ansible-molecule-edpm_accel_drivers, edpm-ansible-molecule-edpm_bootstrap, edpm-ansible-molecule-edpm_podman, edpm-ansible-molecule-edpm_module_load, edpm-ansible-molecule-edpm_kernel, edpm-ansible-molecule-edpm_libvirt, edpm-ansible-molecule-edpm_nova, edpm-ansible-molecule-edpm_frr, edpm-ansible-molecule-edpm_iscsid, edpm-ansible-molecule-edpm_ovn_bgp_agent, edpm-ansible-molecule-edpm_ovs, edpm-ansible-molecule-edpm_tripleo_cleanup, edpm-ansible-molecule-edpm_tuned, edpm-ansible-molecule-edpm_telemetry_power_monitoring, edpm-ansible-molecule-edpm_update, edpm-ansible-centos-stream-molecule-env_data, edpm-ansible-centos-stream-molecule-test_deps, edpm-ansible-centos-stream-molecule-chrony, edpm-ansible-centos-stream-molecule-edpm_bootstrap, edpm-ansible-centos-stream-molecule-edpm_ceph_client_files, edpm-ansible-centos-stream-molecule-edpm_container_manage, edpm-ansible-centos-stream-molecule-edpm_container_rm, edpm-ansible-centos-stream-molecule-edpm_container_standalone, edpm-ansible-centos-stream-molecule-edpm_hosts_entries, edpm-ansible-centos-stream-molecule-edpm_iscsid, edpm-ansible-centos-stream-molecule-edpm_kernel, edpm-ansible-centos-stream-molecule-edpm_logrotate_crond, edpm-ansible-centos-stream-molecule-edpm_module_load, edpm-ansible-centos-stream-molecule-edpm_network_config, edpm-ansible-centos-stream-molecule-edpm_nftables, edpm-ansible-centos-stream-molecule-edpm_nodes_validation, edpm-ansible-centos-stream-molecule-edpm_nova_libvirt, edpm-ansible-centos-stream-molecule-edpm_nova_compute, edpm-ansible-centos-stream-molecule-edpm_nvdimm, edpm-ansible-centos-stream-molecule-edpm_ovn, edpm-ansible-centos-stream-molecule-edpm_podman, edpm-ansible-centos-stream-molecule-edpm_ssh_known_hosts, edpm-ansible-centos-stream-molecule-edpm_sshd, edpm-ansible-centos-stream-molecule-edpm_timezone, edpm-ansible-centos-stream-role-addition

edpm-ansible-molecule-edpm_accel_drivers:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_accel_drivers

edpm-ansible-molecule-edpm_bootstrap:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_bootstrap

edpm-ansible-molecule-edpm_podman:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_podman

edpm-ansible-molecule-edpm_module_load:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_module_load

edpm-ansible-molecule-edpm_kernel:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_kernel

edpm-ansible-molecule-edpm_libvirt:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_libvirt

edpm-ansible-molecule-edpm_nova:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_nova

edpm-ansible-molecule-edpm_frr:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_frr

edpm-ansible-molecule-edpm_iscsid:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_iscsid

edpm-ansible-molecule-edpm_ovn_bgp_agent:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_ovn_bgp_agent

edpm-ansible-molecule-edpm_ovs:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_ovs

edpm-ansible-molecule-edpm_tripleo_cleanup:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_tripleo_cleanup

edpm-ansible-molecule-edpm_tuned:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_tuned

edpm-ansible-molecule-edpm_telemetry_power_monitoring:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_telemetry_power_monitoring

edpm-ansible-molecule-edpm_update:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_update

edpm-ansible-centos-stream-molecule-env_data:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: env_data

edpm-ansible-centos-stream-molecule-test_deps:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: test_deps

edpm-ansible-centos-stream-molecule-chrony:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: chrony

edpm-ansible-centos-stream-molecule-edpm_bootstrap:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_bootstrap

edpm-ansible-centos-stream-molecule-edpm_ceph_client_files:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_ceph_client_files

edpm-ansible-centos-stream-molecule-edpm_container_manage:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_container_manage
  voting: false

edpm-ansible-centos-stream-molecule-edpm_container_rm:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_container_rm

edpm-ansible-centos-stream-molecule-edpm_container_standalone:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_container_standalone

edpm-ansible-centos-stream-molecule-edpm_hosts_entries:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_hosts_entries

edpm_ovs_dpdk: add generic edpm_ovs_other_config passthrough
  docs/source/roles/role-edpm_ovs_dpdk.rst
  roles/edpm_ovs_dpdk/defaults/main.yml
  roles/edpm_ovs_dpdk/meta/argument_specs.yml
  roles/edpm_ovs_dpdk/tasks/configure.yml
Due: none

Add edpm_cyborg role for Cyborg agent dataplane deployment
  .github/workflows/molecule.yaml
  docs/source/playbooks/cyborg.rst
  docs/source/roles/role-edpm_cyborg.rst
  playbooks/cyborg.yml
  roles/edpm_cyborg/defaults/main.yml
  roles/edpm_cyborg/files/kolla_config/cyborg_agent.yaml
  roles/edpm_cyborg/handlers/main.yml
  roles/edpm_cyborg/meta/argument_specs.yml
  roles/edpm_cyborg/meta/main.yml
  roles/edpm_cyborg/molecule/default/collections.yml
  roles/edpm_cyborg/molecule/default/converge.yml
  roles/edpm_cyborg/molecule/default/molecule.yml
  roles/edpm_cyborg/molecule/default/prepare.yml
  roles/edpm_cyborg/molecule/default/test-data/01-cyborg.conf
  roles/edpm_cyborg/molecule/default/verify.yml
  roles/edpm_cyborg/tasks/configure.yml
  roles/edpm_cyborg/tasks/download_cache.yml
  roles/edpm_cyborg/tasks/install.yml
  roles/edpm_cyborg/tasks/main.yml
  roles/edpm_cyborg/templates/quadlet/cyborg_agent.container.j2
  roles/edpm_download_cache/tasks/container_images.yml
Due: none

Make BGP graceful-shutdown configurable for eBGP support
  roles/edpm_frr/defaults/main.yml
  roles/edpm_frr/meta/argument_specs.yml
  roles/edpm_frr/templates/config/frr.conf.j2
Due: edpm-ansible-molecule-edpm_frr

Fix edpm_bootstrap failed_when logic that silently ignores failures
  roles/edpm_bootstrap/molecule/default/verify.yml
  roles/edpm_bootstrap/tasks/packages.yml
Due: edpm-ansible-molecule-edpm_bootstrap

Add post-quantum SSH key exchange crypto-policy toggle
  roles/edpm_bootstrap/defaults/main.yml
  roles/edpm_bootstrap/handlers/main.yml
  roles/edpm_bootstrap/meta/argument_specs.yml
  roles/edpm_bootstrap/molecule/default/converge.yml
  roles/edpm_bootstrap/molecule/default/molecule.yml
  roles/edpm_bootstrap/molecule/default/verify.yml
  roles/edpm_bootstrap/tasks/bootstrap.yml
  roles/edpm_bootstrap/tasks/pq_crypto_policy.yml
Due: edpm-ansible-molecule-edpm_bootstrap

Remove kolla dependency from neutron ovn_agent
  roles/edpm_neutron_ovn/defaults/main.yml
  roles/edpm_neutron_ovn/files/kolla_config/kolla_ovn_agent.yaml
  roles/edpm_neutron_ovn/meta/argument_specs.yml
  roles/edpm_neutron_ovn/tasks/run.yml
  roles/edpm_neutron_ovn/templates/quadlet/ovn_agent.container.j2
  roles/edpm_neutron_ovn/templates/quadlet/ovn_agent_init.container.j2
Due: none

Remove kolla dependency from ovn_controller
  roles/edpm_ovn/defaults/main.yml
  roles/edpm_ovn/meta/argument_specs.yml
  roles/edpm_ovn/molecule/default/verify-quadlet.yml
  roles/edpm_ovn/tasks/run.yml
  roles/edpm_ovn/templates/kolla_config/kolla_ovn_controller.yaml.j2
  roles/edpm_ovn/templates/quadlet/ovn_controller.container.j2
Due: none

Fix molecule for ovn
  roles/edpm_ovn/molecule/resource_providers/verify.yml
Due: none

Remove kolla dependency from neutron ovn_metadata_agent
  roles/edpm_neutron_metadata/defaults/main.yml
  roles/edpm_neutron_metadata/files/kolla_config/kolla_ovn_metadata_agent.yaml
  roles/edpm_neutron_metadata/meta/argument_specs.yml
  roles/edpm_neutron_metadata/tasks/run.yml
  roles/edpm_neutron_metadata/templates/quadlet/ovn_metadata_agent.container.j2
  roles/edpm_neutron_metadata/templates/quadlet/ovn_metadata_agent_init.container.j2
Due: none

Remove kolla dependency from swift
  roles/edpm_swift/defaults/main.yml
  roles/edpm_swift/files/kolla_config/rsync.yaml
  roles/edpm_swift/files/kolla_config/swift_account_auditor.yaml
  roles/edpm_swift/files/kolla_config/swift_account_reaper.yaml
  roles/edpm_swift/files/kolla_config/swift_account_replicator.yaml
  roles/edpm_swift/files/kolla_config/swift_account_server.yaml
  roles/edpm_swift/files/kolla_config/swift_container_auditor.yaml
  roles/edpm_swift/files/kolla_config/swift_container_replicator.yaml
  roles/edpm_swift/files/kolla_config/swift_container_server.yaml
  roles/edpm_swift/files/kolla_config/swift_container_updater.yaml
  roles/edpm_swift/files/kolla_config/swift_object_auditor.yaml
  roles/edpm_swift/files/kolla_config/swift_object_expirer.yaml
  roles/edpm_swift/files/kolla_config/swift_object_replicator.yaml
  roles/edpm_swift/files/kolla_config/swift_object_server.yaml
  roles/edpm_swift/files/kolla_config/swift_object_updater.yaml
  roles/edpm_swift/molecule/default/prepare.yml
  roles/edpm_swift/molecule/default/verify.yml
  roles/edpm_swift/tasks/configure.yml
  roles/edpm_swift/tasks/run.yml
  roles/edpm_swift/templates/quadlet/rsync.container.j2
  roles/edpm_swift/templates/quadlet/swift_account_auditor.container.j2
  roles/edpm_swift/templates/quadlet/swift_account_reaper.container.j2
  roles/edpm_swift/templates/quadlet/swift_account_replicator.container.j2
  roles/edpm_swift/templates/quadlet/swift_account_server.container.j2
  roles/edpm_swift/templates/quadlet/swift_container_auditor.container.j2
  roles/edpm_swift/templates/quadlet/swift_container_replicator.container.j2
  roles/edpm_swift/templates/quadlet/swift_container_server.container.j2
  roles/edpm_swift/templates/quadlet/swift_container_updater.container.j2
  roles/edpm_swift/templates/quadlet/swift_object_auditor.container.j2
  roles/edpm_swift/templates/quadlet/swift_object_expirer.container.j2
  roles/edpm_swift/templates/quadlet/swift_object_replicator.container.j2
  roles/edpm_swift/templates/quadlet/swift_object_server.container.j2
  roles/edpm_swift/templates/quadlet/swift_object_updater.container.j2
Due: none

Remove kolla dependency from ceilometer_agent_compute
  roles/edpm_telemetry/defaults/main.yml
  roles/edpm_telemetry/files/kolla_config/ceilometer_agent_compute.yaml
  roles/edpm_telemetry/molecule/default/verify.yml
  roles/edpm_telemetry/tasks/configure.yml
  roles/edpm_telemetry/tasks/exporter.yml
  roles/edpm_telemetry/templates/quadlet/ceilometer_agent_compute.container.j2
Due: none

Remove kolla dependency from nova_compute
  roles/edpm_nova/defaults/main.yml
  roles/edpm_nova/files/kolla_config/nova_compute.yaml
  roles/edpm_nova/molecule/default/verify.yml
  roles/edpm_nova/tasks/configure.yml
  roles/edpm_nova/tasks/install.yml
  roles/edpm_nova/tasks/update.yml
  roles/edpm_nova/templates/kolla_config/nova_nvme_cleaner.yaml.j2
  roles/edpm_nova/templates/quadlet/nova_compute.container.j2
  roles/edpm_nova/templates/quadlet/nova_compute_init.container.j2
  roles/edpm_nova/templates/quadlet/nova_nvme_cleaner.container.j2
Due: edpm-ansible-molecule-edpm_nova

Remove kolla dependency from cyborg_agent
  roles/edpm_cyborg/defaults/main.yml
  roles/edpm_cyborg/files/kolla_config/cyborg_agent.yaml
  roles/edpm_cyborg/molecule/default/converge.yml
  roles/edpm_cyborg/molecule/default/verify.yml
  roles/edpm_cyborg/tasks/configure.yml
  roles/edpm_cyborg/tasks/install.yml
  roles/edpm_cyborg/templates/quadlet/cyborg_agent.container.j2
  roles/edpm_cyborg/templates/quadlet/cyborg_agent_init.container.j2
Due: none

EDPM nmstate tool support
  roles/edpm_network_config/defaults/main.yml
  roles/edpm_network_config/molecule/nmstate/converge.yml
  roles/edpm_network_config/tasks/nmstate_tool.yml
Due: none

Remove kolla dependency from ovn_bgp_agent
  .ansible-lint
  roles/edpm_ovn_bgp_agent/defaults/main.yml
  roles/edpm_ovn_bgp_agent/files/kolla_config/ovn_bgp_agent.yaml
  roles/edpm_ovn_bgp_agent/meta/argument_specs.yml
  roles/edpm_ovn_bgp_agent/molecule/default/converge.yml
  roles/edpm_ovn_bgp_agent/molecule/default/verify.yml
  roles/edpm_ovn_bgp_agent/molecule/local_ovn/converge.yml
  roles/edpm_ovn_bgp_agent/molecule/local_ovn/verify.yml
  roles/edpm_ovn_bgp_agent/tasks/configure.yml
  roles/edpm_ovn_bgp_agent/tasks/install_ovn.yml
  roles/edpm_ovn_bgp_agent/tasks/run.yml
  roles/edpm_ovn_bgp_agent/tasks/run_ovn.yml
  roles/edpm_ovn_bgp_agent/templates/kolla_config/bgp_ovn_controller.yaml.j2
  roles/edpm_ovn_bgp_agent/templates/kolla_config/nb_db_server.yaml.j2
  roles/edpm_ovn_bgp_agent/templates/kolla_config/northd.yaml.j2
  roles/edpm_ovn_bgp_agent/templates/kolla_config/sb_db_server.yaml.j2
  roles/edpm_ovn_bgp_agent/templates/quadlet/bgp_ovn_controller.container.j2
  roles/edpm_ovn_bgp_agent/templates/quadlet/nb_db_server.container.j2
  roles/edpm_ovn_bgp_agent/templates/quadlet/northd.container.j2
  roles/edpm_ovn_bgp_agent/templates/quadlet/ovn_bgp_agent.container.j2
  roles/edpm_ovn_bgp_agent/templates/quadlet/sb_db_server.container.j2
Due: edpm-ansible-molecule-edpm_ovn_bgp_agent

Fix molecule kernel_pin test: disable remove_old to avoid local reboot
  roles/edpm_accel_drivers/molecule/kernel_pin/converge.yml
  roles/edpm_accel_drivers/molecule/kernel_pin/prepare.yml
  roles/edpm_accel_drivers/molecule/kernel_pin/verify.yml
Due: edpm-ansible-molecule-edpm_accel_drivers

Add kernel version pinning to edpm_accel_drivers role
  roles/edpm_accel_drivers/tasks/install_from_rpm.yml
  roles/edpm_accel_drivers/tasks/kernel_pin.yml
Due: edpm-ansible-molecule-edpm_accel_drivers

Add Vagrant-specific converge for kernel_pin with removal testing
  roles/edpm_accel_drivers/molecule/kernel_pin_vagrant/converge.yml
  roles/edpm_accel_drivers/molecule/kernel_pin_vagrant/molecule.yml
Due: edpm-ansible-molecule-edpm_accel_drivers

Fix: add final newline to verify.yml
  roles/edpm_accel_drivers/molecule/kernel_pin/verify.yml
Due: edpm-ansible-molecule-edpm_accel_drivers

Improve kernel_pin molecule test with random kernel selection
  roles/edpm_accel_drivers/molecule/kernel_pin/prepare.yml
Due: edpm-ansible-molecule-edpm_accel_drivers

Remove kolla dependency from neutron dhcp_agent
  roles/edpm_neutron_dhcp/defaults/main.yml
  roles/edpm_neutron_dhcp/files/kolla_config/neutron_dhcp_agent.yaml
  roles/edpm_neutron_dhcp/meta/argument_specs.yml
  roles/edpm_neutron_dhcp/molecule/default/tests/test_neutron_dhcp.py
  roles/edpm_neutron_dhcp/tasks/run.yml
  roles/edpm_neutron_dhcp/templates/quadlet/neutron_dhcp_agent.container.j2
  roles/edpm_neutron_dhcp/templates/quadlet/neutron_dhcp_init.container.j2
Due: none

Fix IndexError in random kernel selection
  roles/edpm_accel_drivers/molecule/kernel_pin/prepare.yml
Due: edpm-ansible-molecule-edpm_accel_drivers

Fix verify.yml to handle merged dnf excludes
  roles/edpm_accel_drivers/molecule/kernel_pin/verify.yml
Due: edpm-ansible-molecule-edpm_accel_drivers

Remove kolla dependency from ceilometer_agent_ipmi
  roles/edpm_telemetry_power_monitoring/defaults/main.yml
  roles/edpm_telemetry_power_monitoring/files/kolla_config/ceilometer_agent_ipmi.yaml
  roles/edpm_telemetry_power_monitoring/molecule/default/verify.yml
  roles/edpm_telemetry_power_monitoring/tasks/configure.yml
  roles/edpm_telemetry_power_monitoring/tasks/install.yml
  roles/edpm_telemetry_power_monitoring/templates/quadlet/ceilometer_agent_ipmi.container.j2
Due: edpm-ansible-molecule-edpm_telemetry_power_monitoring

Remove kolla dependency from frr
  roles/edpm_frr/defaults/main.yml
  roles/edpm_frr/files/kolla_config/frr.yaml
  roles/edpm_frr/meta/argument_specs.yml
  roles/edpm_frr/molecule/default/verify.yml
  roles/edpm_frr/tasks/run.yml
  roles/edpm_frr/templates/quadlet/frr.container.j2
  roles/edpm_frr/templates/quadlet/frr_init.container.j2
Due: edpm-ansible-molecule-edpm_frr

Remove kolla dependency from neutron sriov_agent
  roles/edpm_neutron_sriov/defaults/main.yml
  roles/edpm_neutron_sriov/files/kolla_config/kolla_neutron_sriov_agent.yaml
  roles/edpm_neutron_sriov/meta/argument_specs.yml
  roles/edpm_neutron_sriov/molecule/default/verify.yml
  roles/edpm_neutron_sriov/tasks/run.yml
  roles/edpm_neutron_sriov/templates/quadlet/neutron_sriov_agent.container.j2
  roles/edpm_neutron_sriov/templates/quadlet/neutron_sriov_agent_init.container.j2
Due: none

Remove kernel removal logic per Miguel's feedback
  roles/edpm_accel_drivers/defaults/main.yml
  roles/edpm_accel_drivers/meta/argument_specs.yml
  roles/edpm_accel_drivers/molecule/kernel_pin/converge.yml
  roles/edpm_accel_drivers/molecule/kernel_pin_vagrant/converge.yml
  roles/edpm_accel_drivers/tasks/kernel_pin.yml
Due: edpm-ansible-molecule-edpm_accel_drivers

Fix verify.yml regex handling for missing exclude line
  roles/edpm_accel_drivers/molecule/kernel_pin/verify.yml
Due: edpm-ansible-molecule-edpm_accel_drivers

Fix kernel_pin.yml regex handling for missing exclude line
  roles/edpm_accel_drivers/tasks/kernel_pin.yml
Due: edpm-ansible-molecule-edpm_accel_drivers

Fix DNF exclude regex to handle whitespace around =
  roles/edpm_accel_drivers/molecule/kernel_pin/verify.yml
  roles/edpm_accel_drivers/tasks/kernel_pin.yml
Due: edpm-ansible-molecule-edpm_accel_drivers

Clean up Kepler container and config artifacts during update
  roles/edpm_telemetry_power_monitoring/tasks/update.yml
  roles/edpm_update_services/tasks/containers.yml
Due: edpm-ansible-molecule-edpm_telemetry_power_monitoring

Add kernel version pinning to edpm_accel_drivers role
  roles/edpm_accel_drivers/defaults/main.yml
  roles/edpm_accel_drivers/meta/argument_specs.yml
  roles/edpm_accel_drivers/molecule/kernel_pin/converge.yml
  roles/edpm_accel_drivers/molecule/kernel_pin/molecule.yml
  roles/edpm_accel_drivers/molecule/kernel_pin/prepare.yml
  roles/edpm_accel_drivers/molecule/kernel_pin/verify.yml
  roles/edpm_accel_drivers/molecule/kernel_pin_vagrant/molecule.yml
  roles/edpm_accel_drivers/tasks/install_from_rpm.yml
  roles/edpm_accel_drivers/tasks/kernel_pin.yml
  roles/edpm_accel_drivers/tasks/main.yml
  zuul.d/jobs.yaml
Due: edpm-ansible-molecule-edpm_accel_drivers

Apply suggestion from @MiguelCarpio
  roles/edpm_accel_drivers/molecule/kernel_pin_vagrant/molecule.yml
Due: edpm-ansible-molecule-edpm_accel_drivers

Apply suggestion from @MiguelCarpio
  roles/edpm_accel_drivers/molecule/kernel_pin/prepare.yml
Due: edpm-ansible-molecule-edpm_accel_drivers

Fix kernel_pin molecule test to use repo kernels
  roles/edpm_accel_drivers/molecule/kernel_pin/prepare.yml
  roles/edpm_accel_drivers/molecule/kernel_pin_vagrant/molecule.yml
Due: edpm-ansible-molecule-edpm_accel_drivers

Path conditions:
  edpm-ansible-molecule-edpm_accel_drivers: any of: ^roles/edpm_accel_drivers/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_bootstrap: any of: ^roles/edpm_bootstrap/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_podman: any of: ^roles/edpm_podman/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_module_load: any of: ^roles/edpm_module_load/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_kernel: any of: ^roles/edpm_kernel/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_libvirt: any of: ^roles/edpm_libvirt/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_nova: any of: ^roles/edpm_nova/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_frr: any of: ^roles/edpm_frr/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_iscsid: any of: ^roles/edpm_iscsid/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_ovn_bgp_agent: any of: ^roles/edpm_ovn_bgp_agent/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_ovs: any of: ^roles/edpm_ovs/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_tripleo_cleanup: any of: ^roles/edpm_tripleo_cleanup/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_tuned: any of: ^roles/edpm_tuned/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_telemetry_power_monitoring: any of: ^roles/edpm_telemetry_power_monitoring/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_update: any of: ^roles/edpm_update/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-centos-stream-molecule-env_data: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/env_data/(?!meta).*
  edpm-ansible-centos-stream-molecule-test_deps: any of: ^molecule-requirements.txt, ^.config/molecule/config.yml, ^edpm_ansible/roles/test_deps/(?!meta).*, ^zuul.d/playbooks/pre.yml
  edpm-ansible-centos-stream-molecule-chrony: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/chrony/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_bootstrap: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_bootstrap/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ceph_client_files: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ceph_client_files/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_container_manage: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_manage/(?!meta).*, ^edpm_ansible/roles/edpm_container_rm/.*, ^edpm_ansible/ansible_plugins/action/container_systemd.py$, ^edpm_ansible/ansible_plugins/filter/helpers.py$, ^edpm_ansible/ansible_plugins/modules/container_config_data.py$, ^edpm_ansible/ansible_plugins/modules/container_config_hash.py$
  edpm-ansible-centos-stream-molecule-edpm_container_rm: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_rm/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_container_standalone: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_standalone/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_hosts_entries: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_hosts_entries/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_iscsid: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_iscsid/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_kernel: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_kernel/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_logrotate_crond: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_logrotate_crond/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_module_load: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_module_load/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_network_config: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_network_config/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_os_net_config.py, ^edpm_ansible/ansible_plugins/modules/edpm_os_net_config_mappings.py
  edpm-ansible-centos-stream-molecule-edpm_nftables: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nftables/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_nftables_from_files.py, ^edpm_ansible/ansible_plugins/modules/edpm_nftables_snippet.py
  edpm-ansible-centos-stream-molecule-edpm_nodes_validation: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nodes_validation/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nova_libvirt: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nova_libvirt/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nova_compute: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nova_compute/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nvdimm: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nvdimm/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ovn: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ovn/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_ovn_mac_addresses.py
  edpm-ansible-centos-stream-molecule-edpm_podman: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_podman/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ssh_known_hosts: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ssh_known_hosts/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_sshd: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_sshd/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_timezone: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_timezone/(?!meta).*
  edpm-ansible-centos-stream-role-addition: any of: ^.config/molecule/config.yml, ^_skeleton_role_/.*, ^role-addition.yml, ^tox.ini, ^molecule-requirements.txt, ^zuul.d/playbooks/.*, ^zuul.d/molecule.yaml
