Repository openstack-k8s-operators/edpm-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: edpm-ansible-molecule-edpm_bootstrap, edpm-ansible-molecule-edpm_podman, edpm-ansible-molecule-edpm_module_load, edpm-ansible-molecule-edpm_kernel, edpm-ansible-molecule-edpm_libvirt, edpm-ansible-molecule-edpm_nova, edpm-ansible-molecule-edpm_frr, edpm-ansible-molecule-edpm_iscsid, edpm-ansible-molecule-edpm_ovn_bgp_agent, edpm-ansible-molecule-edpm_ovs, edpm-ansible-molecule-edpm_tripleo_cleanup, edpm-ansible-molecule-edpm_tuned, edpm-ansible-molecule-edpm_telemetry_power_monitoring, edpm-ansible-centos-stream-molecule-env_data, edpm-ansible-centos-stream-molecule-test_deps, edpm-ansible-centos-stream-molecule-chrony, edpm-ansible-centos-stream-molecule-edpm_bootstrap, edpm-ansible-centos-stream-molecule-edpm_ceph_client_files, edpm-ansible-centos-stream-molecule-edpm_container_manage, edpm-ansible-centos-stream-molecule-edpm_container_rm, edpm-ansible-centos-stream-molecule-edpm_container_standalone, edpm-ansible-centos-stream-molecule-edpm_hosts_entries, edpm-ansible-centos-stream-molecule-edpm_iscsid, edpm-ansible-centos-stream-molecule-edpm_kernel, edpm-ansible-centos-stream-molecule-edpm_logrotate_crond, edpm-ansible-centos-stream-molecule-edpm_module_load, edpm-ansible-centos-stream-molecule-edpm_network_config, edpm-ansible-centos-stream-molecule-edpm_nftables, edpm-ansible-centos-stream-molecule-edpm_nodes_validation, edpm-ansible-centos-stream-molecule-edpm_nova_libvirt, edpm-ansible-centos-stream-molecule-edpm_nova_compute, edpm-ansible-centos-stream-molecule-edpm_nvdimm, edpm-ansible-centos-stream-molecule-edpm_ovn, edpm-ansible-centos-stream-molecule-edpm_podman, edpm-ansible-centos-stream-molecule-edpm_ssh_known_hosts, edpm-ansible-centos-stream-molecule-edpm_sshd, edpm-ansible-centos-stream-molecule-edpm_timezone, edpm-ansible-centos-stream-role-addition

Path conditions:
  edpm-ansible-molecule-edpm_bootstrap: any of: ^roles/edpm_bootstrap/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_podman: any of: ^roles/edpm_podman/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_module_load: any of: ^roles/edpm_module_load/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_kernel: any of: ^roles/edpm_kernel/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_libvirt: any of: ^roles/edpm_libvirt/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_nova: any of: ^roles/edpm_nova/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_frr: any of: ^roles/edpm_frr/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_iscsid: any of: ^roles/edpm_iscsid/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_ovn_bgp_agent: any of: ^roles/edpm_ovn_bgp_agent/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_ovs: any of: ^roles/edpm_ovs/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_tripleo_cleanup: any of: ^roles/edpm_tripleo_cleanup/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_tuned: any of: ^roles/edpm_tuned/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_telemetry_power_monitoring: any of: ^roles/edpm_telemetry_power_monitoring/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-centos-stream-molecule-env_data: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/env_data/(?!meta).*
  edpm-ansible-centos-stream-molecule-test_deps: any of: ^molecule-requirements.txt, ^.config/molecule/config.yml, ^edpm_ansible/roles/test_deps/(?!meta).*, ^zuul.d/playbooks/pre.yml
  edpm-ansible-centos-stream-molecule-chrony: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/chrony/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_bootstrap: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_bootstrap/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ceph_client_files: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ceph_client_files/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_container_manage: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_manage/(?!meta).*, ^edpm_ansible/roles/edpm_container_rm/.*, ^edpm_ansible/ansible_plugins/action/container_systemd.py$, ^edpm_ansible/ansible_plugins/filter/helpers.py$, ^edpm_ansible/ansible_plugins/modules/container_config_data.py$, ^edpm_ansible/ansible_plugins/modules/container_config_hash.py$
  edpm-ansible-centos-stream-molecule-edpm_container_rm: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_rm/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_container_standalone: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_standalone/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_hosts_entries: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_hosts_entries/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_iscsid: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_iscsid/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_kernel: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_kernel/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_logrotate_crond: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_logrotate_crond/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_module_load: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_module_load/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_network_config: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_network_config/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_os_net_config.py, ^edpm_ansible/ansible_plugins/modules/edpm_os_net_config_mappings.py
  edpm-ansible-centos-stream-molecule-edpm_nftables: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nftables/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_nftables_from_files.py, ^edpm_ansible/ansible_plugins/modules/edpm_nftables_snippet.py
  edpm-ansible-centos-stream-molecule-edpm_nodes_validation: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nodes_validation/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nova_libvirt: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nova_libvirt/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nova_compute: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nova_compute/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nvdimm: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nvdimm/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ovn: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ovn/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_ovn_mac_addresses.py
  edpm-ansible-centos-stream-molecule-edpm_podman: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_podman/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ssh_known_hosts: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ssh_known_hosts/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_sshd: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_sshd/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_timezone: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_timezone/(?!meta).*
  edpm-ansible-centos-stream-role-addition: any of: ^.config/molecule/config.yml, ^_skeleton_role_/.*, ^role-addition.yml, ^tox.ini, ^molecule-requirements.txt, ^zuul.d/playbooks/.*, ^zuul.d/molecule.yaml

Cleanup old edpm and tripleo services
  roles/edpm_container_quadlet/tasks/cleanup.yml
Due: none

DNS config is not updated for nmstate provider
  roles/edpm_bootstrap/defaults/main.yml
Due: edpm-ansible-molecule-edpm_bootstrap

edpm_kernel: bootc support
  playbooks/bootstrap.yml
  roles/edpm_kernel/tasks/kernelargs.yml
Due: edpm-ansible-molecule-edpm_kernel

Move OVN controller to quadlets
  roles/edpm_ovn/defaults/main.yml
  roles/edpm_ovn/molecule/default/prepare.yml
  roles/edpm_ovn/tasks/run.yml
Due: none

Create dummy cert files for molecule tests
  roles/edpm_ovn/molecule/default/prepare.yml
  roles/edpm_ovn/molecule/noconfig/prepare.yml
Due: none

Change healthcheck script to align with pod naming
  roles/edpm_ovn/tasks/healthchecks.yml
Due: none

Only cleanup if the old service exists
  roles/edpm_ovn/tasks/run.yml
Due: none

[DNM] debug systemd output
  roles/edpm_container_quadlet/tasks/main.yml
Due: none

Conditionally add TLS volumes
  roles/edpm_ovn/defaults/main.yml
Due: none

Default nmstate provider changes
  roles/edpm_bootstrap/defaults/main.yml
  roles/edpm_network_config/defaults/main.yml
  roles/edpm_network_config/meta/argument_specs.yml
Due: edpm-ansible-molecule-edpm_bootstrap

Only cleanup if the old service exists
  roles/edpm_container_quadlet/tasks/cleanup.yml
  roles/edpm_ovn/tasks/run.yml
Due: none

Check an FQDN is set
  roles/edpm_nodes_validation/defaults/main.yml
  roles/edpm_nodes_validation/meta/argument_specs.yml
  roles/edpm_nodes_validation/molecule/default/prepare.yml
  roles/edpm_nodes_validation/molecule/default/test_vars.yml
  roles/edpm_nodes_validation/tasks/main.yml
Due: none

avoid rw permissions on system files for exporters
  roles/edpm_telemetry/templates/openstack_network_exporter.json.j2
  roles/edpm_telemetry/templates/podman_exporter.json.j2
Due: none

edpm_kernel: bootc molecule tests
  roles/edpm_kernel/molecule/kernelargs-update-bootc/converge.yml
  roles/edpm_kernel/molecule/kernelargs-update-bootc/molecule.yml
  roles/edpm_kernel/molecule/kernelargs-update-bootc/test_kernelargs.yml
  roles/edpm_kernel/molecule/kernelargs-update-bootc/verify.yml
  roles/edpm_kernel/resources/molecule/prepare-bootc.yml
Due: edpm-ansible-molecule-edpm_kernel

Add edpm_update_services role
  roles/edpm_update_services/defaults/main.yml
  roles/edpm_update_services/meta/argument_specs.yml
  roles/edpm_update_services/meta/main.yml
  roles/edpm_update_services/molecule/default/converge.yml
  roles/edpm_update_services/molecule/default/molecule.yml
  roles/edpm_update_services/molecule/default/prepare.yml
  roles/edpm_update_services/tasks/containers.yml
  roles/edpm_update_services/tasks/main.yml
  roles/edpm_update_services/tasks/packages.yml
Due: none

Add edpm_update_system role
  roles/edpm_update_system/defaults/main.yml
  roles/edpm_update_system/meta/argument_specs.yml
  roles/edpm_update_system/meta/main.yml
  roles/edpm_update_system/molecule/default/converge.yml
  roles/edpm_update_system/molecule/default/molecule.yml
  roles/edpm_update_system/molecule/default/prepare.yml
  roles/edpm_update_system/molecule/kpatch/converge.yml
  roles/edpm_update_system/molecule/kpatch/molecule.yml
  roles/edpm_update_system/molecule/kpatch/prepare.yml
  roles/edpm_update_system/tasks/kpatch.yml
  roles/edpm_update_system/tasks/main.yml
  roles/edpm_update_system/tasks/packages.yml
Due: none

Allow traffic for the ceilometer_ipmi_prom_exporter in power_monitoring module
  roles/edpm_telemetry/templates/firewall.yaml.j2
  roles/edpm_telemetry_power_monitoring/templates/firewall.yaml.j2
Due: edpm-ansible-molecule-edpm_telemetry_power_monitoring

Create Tls Config in ceilometer_ipmi
  roles/edpm_telemetry_power_monitoring/tasks/configure.yml
  roles/edpm_telemetry_power_monitoring/tasks/exporter_tls.yml
  roles/edpm_telemetry_power_monitoring/templates/ceilometer_agent_ipmi.json.j2
  roles/edpm_telemetry_power_monitoring/templates/ceilometer_prom_exporter.yaml.j2
Due: edpm-ansible-molecule-edpm_telemetry_power_monitoring

Add variable to override all download retries
  roles/edpm_bootstrap/defaults/main.yml
  roles/edpm_frr/defaults/main.yml
  roles/edpm_iscsid/defaults/main.yml
  roles/edpm_kernel/defaults/main.yml
  roles/edpm_libvirt/defaults/main.yml
  roles/edpm_logrotate_crond/defaults/main.yml
  roles/edpm_multipathd/defaults/main.yml
  roles/edpm_network_config/defaults/main.yml
  roles/edpm_neutron_dhcp/defaults/main.yml
  roles/edpm_neutron_metadata/defaults/main.yml
  roles/edpm_neutron_ovn/defaults/main.yml
  roles/edpm_neutron_sriov/defaults/main.yml
  roles/edpm_nova/defaults/main.yml
  roles/edpm_ovn/defaults/main.yml
  roles/edpm_ovn_bgp_agent/defaults/main.yml
  roles/edpm_ovs/defaults/main.yml
  roles/edpm_podman/defaults/main.yml
  roles/edpm_sshd/defaults/main.yml
  roles/edpm_swift/defaults/main.yml
  roles/edpm_telemetry/defaults/main.yml
  roles/edpm_telemetry_power_monitoring/defaults/main.yml
  roles/edpm_tuned/defaults/main.yml
Due: edpm-ansible-molecule-edpm_bootstrap, edpm-ansible-molecule-edpm_podman, edpm-ansible-molecule-edpm_kernel, edpm-ansible-molecule-edpm_libvirt, edpm-ansible-molecule-edpm_nova, edpm-ansible-molecule-edpm_frr, edpm-ansible-molecule-edpm_iscsid, edpm-ansible-molecule-edpm_ovn_bgp_agent, edpm-ansible-molecule-edpm_ovs, edpm-ansible-molecule-edpm_tuned, edpm-ansible-molecule-edpm_telemetry_power_monitoring

Replace tripleo-repos with repo-setup
  molecule/common/Containerfile.j2
  molecule/common/test_deps/tasks/main.yml
Due: none

[DNM] os-net-config mol check
  molecule/common/test_deps/tasks/main.yml
  roles/edpm_bootstrap/defaults/main.yml
  roles/edpm_network_config/defaults/main.yml
Due: edpm-ansible-molecule-edpm_bootstrap

[OSPRH-16912] Make sure that the libvirt group always exist
  roles/edpm_telemetry/tasks/configure.yml
Due: none

Add update_services and update_system playbooks
  playbooks/update_services.yml
  playbooks/update_system.yml
Due: none

Increase default delay between download retries
  roles/edpm_bootstrap/defaults/main.yml
  roles/edpm_frr/defaults/main.yml
  roles/edpm_iscsid/defaults/main.yml
  roles/edpm_kernel/defaults/main.yml
  roles/edpm_libvirt/defaults/main.yml
  roles/edpm_logrotate_crond/defaults/main.yml
  roles/edpm_multipathd/defaults/main.yml
  roles/edpm_network_config/defaults/main.yml
  roles/edpm_neutron_dhcp/defaults/main.yml
  roles/edpm_neutron_metadata/defaults/main.yml
  roles/edpm_neutron_ovn/defaults/main.yml
  roles/edpm_neutron_sriov/defaults/main.yml
  roles/edpm_nova/defaults/main.yml
  roles/edpm_ovn/defaults/main.yml
  roles/edpm_ovn_bgp_agent/defaults/main.yml
  roles/edpm_ovs/defaults/main.yml
  roles/edpm_podman/defaults/main.yml
  roles/edpm_sshd/defaults/main.yml
  roles/edpm_swift/defaults/main.yml
  roles/edpm_telemetry/defaults/main.yml
  roles/edpm_telemetry_power_monitoring/defaults/main.yml
  roles/edpm_tuned/defaults/main.yml
Due: edpm-ansible-molecule-edpm_bootstrap, edpm-ansible-molecule-edpm_podman, edpm-ansible-molecule-edpm_kernel, edpm-ansible-molecule-edpm_libvirt, edpm-ansible-molecule-edpm_nova, edpm-ansible-molecule-edpm_frr, edpm-ansible-molecule-edpm_iscsid, edpm-ansible-molecule-edpm_ovn_bgp_agent, edpm-ansible-molecule-edpm_ovs, edpm-ansible-molecule-edpm_tuned, edpm-ansible-molecule-edpm_telemetry_power_monitoring

Make sure that the libvirt group always exist
  roles/edpm_telemetry/tasks/configure.yml
Due: none

Run molecule workflow against molecule dir
  .github/workflows/molecule.yaml
Due: none

Ensure we have the latest kpatch package
  roles/edpm_update_system/tasks/kpatch.yml
Due: none
