Repository openstack-k8s-operators/edpm-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: edpm-ansible-molecule-edpm_accel_drivers, edpm-ansible-molecule-edpm_bootstrap, edpm-ansible-molecule-edpm_podman, edpm-ansible-molecule-edpm_module_load, edpm-ansible-molecule-edpm_kernel, edpm-ansible-molecule-edpm_libvirt, edpm-ansible-molecule-edpm_nova, edpm-ansible-molecule-edpm_frr, edpm-ansible-molecule-edpm_iscsid, edpm-ansible-molecule-edpm_ovn_bgp_agent, edpm-ansible-molecule-edpm_ovs, edpm-ansible-molecule-edpm_tripleo_cleanup, edpm-ansible-molecule-edpm_tuned, edpm-ansible-molecule-edpm_telemetry_power_monitoring, edpm-ansible-molecule-edpm_update, edpm-ansible-centos-stream-molecule-env_data, edpm-ansible-centos-stream-molecule-test_deps, edpm-ansible-centos-stream-molecule-chrony, edpm-ansible-centos-stream-molecule-edpm_bootstrap, edpm-ansible-centos-stream-molecule-edpm_ceph_client_files, edpm-ansible-centos-stream-molecule-edpm_container_manage, edpm-ansible-centos-stream-molecule-edpm_container_rm, edpm-ansible-centos-stream-molecule-edpm_container_standalone, edpm-ansible-centos-stream-molecule-edpm_hosts_entries, edpm-ansible-centos-stream-molecule-edpm_iscsid, edpm-ansible-centos-stream-molecule-edpm_kernel, edpm-ansible-centos-stream-molecule-edpm_logrotate_crond, edpm-ansible-centos-stream-molecule-edpm_module_load, edpm-ansible-centos-stream-molecule-edpm_network_config, edpm-ansible-centos-stream-molecule-edpm_nftables, edpm-ansible-centos-stream-molecule-edpm_nodes_validation, edpm-ansible-centos-stream-molecule-edpm_nova_libvirt, edpm-ansible-centos-stream-molecule-edpm_nova_compute, edpm-ansible-centos-stream-molecule-edpm_nvdimm, edpm-ansible-centos-stream-molecule-edpm_ovn, edpm-ansible-centos-stream-molecule-edpm_podman, edpm-ansible-centos-stream-molecule-edpm_ssh_known_hosts, edpm-ansible-centos-stream-molecule-edpm_sshd, edpm-ansible-centos-stream-molecule-edpm_timezone, edpm-ansible-centos-stream-role-addition

edpm-ansible-molecule-edpm_accel_drivers:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_accel_drivers

edpm-ansible-molecule-edpm_bootstrap:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_bootstrap

edpm-ansible-molecule-edpm_podman:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_podman

edpm-ansible-molecule-edpm_module_load:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_module_load

edpm-ansible-molecule-edpm_kernel:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_kernel

edpm-ansible-molecule-edpm_libvirt:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_libvirt

edpm-ansible-molecule-edpm_nova:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_nova

edpm-ansible-molecule-edpm_frr:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_frr

edpm-ansible-molecule-edpm_iscsid:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_iscsid

edpm-ansible-molecule-edpm_ovn_bgp_agent:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_ovn_bgp_agent

edpm-ansible-molecule-edpm_ovs:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_ovs

edpm-ansible-molecule-edpm_tripleo_cleanup:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_tripleo_cleanup

edpm-ansible-molecule-edpm_tuned:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_tuned

edpm-ansible-molecule-edpm_telemetry_power_monitoring:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_telemetry_power_monitoring

edpm-ansible-molecule-edpm_update:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_update

edpm-ansible-centos-stream-molecule-env_data:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: env_data

edpm-ansible-centos-stream-molecule-test_deps:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: test_deps

edpm-ansible-centos-stream-molecule-chrony:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: chrony

edpm-ansible-centos-stream-molecule-edpm_bootstrap:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_bootstrap

edpm-ansible-centos-stream-molecule-edpm_ceph_client_files:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_ceph_client_files

edpm-ansible-centos-stream-molecule-edpm_container_manage:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_container_manage
  voting: false

edpm-ansible-centos-stream-molecule-edpm_container_rm:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_container_rm

edpm-ansible-centos-stream-molecule-edpm_container_standalone:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_container_standalone

edpm-ansible-centos-stream-molecule-edpm_hosts_entries:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_hosts_entries

Ovn-agent needs access to /run/frr to get access to vtysh socket
  roles/edpm_neutron_ovn/defaults/main.yml
  roles/edpm_neutron_ovn/meta/argument_specs.yml
  roles/edpm_neutron_ovn/molecule/default/prepare.yml
  roles/edpm_neutron_ovn/molecule/evpn_enabled/verify.yml
Due: none

Make /run/frr volume mount conditional on ovn-evpn extension
  roles/edpm_neutron_ovn/defaults/main.yml
  roles/edpm_neutron_ovn/meta/argument_specs.yml
  roles/edpm_neutron_ovn/molecule/evpn_disabled/verify.yml
  roles/edpm_neutron_ovn/templates/container_defs/ovn_agent.yaml.j2
Due: none

Improve evpn extension configuration
  roles/edpm_neutron_ovn/defaults/main.yml
  roles/edpm_neutron_ovn/meta/argument_specs.yml
  roles/edpm_neutron_ovn/molecule/evpn_disabled/verify.yml
  roles/edpm_neutron_ovn/molecule/evpn_enabled/converge.yml
  roles/edpm_neutron_ovn/molecule/evpn_enabled/verify.yml
  roles/edpm_neutron_ovn/tasks/configure.yml
  roles/edpm_neutron_ovn/templates/config/neutron-ovn-agent.conf.j2
  roles/edpm_neutron_ovn/templates/container_defs/ovn_agent.yaml.j2
Due: none

Fix kernel_pin_reboot molecule test for CI environments
  roles/edpm_accel_drivers/molecule/kernel_pin_reboot/converge.yml
  roles/edpm_accel_drivers/molecule/kernel_pin_reboot/prepare.yml
  roles/edpm_accel_drivers/molecule/kernel_pin_reboot/verify.yml
Due: edpm-ansible-molecule-edpm_accel_drivers

Fix molecule verify: mock grubby temp file permissions
  roles/edpm_accel_drivers/molecule/kernel_pin_reboot/prepare.yml
  roles/edpm_accel_drivers/molecule/kernel_pin_reboot/verify.yml
Due: edpm-ansible-molecule-edpm_accel_drivers

edpm_network_config: add PCI driver binding via driverctl
  docs/source/roles/role-edpm_network_config.rst
  plugins/tests/test_edpm_driver_bind.py
  roles/edpm_network_config/defaults/main.yml
  roles/edpm_network_config/files/edpm_driver_bind.py
  roles/edpm_network_config/meta/argument_specs.yml
  roles/edpm_network_config/tasks/driver_bind.yml
  roles/edpm_network_config/tasks/nmstate_tool.yml
Due: none

Add edpm_leapp_upgrade role for RHEL in-place OS upgrades
  playbooks/leapp_upgrade.yml
  roles/edpm_leapp_upgrade/README.md
  roles/edpm_leapp_upgrade/defaults/main.yml
  roles/edpm_leapp_upgrade/meta/argument_specs.yml
  roles/edpm_leapp_upgrade/meta/main.yml
  roles/edpm_leapp_upgrade/tasks/main.yml
  roles/edpm_leapp_upgrade/tasks/pre-validate.yml
  roles/edpm_leapp_upgrade/tasks/prepare.yml
  roles/edpm_leapp_upgrade/tasks/run.yml
  roles/edpm_leapp_upgrade/vars/main.yml
Due: none

Support per-scope sigstore remap targets
  roles/edpm_podman/defaults/main.yml
  roles/edpm_podman/meta/argument_specs.yml
  roles/edpm_podman/molecule/install/converge.yml
  roles/edpm_podman/tasks/install.yml
  zuul.d/projects.yaml
Due: edpm-ansible-molecule-edpm_podman

Fix runner summary helper invocation
  openstack_ansibleee/edpm_run_and_summarize.sh
Due: none

edpm_telemetry: add node_exporter_extra_args var
  roles/edpm_telemetry/defaults/main.yml
  roles/edpm_telemetry/templates/container_defs/node_exporter.yaml.j2
Due: none

Add edpm_telemetry_node_exporter_extra_args variable to allow customizing node_exporter collectors
  roles/edpm_telemetry/defaults/main.yml
  roles/edpm_telemetry/meta/argument_specs.yml
  roles/edpm_telemetry/templates/container_defs/node_exporter.yaml.j2
Due: none

Feat: Migrate edpm_telemetry to quadlet
  roles/edpm_telemetry/defaults/main.yml
  roles/edpm_telemetry/meta/argument_specs.yml
  roles/edpm_telemetry/molecule/default/prepare.yml
  roles/edpm_telemetry/molecule/default/verify.yml
  roles/edpm_telemetry/tasks/exporter.yml
  roles/edpm_telemetry/tasks/install.yml
  roles/edpm_telemetry/tasks/update.yml
  roles/edpm_telemetry/templates/container_defs/ceilometer_agent_compute.yaml.j2
  roles/edpm_telemetry/templates/container_defs/node_exporter.yaml.j2
  roles/edpm_telemetry/templates/container_defs/openstack_network_exporter.yaml.j2
  roles/edpm_telemetry/templates/container_defs/podman_exporter.yaml.j2
  roles/edpm_telemetry/templates/quadlet/ceilometer_agent_compute.container.j2
  roles/edpm_telemetry/templates/quadlet/node_exporter.container.j2
  roles/edpm_telemetry/templates/quadlet/openstack_network_exporter.container.j2
  roles/edpm_telemetry/templates/quadlet/podman_exporter.container.j2
Due: none

Switch container build from EL9 to EL10
  molecule/common/Containerfile.j2
  openstack_ansibleee/Containerfile
Due: none

Remove reboot functionality from edpm_accel_drivers role
  roles/edpm_accel_drivers/defaults/main.yml
  roles/edpm_accel_drivers/meta/argument_specs.yml
  roles/edpm_accel_drivers/molecule/kernel_pin/converge.yml
  roles/edpm_accel_drivers/molecule/kernel_pin/molecule.yml
  roles/edpm_accel_drivers/molecule/kernel_pin/prepare.yml
  roles/edpm_accel_drivers/molecule/kernel_pin/verify.yml
  roles/edpm_accel_drivers/tasks/main.yml
  roles/edpm_accel_drivers/tasks/reboot.yml
Due: edpm-ansible-molecule-edpm_accel_drivers

Safely expand ansible-runner settings defaults
  openstack_ansibleee/edpm_entrypoint.sh
  openstack_ansibleee/settings
  openstack_ansibleee/setup.sh
Due: none

Use no_log for tasks that can leak credentials
  roles/edpm_libvirt/tasks/configure.yml
  roles/edpm_podman/tasks/login-kube-registry.yml
Due: edpm-ansible-molecule-edpm_podman, edpm-ansible-molecule-edpm_libvirt

Fix: migrate ovn to quadlet minor update
  roles/edpm_ovn/tasks/update.yml
  roles/edpm_update_services/tasks/containers.yml
Due: none

Feat: migrate FRR to quadlet
  roles/edpm_frr/molecule/default/converge.yml
  roles/edpm_frr/molecule/default/molecule.yml
  roles/edpm_frr/molecule/default/prepare.yml
  roles/edpm_frr/molecule/default/verify.yml
  roles/edpm_frr/tasks/run.yml
  roles/edpm_frr/tasks/update.yml
  roles/edpm_frr/templates/container_defs/frr.yaml.j2
  roles/edpm_frr/templates/quadlet/frr.container.j2
Due: edpm-ansible-molecule-edpm_frr

Bind telemetry exporters to ctlplane IP instead of host network
  roles/edpm_telemetry/molecule/default/molecule.yml
  roles/edpm_telemetry/templates/quadlet/ceilometer_agent_compute.container.j2
  roles/edpm_telemetry/templates/quadlet/node_exporter.container.j2
  roles/edpm_telemetry/templates/quadlet/openstack_network_exporter.container.j2
  roles/edpm_telemetry/templates/quadlet/podman_exporter.container.j2
Due: none

Feat: Migrate ovn_bgp_agent service to Quadlet
  roles/edpm_ovn_bgp_agent/molecule/default/verify.yml
  roles/edpm_ovn_bgp_agent/molecule/local_ovn/converge.yml
  roles/edpm_ovn_bgp_agent/molecule/local_ovn/molecule.yml
  roles/edpm_ovn_bgp_agent/molecule/local_ovn/prepare.yml
  roles/edpm_ovn_bgp_agent/molecule/local_ovn/verify.yml
  roles/edpm_ovn_bgp_agent/tasks/run.yml
  roles/edpm_ovn_bgp_agent/tasks/run_ovn.yml
  roles/edpm_ovn_bgp_agent/tasks/update.yml
  roles/edpm_ovn_bgp_agent/templates/container_defs/bgp_ovn_controller.yaml.j2
  roles/edpm_ovn_bgp_agent/templates/container_defs/nb_db_server.yaml.j2
  roles/edpm_ovn_bgp_agent/templates/container_defs/northd.yaml.j2
  roles/edpm_ovn_bgp_agent/templates/container_defs/ovn_bgp_agent.yaml.j2
  roles/edpm_ovn_bgp_agent/templates/container_defs/sb_db_server.yaml.j2
  roles/edpm_ovn_bgp_agent/templates/quadlet/bgp_ovn_controller.container.j2
  roles/edpm_ovn_bgp_agent/templates/quadlet/nb_db_server.container.j2
  roles/edpm_ovn_bgp_agent/templates/quadlet/northd.container.j2
  roles/edpm_ovn_bgp_agent/templates/quadlet/ovn_bgp_agent.container.j2
  roles/edpm_ovn_bgp_agent/templates/quadlet/sb_db_server.container.j2
Due: edpm-ansible-molecule-edpm_ovn_bgp_agent

Bind telemetry exporters to ctlplane IP instead of host network
  roles/edpm_telemetry/molecule/default/molecule.yml
  roles/edpm_telemetry/templates/container_defs/ceilometer_agent_compute.yaml.j2
  roles/edpm_telemetry/templates/container_defs/node_exporter.yaml.j2
  roles/edpm_telemetry/templates/container_defs/openstack_network_exporter.yaml.j2
  roles/edpm_telemetry/templates/container_defs/podman_exporter.yaml.j2
  roles/edpm_telemetry_power_monitoring/templates/container_defs/ceilometer_agent_ipmi.yaml.j2
Due: edpm-ansible-molecule-edpm_telemetry_power_monitoring

Add infra.leapp collection to ansibleee requirements
  openstack_ansibleee/ansibleee-requirements.yaml
Due: none

Feat: Migrate edpm_telemetry_power_monitoring to quadlet
  roles/edpm_telemetry_power_monitoring/defaults/main.yml
  roles/edpm_telemetry_power_monitoring/meta/argument_specs.yml
  roles/edpm_telemetry_power_monitoring/molecule/default/prepare.yml
  roles/edpm_telemetry_power_monitoring/molecule/default/verify.yml
  roles/edpm_telemetry_power_monitoring/tasks/install.yml
  roles/edpm_telemetry_power_monitoring/templates/container_defs/ceilometer_agent_ipmi.yaml.j2
  roles/edpm_telemetry_power_monitoring/templates/quadlet/ceilometer_agent_ipmi.container.j2
Due: edpm-ansible-molecule-edpm_telemetry_power_monitoring

Bind ceilometer_ipmi to ctlplane IP instead of host network
  roles/edpm_telemetry_power_monitoring/molecule/default/molecule.yml
  roles/edpm_telemetry_power_monitoring/templates/quadlet/ceilometer_agent_ipmi.container.j2
Due: edpm-ansible-molecule-edpm_telemetry_power_monitoring

Feat: Migrate neutron_metadata to Quadlet
  roles/edpm_neutron_metadata/molecule/default/prepare.yml
  roles/edpm_neutron_metadata/molecule/default/tests/test_neutron_metadata.py
  roles/edpm_neutron_metadata/tasks/run.yml
  roles/edpm_neutron_metadata/tasks/update.yml
  roles/edpm_neutron_metadata/templates/container_defs/ovn_metadata_agent.yaml.j2
  roles/edpm_neutron_metadata/templates/quadlet/ovn_metadata_agent.container.j2
Due: none

Feat: Migrate neutron_sriov to Quadlet
  roles/edpm_neutron_sriov/molecule/default/verify.yml
  roles/edpm_neutron_sriov/tasks/run.yml
  roles/edpm_neutron_sriov/tasks/update.yml
  roles/edpm_neutron_sriov/templates/container_defs/neutron_sriov_agent.yaml.j2
  roles/edpm_neutron_sriov/templates/quadlet/neutron_sriov_agent.container.j2
Due: none

Feat: Migrate neutron_dhcp to Quadlet
  roles/edpm_neutron_dhcp/molecule/default/prepare.yml
  roles/edpm_neutron_dhcp/molecule/default/tests/test_neutron_dhcp.py
  roles/edpm_neutron_dhcp/tasks/install.yml
  roles/edpm_neutron_dhcp/tasks/run.yml
  roles/edpm_neutron_dhcp/tasks/update.yml
  roles/edpm_neutron_dhcp/templates/container_defs/neutron_dhcp_agent.yaml.j2
  roles/edpm_neutron_dhcp/templates/quadlet/neutron_dhcp_agent.container.j2
Due: none

EDPM nmstate tool support
  roles/edpm_network_config/defaults/main.yml
  roles/edpm_network_config/molecule/nmstate/converge.yml
  roles/edpm_network_config/tasks/nmstate_tool.yml
Due: none

Feat: Migrate edpm_swift to Quadlet
  roles/edpm_swift/molecule/default/molecule.yml
  roles/edpm_swift/molecule/default/verify.yml
  roles/edpm_swift/tasks/run.yml
  roles/edpm_swift/templates/container_defs/rsync.yaml.j2
  roles/edpm_swift/templates/container_defs/swift_account_auditor.yaml.j2
  roles/edpm_swift/templates/container_defs/swift_account_reaper.yaml.j2
  roles/edpm_swift/templates/container_defs/swift_account_replicator.yaml.j2
  roles/edpm_swift/templates/container_defs/swift_account_server.yaml.j2
  roles/edpm_swift/templates/container_defs/swift_container_auditor.yaml.j2
  roles/edpm_swift/templates/container_defs/swift_container_replicator.yaml.j2
  roles/edpm_swift/templates/container_defs/swift_container_server.yaml.j2
  roles/edpm_swift/templates/container_defs/swift_container_updater.yaml.j2
  roles/edpm_swift/templates/container_defs/swift_object_auditor.yaml.j2
  roles/edpm_swift/templates/container_defs/swift_object_expirer.yaml.j2
  roles/edpm_swift/templates/container_defs/swift_object_replicator.yaml.j2
  roles/edpm_swift/templates/container_defs/swift_object_server.yaml.j2
  roles/edpm_swift/templates/container_defs/swift_object_updater.yaml.j2
  roles/edpm_swift/templates/quadlet/rsync.container.j2
  roles/edpm_swift/templates/quadlet/swift_account_auditor.container.j2
  roles/edpm_swift/templates/quadlet/swift_account_reaper.container.j2
  roles/edpm_swift/templates/quadlet/swift_account_replicator.container.j2
  roles/edpm_swift/templates/quadlet/swift_account_server.container.j2
  roles/edpm_swift/templates/quadlet/swift_container_auditor.container.j2
  roles/edpm_swift/templates/quadlet/swift_container_replicator.container.j2
  roles/edpm_swift/templates/quadlet/swift_container_server.container.j2
  roles/edpm_swift/templates/quadlet/swift_container_updater.container.j2
  roles/edpm_swift/templates/quadlet/swift_object_auditor.container.j2
  roles/edpm_swift/templates/quadlet/swift_object_expirer.container.j2
  roles/edpm_swift/templates/quadlet/swift_object_replicator.container.j2
  roles/edpm_swift/templates/quadlet/swift_object_server.container.j2
  roles/edpm_swift/templates/quadlet/swift_object_updater.container.j2
Due: none

Feat: Migrate edpm_nova to Quadlet
  roles/edpm_nova/defaults/main.yml
  roles/edpm_nova/handlers/main.yml
  roles/edpm_nova/meta/argument_specs.yml
  roles/edpm_nova/molecule/default/verify.yml
  roles/edpm_nova/tasks/install.yml
  roles/edpm_nova/tasks/update.yml
  roles/edpm_nova/templates/container_defs/nova_compute.yaml.j2
  roles/edpm_nova/templates/container_defs/nova_compute_init.yaml.j2
  roles/edpm_nova/templates/container_defs/nova_nvme_cleaner.yaml.j2
  roles/edpm_nova/templates/quadlet/nova_compute.container.j2
  roles/edpm_nova/templates/quadlet/nova_compute_init.container.j2
  roles/edpm_nova/templates/quadlet/nova_nvme_cleaner.container.j2
Due: edpm-ansible-molecule-edpm_nova

Complete startup config YAML migration
  plugins/modules/container_config_data.py
  plugins/modules/container_config_hash.py
  plugins/modules/edpm_container_manage.py
  roles/edpm_cleanup/meta/argument_specs.yml
  roles/edpm_cleanup/molecule/default/verify.yml
  roles/edpm_cleanup/tasks/cleanup_services.yml
  roles/edpm_cleanup/tasks/cleanup_single_service.yml
  roles/edpm_container_manage/defaults/main.yml
  roles/edpm_container_manage/meta/argument_specs.yml
  roles/edpm_container_manage/molecule/default/converge.yml
  roles/edpm_container_manage/molecule/default/prepare.yml
  roles/edpm_container_standalone/tasks/main.yml
  roles/edpm_telemetry/tasks/update.yml
Due: none

Add edpm_cyborg role for Cyborg agent dataplane deployment
  .github/workflows/molecule.yaml
  docs/source/playbooks/cyborg.rst
  docs/source/roles/role-edpm_cyborg.rst
  playbooks/cyborg.yml
  roles/edpm_cyborg/defaults/main.yml
  roles/edpm_cyborg/files/kolla_config/cyborg_agent.yaml
  roles/edpm_cyborg/handlers/main.yml
  roles/edpm_cyborg/meta/argument_specs.yml
  roles/edpm_cyborg/meta/main.yml
  roles/edpm_cyborg/molecule/default/collections.yml
  roles/edpm_cyborg/molecule/default/converge.yml
  roles/edpm_cyborg/molecule/default/molecule.yml
  roles/edpm_cyborg/molecule/default/prepare.yml
  roles/edpm_cyborg/molecule/default/test-data/01-cyborg.conf
  roles/edpm_cyborg/molecule/default/verify.yml
  roles/edpm_cyborg/tasks/configure.yml
  roles/edpm_cyborg/tasks/download_cache.yml
  roles/edpm_cyborg/tasks/install.yml
  roles/edpm_cyborg/tasks/main.yml
  roles/edpm_cyborg/templates/quadlet/cyborg_agent.container.j2
  roles/edpm_download_cache/tasks/container_images.yml
Due: none

Feat: Migrate neutron_ovn to quadlet
  roles/edpm_container_standalone/files/91-netns-placeholder-preset
  roles/edpm_container_standalone/files/netns-placeholder-service
  roles/edpm_container_standalone/tasks/host_network_setup.yml
  roles/edpm_container_standalone/tasks/quadlet.yml
  roles/edpm_neutron_ovn/molecule/default/prepare.yml
  roles/edpm_neutron_ovn/molecule/default/tests/test_neutron_ovn.py
  roles/edpm_neutron_ovn/tasks/run.yml
  roles/edpm_neutron_ovn/tasks/update.yml
  roles/edpm_neutron_ovn/templates/container_defs/ovn_agent.yaml.j2
  roles/edpm_neutron_ovn/templates/quadlet/ovn_agent.container.j2
Due: none

Apply suggestions from code review
  roles/edpm_accel_drivers/defaults/main.yml
  roles/edpm_accel_drivers/molecule/kernel_pin/prepare.yml
  roles/edpm_accel_drivers/tasks/kernel_pin.yml
  roles/edpm_accel_drivers/tasks/main.yml
Due: edpm-ansible-molecule-edpm_accel_drivers

Fix remaining kernel → kernel_pin references
  roles/edpm_accel_drivers/meta/argument_specs.yml
  roles/edpm_accel_drivers/molecule/kernel_pin/converge.yml
  roles/edpm_accel_drivers/tasks/kernel_pin.yml
  roles/edpm_accel_drivers/tasks/main.yml
Due: edpm-ansible-molecule-edpm_accel_drivers

Increase molecule timeout for accel_drivers to 60 minutes
  zuul.d/jobs.yaml
Due: none

Add kernel version pinning to edpm_accel_drivers role
  roles/edpm_accel_drivers/defaults/main.yml
  roles/edpm_accel_drivers/meta/argument_specs.yml
  roles/edpm_accel_drivers/molecule/kernel_pin/converge.yml
  roles/edpm_accel_drivers/molecule/kernel_pin/molecule.yml
  roles/edpm_accel_drivers/molecule/kernel_pin/prepare.yml
  roles/edpm_accel_drivers/molecule/kernel_pin/verify.yml
  roles/edpm_accel_drivers/molecule/kernel_pin_vagrant/molecule.yml
  roles/edpm_accel_drivers/tasks/kernel_pin.yml
  roles/edpm_accel_drivers/tasks/main.yml
  zuul.d/jobs.yaml
Due: edpm-ansible-molecule-edpm_accel_drivers

Path conditions:
  edpm-ansible-molecule-edpm_accel_drivers: any of: ^roles/edpm_accel_drivers/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_bootstrap: any of: ^roles/edpm_bootstrap/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_podman: any of: ^roles/edpm_podman/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_module_load: any of: ^roles/edpm_module_load/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_kernel: any of: ^roles/edpm_kernel/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_libvirt: any of: ^roles/edpm_libvirt/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_nova: any of: ^roles/edpm_nova/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_frr: any of: ^roles/edpm_frr/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_iscsid: any of: ^roles/edpm_iscsid/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_ovn_bgp_agent: any of: ^roles/edpm_ovn_bgp_agent/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_ovs: any of: ^roles/edpm_ovs/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_tripleo_cleanup: any of: ^roles/edpm_tripleo_cleanup/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_tuned: any of: ^roles/edpm_tuned/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_telemetry_power_monitoring: any of: ^roles/edpm_telemetry_power_monitoring/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_update: any of: ^roles/edpm_update/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-centos-stream-molecule-env_data: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/env_data/(?!meta).*
  edpm-ansible-centos-stream-molecule-test_deps: any of: ^molecule-requirements.txt, ^.config/molecule/config.yml, ^edpm_ansible/roles/test_deps/(?!meta).*, ^zuul.d/playbooks/pre.yml
  edpm-ansible-centos-stream-molecule-chrony: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/chrony/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_bootstrap: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_bootstrap/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ceph_client_files: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ceph_client_files/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_container_manage: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_manage/(?!meta).*, ^edpm_ansible/roles/edpm_container_rm/.*, ^edpm_ansible/ansible_plugins/action/container_systemd.py$, ^edpm_ansible/ansible_plugins/filter/helpers.py$, ^edpm_ansible/ansible_plugins/modules/container_config_data.py$, ^edpm_ansible/ansible_plugins/modules/container_config_hash.py$
  edpm-ansible-centos-stream-molecule-edpm_container_rm: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_rm/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_container_standalone: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_standalone/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_hosts_entries: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_hosts_entries/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_iscsid: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_iscsid/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_kernel: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_kernel/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_logrotate_crond: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_logrotate_crond/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_module_load: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_module_load/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_network_config: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_network_config/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_os_net_config.py, ^edpm_ansible/ansible_plugins/modules/edpm_os_net_config_mappings.py
  edpm-ansible-centos-stream-molecule-edpm_nftables: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nftables/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_nftables_from_files.py, ^edpm_ansible/ansible_plugins/modules/edpm_nftables_snippet.py
  edpm-ansible-centos-stream-molecule-edpm_nodes_validation: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nodes_validation/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nova_libvirt: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nova_libvirt/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nova_compute: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nova_compute/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nvdimm: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nvdimm/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ovn: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ovn/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_ovn_mac_addresses.py
  edpm-ansible-centos-stream-molecule-edpm_podman: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_podman/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ssh_known_hosts: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ssh_known_hosts/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_sshd: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_sshd/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_timezone: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_timezone/(?!meta).*
  edpm-ansible-centos-stream-role-addition: any of: ^.config/molecule/config.yml, ^_skeleton_role_/.*, ^role-addition.yml, ^tox.ini, ^molecule-requirements.txt, ^zuul.d/playbooks/.*, ^zuul.d/molecule.yaml
