Repository openstack-k8s-operators/edpm-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: edpm-ansible-molecule-edpm_accel_drivers, edpm-ansible-molecule-edpm_bootstrap, edpm-ansible-molecule-edpm_podman, edpm-ansible-molecule-edpm_module_load, edpm-ansible-molecule-edpm_kernel, edpm-ansible-molecule-edpm_libvirt, edpm-ansible-molecule-edpm_nova, edpm-ansible-molecule-edpm_frr, edpm-ansible-molecule-edpm_iscsid, edpm-ansible-molecule-edpm_ovn_bgp_agent, edpm-ansible-molecule-edpm_ovs, edpm-ansible-molecule-edpm_tripleo_cleanup, edpm-ansible-molecule-edpm_tuned, edpm-ansible-molecule-edpm_telemetry_power_monitoring, edpm-ansible-molecule-edpm_update, edpm-ansible-centos-stream-molecule-env_data, edpm-ansible-centos-stream-molecule-test_deps, edpm-ansible-centos-stream-molecule-chrony, edpm-ansible-centos-stream-molecule-edpm_bootstrap, edpm-ansible-centos-stream-molecule-edpm_ceph_client_files, edpm-ansible-centos-stream-molecule-edpm_container_manage, edpm-ansible-centos-stream-molecule-edpm_container_rm, edpm-ansible-centos-stream-molecule-edpm_container_standalone, edpm-ansible-centos-stream-molecule-edpm_hosts_entries, edpm-ansible-centos-stream-molecule-edpm_iscsid, edpm-ansible-centos-stream-molecule-edpm_kernel, edpm-ansible-centos-stream-molecule-edpm_logrotate_crond, edpm-ansible-centos-stream-molecule-edpm_module_load, edpm-ansible-centos-stream-molecule-edpm_network_config, edpm-ansible-centos-stream-molecule-edpm_nftables, edpm-ansible-centos-stream-molecule-edpm_nodes_validation, edpm-ansible-centos-stream-molecule-edpm_nova_libvirt, edpm-ansible-centos-stream-molecule-edpm_nova_compute, edpm-ansible-centos-stream-molecule-edpm_nvdimm, edpm-ansible-centos-stream-molecule-edpm_ovn, edpm-ansible-centos-stream-molecule-edpm_podman, edpm-ansible-centos-stream-molecule-edpm_ssh_known_hosts, edpm-ansible-centos-stream-molecule-edpm_sshd, edpm-ansible-centos-stream-molecule-edpm_timezone, edpm-ansible-centos-stream-role-addition

edpm-ansible-molecule-edpm_accel_drivers:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_accel_drivers

edpm-ansible-molecule-edpm_bootstrap:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_bootstrap

edpm-ansible-molecule-edpm_podman:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_podman

edpm-ansible-molecule-edpm_module_load:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_module_load

edpm-ansible-molecule-edpm_kernel:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_kernel

edpm-ansible-molecule-edpm_libvirt:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_libvirt

edpm-ansible-molecule-edpm_nova:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_nova

edpm-ansible-molecule-edpm_frr:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_frr

edpm-ansible-molecule-edpm_iscsid:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_iscsid

edpm-ansible-molecule-edpm_ovn_bgp_agent:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_ovn_bgp_agent

edpm-ansible-molecule-edpm_ovs:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_ovs

edpm-ansible-molecule-edpm_tripleo_cleanup:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_tripleo_cleanup

edpm-ansible-molecule-edpm_tuned:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_tuned

edpm-ansible-molecule-edpm_telemetry_power_monitoring:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_telemetry_power_monitoring

edpm-ansible-molecule-edpm_update:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_update

edpm-ansible-centos-stream-molecule-env_data:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: env_data

edpm-ansible-centos-stream-molecule-test_deps:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: test_deps

edpm-ansible-centos-stream-molecule-chrony:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: chrony

edpm-ansible-centos-stream-molecule-edpm_bootstrap:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_bootstrap

edpm-ansible-centos-stream-molecule-edpm_ceph_client_files:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_ceph_client_files

edpm-ansible-centos-stream-molecule-edpm_container_manage:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_container_manage
  voting: false

edpm-ansible-centos-stream-molecule-edpm_container_rm:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_container_rm

edpm-ansible-centos-stream-molecule-edpm_container_standalone:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_container_standalone

edpm-ansible-centos-stream-molecule-edpm_hosts_entries:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_hosts_entries

EDPM deployment should not do network cleanup by default
  docs/source/roles/role-edpm_network_config.rst
  roles/edpm_network_config/defaults/main.yml
  roles/edpm_network_config/meta/argument_specs.yml
  roles/edpm_network_config/molecule/default/converge.yml
  roles/edpm_network_config/molecule/default/prepare.yml
  roles/edpm_network_config/molecule/nmstate/converge.yml
Due: none

Refactor NVIDIA custom URL driver installation to support multiple GPU vendors and add AMD driver installation
  roles/edpm_accel_drivers/defaults/main.yml
  roles/edpm_accel_drivers/meta/argument_specs.yml
  roles/edpm_accel_drivers/molecule/amd_custom_url_rpm/converge.yml
  roles/edpm_accel_drivers/molecule/amd_custom_url_rpm/molecule.yml
  roles/edpm_accel_drivers/molecule/amd_custom_url_rpm/prepare.yml
  roles/edpm_accel_drivers/molecule/amd_custom_url_rpm/test_package/mock-amd-driver.spec
  roles/edpm_accel_drivers/molecule/amd_custom_url_rpm/verify.yml
  roles/edpm_accel_drivers/molecule/amd_custom_url_rpm_vagrant/molecule.yml
  roles/edpm_accel_drivers/tasks/amd_drivers.yml
  roles/edpm_accel_drivers/tasks/blacklist_nouveau.yml
  roles/edpm_accel_drivers/tasks/disable_module.yml
  roles/edpm_accel_drivers/tasks/download_cache.yml
  roles/edpm_accel_drivers/tasks/download_from_custom_url.yml
  roles/edpm_accel_drivers/tasks/install_from_rpm.yml
  roles/edpm_accel_drivers/tasks/main.yml
  roles/edpm_accel_drivers/tasks/nvidia_custom_url.yml
  roles/edpm_accel_drivers/tasks/nvidia_drivers.yml
  roles/edpm_accel_drivers/tasks/nvidia_from_rpm.yml
  roles/edpm_accel_drivers/tasks/nvidia_from_run.yml
Due: edpm-ansible-molecule-edpm_accel_drivers

Prevent system user account expiration on hardened systems
  roles/edpm_users/defaults/main.yml
  roles/edpm_users/molecule/default/verify.yml
  roles/edpm_users/tasks/create_users_and_groups.yml
Due: none

WIP Add sigstore signature verification support to edpm_podman role
  roles/edpm_podman/defaults/main.yml
  roles/edpm_podman/meta/argument_specs.yml
  roles/edpm_podman/molecule/install/converge.yml
  roles/edpm_podman/tasks/install.yml
  roles/edpm_podman/templates/sigstore-registries.yaml.j2
Due: edpm-ansible-molecule-edpm_podman

[edpm_iscsid] Fix SELinux context for iSCSI configuration files
  roles/edpm_iscsid/tasks/configure.yml
  roles/edpm_iscsid/tasks/install.yml
Due: edpm-ansible-molecule-edpm_iscsid

Share NIC mapping tasks for nmstate and os-net-config
  roles/edpm_network_config/defaults/main.yml
  roles/edpm_network_config/meta/argument_specs.yml
  roles/edpm_network_config/tasks/nic_mapping.yml
  roles/edpm_network_config/tasks/nmstate_tool.yml
  roles/edpm_network_config/tasks/os_net_config_tool.yml
Due: none

[FRR] Add new VRF needed for the ovn-bgp neutron service-plugin
  roles/edpm_frr/defaults/main.yml
  roles/edpm_frr/meta/argument_specs.yml
  roles/edpm_frr/templates/config/frr.conf.j2
Due: edpm-ansible-molecule-edpm_frr

[Neutron OVN] Add BGP peer bridges OVS external-id for the ovn-bgp extension
  roles/edpm_neutron_ovn/defaults/main.yml
  roles/edpm_neutron_ovn/meta/argument_specs.yml
  roles/edpm_neutron_ovn/tasks/configure.yml
Due: none

Generate SSL certificates for ovn-controller
  roles/edpm_ovn/defaults/main.yml
  roles/edpm_ovn/molecule/default/verify-tasks.yml
  roles/edpm_ovn/molecule/rbac_certs/cleanup.yml
  roles/edpm_ovn/molecule/rbac_certs/collections.yml
  roles/edpm_ovn/molecule/rbac_certs/converge.yml
  roles/edpm_ovn/molecule/rbac_certs/molecule.yml
  roles/edpm_ovn/molecule/rbac_certs/prepare.yml
  roles/edpm_ovn/molecule/rbac_certs/test-data
  roles/edpm_ovn/molecule/rbac_certs/verify.yml
  roles/edpm_ovn/tasks/main.yml
  roles/edpm_ovn/tasks/rbac_certs.yml
  roles/edpm_ovn/templates/kolla_config/kolla_ovn_controller.yaml.j2
Due: none

Fix: edpm_container_quadlet role to support .container quadlet type
  roles/edpm_container_quadlet/defaults/main.yml
  roles/edpm_container_quadlet/files/service-template.kube
  roles/edpm_container_quadlet/meta/argument_specs.yml
  roles/edpm_container_quadlet/molecule/default/converge.yml
  roles/edpm_container_quadlet/molecule/default/defaults/converge.yml
  roles/edpm_container_quadlet/tasks/cleanup.yml
  roles/edpm_container_quadlet/tasks/main.yml
  roles/edpm_container_quadlet/templates/service-quadlet-pod.yaml.j2
  roles/edpm_container_quadlet/templates/service-quadlet-template.yaml.j2
  roles/edpm_container_quadlet/templates/service-quadlet.container.j2
  roles/edpm_container_quadlet/templates/service-quadlet.kube.j2
Due: none

Fix edpm_cleanup service matching and artifact removal
  roles/edpm_cleanup/README.md
  roles/edpm_cleanup/defaults/main.yml
  roles/edpm_cleanup/meta/argument_specs.yml
  roles/edpm_cleanup/molecule/default/converge.yml
  roles/edpm_cleanup/molecule/default/verify.yml
  roles/edpm_cleanup/tasks/cleanup_services.yml
  roles/edpm_cleanup/tasks/cleanup_single_service.yml
Due: none

Deduplicate resolved config roots
  plugins/modules/container_config_hash.py
  tests/test_container_config_hash.py
Due: none

edpm_neutron_metadata: refresh sidecar containers
  roles/edpm_neutron_metadata/tasks/install.yml
  roles/edpm_neutron_metadata/tasks/run.yml
  roles/edpm_neutron_metadata/tasks/sidecar.yml
Due: none

Feat: Migrate OVN service to quadlet containers
  roles/edpm_ovn/defaults/main.yml
  roles/edpm_ovn/tasks/run.yml
  roles/edpm_ovn/templates/container_defs/ovn_controller.yaml.j2
Due: none

Add edpm_container_quadlet_skip_start default and argument spec
  roles/edpm_container_quadlet/defaults/main.yml
  roles/edpm_container_quadlet/meta/argument_specs.yml
Due: none

Add sigstore signature verification support to edpm_podman role
  roles/edpm_podman/defaults/main.yml
  roles/edpm_podman/meta/argument_specs.yml
  roles/edpm_podman/molecule/install/converge.yml
  roles/edpm_podman/tasks/install.yml
  roles/edpm_podman/templates/sigstore-registries.yaml.j2
Due: edpm-ansible-molecule-edpm_podman

[edpm_libvirt] Update virsh regex for cephx
  roles/edpm_libvirt/tasks/virsh-secret.yml
Due: edpm-ansible-molecule-edpm_libvirt

Publish ansible-runner summary to termination log
  openstack_ansibleee/Containerfile
  openstack_ansibleee/edpm_run_and_summarize.sh
  openstack_ansibleee/write_runner_summary.py
  tests/test_write_runner_summary.py
Due: none

Deploy per-node OVN RBAC certificates on EDPM nodes
  roles/edpm_neutron_metadata/defaults/main.yml
  roles/edpm_neutron_metadata/meta/argument_specs.yml
  roles/edpm_neutron_ovn/defaults/main.yml
  roles/edpm_ovn/defaults/main.yml
  roles/edpm_ovn/molecule/default/verify-tasks.yml
  roles/edpm_ovn/molecule/rbac_certs/cleanup.yml
  roles/edpm_ovn/molecule/rbac_certs/collections.yml
  roles/edpm_ovn/molecule/rbac_certs/converge.yml
  roles/edpm_ovn/molecule/rbac_certs/molecule.yml
  roles/edpm_ovn/molecule/rbac_certs/prepare.yml
  roles/edpm_ovn/molecule/rbac_certs/test-data
  roles/edpm_ovn/molecule/rbac_certs/verify.yml
  roles/edpm_ovn_bgp_agent/defaults/main.yml
  roles/edpm_ovn_bgp_agent/meta/argument_specs.yml
Due: edpm-ansible-molecule-edpm_ovn_bgp_agent

Fix: container_config_hash over-scoped directory hashing
  plugins/modules/container_config_hash.py
Due: none

Fix: rework edpm_container_standalone for quadlet-only deployment
  plugins/modules/container_config_hash.py
  roles/edpm_container_standalone/README.md
  roles/edpm_container_standalone/defaults/main.yml
  roles/edpm_container_standalone/meta/argument_specs.yml
  roles/edpm_container_standalone/molecule/default/converge.yml
  roles/edpm_container_standalone/molecule/default/prepare.yml
  roles/edpm_container_standalone/molecule/default/templates/test_service.container.j2
  roles/edpm_container_standalone/molecule/default/templates/test_service_updated.container.j2
  roles/edpm_container_standalone/tasks/cleanup.yml
  roles/edpm_container_standalone/tasks/main.yml
  roles/edpm_container_standalone/tasks/quadlet.yml
  roles/edpm_container_standalone/tasks/state_file_update.yml
Due: none

Refresh sidecar containers also for neutron_dhcp and neutron_ovn agents
  roles/edpm_neutron_dhcp/tasks/configure.yml
  roles/edpm_neutron_dhcp/tasks/run.yml
  roles/edpm_neutron_dhcp/tasks/sidecar.yml
  roles/edpm_neutron_ovn/tasks/install.yml
  roles/edpm_neutron_ovn/tasks/run.yml
  roles/edpm_neutron_ovn/tasks/sidecar.yml
Due: none

Fix test_sidecar_container molecule test for newer kernels
  roles/edpm_neutron_dhcp/molecule/default/tests/test_neutron_dhcp.py
  roles/edpm_neutron_metadata/molecule/default/tests/test_neutron_metadata.py
  roles/edpm_neutron_ovn/molecule/default/tests/test_neutron_ovn.py
Due: none

Feat: Migrate OVN service to Quadlet
  roles/edpm_ovn/defaults/main.yml
  roles/edpm_ovn/molecule/default/verify.yml
  roles/edpm_ovn/tasks/run.yml
  roles/edpm_ovn/templates/quadlet/ovn_controller.container.j2
Due: none

Use prometheus-podman-exporter image from oko quay
  roles/edpm_telemetry/defaults/main.yml
Due: none

Add edpm_instanceha_monitoring role for heartbeat sender
  .github/workflows/molecule.yaml
  playbooks/instanceha_monitoring.yml
  roles/edpm_instanceha_monitoring/defaults/main.yml
  roles/edpm_instanceha_monitoring/handlers/main.yml
  roles/edpm_instanceha_monitoring/meta/argument_specs.yml
  roles/edpm_instanceha_monitoring/meta/main.yml
  roles/edpm_instanceha_monitoring/molecule/default/converge.yml
  roles/edpm_instanceha_monitoring/molecule/default/molecule.yml
  roles/edpm_instanceha_monitoring/molecule/default/verify.yml
  roles/edpm_instanceha_monitoring/tasks/configure.yml
  roles/edpm_instanceha_monitoring/tasks/main.yml
  roles/edpm_instanceha_monitoring/tasks/run.yml
  roles/edpm_instanceha_monitoring/templates/instanceha-heartbeat.py.j2
  roles/edpm_instanceha_monitoring/templates/instanceha-heartbeat.service.j2
  roles/edpm_instanceha_monitoring/templates/instanceha-heartbeat.timer.j2
Due: none

Remove unused ceilometer_prom_exporter.yaml from telemetry roles
  roles/edpm_telemetry/files/ceilometer_prom_exporter.yaml
  roles/edpm_telemetry/tasks/configure.yml
  roles/edpm_telemetry/tasks/update.yml
  roles/edpm_telemetry/templates/container_defs/ceilometer_agent_compute.yaml.j2
  roles/edpm_telemetry_power_monitoring/files/ceilometer_prom_exporter.yaml
  roles/edpm_telemetry_power_monitoring/tasks/configure.yml
  roles/edpm_telemetry_power_monitoring/templates/container_defs/ceilometer_agent_ipmi.yaml.j2
Due: edpm-ansible-molecule-edpm_telemetry_power_monitoring

[Neutron OVN] Add molecule tests for BGP OVS external-ids
  roles/edpm_neutron_ovn/molecule/bgp_custom_interconnect_bridge/collections.yml
  roles/edpm_neutron_ovn/molecule/bgp_custom_interconnect_bridge/converge.yml
  roles/edpm_neutron_ovn/molecule/bgp_custom_interconnect_bridge/molecule.yml
  roles/edpm_neutron_ovn/molecule/bgp_custom_interconnect_bridge/prepare.yml
  roles/edpm_neutron_ovn/molecule/bgp_custom_interconnect_bridge/test-data
  roles/edpm_neutron_ovn/molecule/bgp_custom_interconnect_bridge/verify.yml
  roles/edpm_neutron_ovn/molecule/bgp_disabled/collections.yml
  roles/edpm_neutron_ovn/molecule/bgp_disabled/converge.yml
  roles/edpm_neutron_ovn/molecule/bgp_disabled/molecule.yml
  roles/edpm_neutron_ovn/molecule/bgp_disabled/prepare.yml
  roles/edpm_neutron_ovn/molecule/bgp_disabled/test-data
  roles/edpm_neutron_ovn/molecule/bgp_disabled/verify.yml
  roles/edpm_neutron_ovn/molecule/bgp_enabled/collections.yml
  roles/edpm_neutron_ovn/molecule/bgp_enabled/converge.yml
  roles/edpm_neutron_ovn/molecule/bgp_enabled/molecule.yml
  roles/edpm_neutron_ovn/molecule/bgp_enabled/prepare.yml
  roles/edpm_neutron_ovn/molecule/bgp_enabled/test-data
  roles/edpm_neutron_ovn/molecule/bgp_enabled/verify.yml
Due: none

[Neutron OVN] Add BGP interconnect bridge OVS external-id for the ovn-bgp extension
  roles/edpm_neutron_ovn/defaults/main.yml
  roles/edpm_neutron_ovn/meta/argument_specs.yml
  roles/edpm_neutron_ovn/tasks/configure.yml
Due: none

[edpm_kernel] Handle missing KSM services gracefully
  roles/edpm_kernel/tasks/ksm.yml
Due: edpm-ansible-molecule-edpm_kernel

Add edpm_cyborg role for Cyborg agent dataplane deployment
  .github/workflows/molecule.yaml
  docs/source/playbooks/cyborg.rst
  docs/source/roles/role-edpm_cyborg.rst
  playbooks/cyborg.yml
  roles/edpm_cyborg/defaults/main.yml
  roles/edpm_cyborg/files/kolla_config/cyborg_agent.yaml
  roles/edpm_cyborg/handlers/main.yml
  roles/edpm_cyborg/meta/argument_specs.yml
  roles/edpm_cyborg/meta/main.yml
  roles/edpm_cyborg/molecule/default/collections.yml
  roles/edpm_cyborg/molecule/default/converge.yml
  roles/edpm_cyborg/molecule/default/molecule.yml
  roles/edpm_cyborg/molecule/default/prepare.yml
  roles/edpm_cyborg/molecule/default/test-data/01-cyborg.conf
  roles/edpm_cyborg/molecule/default/verify.yml
  roles/edpm_cyborg/tasks/configure.yml
  roles/edpm_cyborg/tasks/download_cache.yml
  roles/edpm_cyborg/tasks/install.yml
  roles/edpm_cyborg/tasks/main.yml
  roles/edpm_cyborg/tasks/post-install.yml
  roles/edpm_cyborg/templates/container_defs/cyborg_agent.yaml.j2
  roles/edpm_download_cache/tasks/container_images.yml
Due: none

Path conditions:
  edpm-ansible-molecule-edpm_accel_drivers: any of: ^roles/edpm_accel_drivers/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_bootstrap: any of: ^roles/edpm_bootstrap/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_podman: any of: ^roles/edpm_podman/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_module_load: any of: ^roles/edpm_module_load/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_kernel: any of: ^roles/edpm_kernel/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_libvirt: any of: ^roles/edpm_libvirt/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_nova: any of: ^roles/edpm_nova/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_frr: any of: ^roles/edpm_frr/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_iscsid: any of: ^roles/edpm_iscsid/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_ovn_bgp_agent: any of: ^roles/edpm_ovn_bgp_agent/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_ovs: any of: ^roles/edpm_ovs/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_tripleo_cleanup: any of: ^roles/edpm_tripleo_cleanup/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_tuned: any of: ^roles/edpm_tuned/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_telemetry_power_monitoring: any of: ^roles/edpm_telemetry_power_monitoring/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_update: any of: ^roles/edpm_update/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-centos-stream-molecule-env_data: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/env_data/(?!meta).*
  edpm-ansible-centos-stream-molecule-test_deps: any of: ^molecule-requirements.txt, ^.config/molecule/config.yml, ^edpm_ansible/roles/test_deps/(?!meta).*, ^zuul.d/playbooks/pre.yml
  edpm-ansible-centos-stream-molecule-chrony: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/chrony/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_bootstrap: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_bootstrap/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ceph_client_files: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ceph_client_files/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_container_manage: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_manage/(?!meta).*, ^edpm_ansible/roles/edpm_container_rm/.*, ^edpm_ansible/ansible_plugins/action/container_systemd.py$, ^edpm_ansible/ansible_plugins/filter/helpers.py$, ^edpm_ansible/ansible_plugins/modules/container_config_data.py$, ^edpm_ansible/ansible_plugins/modules/container_config_hash.py$
  edpm-ansible-centos-stream-molecule-edpm_container_rm: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_rm/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_container_standalone: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_standalone/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_hosts_entries: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_hosts_entries/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_iscsid: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_iscsid/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_kernel: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_kernel/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_logrotate_crond: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_logrotate_crond/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_module_load: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_module_load/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_network_config: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_network_config/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_os_net_config.py, ^edpm_ansible/ansible_plugins/modules/edpm_os_net_config_mappings.py
  edpm-ansible-centos-stream-molecule-edpm_nftables: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nftables/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_nftables_from_files.py, ^edpm_ansible/ansible_plugins/modules/edpm_nftables_snippet.py
  edpm-ansible-centos-stream-molecule-edpm_nodes_validation: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nodes_validation/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nova_libvirt: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nova_libvirt/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nova_compute: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nova_compute/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nvdimm: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nvdimm/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ovn: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ovn/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_ovn_mac_addresses.py
  edpm-ansible-centos-stream-molecule-edpm_podman: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_podman/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ssh_known_hosts: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ssh_known_hosts/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_sshd: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_sshd/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_timezone: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_timezone/(?!meta).*
  edpm-ansible-centos-stream-role-addition: any of: ^.config/molecule/config.yml, ^_skeleton_role_/.*, ^role-addition.yml, ^tox.ini, ^molecule-requirements.txt, ^zuul.d/playbooks/.*, ^zuul.d/molecule.yaml
