Repository openstack-k8s-operators/edpm-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: edpm-ansible-molecule-edpm_bootstrap, edpm-ansible-molecule-edpm_podman, edpm-ansible-molecule-edpm_module_load, edpm-ansible-molecule-edpm_kernel, edpm-ansible-molecule-edpm_libvirt, edpm-ansible-molecule-edpm_nova, edpm-ansible-molecule-edpm_frr, edpm-ansible-molecule-edpm_iscsid, edpm-ansible-molecule-edpm_ovn_bgp_agent, edpm-ansible-molecule-edpm_ovs, edpm-ansible-molecule-edpm_tripleo_cleanup, edpm-ansible-molecule-edpm_tuned, edpm-ansible-molecule-edpm_telemetry_power_monitoring, edpm-ansible-centos-stream-molecule-env_data, edpm-ansible-centos-stream-molecule-test_deps, edpm-ansible-centos-stream-molecule-chrony, edpm-ansible-centos-stream-molecule-edpm_bootstrap, edpm-ansible-centos-stream-molecule-edpm_ceph_client_files, edpm-ansible-centos-stream-molecule-edpm_container_manage, edpm-ansible-centos-stream-molecule-edpm_container_rm, edpm-ansible-centos-stream-molecule-edpm_container_standalone, edpm-ansible-centos-stream-molecule-edpm_hosts_entries, edpm-ansible-centos-stream-molecule-edpm_iscsid, edpm-ansible-centos-stream-molecule-edpm_kernel, edpm-ansible-centos-stream-molecule-edpm_logrotate_crond, edpm-ansible-centos-stream-molecule-edpm_module_load, edpm-ansible-centos-stream-molecule-edpm_network_config, edpm-ansible-centos-stream-molecule-edpm_nftables, edpm-ansible-centos-stream-molecule-edpm_nodes_validation, edpm-ansible-centos-stream-molecule-edpm_nova_libvirt, edpm-ansible-centos-stream-molecule-edpm_nova_compute, edpm-ansible-centos-stream-molecule-edpm_nvdimm, edpm-ansible-centos-stream-molecule-edpm_ovn, edpm-ansible-centos-stream-molecule-edpm_podman, edpm-ansible-centos-stream-molecule-edpm_ssh_known_hosts, edpm-ansible-centos-stream-molecule-edpm_sshd, edpm-ansible-centos-stream-molecule-edpm_timezone, edpm-ansible-centos-stream-role-addition

edpm-ansible-molecule-edpm_bootstrap:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_bootstrap

edpm-ansible-molecule-edpm_podman:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_podman

edpm-ansible-molecule-edpm_module_load:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_module_load

edpm-ansible-molecule-edpm_kernel:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_kernel

edpm-ansible-molecule-edpm_libvirt:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_libvirt

edpm-ansible-molecule-edpm_nova:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_nova

edpm-ansible-molecule-edpm_frr:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_frr

edpm-ansible-molecule-edpm_iscsid:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_iscsid

edpm-ansible-molecule-edpm_ovn_bgp_agent:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_ovn_bgp_agent

edpm-ansible-molecule-edpm_ovs:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_ovs

edpm-ansible-molecule-edpm_tripleo_cleanup:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_tripleo_cleanup

edpm-ansible-molecule-edpm_tuned:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_tuned

edpm-ansible-molecule-edpm_telemetry_power_monitoring:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_telemetry_power_monitoring

edpm-ansible-centos-stream-molecule-env_data:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: env_data

edpm-ansible-centos-stream-molecule-test_deps:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: test_deps

edpm-ansible-centos-stream-molecule-chrony:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: chrony

edpm-ansible-centos-stream-molecule-edpm_bootstrap:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_bootstrap

edpm-ansible-centos-stream-molecule-edpm_ceph_client_files:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_ceph_client_files

edpm-ansible-centos-stream-molecule-edpm_container_manage:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_container_manage
  voting: false

edpm-ansible-centos-stream-molecule-edpm_container_rm:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_container_rm

edpm-ansible-centos-stream-molecule-edpm_container_standalone:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_container_standalone

edpm-ansible-centos-stream-molecule-edpm_hosts_entries:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_hosts_entries

edpm-ansible-centos-stream-molecule-edpm_iscsid:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_iscsid

edpm-ansible-centos-stream-molecule-edpm_kernel:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_kernel

Fix github workflows to run molecule on modified roles
  .github/workflows/molecule.yaml
  roles/edpm_ovn/defaults/main.yml
Due: none

[ovn-bgp] Add missing firewall rules
  .github/workflows/molecule.yaml
  roles/edpm_frr/molecule/default/prepare.yml
  roles/edpm_frr/molecule/default/verify.yml
  roles/edpm_frr/tasks/firewall.yml
  roles/edpm_frr/tasks/install.yml
  roles/edpm_frr/tasks/main.yml
  roles/edpm_nftables/templates/dport.j2
Due: edpm-ansible-molecule-edpm_frr

Run github workflows molecule when PR changes a role
  .github/workflows/molecule.yaml
Due: none

Add docs for update role and playbook
  docs/source/playbooks/update.rst
  docs/source/roles/role-edpm_update.rst
Due: none

Default nmstate provider changes
  roles/edpm_network_config/defaults/main.yml
  roles/edpm_network_config/meta/argument_specs.yml
Due: none

Set OVN BGP agent as PartOf frr service
  roles/edpm_container_manage/templates/systemd-service.j2
  roles/edpm_ovn_bgp_agent/templates/ovn_bgp_agent.yaml.j2
Due: edpm-ansible-molecule-edpm_ovn_bgp_agent

[ovn-bgp] Add missing firewall rules
  roles/edpm_frr/molecule/default/prepare.yml
  roles/edpm_frr/molecule/default/verify.yml
  roles/edpm_frr/tasks/firewall.yml
  roles/edpm_frr/tasks/install.yml
  roles/edpm_frr/tasks/main.yml
  roles/edpm_nftables/templates/dport.j2
Due: edpm-ansible-molecule-edpm_frr

kube template for iscsid
  roles/edpm_iscsid/templates/iscsid.yaml.j2
Due: edpm-ansible-molecule-edpm_iscsid

Structured common mounts
  roles/edpm_container_standalone/defaults/main.yml
Due: none

Change volume variable structure
  roles/edpm_iscsid/defaults/main.yml
Due: edpm-ansible-molecule-edpm_iscsid

Don't mask old tripleo services in systemd during the cleanup
  roles/edpm_tripleo_cleanup/tasks/main.yml
Due: edpm-ansible-molecule-edpm_tripleo_cleanup

Add bootc fact tasks
  roles/edpm_bootstrap/facts/bootc.fact
  roles/edpm_bootstrap/tasks/bootc.yml
  roles/edpm_bootstrap/tasks/bootstrap.yml
Due: edpm-ansible-molecule-edpm_bootstrap

Add missing firewall rules
  roles/edpm_frr/molecule/default/prepare.yml
  roles/edpm_frr/molecule/default/verify.yml
  roles/edpm_frr/tasks/firewall.yml
  roles/edpm_frr/tasks/install.yml
  roles/edpm_frr/tasks/main.yml
  roles/edpm_nftables/templates/dport.j2
Due: edpm-ansible-molecule-edpm_frr

Trim newline from end of swap path
  roles/edpm_bootstrap/tasks/swap.yml
Due: edpm-ansible-molecule-edpm_bootstrap

Set OVN BGP agent as PartOf edpm_frr service
  roles/edpm_ovn_bgp_agent/templates/ovn_bgp_agent.yaml.j2
Due: edpm-ansible-molecule-edpm_ovn_bgp_agent

[edpm_ovn_bgp_agent] Open ssh port during molecule preparation
  roles/edpm_ovn_bgp_agent/molecule/default/prepare.yml
Due: edpm-ansible-molecule-edpm_ovn_bgp_agent

Use quadlet instead of edpm_container_manage
  roles/edpm_iscsid/tasks/run.yml
  roles/edpm_podman/files/service-template.service
  roles/edpm_podman/tasks/configure.yml
Due: edpm-ansible-molecule-edpm_podman, edpm-ansible-molecule-edpm_iscsid

Skip config hash with quadlets
  roles/edpm_container_manage/tasks/main.yml
Due: none

Move Ceilometer to Quadlets
  roles/edpm_telemetry/defaults/main.yml
  roles/edpm_telemetry/templates/ceilometer_agent_compute.json.j2
Due: none

Move logrotate to Quadlets
  roles/edpm_logrotate_crond/defaults/main.yml
  roles/edpm_logrotate_crond/tasks/logrotate_crond.yml
  roles/edpm_logrotate_crond/tasks/run.yml
  roles/edpm_logrotate_crond/templates/logrotate_crond.yaml.j2
Due: none

Move multipathd to Quadlets
  roles/edpm_multipathd/defaults/main.yml
  roles/edpm_multipathd/tasks/run.yml
  roles/edpm_multipathd/templates/multipathd.yaml.j2
Due: none

Move OVN Controller to Quadlet
  roles/edpm_neutron_metadata/defaults/main.yml
  roles/edpm_neutron_metadata/tasks/run.yml
  roles/edpm_neutron_metadata/templates/ovn_metadata_agent.yaml.j2
  roles/edpm_ovn/defaults/main.yml
  roles/edpm_ovn/tasks/run.yml
  roles/edpm_ovn/templates/ovn_controller.yaml.j2
Due: none

Stop and disable old services if they exist
  roles/edpm_iscsid/tasks/run.yml
  roles/edpm_logrotate_crond/tasks/run.yml
  roles/edpm_multipathd/tasks/run.yml
Due: edpm-ansible-molecule-edpm_iscsid

Move Ceilometer to Quadlets
  roles/edpm_telemetry/templates/ceilometer_agent_compute.json.j2
Due: none

Open ssh port during molecule preparation
  roles/edpm_ovn_bgp_agent/molecule/default/prepare.yml
Due: edpm-ansible-molecule-edpm_ovn_bgp_agent

[frr] Send logs to container's stdout
  roles/edpm_frr/templates/frr.conf.j2
Due: edpm-ansible-molecule-edpm_frr

Add CA cert to bootstrap service
  roles/edpm_bootstrap/tasks/bootstrap.yml
Due: edpm-ansible-molecule-edpm_bootstrap

Send logs to container's stdout
  roles/edpm_frr/templates/frr.conf.j2
Due: edpm-ansible-molecule-edpm_frr

Gather local facts for bootc
  playbooks/nova_storage.yml
  playbooks/reboot.yml
Due: none

Add edpm_container_quadlet role
  roles/edpm_container_quadlet/defaults/main.yml
  roles/edpm_container_quadlet/files/service-template.kube
  roles/edpm_container_quadlet/meta/argument_specs.yml
  roles/edpm_container_quadlet/meta/main.yml
  roles/edpm_container_quadlet/tasks/cleanup.yml
  roles/edpm_container_quadlet/tasks/main.yml
  roles/edpm_container_quadlet/templates/service-quadlet-template.yaml.j2
Due: none

Add molecule test for edpm_container_quadlet
  roles/edpm_container_quadlet/meta/main.yml
  roles/edpm_container_quadlet/molecule/defaults/collections.yml
  roles/edpm_container_quadlet/molecule/defaults/converge.yml
  roles/edpm_container_quadlet/molecule/defaults/molecule.yml
  roles/edpm_container_quadlet/molecule/defaults/prepare.yml
  roles/edpm_container_quadlet/tasks/main.yml
Due: none

Iscsid use edpm_container_quadlets role
  roles/edpm_iscsid/defaults/main.yml
  roles/edpm_iscsid/tasks/run.yml
  roles/edpm_iscsid/templates/iscsid.yaml.j2
Due: edpm-ansible-molecule-edpm_iscsid

update: Add update and install handling for openstack_network_exporter
  roles/edpm_telemetry/tasks/update.yml
  roles/edpm_telemetry/templates/openstack_network_exporter.json.j2
  roles/edpm_update/tasks/containers.yml
Due: none

Add CA cert to bootstrap service
  roles/edpm_bootstrap/handlers/main.yml
  roles/edpm_bootstrap/tasks/bootstrap.yml
Due: edpm-ansible-molecule-edpm_bootstrap

Noqa on container volume formatting
  plugins/modules/edpm_container_manage.py
Due: none

Path conditions:
  edpm-ansible-molecule-edpm_bootstrap: any of: ^roles/edpm_bootstrap/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_podman: any of: ^roles/edpm_podman/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_module_load: any of: ^roles/edpm_module_load/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_kernel: any of: ^roles/edpm_kernel/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_libvirt: any of: ^roles/edpm_libvirt/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_nova: any of: ^roles/edpm_nova/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_frr: any of: ^roles/edpm_frr/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_iscsid: any of: ^roles/edpm_iscsid/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_ovn_bgp_agent: any of: ^roles/edpm_ovn_bgp_agent/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_ovs: any of: ^roles/edpm_ovs/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_tripleo_cleanup: any of: ^roles/edpm_tripleo_cleanup/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_tuned: any of: ^roles/edpm_tuned/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_telemetry_power_monitoring: any of: ^roles/edpm_telemetry_power_monitoring/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-centos-stream-molecule-env_data: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/env_data/(?!meta).*
  edpm-ansible-centos-stream-molecule-test_deps: any of: ^molecule-requirements.txt, ^.config/molecule/config.yml, ^edpm_ansible/roles/test_deps/(?!meta).*, ^zuul.d/playbooks/pre.yml
  edpm-ansible-centos-stream-molecule-chrony: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/chrony/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_bootstrap: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_bootstrap/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ceph_client_files: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ceph_client_files/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_container_manage: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_manage/(?!meta).*, ^edpm_ansible/roles/edpm_container_rm/.*, ^edpm_ansible/ansible_plugins/action/container_systemd.py$, ^edpm_ansible/ansible_plugins/filter/helpers.py$, ^edpm_ansible/ansible_plugins/modules/container_config_data.py$, ^edpm_ansible/ansible_plugins/modules/container_config_hash.py$
  edpm-ansible-centos-stream-molecule-edpm_container_rm: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_rm/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_container_standalone: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_standalone/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_hosts_entries: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_hosts_entries/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_iscsid: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_iscsid/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_kernel: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_kernel/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_logrotate_crond: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_logrotate_crond/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_module_load: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_module_load/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_network_config: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_network_config/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_os_net_config.py, ^edpm_ansible/ansible_plugins/modules/edpm_os_net_config_mappings.py
  edpm-ansible-centos-stream-molecule-edpm_nftables: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nftables/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_nftables_from_files.py, ^edpm_ansible/ansible_plugins/modules/edpm_nftables_snippet.py
  edpm-ansible-centos-stream-molecule-edpm_nodes_validation: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nodes_validation/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nova_libvirt: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nova_libvirt/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nova_compute: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nova_compute/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nvdimm: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nvdimm/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ovn: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ovn/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_ovn_mac_addresses.py
  edpm-ansible-centos-stream-molecule-edpm_podman: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_podman/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ssh_known_hosts: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ssh_known_hosts/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_sshd: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_sshd/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_timezone: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_timezone/(?!meta).*
  edpm-ansible-centos-stream-role-addition: any of: ^.config/molecule/config.yml, ^_skeleton_role_/.*, ^role-addition.yml, ^tox.ini, ^molecule-requirements.txt, ^zuul.d/playbooks/.*, ^zuul.d/molecule.yaml
