Repository openstack-k8s-operators/edpm-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: edpm-ansible-molecule-edpm_bootstrap, edpm-ansible-molecule-edpm_podman, edpm-ansible-molecule-edpm_module_load, edpm-ansible-molecule-edpm_kernel, edpm-ansible-molecule-edpm_libvirt, edpm-ansible-molecule-edpm_nova, edpm-ansible-molecule-edpm_frr, edpm-ansible-molecule-edpm_iscsid, edpm-ansible-molecule-edpm_ovn_bgp_agent, edpm-ansible-molecule-edpm_ovs, edpm-ansible-molecule-edpm_tripleo_cleanup, edpm-ansible-molecule-edpm_tuned, edpm-ansible-molecule-edpm_telemetry_power_monitoring, edpm-ansible-centos-stream-molecule-env_data, edpm-ansible-centos-stream-molecule-test_deps, edpm-ansible-centos-stream-molecule-chrony, edpm-ansible-centos-stream-molecule-edpm_bootstrap, edpm-ansible-centos-stream-molecule-edpm_ceph_client_files, edpm-ansible-centos-stream-molecule-edpm_container_manage, edpm-ansible-centos-stream-molecule-edpm_container_rm, edpm-ansible-centos-stream-molecule-edpm_container_standalone, edpm-ansible-centos-stream-molecule-edpm_hosts_entries, edpm-ansible-centos-stream-molecule-edpm_iscsid, edpm-ansible-centos-stream-molecule-edpm_kernel, edpm-ansible-centos-stream-molecule-edpm_logrotate_crond, edpm-ansible-centos-stream-molecule-edpm_module_load, edpm-ansible-centos-stream-molecule-edpm_network_config, edpm-ansible-centos-stream-molecule-edpm_nftables, edpm-ansible-centos-stream-molecule-edpm_nodes_validation, edpm-ansible-centos-stream-molecule-edpm_nova_libvirt, edpm-ansible-centos-stream-molecule-edpm_nova_compute, edpm-ansible-centos-stream-molecule-edpm_nvdimm, edpm-ansible-centos-stream-molecule-edpm_ovn, edpm-ansible-centos-stream-molecule-edpm_podman, edpm-ansible-centos-stream-molecule-edpm_ssh_known_hosts, edpm-ansible-centos-stream-molecule-edpm_sshd, edpm-ansible-centos-stream-molecule-edpm_timezone, edpm-ansible-centos-stream-role-addition

edpm-ansible-molecule-edpm_bootstrap:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_bootstrap

edpm-ansible-molecule-edpm_podman:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_podman

edpm-ansible-molecule-edpm_module_load:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_module_load

edpm-ansible-molecule-edpm_kernel:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_kernel

edpm-ansible-molecule-edpm_libvirt:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_libvirt

edpm-ansible-molecule-edpm_nova:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_nova

edpm-ansible-molecule-edpm_frr:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_frr

edpm-ansible-molecule-edpm_iscsid:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_iscsid

edpm-ansible-molecule-edpm_ovn_bgp_agent:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_ovn_bgp_agent

edpm-ansible-molecule-edpm_ovs:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_ovs

edpm-ansible-molecule-edpm_tripleo_cleanup:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_tripleo_cleanup

edpm-ansible-molecule-edpm_tuned:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_tuned

edpm-ansible-molecule-edpm_telemetry_power_monitoring:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_telemetry_power_monitoring

edpm-ansible-centos-stream-molecule-env_data:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: env_data

edpm-ansible-centos-stream-molecule-test_deps:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: test_deps

edpm-ansible-centos-stream-molecule-chrony:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: chrony

edpm-ansible-centos-stream-molecule-edpm_bootstrap:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_bootstrap

edpm-ansible-centos-stream-molecule-edpm_ceph_client_files:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_ceph_client_files

edpm-ansible-centos-stream-molecule-edpm_container_manage:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_container_manage
  voting: false

edpm-ansible-centos-stream-molecule-edpm_container_rm:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_container_rm

edpm-ansible-centos-stream-molecule-edpm_container_standalone:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_container_standalone

edpm-ansible-centos-stream-molecule-edpm_hosts_entries:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_hosts_entries

edpm-ansible-centos-stream-molecule-edpm_iscsid:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_iscsid

edpm-ansible-centos-stream-molecule-edpm_kernel:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_kernel

Simplify logic for excluding packages from update
  roles/edpm_update_services/tasks/packages.yml
  roles/edpm_update_system/tasks/kpatch.yml
  roles/edpm_update_system/tasks/main.yml
  roles/edpm_update_system/tasks/packages.yml
Due: none

Reformulate 'essential package updates required by services'
  roles/edpm_update_services/tasks/packages.yml
Due: none

Remove bshephard
  OWNERS_ALIASES
Due: none

Default nmstate provider changes
  roles/edpm_bootstrap/defaults/main.yml
  roles/edpm_bootstrap/tasks/bootstrap.yml
  roles/edpm_bootstrap/tasks/dns_nm_configs.yml
  roles/edpm_network_config/defaults/main.yml
  roles/edpm_network_config/meta/argument_specs.yml
Due: edpm-ansible-molecule-edpm_bootstrap

Increase default delay between download retries
  roles/edpm_bootstrap/defaults/main.yml
  roles/edpm_frr/defaults/main.yml
  roles/edpm_iscsid/defaults/main.yml
  roles/edpm_kernel/defaults/main.yml
  roles/edpm_libvirt/defaults/main.yml
  roles/edpm_logrotate_crond/defaults/main.yml
  roles/edpm_multipathd/defaults/main.yml
  roles/edpm_network_config/defaults/main.yml
  roles/edpm_neutron_dhcp/defaults/main.yml
  roles/edpm_neutron_metadata/defaults/main.yml
  roles/edpm_neutron_ovn/defaults/main.yml
  roles/edpm_neutron_sriov/defaults/main.yml
  roles/edpm_nova/defaults/main.yml
  roles/edpm_ovn/defaults/main.yml
  roles/edpm_ovn_bgp_agent/defaults/main.yml
  roles/edpm_ovs/defaults/main.yml
  roles/edpm_podman/defaults/main.yml
  roles/edpm_sshd/defaults/main.yml
  roles/edpm_swift/defaults/main.yml
  roles/edpm_telemetry/defaults/main.yml
  roles/edpm_telemetry_power_monitoring/defaults/main.yml
  roles/edpm_tuned/defaults/main.yml
Due: edpm-ansible-molecule-edpm_bootstrap, edpm-ansible-molecule-edpm_podman, edpm-ansible-molecule-edpm_kernel, edpm-ansible-molecule-edpm_libvirt, edpm-ansible-molecule-edpm_nova, edpm-ansible-molecule-edpm_frr, edpm-ansible-molecule-edpm_iscsid, edpm-ansible-molecule-edpm_ovn_bgp_agent, edpm-ansible-molecule-edpm_ovs, edpm-ansible-molecule-edpm_tuned, edpm-ansible-molecule-edpm_telemetry_power_monitoring

Add variable to override all download retries
  roles/edpm_bootstrap/defaults/main.yml
  roles/edpm_frr/defaults/main.yml
  roles/edpm_iscsid/defaults/main.yml
  roles/edpm_kernel/defaults/main.yml
  roles/edpm_libvirt/defaults/main.yml
  roles/edpm_logrotate_crond/defaults/main.yml
  roles/edpm_multipathd/defaults/main.yml
  roles/edpm_network_config/defaults/main.yml
  roles/edpm_neutron_dhcp/defaults/main.yml
  roles/edpm_neutron_metadata/defaults/main.yml
  roles/edpm_neutron_ovn/defaults/main.yml
  roles/edpm_neutron_sriov/defaults/main.yml
  roles/edpm_nova/defaults/main.yml
  roles/edpm_ovn/defaults/main.yml
  roles/edpm_ovn_bgp_agent/defaults/main.yml
  roles/edpm_ovs/defaults/main.yml
  roles/edpm_podman/defaults/main.yml
  roles/edpm_sshd/defaults/main.yml
  roles/edpm_swift/defaults/main.yml
  roles/edpm_telemetry/defaults/main.yml
  roles/edpm_telemetry_power_monitoring/defaults/main.yml
  roles/edpm_tuned/defaults/main.yml
Due: edpm-ansible-molecule-edpm_bootstrap, edpm-ansible-molecule-edpm_podman, edpm-ansible-molecule-edpm_kernel, edpm-ansible-molecule-edpm_libvirt, edpm-ansible-molecule-edpm_nova, edpm-ansible-molecule-edpm_frr, edpm-ansible-molecule-edpm_iscsid, edpm-ansible-molecule-edpm_ovn_bgp_agent, edpm-ansible-molecule-edpm_ovs, edpm-ansible-molecule-edpm_tuned, edpm-ansible-molecule-edpm_telemetry_power_monitoring

EDPM deployment should not do network cleanup by default
  docs/source/roles/role-edpm_network_config.rst
  roles/edpm_network_config/defaults/main.yml
  roles/edpm_network_config/meta/argument_specs.yml
  roles/edpm_network_config/molecule/nmstate/converge.yml
Due: none

Fixes to test_deps role to avoid repos issues
  molecule/common/test_deps/tasks/main.yml
Due: none

Test os_net
  roles/edpm_network_config/defaults/main.yml
Due: none

Add edpm_update_system_include_packages variable
  roles/edpm_update_system/defaults/main.yml
  roles/edpm_update_system/meta/argument_specs.yml
  roles/edpm_update_system/tasks/packages.yml
Due: none

Add edpm_update_services_include_packages variable
  roles/edpm_update_services/defaults/main.yml
  roles/edpm_update_services/meta/argument_specs.yml
  roles/edpm_update_services/tasks/packages.yml
Due: none

Create dummy cert files for molecule tests
  roles/edpm_ovn/molecule/default/prepare.yml
  roles/edpm_ovn/molecule/noconfig/prepare.yml
Due: none

Change healthcheck script to align with pod naming
  roles/edpm_ovn/tasks/healthchecks.yml
Due: none

Move OVN controller to quadlets
  roles/edpm_ovn/defaults/main.yml
  roles/edpm_ovn/molecule/default/prepare.yml
  roles/edpm_ovn/tasks/run.yml
Due: none

Only cleanup if the old service exists
  roles/edpm_container_quadlet/tasks/cleanup.yml
  roles/edpm_ovn/tasks/run.yml
Due: none

Conditionally add TLS volumes
  roles/edpm_ovn/defaults/main.yml
Due: none

Default nmstate provider changes
  roles/edpm_bootstrap/defaults/main.yml
  roles/edpm_bootstrap/meta/argument_specs.yml
  roles/edpm_bootstrap/tasks/bootstrap.yml
  roles/edpm_network_config/defaults/main.yml
  roles/edpm_network_config/meta/argument_specs.yml
  roles/edpm_network_config/molecule/default/prepare.yml
  roles/edpm_network_config/molecule/nmstate/prepare.yml
  roles/edpm_network_config/tasks/dns_nm_configs.yml
  roles/edpm_network_config/tasks/main.yml
Due: edpm-ansible-molecule-edpm_bootstrap

Explicitly install sos report in EDPM nodes
  roles/edpm_bootstrap/defaults/main.yml
Due: edpm-ansible-molecule-edpm_bootstrap

[libvirt] Give more time to install
  roles/edpm_libvirt/defaults/main.yml
Due: edpm-ansible-molecule-edpm_libvirt

[edpm_network_config] Avoid NM restart with no config change
  roles/edpm_network_config/tasks/main.yml
Due: none

EDPM deployment should not do network cleanup by default
  docs/source/roles/role-edpm_network_config.rst
  plugins/modules/edpm_os_net_config.py
  roles/edpm_network_config/defaults/main.yml
  roles/edpm_network_config/meta/argument_specs.yml
  roles/edpm_network_config/molecule/nmstate/converge.yml
Due: none

Fix permissions for Swift EDPM role
  roles/edpm_swift/tasks/configure.yml
  roles/edpm_swift/tasks/firewall.yml
Due: none

Fix permissions for Swift EDPM role
  roles/edpm_swift/tasks/firewall.yml
Due: none

changes
  playbooks/neutron_opflex_agent.yml
  roles/edpm_neutron_opflex_agent/defaults/main.yml
  roles/edpm_neutron_opflex_agent/files/neutron-cleanup.service
  roles/edpm_neutron_opflex_agent/files/neutron-cleanup.txt
  roles/edpm_neutron_opflex_agent/handlers/main.yml
  roles/edpm_neutron_opflex_agent/meta/argument_specs.yml
  roles/edpm_neutron_opflex_agent/meta/main.yml
  roles/edpm_neutron_opflex_agent/tasks/bootstrap.yml
  roles/edpm_neutron_opflex_agent/tasks/configure.yml
  roles/edpm_neutron_opflex_agent/tasks/download_cache.yml
  roles/edpm_neutron_opflex_agent/tasks/install.yml
  roles/edpm_neutron_opflex_agent/tasks/main.yml
  roles/edpm_neutron_opflex_agent/tasks/run.yml
  roles/edpm_neutron_opflex_agent/templates/ciscoaci_neutron_opflex_agent.yaml.j2
  roles/edpm_neutron_opflex_agent/templates/kolla_config/ciscoaci_neutron_opflex_agent.yaml.j2
  roles/edpm_neutron_opflex_agent/templates/neutron-ovn-opflex-agent.conf.j2
  roles/edpm_neutron_opflex_agent/templates/rootwrap.conf.j2
  roles/edpm_neutron_opflex_agent/vars/main.yml
Due: none

typo fix
  roles/edpm_neutron_opflex_agent/tasks/run.yml
Due: none

Fix a few molecule tests
  roles/edpm_container_standalone/molecule/default/prepare.yml
  roles/edpm_multipathd/molecule/default/prepare.yml
Due: none

edpm_iscsid: move iscsid from container to host
  Makefile
  roles/edpm_container_standalone/defaults/main.yml
  roles/edpm_container_standalone/meta/argument_specs.yml
  roles/edpm_download_cache/tasks/container_images.yml
  roles/edpm_download_cache/tasks/packages.yml
  roles/edpm_iscsid/defaults/main.yml
  roles/edpm_iscsid/files/healthchecks/iscsid/healthcheck
  roles/edpm_iscsid/files/iscsid.yaml
  roles/edpm_iscsid/handlers/main.yml
  roles/edpm_iscsid/meta/argument_specs.yml
  roles/edpm_iscsid/tasks/configure.yml
  roles/edpm_iscsid/tasks/download_cache.yml
  roles/edpm_iscsid/tasks/healthchecks.yml
  roles/edpm_iscsid/tasks/install.yml
  roles/edpm_iscsid/tasks/iscsid.yaml
  roles/edpm_iscsid/tasks/iscsid_install.yaml
  roles/edpm_iscsid/tasks/run.yml
  roles/edpm_multipathd/defaults/main.yml
  roles/edpm_nova/molecule/default/verify.yml
  roles/edpm_nova/tasks/configure.yml
  roles/edpm_nova/templates/config.json.j2
  roles/edpm_nova/templates/nova_compute.json.j2
  roles/edpm_nova/templates/run-on-host
  roles/edpm_update/tasks/containers.yml
  roles/edpm_update_services/tasks/containers.yml
Due: edpm-ansible-molecule-edpm_nova, edpm-ansible-molecule-edpm_iscsid

Fix redhat.yml if rhc_organization is not defined
  playbooks/redhat.yml
Due: none

Path conditions:
  edpm-ansible-molecule-edpm_bootstrap: any of: ^roles/edpm_bootstrap/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_podman: any of: ^roles/edpm_podman/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_module_load: any of: ^roles/edpm_module_load/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_kernel: any of: ^roles/edpm_kernel/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_libvirt: any of: ^roles/edpm_libvirt/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_nova: any of: ^roles/edpm_nova/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_frr: any of: ^roles/edpm_frr/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_iscsid: any of: ^roles/edpm_iscsid/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_ovn_bgp_agent: any of: ^roles/edpm_ovn_bgp_agent/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_ovs: any of: ^roles/edpm_ovs/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_tripleo_cleanup: any of: ^roles/edpm_tripleo_cleanup/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_tuned: any of: ^roles/edpm_tuned/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_telemetry_power_monitoring: any of: ^roles/edpm_telemetry_power_monitoring/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-centos-stream-molecule-env_data: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/env_data/(?!meta).*
  edpm-ansible-centos-stream-molecule-test_deps: any of: ^molecule-requirements.txt, ^.config/molecule/config.yml, ^edpm_ansible/roles/test_deps/(?!meta).*, ^zuul.d/playbooks/pre.yml
  edpm-ansible-centos-stream-molecule-chrony: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/chrony/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_bootstrap: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_bootstrap/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ceph_client_files: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ceph_client_files/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_container_manage: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_manage/(?!meta).*, ^edpm_ansible/roles/edpm_container_rm/.*, ^edpm_ansible/ansible_plugins/action/container_systemd.py$, ^edpm_ansible/ansible_plugins/filter/helpers.py$, ^edpm_ansible/ansible_plugins/modules/container_config_data.py$, ^edpm_ansible/ansible_plugins/modules/container_config_hash.py$
  edpm-ansible-centos-stream-molecule-edpm_container_rm: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_rm/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_container_standalone: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_standalone/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_hosts_entries: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_hosts_entries/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_iscsid: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_iscsid/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_kernel: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_kernel/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_logrotate_crond: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_logrotate_crond/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_module_load: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_module_load/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_network_config: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_network_config/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_os_net_config.py, ^edpm_ansible/ansible_plugins/modules/edpm_os_net_config_mappings.py
  edpm-ansible-centos-stream-molecule-edpm_nftables: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nftables/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_nftables_from_files.py, ^edpm_ansible/ansible_plugins/modules/edpm_nftables_snippet.py
  edpm-ansible-centos-stream-molecule-edpm_nodes_validation: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nodes_validation/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nova_libvirt: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nova_libvirt/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nova_compute: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nova_compute/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nvdimm: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nvdimm/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ovn: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ovn/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_ovn_mac_addresses.py
  edpm-ansible-centos-stream-molecule-edpm_podman: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_podman/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ssh_known_hosts: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ssh_known_hosts/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_sshd: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_sshd/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_timezone: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_timezone/(?!meta).*
  edpm-ansible-centos-stream-role-addition: any of: ^.config/molecule/config.yml, ^_skeleton_role_/.*, ^role-addition.yml, ^tox.ini, ^molecule-requirements.txt, ^zuul.d/playbooks/.*, ^zuul.d/molecule.yaml
