Repository openstack-k8s-operators/edpm-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: edpm-ansible-molecule-edpm_bootstrap, edpm-ansible-molecule-edpm_podman, edpm-ansible-molecule-edpm_module_load, edpm-ansible-molecule-edpm_kernel, edpm-ansible-molecule-edpm_libvirt, edpm-ansible-molecule-edpm_nova, edpm-ansible-molecule-edpm_frr, edpm-ansible-molecule-edpm_iscsid, edpm-ansible-molecule-edpm_ovn_bgp_agent, edpm-ansible-molecule-edpm_ovs, edpm-ansible-molecule-edpm_tripleo_cleanup, edpm-ansible-molecule-edpm_tuned, edpm-ansible-molecule-edpm_telemetry_power_monitoring, edpm-ansible-centos-stream-molecule-env_data, edpm-ansible-centos-stream-molecule-test_deps, edpm-ansible-centos-stream-molecule-chrony, edpm-ansible-centos-stream-molecule-edpm_bootstrap, edpm-ansible-centos-stream-molecule-edpm_ceph_client_files, edpm-ansible-centos-stream-molecule-edpm_container_manage, edpm-ansible-centos-stream-molecule-edpm_container_rm, edpm-ansible-centos-stream-molecule-edpm_container_standalone, edpm-ansible-centos-stream-molecule-edpm_hosts_entries, edpm-ansible-centos-stream-molecule-edpm_iscsid, edpm-ansible-centos-stream-molecule-edpm_kernel, edpm-ansible-centos-stream-molecule-edpm_logrotate_crond, edpm-ansible-centos-stream-molecule-edpm_module_load, edpm-ansible-centos-stream-molecule-edpm_network_config, edpm-ansible-centos-stream-molecule-edpm_nftables, edpm-ansible-centos-stream-molecule-edpm_nodes_validation, edpm-ansible-centos-stream-molecule-edpm_nova_libvirt, edpm-ansible-centos-stream-molecule-edpm_nova_compute, edpm-ansible-centos-stream-molecule-edpm_nvdimm, edpm-ansible-centos-stream-molecule-edpm_ovn, edpm-ansible-centos-stream-molecule-edpm_podman, edpm-ansible-centos-stream-molecule-edpm_ssh_known_hosts, edpm-ansible-centos-stream-molecule-edpm_sshd, edpm-ansible-centos-stream-molecule-edpm_timezone, edpm-ansible-centos-stream-role-addition

edpm-ansible-molecule-edpm_bootstrap:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_bootstrap

edpm-ansible-molecule-edpm_podman:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_podman

edpm-ansible-molecule-edpm_module_load:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_module_load

edpm-ansible-molecule-edpm_kernel:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_kernel

edpm-ansible-molecule-edpm_libvirt:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_libvirt

edpm-ansible-molecule-edpm_nova:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_nova

edpm-ansible-molecule-edpm_frr:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_frr

edpm-ansible-molecule-edpm_iscsid:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_iscsid

edpm-ansible-molecule-edpm_ovn_bgp_agent:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_ovn_bgp_agent

edpm-ansible-molecule-edpm_ovs:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_ovs

edpm-ansible-molecule-edpm_tripleo_cleanup:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_tripleo_cleanup

edpm-ansible-molecule-edpm_tuned:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_tuned

edpm-ansible-molecule-edpm_telemetry_power_monitoring:
  parent: edpm-ansible-molecule-base
  vars:
    TEST_RUN: edpm_telemetry_power_monitoring

edpm-ansible-centos-stream-molecule-env_data:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: env_data

edpm-ansible-centos-stream-molecule-test_deps:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: test_deps

edpm-ansible-centos-stream-molecule-chrony:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: chrony

edpm-ansible-centos-stream-molecule-edpm_bootstrap:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_bootstrap

edpm-ansible-centos-stream-molecule-edpm_ceph_client_files:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_ceph_client_files

edpm-ansible-centos-stream-molecule-edpm_container_manage:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_container_manage
  voting: false

edpm-ansible-centos-stream-molecule-edpm_container_rm:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_container_rm

edpm-ansible-centos-stream-molecule-edpm_container_standalone:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_container_standalone

edpm-ansible-centos-stream-molecule-edpm_hosts_entries:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_hosts_entries

edpm-ansible-centos-stream-molecule-edpm_iscsid:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_iscsid

edpm-ansible-centos-stream-molecule-edpm_kernel:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_kernel

Log System Reboot Requirement
  roles/edpm_reboot/tasks/main.yaml
  roles/edpm_reboot/tasks/needsreboot.yaml
  roles/edpm_update_system/tasks/packages.yml
Due: none

Adds nova_nvme_cleaner container along with nova_compute container
  roles/edpm_nova/defaults/main.yml
  roles/edpm_nova/handlers/main.yml
  roles/edpm_nova/meta/argument_specs.yml
  roles/edpm_nova/tasks/configure.yml
  roles/edpm_nova/tasks/install.yml
  roles/edpm_nova/templates/nova_nvme_cleaner.json.j2
  roles/edpm_nova/templates/nova_nvme_cleaner_config.json.j2
Due: edpm-ansible-molecule-edpm_nova

Adds molecule tests for nova_nvme_cleaner
  molecule/test-helpers/verify_podman.yaml
  roles/edpm_nova/molecule/default/converge.yml
  roles/edpm_nova/molecule/default/verify.yml
Due: edpm-ansible-molecule-edpm_nova

Check if the bootc fact exits before evaluating
  playbooks/configure_ovs_dpdk.yml
  roles/edpm_bootstrap/tasks/bootstrap.yml
  roles/edpm_bootstrap/tasks/fips.yml
  roles/edpm_download_cache/tasks/main.yml
  roles/edpm_kernel/tasks/kernelargs.yml
  roles/edpm_kernel/tasks/main.yml
  roles/edpm_libvirt/tasks/install.yml
  roles/edpm_network_config/tasks/main.yml
  roles/edpm_network_config/tasks/pre_config.yml
  roles/edpm_nvmeof/tasks/install.yml
  roles/edpm_ovs/tasks/download_cache.yml
  roles/edpm_ovs/tasks/install.yml
  roles/edpm_podman/tasks/install.yml
  roles/edpm_reboot/tasks/main.yaml
  roles/edpm_sshd/tasks/install.yml
  roles/edpm_telemetry_logging/tasks/configure.yml
  roles/edpm_tuned/tasks/main.yml
  roles/edpm_update/tasks/main.yml
Due: edpm-ansible-molecule-edpm_bootstrap, edpm-ansible-molecule-edpm_podman, edpm-ansible-molecule-edpm_kernel, edpm-ansible-molecule-edpm_libvirt, edpm-ansible-molecule-edpm_ovs, edpm-ansible-molecule-edpm_tuned

Don't change all fact files to executables
  roles/edpm_bootstrap/tasks/bootc.yml
Due: edpm-ansible-molecule-edpm_bootstrap

Enable cifmw-crc-podified-edpm-baremetal-bootc job
  zuul.d/projects.yaml
Due: none

Reload sshd in configure.yaml
  roles/edpm_sshd/tasks/configure.yml
  roles/edpm_sshd/tasks/run.yml
Due: none

Adds molecule tests for nova_nvme_cleaner
  molecule/test-helpers/verify_podman.yaml
  molecule/test-helpers/verify_systemd_unit.yaml
  roles/edpm_nova/molecule/default/converge.yml
  roles/edpm_nova/molecule/default/verify.yml
Due: edpm-ansible-molecule-edpm_nova

Add missing edpm_override_hosts to Swift playbook
  playbooks/swift.yml
Due: none

edpm_nova: Remove nova_nvme_cleaner container when disabled
  roles/edpm_nova/meta/argument_specs.yml
  roles/edpm_nova/molecule/default/verify.yml
  roles/edpm_nova/tasks/install.yml
Due: edpm-ansible-molecule-edpm_nova

Adds molecule test to disable nova_nvme_cleaner container
  roles/edpm_nova/molecule/default/verify.yml
Due: edpm-ansible-molecule-edpm_nova

Add bootc update tasks to edpm_update_system
  roles/edpm_update_services/tasks/main.yml
  roles/edpm_update_system/tasks/main.yml
Due: none

nmstate: save generated network config in a temp file
  roles/edpm_network_config/tasks/nmstate_tool.yml
Due: none

[zuul] Add telemetry jobs
  roles/edpm_telemetry/tasks/main.yml
  roles/edpm_telemetry_logging/tasks/main.yml
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: none

Don't try to ensure network service is running
  roles/edpm_network_config/tasks/package_management.yml
Due: none

Fix growvols shell command YAML syntax
  roles/edpm_growvols/tasks/main.yml
Due: none

Fix yaml spacing
  roles/edpm_libvirt/molecule/default/verify.yml
  roles/edpm_nova/molecule/default/verify.yml
  roles/edpm_ovs/molecule/common/update/verify.yml
  roles/edpm_ovs/molecule/default/verify.yml
  roles/edpm_telemetry/molecule/default/verify.yml
  roles/edpm_telemetry_power_monitoring/molecule/default/verify.yml
  roles/edpm_tripleo_cleanup/molecule/default/prepare.yml
  roles/edpm_tripleo_cleanup/molecule/default/verify.yml
Due: edpm-ansible-molecule-edpm_libvirt, edpm-ansible-molecule-edpm_nova, edpm-ansible-molecule-edpm_ovs, edpm-ansible-molecule-edpm_tripleo_cleanup, edpm-ansible-molecule-edpm_telemetry_power_monitoring

Mark reboot required after bootc update
  roles/edpm_update/tasks/bootc.yml
Due: none

Move bootc update tasks to edpm_update_system role
  roles/edpm_update/defaults/main.yml
  roles/edpm_update/tasks/main.yml
  roles/edpm_update_system/defaults/main.yml
  roles/edpm_update_system/tasks/bootc.yml
  roles/edpm_update_system/tasks/main.yml
Due: none

Check for ansible_local.bootc not just ansible_local
  roles/edpm_update/tasks/main.yml
  roles/edpm_update_system/tasks/main.yml
Due: none

Add group_vars in edpm-ansible repo
  group_vars/.keep
Due: none

Add the reboot required warning task to edpm_update
  roles/edpm_update/tasks/packages.yml
Due: none

DNM Remove upper limit for molecule package
  molecule-requirements.txt
  zuul.d/jobs.yaml
Due: edpm-ansible-centos-stream-molecule-env_data, edpm-ansible-centos-stream-molecule-test_deps, edpm-ansible-centos-stream-molecule-chrony, edpm-ansible-centos-stream-molecule-edpm_bootstrap, edpm-ansible-centos-stream-molecule-edpm_ceph_client_files, edpm-ansible-centos-stream-molecule-edpm_container_manage, edpm-ansible-centos-stream-molecule-edpm_container_rm, edpm-ansible-centos-stream-molecule-edpm_container_standalone, edpm-ansible-centos-stream-molecule-edpm_hosts_entries, edpm-ansible-centos-stream-molecule-edpm_iscsid, edpm-ansible-centos-stream-molecule-edpm_kernel, edpm-ansible-centos-stream-molecule-edpm_logrotate_crond, edpm-ansible-centos-stream-molecule-edpm_module_load, edpm-ansible-centos-stream-molecule-edpm_network_config, edpm-ansible-centos-stream-molecule-edpm_nftables, edpm-ansible-centos-stream-molecule-edpm_nodes_validation, edpm-ansible-centos-stream-molecule-edpm_nova_libvirt, edpm-ansible-centos-stream-molecule-edpm_nova_compute, edpm-ansible-centos-stream-molecule-edpm_nvdimm, edpm-ansible-centos-stream-molecule-edpm_ovn, edpm-ansible-centos-stream-molecule-edpm_podman, edpm-ansible-centos-stream-molecule-edpm_ssh_known_hosts, edpm-ansible-centos-stream-molecule-edpm_sshd, edpm-ansible-centos-stream-molecule-edpm_timezone, edpm-ansible-centos-stream-role-addition

Override frr and ovn_bgp_agent directory owners recursively
  roles/edpm_frr/tasks/install.yml
  roles/edpm_ovn_bgp_agent/tasks/install.yml
Due: edpm-ansible-molecule-edpm_frr, edpm-ansible-molecule-edpm_ovn_bgp_agent

Configure LVM's devices file
  roles/edpm_bootstrap/defaults/main.yml
  roles/edpm_bootstrap/meta/argument_specs.yml
  roles/edpm_bootstrap/molecule/default/verify.yml
  roles/edpm_bootstrap/tasks/bootstrap.yml
  roles/edpm_bootstrap/tasks/lvm.yml
  roles/edpm_nova/tasks/update.yml
Due: edpm-ansible-molecule-edpm_bootstrap, edpm-ansible-molecule-edpm_nova

Fix a few molecule tests
  roles/edpm_container_standalone/molecule/default/prepare.yml
  roles/edpm_multipathd/molecule/default/prepare.yml
Due: none

edpm_iscsid: Move iscsid from container to host
  roles/edpm_download_cache/tasks/container_images.yml
  roles/edpm_download_cache/tasks/packages.yml
  roles/edpm_iscsid/defaults/main.yml
  roles/edpm_iscsid/handlers/main.yml
  roles/edpm_iscsid/meta/argument_specs.yml
  roles/edpm_iscsid/tasks/configure.yml
  roles/edpm_iscsid/tasks/download_cache.yml
  roles/edpm_iscsid/tasks/install.yml
  roles/edpm_iscsid/tasks/update.yml
  roles/edpm_multipathd/defaults/main.yml
  roles/edpm_nova/molecule/default/verify.yml
  roles/edpm_nova/tasks/configure.yml
  roles/edpm_nova/templates/config.json.j2
  roles/edpm_nova/templates/nova_compute.json.j2
  roles/edpm_nova/templates/run-on-host
  roles/edpm_update/tasks/containers.yml
  roles/edpm_update_services/tasks/containers.yml
Due: edpm-ansible-molecule-edpm_nova, edpm-ansible-molecule-edpm_iscsid

edpm_iscsid: Minor cleanup to delete cruft
  roles/edpm_container_standalone/defaults/main.yml
  roles/edpm_container_standalone/meta/argument_specs.yml
  roles/edpm_iscsid/files/healthchecks/iscsid/healthcheck
  roles/edpm_iscsid/files/iscsid.yaml
  roles/edpm_iscsid/tasks/healthchecks.yml
  roles/edpm_iscsid/tasks/iscsid.yaml
  roles/edpm_iscsid/tasks/iscsid_install.yaml
  roles/edpm_iscsid/templates/iscsid.yaml.j2
Due: edpm-ansible-molecule-edpm_iscsid

edpm_iscsid: Update and improve molecule tests
  roles/edpm_iscsid/molecule/adoption/converge.yml
  roles/edpm_iscsid/molecule/adoption/molecule.yml
  roles/edpm_iscsid/molecule/adoption/prepare.yml
  roles/edpm_iscsid/molecule/adoption/verify.yml
  roles/edpm_iscsid/molecule/default/converge.yml
  roles/edpm_iscsid/molecule/default/molecule.yml
  roles/edpm_iscsid/molecule/default/prepare.yml
  roles/edpm_iscsid/molecule/default/verify.yml
  roles/edpm_iscsid/molecule/vagrant/README.md
  roles/edpm_iscsid/molecule/vagrant/collections.yml
  roles/edpm_iscsid/molecule/vagrant/molecule.yml
  scripts/test_roles.py
Due: edpm-ansible-molecule-edpm_iscsid

Move host_vars/hosts to inventory and use through links
  roles/edpm_frr/molecule/default/inventory/host_vars/compute-1.yml
  roles/edpm_frr/molecule/default/molecule.yml
  roles/edpm_nova/molecule/default/inventory/hosts
  roles/edpm_nova/molecule/default/molecule.yml
  roles/edpm_nova/molecule/vagrant/inventory/hosts
  roles/edpm_nova/molecule/vagrant/molecule.yml
  roles/edpm_ovn_bgp_agent/molecule/default/inventory/host_vars/compute-1.yml
  roles/edpm_ovn_bgp_agent/molecule/default/molecule.yml
  roles/edpm_telemetry_power_monitoring/molecule/default/inventory/hosts
  roles/edpm_telemetry_power_monitoring/molecule/default/molecule.yml
Due: edpm-ansible-molecule-edpm_nova, edpm-ansible-molecule-edpm_frr, edpm-ansible-molecule-edpm_ovn_bgp_agent, edpm-ansible-molecule-edpm_telemetry_power_monitoring

WIP: Test setting ctlplane_ip in molecule tests
  roles/edpm_nova/molecule/default/converge.yml
  roles/edpm_nova/molecule/default/molecule.yml
  roles/edpm_nova/molecule/vagrant/molecule.yml
Due: edpm-ansible-molecule-edpm_nova

Path conditions:
  edpm-ansible-molecule-edpm_bootstrap: any of: ^roles/edpm_bootstrap/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_podman: any of: ^roles/edpm_podman/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_module_load: any of: ^roles/edpm_module_load/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_kernel: any of: ^roles/edpm_kernel/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_libvirt: any of: ^roles/edpm_libvirt/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_nova: any of: ^roles/edpm_nova/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_frr: any of: ^roles/edpm_frr/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_iscsid: any of: ^roles/edpm_iscsid/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_ovn_bgp_agent: any of: ^roles/edpm_ovn_bgp_agent/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_ovs: any of: ^roles/edpm_ovs/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_tripleo_cleanup: any of: ^roles/edpm_tripleo_cleanup/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_tuned: any of: ^roles/edpm_tuned/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_telemetry_power_monitoring: any of: ^roles/edpm_telemetry_power_monitoring/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-centos-stream-molecule-env_data: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/env_data/(?!meta).*
  edpm-ansible-centos-stream-molecule-test_deps: any of: ^molecule-requirements.txt, ^.config/molecule/config.yml, ^edpm_ansible/roles/test_deps/(?!meta).*, ^zuul.d/playbooks/pre.yml
  edpm-ansible-centos-stream-molecule-chrony: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/chrony/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_bootstrap: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_bootstrap/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ceph_client_files: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ceph_client_files/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_container_manage: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_manage/(?!meta).*, ^edpm_ansible/roles/edpm_container_rm/.*, ^edpm_ansible/ansible_plugins/action/container_systemd.py$, ^edpm_ansible/ansible_plugins/filter/helpers.py$, ^edpm_ansible/ansible_plugins/modules/container_config_data.py$, ^edpm_ansible/ansible_plugins/modules/container_config_hash.py$
  edpm-ansible-centos-stream-molecule-edpm_container_rm: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_rm/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_container_standalone: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_standalone/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_hosts_entries: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_hosts_entries/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_iscsid: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_iscsid/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_kernel: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_kernel/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_logrotate_crond: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_logrotate_crond/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_module_load: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_module_load/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_network_config: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_network_config/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_os_net_config.py, ^edpm_ansible/ansible_plugins/modules/edpm_os_net_config_mappings.py
  edpm-ansible-centos-stream-molecule-edpm_nftables: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nftables/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_nftables_from_files.py, ^edpm_ansible/ansible_plugins/modules/edpm_nftables_snippet.py
  edpm-ansible-centos-stream-molecule-edpm_nodes_validation: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nodes_validation/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nova_libvirt: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nova_libvirt/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nova_compute: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nova_compute/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nvdimm: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nvdimm/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ovn: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ovn/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_ovn_mac_addresses.py
  edpm-ansible-centos-stream-molecule-edpm_podman: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_podman/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ssh_known_hosts: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ssh_known_hosts/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_sshd: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_sshd/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_timezone: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_timezone/(?!meta).*
  edpm-ansible-centos-stream-role-addition: any of: ^.config/molecule/config.yml, ^_skeleton_role_/.*, ^role-addition.yml, ^tox.ini, ^molecule-requirements.txt, ^zuul.d/playbooks/.*, ^zuul.d/molecule.yaml
