Repository openstack-k8s-operators/edpm-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: edpm-ansible-molecule-edpm_bootstrap, edpm-ansible-molecule-edpm_podman, edpm-ansible-molecule-edpm_module_load, edpm-ansible-molecule-edpm_kernel, edpm-ansible-molecule-edpm_libvirt, edpm-ansible-molecule-edpm_nova, edpm-ansible-molecule-edpm_frr, edpm-ansible-molecule-edpm_iscsid, edpm-ansible-molecule-edpm_ovn_bgp_agent, edpm-ansible-molecule-edpm_ovs, edpm-ansible-molecule-edpm_tripleo_cleanup, edpm-ansible-molecule-edpm_tuned, edpm-ansible-molecule-edpm_telemetry_power_monitoring, edpm-ansible-centos-stream-molecule-env_data, edpm-ansible-centos-stream-molecule-test_deps, edpm-ansible-centos-stream-molecule-chrony, edpm-ansible-centos-stream-molecule-edpm_bootstrap, edpm-ansible-centos-stream-molecule-edpm_ceph_client_files, edpm-ansible-centos-stream-molecule-edpm_container_manage, edpm-ansible-centos-stream-molecule-edpm_container_rm, edpm-ansible-centos-stream-molecule-edpm_container_standalone, edpm-ansible-centos-stream-molecule-edpm_hosts_entries, edpm-ansible-centos-stream-molecule-edpm_iscsid, edpm-ansible-centos-stream-molecule-edpm_kernel, edpm-ansible-centos-stream-molecule-edpm_logrotate_crond, edpm-ansible-centos-stream-molecule-edpm_module_load, edpm-ansible-centos-stream-molecule-edpm_network_config, edpm-ansible-centos-stream-molecule-edpm_nftables, edpm-ansible-centos-stream-molecule-edpm_nodes_validation, edpm-ansible-centos-stream-molecule-edpm_nova_libvirt, edpm-ansible-centos-stream-molecule-edpm_nova_compute, edpm-ansible-centos-stream-molecule-edpm_nvdimm, edpm-ansible-centos-stream-molecule-edpm_ovn, edpm-ansible-centos-stream-molecule-edpm_podman, edpm-ansible-centos-stream-molecule-edpm_ssh_known_hosts, edpm-ansible-centos-stream-molecule-edpm_sshd, edpm-ansible-centos-stream-molecule-edpm_timezone, edpm-ansible-centos-stream-role-addition

Path conditions:
  edpm-ansible-molecule-edpm_bootstrap: any of: ^roles/edpm_bootstrap/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_podman: any of: ^roles/edpm_podman/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_module_load: any of: ^roles/edpm_module_load/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_kernel: any of: ^roles/edpm_kernel/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_libvirt: any of: ^roles/edpm_libvirt/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_nova: any of: ^roles/edpm_nova/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_frr: any of: ^roles/edpm_frr/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_iscsid: any of: ^roles/edpm_iscsid/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_ovn_bgp_agent: any of: ^roles/edpm_ovn_bgp_agent/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_ovs: any of: ^roles/edpm_ovs/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_tripleo_cleanup: any of: ^roles/edpm_tripleo_cleanup/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_tuned: any of: ^roles/edpm_tuned/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_telemetry_power_monitoring: any of: ^roles/edpm_telemetry_power_monitoring/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-centos-stream-molecule-env_data: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/env_data/(?!meta).*
  edpm-ansible-centos-stream-molecule-test_deps: any of: ^molecule-requirements.txt, ^.config/molecule/config.yml, ^edpm_ansible/roles/test_deps/(?!meta).*, ^zuul.d/playbooks/pre.yml
  edpm-ansible-centos-stream-molecule-chrony: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/chrony/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_bootstrap: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_bootstrap/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ceph_client_files: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ceph_client_files/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_container_manage: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_manage/(?!meta).*, ^edpm_ansible/roles/edpm_container_rm/.*, ^edpm_ansible/ansible_plugins/action/container_systemd.py$, ^edpm_ansible/ansible_plugins/filter/helpers.py$, ^edpm_ansible/ansible_plugins/modules/container_config_data.py$, ^edpm_ansible/ansible_plugins/modules/container_config_hash.py$
  edpm-ansible-centos-stream-molecule-edpm_container_rm: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_rm/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_container_standalone: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_standalone/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_hosts_entries: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_hosts_entries/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_iscsid: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_iscsid/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_kernel: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_kernel/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_logrotate_crond: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_logrotate_crond/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_module_load: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_module_load/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_network_config: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_network_config/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_os_net_config.py, ^edpm_ansible/ansible_plugins/modules/edpm_os_net_config_mappings.py
  edpm-ansible-centos-stream-molecule-edpm_nftables: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nftables/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_nftables_from_files.py, ^edpm_ansible/ansible_plugins/modules/edpm_nftables_snippet.py
  edpm-ansible-centos-stream-molecule-edpm_nodes_validation: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nodes_validation/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nova_libvirt: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nova_libvirt/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nova_compute: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nova_compute/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nvdimm: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nvdimm/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ovn: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ovn/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_ovn_mac_addresses.py
  edpm-ansible-centos-stream-molecule-edpm_podman: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_podman/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ssh_known_hosts: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ssh_known_hosts/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_sshd: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_sshd/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_timezone: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_timezone/(?!meta).*
  edpm-ansible-centos-stream-role-addition: any of: ^.config/molecule/config.yml, ^_skeleton_role_/.*, ^role-addition.yml, ^tox.ini, ^molecule-requirements.txt, ^zuul.d/playbooks/.*, ^zuul.d/molecule.yaml

Skip swapfile creation for bootc
  roles/edpm_bootstrap/tasks/swap.yml
Due: edpm-ansible-molecule-edpm_bootstrap

Install edpm-container-shutdown to /var
  roles/edpm_container_manage/files/edpm-container-shutdown-service
  roles/edpm_container_manage/tasks/shutdown.yml
  roles/edpm_container_manage/templates/systemd-service.j2
  roles/edpm_frr/tasks/run.yml
  roles/edpm_iscsid/tasks/run.yml
  roles/edpm_multipathd/tasks/run.yml
  roles/edpm_neutron_dhcp/tasks/run.yml
  roles/edpm_neutron_metadata/tasks/run.yml
  roles/edpm_neutron_ovn/tasks/run.yml
  roles/edpm_neutron_sriov/tasks/run.yml
  roles/edpm_ovn/tasks/run.yml
  roles/edpm_ovn_bgp_agent/tasks/run.yml
  roles/edpm_ovn_bgp_agent/tasks/run_ovn.yml
  roles/edpm_swift/tasks/run.yml
Due: edpm-ansible-molecule-edpm_frr, edpm-ansible-molecule-edpm_iscsid, edpm-ansible-molecule-edpm_ovn_bgp_agent

Create /etc/localtime if it doesn't exist
  roles/edpm_timezone/tasks/configure.yml
Due: none

Pin libvirt to fix CI issues
  roles/edpm_libvirt/defaults/main.yml
  roles/edpm_libvirt/meta/argument_specs.yml
  roles/edpm_libvirt/tasks/download_cache.yml
  roles/edpm_libvirt/tasks/install.yml
Due: edpm-ansible-molecule-edpm_libvirt

edpm_container_manage support bootc
  roles/edpm_container_manage/tasks/shutdown.yml
Due: none

Move containers-tmpwatch to /var/lib/openstack
  roles/edpm_logrotate_crond/tasks/configure.yml
Due: none

Skip package installations for bootc
  roles/edpm_bootstrap/tasks/bootstrap.yml
  roles/edpm_bootstrap/tasks/packages.yml
  roles/edpm_kernel/tasks/main.yml
  roles/edpm_libvirt/tasks/install.yml
  roles/edpm_logrotate_crond/tasks/install.yml
  roles/edpm_network_config/tasks/main.yml
  roles/edpm_network_config/tasks/network_config.yml
  roles/edpm_nvmeof/tasks/install.yml
  roles/edpm_ovs/tasks/download_cache.yml
  roles/edpm_ovs/tasks/install.yml
  roles/edpm_podman/tasks/install.yml
  roles/edpm_reboot/tasks/main.yaml
  roles/edpm_sshd/tasks/install.yml
Due: edpm-ansible-molecule-edpm_bootstrap, edpm-ansible-molecule-edpm_podman, edpm-ansible-molecule-edpm_kernel, edpm-ansible-molecule-edpm_libvirt, edpm-ansible-molecule-edpm_ovs

Skip kernel tasks when using bootc
  playbooks/bootstrap.yml
  roles/edpm_kernel/tasks/main.yml
Due: edpm-ansible-molecule-edpm_kernel

Add bootc fact to test_deps
  molecule/common/test_deps/defaults/main.yml
  molecule/common/test_deps/tasks/main.yml
Due: none

Skip tuned package installed for bootc
  roles/edpm_tuned/tasks/main.yml
Due: edpm-ansible-molecule-edpm_tuned

Gather local facts where ansible_local.bootc is used
  roles/edpm_logrotate_crond/tasks/install.yml
Due: none

Drop owner/group from /var/lib/openstack
  roles/edpm_logrotate_crond/molecule/default/converge.yml
  roles/edpm_logrotate_crond/molecule/default/verify.yml
  roles/edpm_logrotate_crond/tasks/configure.yml
  roles/edpm_logrotate_crond/tasks/install.yml
Due: none

Enable podman exporter
  roles/edpm_telemetry/defaults/main.yml
  roles/edpm_telemetry/tasks/configure.yml
  roles/edpm_telemetry/tasks/exporter_tls.yml
  roles/edpm_telemetry/templates/podman_exporter.json.j2
  roles/edpm_telemetry/templates/podman_exporter.yaml.j2
Due: none

Gather ansible_local facts at the start of each service
  playbooks/configure_network.yml
  playbooks/configure_os.yml
  playbooks/download_cache.yml
  playbooks/install_certs.yml
  playbooks/install_os.yml
  playbooks/libvirt.yml
  playbooks/neutron_metadata.yml
  playbooks/neutron_ovn.yaml
  playbooks/nova.yml
  playbooks/ovn.yml
  playbooks/run_os.yml
  playbooks/telemetry.yml
  playbooks/validate_network.yml
Due: none

Skip download_cache packages tasks with bootc
  roles/edpm_download_cache/tasks/main.yml
Due: none

Re-enable swap for bootc
  playbooks/bootstrap.yml
  roles/edpm_bootstrap/defaults/main.yml
  roles/edpm_bootstrap/tasks/bootstrap.yml
  roles/edpm_bootstrap/tasks/swap.yml
Due: edpm-ansible-molecule-edpm_bootstrap

[OSPRH-12074] Add TLS for powermonitoring
  roles/edpm_telemetry_power_monitoring/templates/kepler.json.j2
  roles/edpm_telemetry_power_monitoring/templates/web-config.yml.j2
Due: edpm-ansible-molecule-edpm_telemetry_power_monitoring

Removing DPDK lcore list config
  docs/source/roles/role-edpm_ovs_dpdk.rst
  roles/edpm_ovs_dpdk/defaults/main.yml
  roles/edpm_ovs_dpdk/meta/argument_specs.yml
  roles/edpm_ovs_dpdk/tasks/configure.yml
Due: none

node_exporter should not be mounting dbus
  roles/edpm_telemetry/templates/node_exporter.json.j2
Due: none

[OSPRH-13840]use download role for powermonitoring
  roles/edpm_download_cache/tasks/container_images.yml
Due: none

Remove the syslog collectors to avoid having errors in the log
  roles/edpm_telemetry/templates/node_exporter.json.j2
Due: none

Document nmstate as experimental and require an override to use it
  roles/edpm_network_config/defaults/main.yml
  roles/edpm_network_config/molecule/nmstate/converge.yml
  roles/edpm_network_config/tasks/main.yml
Due: none

Update task name to clarify disconnected env
  roles/edpm_podman/tasks/install.yml
Due: edpm-ansible-molecule-edpm_podman

Flip the default for edpm_network_config_nonconfigured_cleanup
  docs/source/roles/role-edpm_network_config.rst
  roles/edpm_network_config/defaults/main.yml
  roles/edpm_network_config/meta/argument_specs.yml
Due: none

Revert "node_exporter should not be mounting dbus"
  roles/edpm_telemetry/templates/node_exporter.json.j2
Due: none

Use either edpm_frr_bgp_peers or edpm_frr_bgp_uplinks in frr.conf
  roles/edpm_frr/defaults/main.yml
  roles/edpm_frr/molecule/default/converge.yml
  roles/edpm_frr/tasks/configure.yml
Due: edpm-ansible-molecule-edpm_frr

Always load custom nftables rules
  roles/edpm_nftables/tasks/configure.yml
  roles/edpm_nftables/tasks/run.yml
Due: none

exporters: add dataplane_node_exporter installation
  roles/edpm_telemetry/defaults/main.yml
  roles/edpm_telemetry/meta/argument_specs.yml
  roles/edpm_telemetry/tasks/download_cache.yml
  roles/edpm_telemetry/templates/dataplane_node_exporter.json.j2
  roles/edpm_telemetry/templates/dataplane_node_exporter.yaml.j2
  roles/edpm_telemetry/templates/firewall.yaml.j2
Due: none

Don't log frr on EDPM nodes to files
  roles/edpm_frr/defaults/main.yml
  roles/edpm_frr/meta/argument_specs.yml
  roles/edpm_frr/molecule/default/verify.yml
  roles/edpm_frr/tasks/install.yml
  roles/edpm_frr/templates/frr.conf.j2
  roles/edpm_frr/templates/kolla_config/frr.yaml.j2
Due: edpm-ansible-molecule-edpm_frr

Set OVN BGP agent as PartOf frr service
  roles/edpm_container_manage/templates/systemd-service.j2
  roles/edpm_ovn_bgp_agent/templates/ovn_bgp_agent.yaml.j2
Due: edpm-ansible-molecule-edpm_ovn_bgp_agent

Change Ceph Dashboard port to 8443
  roles/edpm_ceph_hci_pre/defaults/main.yml
Due: none

.github/workflows/release-branch-sync.yaml
  .github/workflows/release-branch-sync.yaml
Due: none
