Repository openstack-k8s-operators/edpm-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: edpm-ansible-molecule-edpm_bootstrap, edpm-ansible-molecule-edpm_podman, edpm-ansible-molecule-edpm_module_load, edpm-ansible-molecule-edpm_kernel, edpm-ansible-molecule-edpm_libvirt, edpm-ansible-molecule-edpm_nova, edpm-ansible-molecule-edpm_frr, edpm-ansible-molecule-edpm_iscsid, edpm-ansible-molecule-edpm_ovn_bgp_agent, edpm-ansible-molecule-edpm_ovs, edpm-ansible-molecule-edpm_tripleo_cleanup, edpm-ansible-molecule-edpm_tuned, edpm-ansible-molecule-edpm_telemetry_power_monitoring, edpm-ansible-centos-stream-molecule-env_data, edpm-ansible-centos-stream-molecule-test_deps, edpm-ansible-centos-stream-molecule-chrony, edpm-ansible-centos-stream-molecule-edpm_bootstrap, edpm-ansible-centos-stream-molecule-edpm_ceph_client_files, edpm-ansible-centos-stream-molecule-edpm_container_manage, edpm-ansible-centos-stream-molecule-edpm_container_rm, edpm-ansible-centos-stream-molecule-edpm_container_standalone, edpm-ansible-centos-stream-molecule-edpm_hosts_entries, edpm-ansible-centos-stream-molecule-edpm_iscsid, edpm-ansible-centos-stream-molecule-edpm_kernel, edpm-ansible-centos-stream-molecule-edpm_logrotate_crond, edpm-ansible-centos-stream-molecule-edpm_module_load, edpm-ansible-centos-stream-molecule-edpm_network_config, edpm-ansible-centos-stream-molecule-edpm_nftables, edpm-ansible-centos-stream-molecule-edpm_nodes_validation, edpm-ansible-centos-stream-molecule-edpm_nova_libvirt, edpm-ansible-centos-stream-molecule-edpm_nova_compute, edpm-ansible-centos-stream-molecule-edpm_nvdimm, edpm-ansible-centos-stream-molecule-edpm_ovn, edpm-ansible-centos-stream-molecule-edpm_podman, edpm-ansible-centos-stream-molecule-edpm_ssh_known_hosts, edpm-ansible-centos-stream-molecule-edpm_sshd, edpm-ansible-centos-stream-molecule-edpm_timezone, edpm-ansible-centos-stream-role-addition

Path conditions:
  edpm-ansible-molecule-edpm_bootstrap: any of: ^roles/edpm_bootstrap/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_podman: any of: ^roles/edpm_podman/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_module_load: any of: ^roles/edpm_module_load/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_kernel: any of: ^roles/edpm_kernel/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_libvirt: any of: ^roles/edpm_libvirt/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_nova: any of: ^roles/edpm_nova/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_frr: any of: ^roles/edpm_frr/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_iscsid: any of: ^roles/edpm_iscsid/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_ovn_bgp_agent: any of: ^roles/edpm_ovn_bgp_agent/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_ovs: any of: ^roles/edpm_ovs/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_tripleo_cleanup: any of: ^roles/edpm_tripleo_cleanup/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_tuned: any of: ^roles/edpm_tuned/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_telemetry_power_monitoring: any of: ^roles/edpm_telemetry_power_monitoring/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-centos-stream-molecule-env_data: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/env_data/(?!meta).*
  edpm-ansible-centos-stream-molecule-test_deps: any of: ^molecule-requirements.txt, ^.config/molecule/config.yml, ^edpm_ansible/roles/test_deps/(?!meta).*, ^zuul.d/playbooks/pre.yml
  edpm-ansible-centos-stream-molecule-chrony: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/chrony/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_bootstrap: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_bootstrap/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ceph_client_files: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ceph_client_files/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_container_manage: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_manage/(?!meta).*, ^edpm_ansible/roles/edpm_container_rm/.*, ^edpm_ansible/ansible_plugins/action/container_systemd.py$, ^edpm_ansible/ansible_plugins/filter/helpers.py$, ^edpm_ansible/ansible_plugins/modules/container_config_data.py$, ^edpm_ansible/ansible_plugins/modules/container_config_hash.py$
  edpm-ansible-centos-stream-molecule-edpm_container_rm: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_rm/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_container_standalone: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_standalone/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_hosts_entries: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_hosts_entries/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_iscsid: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_iscsid/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_kernel: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_kernel/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_logrotate_crond: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_logrotate_crond/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_module_load: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_module_load/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_network_config: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_network_config/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_os_net_config.py, ^edpm_ansible/ansible_plugins/modules/edpm_os_net_config_mappings.py
  edpm-ansible-centos-stream-molecule-edpm_nftables: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nftables/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_nftables_from_files.py, ^edpm_ansible/ansible_plugins/modules/edpm_nftables_snippet.py
  edpm-ansible-centos-stream-molecule-edpm_nodes_validation: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nodes_validation/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nova_libvirt: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nova_libvirt/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nova_compute: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nova_compute/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nvdimm: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nvdimm/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ovn: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ovn/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_ovn_mac_addresses.py
  edpm-ansible-centos-stream-molecule-edpm_podman: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_podman/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ssh_known_hosts: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ssh_known_hosts/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_sshd: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_sshd/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_timezone: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_timezone/(?!meta).*
  edpm-ansible-centos-stream-role-addition: any of: ^.config/molecule/config.yml, ^_skeleton_role_/.*, ^role-addition.yml, ^tox.ini, ^molecule-requirements.txt, ^zuul.d/playbooks/.*, ^zuul.d/molecule.yaml

Add bootc fact to test_deps
  molecule/common/test_deps/defaults/main.yml
  molecule/common/test_deps/tasks/main.yml
Due: none

Skip swapfile creation for bootc
  roles/edpm_bootstrap/tasks/swap.yml
Due: edpm-ansible-molecule-edpm_bootstrap

Skip package installations for bootc
  roles/edpm_bootstrap/tasks/bootstrap.yml
  roles/edpm_bootstrap/tasks/packages.yml
  roles/edpm_kernel/tasks/main.yml
  roles/edpm_libvirt/tasks/install.yml
  roles/edpm_logrotate_crond/tasks/install.yml
  roles/edpm_network_config/tasks/main.yml
  roles/edpm_network_config/tasks/network_config.yml
  roles/edpm_nvmeof/tasks/install.yml
  roles/edpm_ovs/tasks/download_cache.yml
  roles/edpm_ovs/tasks/install.yml
  roles/edpm_podman/tasks/install.yml
  roles/edpm_reboot/tasks/main.yaml
  roles/edpm_sshd/tasks/install.yml
Due: edpm-ansible-molecule-edpm_bootstrap, edpm-ansible-molecule-edpm_podman, edpm-ansible-molecule-edpm_kernel, edpm-ansible-molecule-edpm_libvirt, edpm-ansible-molecule-edpm_ovs

Move containers-tmpwatch to /var/lib/openstack
  roles/edpm_logrotate_crond/tasks/configure.yml
Due: none

Skip tuned package installed for bootc
  roles/edpm_tuned/tasks/main.yml
Due: edpm-ansible-molecule-edpm_tuned

Drop owner/group from /var/lib/openstack
  roles/edpm_logrotate_crond/molecule/default/converge.yml
  roles/edpm_logrotate_crond/molecule/default/verify.yml
  roles/edpm_logrotate_crond/tasks/configure.yml
  roles/edpm_logrotate_crond/tasks/install.yml
Due: none

Gather local facts where ansible_local.bootc is used
  roles/edpm_logrotate_crond/tasks/install.yml
Due: none

Gather ansible_local facts at the start of each service
  playbooks/configure_network.yml
  playbooks/configure_os.yml
  playbooks/download_cache.yml
  playbooks/install_certs.yml
  playbooks/install_os.yml
  playbooks/libvirt.yml
  playbooks/neutron_metadata.yml
  playbooks/neutron_ovn.yaml
  playbooks/nova.yml
  playbooks/ovn.yml
  playbooks/run_os.yml
  playbooks/telemetry.yml
  playbooks/validate_network.yml
Due: none

Re-enable swap for bootc
  playbooks/bootstrap.yml
  roles/edpm_bootstrap/defaults/main.yml
  roles/edpm_bootstrap/tasks/bootstrap.yml
  roles/edpm_bootstrap/tasks/swap.yml
Due: edpm-ansible-molecule-edpm_bootstrap

Skip download_cache packages tasks with bootc
  roles/edpm_download_cache/tasks/main.yml
Due: none

Flip the default for edpm_network_config_nonconfigured_cleanup
  docs/source/roles/role-edpm_network_config.rst
  roles/edpm_network_config/defaults/main.yml
  roles/edpm_network_config/meta/argument_specs.yml
Due: none

Remove fao89 from OWNERS
  OWNERS_ALIASES
Due: none

Don't relabel dbus director
  roles/edpm_telemetry/templates/node_exporter.json.j2
Due: none

telemetry-role: add support for the openstack-network-exporter
  roles/edpm_telemetry/defaults/main.yml
  roles/edpm_telemetry/meta/argument_specs.yml
  roles/edpm_telemetry/templates/firewall.yaml.j2
  roles/edpm_telemetry/templates/openstack_network_exporter.json.j2
  roles/edpm_telemetry/templates/openstack_network_exporter.yaml.j2
Due: none

Open port for podman_exporter
  roles/edpm_telemetry/templates/firewall.yaml.j2
Due: none

Change edpm_network_config_safe_defaults to false
  roles/edpm_network_config/defaults/main.yml
  roles/edpm_network_config/meta/argument_specs.yml
Due: none

[ovn-bgp] Add missing firewall rules
  .github/workflows/molecule.yaml
  roles/edpm_frr/molecule/default/verify.yml
  roles/edpm_frr/tasks/install.yml
  roles/edpm_frr/tasks/main.yml
Due: edpm-ansible-molecule-edpm_frr

Apply updates for edpm_nova role instead of config
  roles/edpm_nova/tasks/update.yml
  roles/edpm_update/tasks/containers.yml
Due: edpm-ansible-molecule-edpm_nova

[ovn-bgp] Add missing firewall rules
  roles/edpm_frr/tasks/firewal.yml
Due: edpm-ansible-molecule-edpm_frr

Use loop instead of with_items
  roles/edpm_extra_mounts/molecule/default/verify.yml
  roles/edpm_neutron_dhcp/tasks/configure.yml
  roles/edpm_neutron_metadata/tasks/install.yml
Due: none

DNM debug molecule nova jobs only
  roles/edpm_nova/defaults/main.yml
  zuul.d/projects.yaml
Due: edpm-ansible-molecule-edpm_nova

Update default edpm_ovn_bgp_agent_driver to nb_ovn_bgp_driver
  roles/edpm_ovn_bgp_agent/meta/argument_specs.yml
Due: none

Molecule: explicitly use cs9 distro in repo-setup
  roles/edpm_libvirt/molecule/default/prepare.yml
  roles/edpm_nova/molecule/default/prepare.yml
  roles/edpm_ovs/molecule/common/prepare_base.yml
Due: edpm-ansible-molecule-edpm_libvirt, edpm-ansible-molecule-edpm_nova, edpm-ansible-molecule-edpm_ovs

Revert "Skip molecule test for unmodified roles"
  zuul.d/jobs.yaml
Due: none

Fix permissions to molecule CA public cert
  roles/edpm_nova/molecule/default/prepare.yml
Due: edpm-ansible-molecule-edpm_nova

Fix several typos and errors
  roles/edpm_frr/molecule/default/verify.yml
  roles/edpm_frr/tasks/firewall.yml
Due: edpm-ansible-molecule-edpm_frr

Mask old tripleo services in systemd before removing unit files
  roles/edpm_tripleo_cleanup/tasks/main.yml
Due: edpm-ansible-molecule-edpm_tripleo_cleanup

Add firewall rule for ceilometer-prom-exporter
  roles/edpm_telemetry/templates/firewall.yaml.j2
Due: none

Preliminary bootc update handling
  roles/edpm_update/defaults/main.yml
  roles/edpm_update/tasks/bootc.yml
Due: none

[edpm_ovn_bgp_agent] Fix molecule after PR#883
  roles/edpm_ovn_bgp_agent/molecule/default/prepare.yml
Due: edpm-ansible-molecule-edpm_ovn_bgp_agent

[edpm_ovn_bgp_agent] Adapt molecule to new iproute version
  roles/edpm_ovn_bgp_agent/molecule/default/converge.yml
Due: edpm-ansible-molecule-edpm_ovn_bgp_agent

Don't mask old tripleo services in systemd before removing unit files
  roles/edpm_tripleo_cleanup/tasks/main.yml
Due: edpm-ansible-molecule-edpm_tripleo_cleanup

Set OVN BGP agent as PartOf frr service
  roles/edpm_container_manage/templates/systemd-service.j2
  roles/edpm_ovn_bgp_agent/templates/ovn_bgp_agent.yaml.j2
Due: edpm-ansible-molecule-edpm_ovn_bgp_agent

Default nmstate provider changes
  roles/edpm_network_config/defaults/main.yml
  roles/edpm_network_config/meta/argument_specs.yml
Due: none
