Repository openstack-k8s-operators/edpm-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: edpm-ansible-molecule-edpm_accel_drivers, edpm-ansible-molecule-edpm_bootstrap, edpm-ansible-molecule-edpm_podman, edpm-ansible-molecule-edpm_module_load, edpm-ansible-molecule-edpm_kernel, edpm-ansible-molecule-edpm_libvirt, edpm-ansible-molecule-edpm_nova, edpm-ansible-molecule-edpm_frr, edpm-ansible-molecule-edpm_iscsid, edpm-ansible-molecule-edpm_ovn_bgp_agent, edpm-ansible-molecule-edpm_ovs, edpm-ansible-molecule-edpm_tripleo_cleanup, edpm-ansible-molecule-edpm_tuned, edpm-ansible-molecule-edpm_telemetry_power_monitoring, edpm-ansible-molecule-edpm_update, edpm-ansible-centos-stream-molecule-env_data, edpm-ansible-centos-stream-molecule-test_deps, edpm-ansible-centos-stream-molecule-chrony, edpm-ansible-centos-stream-molecule-edpm_bootstrap, edpm-ansible-centos-stream-molecule-edpm_ceph_client_files, edpm-ansible-centos-stream-molecule-edpm_container_manage, edpm-ansible-centos-stream-molecule-edpm_container_rm, edpm-ansible-centos-stream-molecule-edpm_container_standalone, edpm-ansible-centos-stream-molecule-edpm_hosts_entries, edpm-ansible-centos-stream-molecule-edpm_iscsid, edpm-ansible-centos-stream-molecule-edpm_kernel, edpm-ansible-centos-stream-molecule-edpm_logrotate_crond, edpm-ansible-centos-stream-molecule-edpm_module_load, edpm-ansible-centos-stream-molecule-edpm_network_config, edpm-ansible-centos-stream-molecule-edpm_nftables, edpm-ansible-centos-stream-molecule-edpm_nodes_validation, edpm-ansible-centos-stream-molecule-edpm_nova_libvirt, edpm-ansible-centos-stream-molecule-edpm_nova_compute, edpm-ansible-centos-stream-molecule-edpm_nvdimm, edpm-ansible-centos-stream-molecule-edpm_ovn, edpm-ansible-centos-stream-molecule-edpm_podman, edpm-ansible-centos-stream-molecule-edpm_ssh_known_hosts, edpm-ansible-centos-stream-molecule-edpm_sshd, edpm-ansible-centos-stream-molecule-edpm_timezone, edpm-ansible-centos-stream-role-addition

Path conditions:
  edpm-ansible-molecule-edpm_accel_drivers: any of: ^roles/edpm_accel_drivers/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_bootstrap: any of: ^roles/edpm_bootstrap/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_podman: any of: ^roles/edpm_podman/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_module_load: any of: ^roles/edpm_module_load/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_kernel: any of: ^roles/edpm_kernel/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_libvirt: any of: ^roles/edpm_libvirt/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_nova: any of: ^roles/edpm_nova/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_frr: any of: ^roles/edpm_frr/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_iscsid: any of: ^roles/edpm_iscsid/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_ovn_bgp_agent: any of: ^roles/edpm_ovn_bgp_agent/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_ovs: any of: ^roles/edpm_ovs/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_tripleo_cleanup: any of: ^roles/edpm_tripleo_cleanup/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_tuned: any of: ^roles/edpm_tuned/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_telemetry_power_monitoring: any of: ^roles/edpm_telemetry_power_monitoring/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_update: any of: ^roles/edpm_update/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-centos-stream-molecule-env_data: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/env_data/(?!meta).*
  edpm-ansible-centos-stream-molecule-test_deps: any of: ^molecule-requirements.txt, ^.config/molecule/config.yml, ^edpm_ansible/roles/test_deps/(?!meta).*, ^zuul.d/playbooks/pre.yml
  edpm-ansible-centos-stream-molecule-chrony: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/chrony/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_bootstrap: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_bootstrap/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ceph_client_files: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ceph_client_files/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_container_manage: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_manage/(?!meta).*, ^edpm_ansible/roles/edpm_container_rm/.*, ^edpm_ansible/ansible_plugins/action/container_systemd.py$, ^edpm_ansible/ansible_plugins/filter/helpers.py$, ^edpm_ansible/ansible_plugins/modules/container_config_data.py$, ^edpm_ansible/ansible_plugins/modules/container_config_hash.py$
  edpm-ansible-centos-stream-molecule-edpm_container_rm: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_rm/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_container_standalone: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_standalone/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_hosts_entries: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_hosts_entries/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_iscsid: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_iscsid/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_kernel: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_kernel/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_logrotate_crond: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_logrotate_crond/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_module_load: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_module_load/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_network_config: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_network_config/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_os_net_config.py, ^edpm_ansible/ansible_plugins/modules/edpm_os_net_config_mappings.py
  edpm-ansible-centos-stream-molecule-edpm_nftables: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nftables/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_nftables_from_files.py, ^edpm_ansible/ansible_plugins/modules/edpm_nftables_snippet.py
  edpm-ansible-centos-stream-molecule-edpm_nodes_validation: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nodes_validation/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nova_libvirt: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nova_libvirt/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nova_compute: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nova_compute/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nvdimm: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nvdimm/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ovn: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ovn/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_ovn_mac_addresses.py
  edpm-ansible-centos-stream-molecule-edpm_podman: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_podman/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ssh_known_hosts: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ssh_known_hosts/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_sshd: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_sshd/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_timezone: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_timezone/(?!meta).*
  edpm-ansible-centos-stream-role-addition: any of: ^.config/molecule/config.yml, ^_skeleton_role_/.*, ^role-addition.yml, ^tox.ini, ^molecule-requirements.txt, ^zuul.d/playbooks/.*, ^zuul.d/molecule.yaml

edpm_ovs: fix update_no_op molecule prepare silently skipping install
  roles/edpm_ovs/molecule/common/update/prepare.yml
  roles/edpm_ovs/molecule/update_with_reload/molecule.yml
Due: edpm-ansible-molecule-edpm_ovs

Run AEE image build on ubuntu-24.04
  .github/workflows/openstack-ansibleee-runner.yaml
Due: none

Run AEE image build on ubuntu-24.04 (#1298)
  .github/workflows/openstack-ansibleee-runner.yaml
Due: none

Run all gitHub workflows on ubuntu-24.04
  .github/workflows/build-collection.yaml
  .github/workflows/codeql.yml
  .github/workflows/documentation.yaml
  .github/workflows/molecule.yaml
  .github/workflows/openstack-ansibleee-runner.yaml
  molecule/common/Containerfile.j2
Due: none

Run github workflows on ubuntu-24.04 (#1299)
  .github/workflows/build-collection.yaml
  .github/workflows/codeql.yml
  .github/workflows/documentation.yaml
  .github/workflows/molecule.yaml
  .github/workflows/openstack-ansibleee-runner.yaml
  molecule/common/Containerfile.j2
Due: none

[18-stable] Run github workflows on ubuntu-24.04 (#1300)
  .github/workflows/build-collection.yaml
  .github/workflows/codeql.yml
  .github/workflows/documentation.yaml
  .github/workflows/molecule.yaml
  .github/workflows/openstack-ansibleee-runner.yaml
  molecule/common/Containerfile.j2
Due: none

edpm_neutron_ovn: create persistent lib dirs during update
  roles/edpm_neutron_ovn/tasks/update.yml
Due: none

[DNM] testing
  .github/workflows/molecule.yaml
  roles/edpm_neutron_metadata/tasks/configure.yml
  roles/edpm_neutron_ovn/tasks/main.yml
  roles/edpm_nova/tasks/configure.yml
  roles/edpm_ovn/tasks/configure.yml
  roles/edpm_ovs/tasks/install.yml
  roles/edpm_swift/tasks/configure.yml
  roles/edpm_telemetry/molecule/default/converge.yml
  roles/edpm_telemetry/tasks/exporter.yml
Due: edpm-ansible-molecule-edpm_nova, edpm-ansible-molecule-edpm_ovs

Run all molecule tests on molecule workflow change
  .github/workflows/molecule.yaml
Due: none

Run molecule on ubuntu 22.04
  .github/workflows/molecule.yaml
Due: none

Pin ansible and commuity.general collection
  .github/workflows/molecule.yaml
  molecule-requirements.txt
  molecule/common/test_deps/molecule/default/molecule.yml
  plugins/tests/molecule/edpm_os_net_config/molecule.yml
  requirements.yml
  roles/edpm_bootstrap/molecule/default/molecule.yml
  roles/edpm_bootstrap/molecule/molecule_config.yaml
  roles/edpm_growvols/molecule/default/molecule.yml
  roles/edpm_module_load/molecule/default/molecule.yml
  roles/edpm_module_load/molecule/legacy_vars/molecule.yml
  roles/edpm_module_load/molecule/remove_module/molecule.yml
  roles/edpm_podman/molecule/default/molecule.yml
  roles/edpm_podman/molecule/disconnected/molecule.yml
  roles/edpm_podman/molecule/install/molecule.yml
  roles/edpm_podman/molecule/login/molecule.yml
  roles/edpm_reboot/molecule/default/molecule.yml
  roles/edpm_reboot/molecule/pre-adoption/molecule.yml
  roles/edpm_ssh_known_hosts/molecule/default/molecule.yml
  roles/edpm_ssh_known_hosts/molecule/no_networks/molecule.yml
  roles/edpm_users/molecule/default/molecule.yml
Due: edpm-ansible-molecule-edpm_bootstrap, edpm-ansible-molecule-edpm_podman, edpm-ansible-molecule-edpm_module_load, edpm-ansible-centos-stream-molecule-env_data, edpm-ansible-centos-stream-molecule-test_deps, edpm-ansible-centos-stream-molecule-chrony, edpm-ansible-centos-stream-molecule-edpm_bootstrap, edpm-ansible-centos-stream-molecule-edpm_ceph_client_files, edpm-ansible-centos-stream-molecule-edpm_container_manage, edpm-ansible-centos-stream-molecule-edpm_container_rm, edpm-ansible-centos-stream-molecule-edpm_container_standalone, edpm-ansible-centos-stream-molecule-edpm_hosts_entries, edpm-ansible-centos-stream-molecule-edpm_iscsid, edpm-ansible-centos-stream-molecule-edpm_kernel, edpm-ansible-centos-stream-molecule-edpm_logrotate_crond, edpm-ansible-centos-stream-molecule-edpm_module_load, edpm-ansible-centos-stream-molecule-edpm_network_config, edpm-ansible-centos-stream-molecule-edpm_nftables, edpm-ansible-centos-stream-molecule-edpm_nodes_validation, edpm-ansible-centos-stream-molecule-edpm_nova_libvirt, edpm-ansible-centos-stream-molecule-edpm_nova_compute, edpm-ansible-centos-stream-molecule-edpm_nvdimm, edpm-ansible-centos-stream-molecule-edpm_ovn, edpm-ansible-centos-stream-molecule-edpm_podman, edpm-ansible-centos-stream-molecule-edpm_ssh_known_hosts, edpm-ansible-centos-stream-molecule-edpm_sshd, edpm-ansible-centos-stream-molecule-edpm_timezone, edpm-ansible-centos-stream-role-addition

Revert "[18-stable] Run github workflows on ubuntu-24.04 (#1300)"
  .github/workflows/build-collection.yaml
  .github/workflows/codeql.yml
  .github/workflows/documentation.yaml
  .github/workflows/molecule.yaml
  .github/workflows/openstack-ansibleee-runner.yaml
  molecule/common/Containerfile.j2
Due: none

Revert "[18-stable] Run github workflows on ubuntu-24.04" (#1304)
  .github/workflows/build-collection.yaml
  .github/workflows/codeql.yml
  .github/workflows/documentation.yaml
  .github/workflows/molecule.yaml
  .github/workflows/openstack-ansibleee-runner.yaml
  molecule/common/Containerfile.j2
Due: none

[18-stable][OSPRH-33254] Require mTLS for prom exporter
  roles/edpm_telemetry/files/podman_exporter.yaml
  roles/edpm_telemetry/molecule/default/prepare.yml
  roles/edpm_telemetry/tasks/exporter.yml
  roles/edpm_telemetry/templates/container_defs/podman_exporter.yaml.j2
Due: none

Skip installed package verification when package list is empty
  roles/edpm_bootstrap/tasks/packages.yml
Due: edpm-ansible-molecule-edpm_bootstrap

Remove crudini from package install list
  roles/edpm_bootstrap/defaults/main.yml
  roles/edpm_bootstrap/meta/argument_specs.yml
Due: edpm-ansible-molecule-edpm_bootstrap

Fix molecule tests on ubuntu-24.04 runners
  .github/workflows/molecule.yaml
  molecule/common/Containerfile.j2
  molecule/common/test_deps/molecule/default/molecule.yml
  molecule/test-helpers/verify_podman.yaml
  plugins/tests/molecule/edpm_os_net_config/molecule.yml
  roles/edpm_bootstrap/molecule/default/molecule.yml
  roles/edpm_bootstrap/molecule/molecule_config.yaml
  roles/edpm_ceph_hci_pre/molecule/default/verify.yml
  roles/edpm_module_load/molecule/default/molecule.yml
  roles/edpm_module_load/molecule/legacy_vars/molecule.yml
  roles/edpm_module_load/molecule/remove_module/molecule.yml
  roles/edpm_podman/molecule/default/molecule.yml
  roles/edpm_podman/molecule/disconnected/molecule.yml
  roles/edpm_podman/molecule/install/molecule.yml
  roles/edpm_podman/molecule/login/molecule.yml
  roles/edpm_ssh_known_hosts/molecule/default/molecule.yml
  roles/edpm_ssh_known_hosts/molecule/no_networks/molecule.yml
  roles/edpm_timezone/tasks/configure.yml
  roles/edpm_users/molecule/default/molecule.yml
Due: edpm-ansible-molecule-edpm_bootstrap, edpm-ansible-molecule-edpm_podman, edpm-ansible-molecule-edpm_module_load

edpm_neutron_ovn: create persistent lib dirs during update (#1301)
  roles/edpm_neutron_ovn/tasks/update.yml
Due: none

Cleanup tripleo os-net-config return code file
  roles/edpm_tripleo_cleanup/tasks/main.yml
Due: edpm-ansible-molecule-edpm_tripleo_cleanup

Normalize OVN bridge mappings for MAC generation (#1287)
  roles/edpm_ovn/defaults/main.yml
  roles/edpm_ovn/meta/argument_specs.yml
  roles/edpm_ovn/molecule/bridge_mappings_list/verify.yml
  roles/edpm_ovn/molecule/bridge_mappings_string/converge.yml
  roles/edpm_ovn/molecule/bridge_mappings_string/verify.yml
  roles/edpm_ovn/tasks/main.yml
Due: none

Require mTLS for prom exporter
  roles/edpm_telemetry/files/podman_exporter.yaml
  roles/edpm_telemetry/molecule/default/prepare.yml
  roles/edpm_telemetry/tasks/exporter.yml
  roles/edpm_telemetry/templates/container_defs/podman_exporter.yaml.j2
Due: none

[18-stable][OSPRH-33255] Require mTLS for node exporter
  roles/edpm_telemetry/files/node_exporter.yaml
  roles/edpm_telemetry/templates/container_defs/node_exporter.yaml.j2
Due: none

[18-stable][OSPRH-33255] Require mTLS for node exporter (#1310)
  roles/edpm_telemetry/files/node_exporter.yaml
  roles/edpm_telemetry/templates/container_defs/node_exporter.yaml.j2
Due: none

Normalize OVN bridge mappings for MAC generation
  roles/edpm_ovn/defaults/main.yml
  roles/edpm_ovn/meta/argument_specs.yml
  roles/edpm_ovn/molecule/bridge_mappings_list/verify.yml
  roles/edpm_ovn/molecule/bridge_mappings_string/converge.yml
  roles/edpm_ovn/molecule/bridge_mappings_string/verify.yml
  roles/edpm_ovn/tasks/main.yml
Due: none

edpm_ovs_dpdk: add generic edpm_ovs_dpdk_other_config passthrough
  docs/source/roles/role-edpm_ovs_dpdk.rst
  roles/edpm_ovs_dpdk/defaults/main.yml
  roles/edpm_ovs_dpdk/meta/argument_specs.yml
  roles/edpm_ovs_dpdk/tasks/configure.yml
Due: none

[18-stable] Normalize OVN bridge mappings for MAC generation (#1313)
  roles/edpm_ovn/defaults/main.yml
  roles/edpm_ovn/meta/argument_specs.yml
  roles/edpm_ovn/molecule/bridge_mappings_list/verify.yml
  roles/edpm_ovn/molecule/bridge_mappings_string/converge.yml
  roles/edpm_ovn/molecule/bridge_mappings_string/verify.yml
  roles/edpm_ovn/tasks/main.yml
Due: none

Move telemetry and logging molecule jobs to Zuul
  .github/workflows/molecule.yaml
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: none

edpm_network_config: install nmstate device_map helper on the node
  roles/edpm_network_config/tasks/nmstate_device_map.yml
Due: none

edpm_network_config: install derived NIC mapping helper on the node
  roles/edpm_network_config/tasks/nmstate_tool.yml
Due: none

edpm_network_config: fix nic alias substitution for SR-IOV PF references
  plugins/filter/edpm_nmstate_nic_aliases.py
  plugins/tests/test_edpm_nmstate_nic_aliases.py
  roles/edpm_network_config/tasks/nmstate_tool.yml
Due: none

edpm_network_config: install nmstate helpers under /var/lib/edpm-config
  roles/edpm_network_config/tasks/driver_bind.yml
  roles/edpm_network_config/tasks/nmstate_device_map.yml
  roles/edpm_network_config/tasks/nmstate_tool.yml
Due: none

edpm_network_config: add VF driver bind for NIC partitioning
  docs/source/roles/role-edpm_network_config.rst
  roles/edpm_network_config/defaults/main.yml
  roles/edpm_network_config/files/edpm_vf_driver_bind.sh
  roles/edpm_network_config/meta/argument_specs.yml
  roles/edpm_network_config/tasks/nmstate_tool.yml
  roles/edpm_network_config/tasks/vf_driver_bind_script.yml
Due: none

edpm_network_config: display resolved NIC mapping on nmstate runs
  roles/edpm_network_config/tasks/nmstate_tool.yml
Due: none

edpm_network_config: stop reshuffling nicN aliases when a mapped NIC leaves sysfs
  plugins/tests/test_edpm_derived_nic_mapping.py
  roles/edpm_network_config/defaults/main.yml
  roles/edpm_network_config/files/edpm_derived_nic_mapping.py
  roles/edpm_network_config/tasks/nmstate_tool.yml
Due: none

edpm_network_config: resolve nicN aliases in driver_bind before write
  docs/source/roles/role-edpm_network_config.rst
  roles/edpm_network_config/meta/argument_specs.yml
  roles/edpm_network_config/tasks/driver_bind.yml
Due: none
