Repository openstack-k8s-operators/edpm-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: edpm-ansible-molecule-edpm_accel_drivers, edpm-ansible-molecule-edpm_bootstrap, edpm-ansible-molecule-edpm_podman, edpm-ansible-molecule-edpm_module_load, edpm-ansible-molecule-edpm_kernel, edpm-ansible-molecule-edpm_libvirt, edpm-ansible-molecule-edpm_nova, edpm-ansible-molecule-edpm_frr, edpm-ansible-molecule-edpm_iscsid, edpm-ansible-molecule-edpm_ovn_bgp_agent, edpm-ansible-molecule-edpm_ovs, edpm-ansible-molecule-edpm_tripleo_cleanup, edpm-ansible-molecule-edpm_tuned, edpm-ansible-molecule-edpm_telemetry_power_monitoring, edpm-ansible-molecule-edpm_update, edpm-ansible-centos-stream-molecule-env_data, edpm-ansible-centos-stream-molecule-test_deps, edpm-ansible-centos-stream-molecule-chrony, edpm-ansible-centos-stream-molecule-edpm_bootstrap, edpm-ansible-centos-stream-molecule-edpm_ceph_client_files, edpm-ansible-centos-stream-molecule-edpm_container_manage, edpm-ansible-centos-stream-molecule-edpm_container_rm, edpm-ansible-centos-stream-molecule-edpm_container_standalone, edpm-ansible-centos-stream-molecule-edpm_hosts_entries, edpm-ansible-centos-stream-molecule-edpm_iscsid, edpm-ansible-centos-stream-molecule-edpm_kernel, edpm-ansible-centos-stream-molecule-edpm_logrotate_crond, edpm-ansible-centos-stream-molecule-edpm_module_load, edpm-ansible-centos-stream-molecule-edpm_network_config, edpm-ansible-centos-stream-molecule-edpm_nftables, edpm-ansible-centos-stream-molecule-edpm_nodes_validation, edpm-ansible-centos-stream-molecule-edpm_nova_libvirt, edpm-ansible-centos-stream-molecule-edpm_nova_compute, edpm-ansible-centos-stream-molecule-edpm_nvdimm, edpm-ansible-centos-stream-molecule-edpm_ovn, edpm-ansible-centos-stream-molecule-edpm_podman, edpm-ansible-centos-stream-molecule-edpm_ssh_known_hosts, edpm-ansible-centos-stream-molecule-edpm_sshd, edpm-ansible-centos-stream-molecule-edpm_timezone, edpm-ansible-centos-stream-role-addition

Path conditions:
  edpm-ansible-molecule-edpm_accel_drivers: any of: ^roles/edpm_accel_drivers/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_bootstrap: any of: ^roles/edpm_bootstrap/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_podman: any of: ^roles/edpm_podman/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_module_load: any of: ^roles/edpm_module_load/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_kernel: any of: ^roles/edpm_kernel/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_libvirt: any of: ^roles/edpm_libvirt/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_nova: any of: ^roles/edpm_nova/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_frr: any of: ^roles/edpm_frr/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_iscsid: any of: ^roles/edpm_iscsid/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_ovn_bgp_agent: any of: ^roles/edpm_ovn_bgp_agent/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_ovs: any of: ^roles/edpm_ovs/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_tripleo_cleanup: any of: ^roles/edpm_tripleo_cleanup/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_tuned: any of: ^roles/edpm_tuned/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_telemetry_power_monitoring: any of: ^roles/edpm_telemetry_power_monitoring/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_update: any of: ^roles/edpm_update/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-centos-stream-molecule-env_data: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/env_data/(?!meta).*
  edpm-ansible-centos-stream-molecule-test_deps: any of: ^molecule-requirements.txt, ^.config/molecule/config.yml, ^edpm_ansible/roles/test_deps/(?!meta).*, ^zuul.d/playbooks/pre.yml
  edpm-ansible-centos-stream-molecule-chrony: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/chrony/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_bootstrap: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_bootstrap/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ceph_client_files: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ceph_client_files/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_container_manage: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_manage/(?!meta).*, ^edpm_ansible/roles/edpm_container_rm/.*, ^edpm_ansible/ansible_plugins/action/container_systemd.py$, ^edpm_ansible/ansible_plugins/filter/helpers.py$, ^edpm_ansible/ansible_plugins/modules/container_config_data.py$, ^edpm_ansible/ansible_plugins/modules/container_config_hash.py$
  edpm-ansible-centos-stream-molecule-edpm_container_rm: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_rm/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_container_standalone: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_standalone/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_hosts_entries: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_hosts_entries/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_iscsid: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_iscsid/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_kernel: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_kernel/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_logrotate_crond: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_logrotate_crond/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_module_load: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_module_load/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_network_config: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_network_config/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_os_net_config.py, ^edpm_ansible/ansible_plugins/modules/edpm_os_net_config_mappings.py
  edpm-ansible-centos-stream-molecule-edpm_nftables: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nftables/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_nftables_from_files.py, ^edpm_ansible/ansible_plugins/modules/edpm_nftables_snippet.py
  edpm-ansible-centos-stream-molecule-edpm_nodes_validation: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nodes_validation/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nova_libvirt: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nova_libvirt/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nova_compute: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nova_compute/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nvdimm: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nvdimm/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ovn: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ovn/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_ovn_mac_addresses.py
  edpm-ansible-centos-stream-molecule-edpm_podman: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_podman/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ssh_known_hosts: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ssh_known_hosts/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_sshd: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_sshd/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_timezone: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_timezone/(?!meta).*
  edpm-ansible-centos-stream-role-addition: any of: ^.config/molecule/config.yml, ^_skeleton_role_/.*, ^role-addition.yml, ^tox.ini, ^molecule-requirements.txt, ^zuul.d/playbooks/.*, ^zuul.d/molecule.yaml

Add Install AMD drivers from repository task
  roles/edpm_accel_drivers/defaults/main.yml
  roles/edpm_accel_drivers/meta/argument_specs.yml
  roles/edpm_accel_drivers/tasks/amd_drivers.yml
  roles/edpm_accel_drivers/tasks/main.yml
Due: edpm-ansible-molecule-edpm_accel_drivers

Refactor GPU custom URL driver installation to support multiple vendors
  roles/edpm_accel_drivers/defaults/main.yml
  roles/edpm_accel_drivers/meta/argument_specs.yml
  roles/edpm_accel_drivers/molecule/custom_url_rpm/converge.yml
  roles/edpm_accel_drivers/molecule/custom_url_run/converge.yml
  roles/edpm_accel_drivers/tasks/amd_drivers.yml
  roles/edpm_accel_drivers/tasks/download_cache.yml
  roles/edpm_accel_drivers/tasks/gpu_custom_url.yml
  roles/edpm_accel_drivers/tasks/gpu_from_rpm.yml
  roles/edpm_accel_drivers/tasks/nvidia_drivers.yml
  roles/edpm_accel_drivers/tasks/nvidia_from_run.yml
Due: edpm-ansible-molecule-edpm_accel_drivers

Add Install AMD driver from custom URL task
  roles/edpm_accel_drivers/tasks/amd_drivers.yml
  roles/edpm_accel_drivers/tasks/gpu_custom_url.yml
Due: edpm-ansible-molecule-edpm_accel_drivers

Refactor download_cache to use generic GPU variable naming
  roles/edpm_accel_drivers/tasks/download_cache.yml
Due: edpm-ansible-molecule-edpm_accel_drivers

Backward compatibility layer for deprecated NVIDIA-specific variable names
  roles/edpm_accel_drivers/defaults/main.yml
  roles/edpm_accel_drivers/tasks/backward_compatibility.yml
  roles/edpm_accel_drivers/tasks/main.yml
Due: edpm-ansible-molecule-edpm_accel_drivers

Refactor GPU module blacklisting to support multiple vendors
  roles/edpm_accel_drivers/defaults/main.yml
  roles/edpm_accel_drivers/meta/argument_specs.yml
  roles/edpm_accel_drivers/tasks/blacklist_gpu_module.yml
  roles/edpm_accel_drivers/tasks/blacklist_nouveau.yml
  roles/edpm_accel_drivers/tasks/main.yml
Due: edpm-ansible-molecule-edpm_accel_drivers

Refactor GPU repository configuration task to support multiple vendors
  roles/edpm_accel_drivers/defaults/main.yml
  roles/edpm_accel_drivers/meta/argument_specs.yml
  roles/edpm_accel_drivers/molecule/nvidia_repo/converge.yml
  roles/edpm_accel_drivers/tasks/gpu_repos.yml
  roles/edpm_accel_drivers/tasks/nvidia_drivers.yml
  roles/edpm_accel_drivers/tasks/nvidia_from_rpm.yml
  roles/edpm_accel_drivers/tasks/nvidia_repos.yml
Due: edpm-ansible-molecule-edpm_accel_drivers

Refactor GPU from rpm driver installation to support multiple vendors
  roles/edpm_accel_drivers/tasks/gpu_from_rpm.yml
  roles/edpm_accel_drivers/tasks/nvidia_drivers.yml
Due: edpm-ansible-molecule-edpm_accel_drivers

Refactor GPU custom URL driver installation to support multiple vendors
  roles/edpm_accel_drivers/defaults/main.yml
  roles/edpm_accel_drivers/meta/argument_specs.yml
  roles/edpm_accel_drivers/molecule/custom_url_rpm/converge.yml
  roles/edpm_accel_drivers/molecule/custom_url_run/converge.yml
  roles/edpm_accel_drivers/tasks/download_cache.yml
  roles/edpm_accel_drivers/tasks/gpu_custom_url.yml
  roles/edpm_accel_drivers/tasks/gpu_from_rpm.yml
  roles/edpm_accel_drivers/tasks/nvidia_drivers.yml
  roles/edpm_accel_drivers/tasks/nvidia_from_run.yml
Due: edpm-ansible-molecule-edpm_accel_drivers

EDPM deployment should not do network cleanup by default
  docs/source/roles/role-edpm_network_config.rst
  roles/edpm_network_config/defaults/main.yml
  roles/edpm_network_config/meta/argument_specs.yml
  roles/edpm_network_config/molecule/default/prepare.yml
  roles/edpm_network_config/molecule/nmstate/converge.yml
Due: none

Refactor GPU module blacklisting to support multiple vendors
  roles/edpm_accel_drivers/defaults/main.yml
  roles/edpm_accel_drivers/tasks/blacklist_gpu_module.yml
  roles/edpm_accel_drivers/tasks/main.yml
Due: edpm-ansible-molecule-edpm_accel_drivers

Refactor GPU custom URL driver installation to support multiple vendors
  roles/edpm_accel_drivers/defaults/main.yml
  roles/edpm_accel_drivers/meta/argument_specs.yml
  roles/edpm_accel_drivers/molecule/custom_url_rpm/converge.yml
  roles/edpm_accel_drivers/molecule/custom_url_run/converge.yml
  roles/edpm_accel_drivers/tasks/download_cache.yml
  roles/edpm_accel_drivers/tasks/download_from_custom_url.yml
  roles/edpm_accel_drivers/tasks/install_from_rpm.yml
  roles/edpm_accel_drivers/tasks/nvidia_drivers.yml
  roles/edpm_accel_drivers/tasks/nvidia_from_rpm.yml
  roles/edpm_accel_drivers/tasks/nvidia_from_run.yml
Due: edpm-ansible-molecule-edpm_accel_drivers

Backward compatibility layer for deprecated NVIDIA-specific variable names
  roles/edpm_accel_drivers/tasks/backward_compatibility.yml
  roles/edpm_accel_drivers/tasks/main.yml
Due: edpm-ansible-molecule-edpm_accel_drivers

Add Install AMD driver from custom URL
  roles/edpm_accel_drivers/defaults/main.yml
  roles/edpm_accel_drivers/meta/argument_specs.yml
  roles/edpm_accel_drivers/tasks/amd_drivers.yml
  roles/edpm_accel_drivers/tasks/download_from_custom_url.yml
  roles/edpm_accel_drivers/tasks/main.yml
Due: edpm-ansible-molecule-edpm_accel_drivers

Fix need_delete filter for Labels: null
  plugins/filter/helpers.py
Due: none

Fix: Use edpm_service_types instead of edpm_services for service matching
  roles/edpm_download_cache/defaults/main.yml
  roles/edpm_download_cache/meta/argument_specs.yml
  roles/edpm_download_cache/molecule/default/converge.yml
  roles/edpm_update/meta/argument_specs.yml
  roles/edpm_update_services/meta/argument_specs.yml
Due: none

fix: load empty ruleset does not work in all scenerio
  roles/edpm_nftables/tasks/configure.yml
Due: none

Use containers.podman.podman_prune to clean up unused images and volumes
  roles/edpm_cleanup/molecule/default/converge.yml
  roles/edpm_cleanup/molecule/default/verify.yml
  roles/edpm_cleanup/tasks/cleanup_services.yml
  roles/edpm_podman/tasks/main.yml
  roles/edpm_podman/tasks/purge.yml
  roles/edpm_update_services/tasks/containers.yml
Due: edpm-ansible-molecule-edpm_podman

Disable libvirt default network autostart
  roles/edpm_libvirt/tasks/post-install.yml
Due: edpm-ansible-molecule-edpm_libvirt

Ensure prometheus exporter is created when update
  roles/edpm_telemetry/tasks/update.yml
Due: none

Added tags(update,telemetry) to outer tasks
  roles/edpm_telemetry/tasks/update.yml
Due: none

[edpm_users] Prevent system user account expiration on hardened systems
  roles/edpm_users/defaults/main.yml
  roles/edpm_users/molecule/default/verify.yml
  roles/edpm_users/tasks/create_users_and_groups.yml
Due: none

[FRR] Add new VRF needed for the ovn-bgp neutron service-plugin
  roles/edpm_frr/defaults/main.yml
  roles/edpm_frr/meta/argument_specs.yml
  roles/edpm_frr/templates/config/frr.conf.j2
Due: edpm-ansible-molecule-edpm_frr

Add Quadlet support and switch edpm_ovn to Quadlet
  .ansible-lint
  plugins/modules/container_config_hash.py
  roles/edpm_container_standalone/defaults/main.yml
  roles/edpm_container_standalone/meta/argument_specs.yml
  roles/edpm_container_standalone/molecule/quadlet/collections.yml
  roles/edpm_container_standalone/molecule/quadlet/converge.yml
  roles/edpm_container_standalone/molecule/quadlet/molecule.yml
  roles/edpm_container_standalone/molecule/quadlet/prepare.yml
  roles/edpm_container_standalone/molecule/quadlet/templates/test_service.container.j2
  roles/edpm_container_standalone/molecule/quadlet/templates/test_service_updated.container.j2
  roles/edpm_container_standalone/tasks/main.yml
  roles/edpm_container_standalone/tasks/quadlet.yml
  roles/edpm_ovn/tasks/run.yml
  roles/edpm_ovn/templates/container_defs/ovn_controller.yaml.j2
  roles/edpm_ovn/templates/quadlet/ovn_controller.container.j2
Due: none

Refactor GPU custom URL driver installation for multiple vendors And add AMD driver support
  roles/edpm_accel_drivers/defaults/main.yml
  roles/edpm_accel_drivers/meta/argument_specs.yml
  roles/edpm_accel_drivers/tasks/amd_drivers.yml
  roles/edpm_accel_drivers/tasks/download_cache.yml
  roles/edpm_accel_drivers/tasks/download_from_custom_url.yml
  roles/edpm_accel_drivers/tasks/install_from_rpm.yml
  roles/edpm_accel_drivers/tasks/main.yml
  roles/edpm_accel_drivers/tasks/nvidia_custom_url.yml
  roles/edpm_accel_drivers/tasks/nvidia_drivers.yml
  roles/edpm_accel_drivers/tasks/nvidia_from_rpm.yml
  roles/edpm_accel_drivers/tasks/nvidia_from_run.yml
Due: edpm-ansible-molecule-edpm_accel_drivers

Refactor module blacklisting to use per-module configuration files
  roles/edpm_accel_drivers/molecule/amd_custom_url_rpm/verify.yml
  roles/edpm_accel_drivers/molecule/default/verify.yml
  roles/edpm_accel_drivers/tasks/disable_module.yml
Due: edpm-ansible-molecule-edpm_accel_drivers

Refactor driver installation to use shared configuration variables
  roles/edpm_accel_drivers/defaults/main.yml
  roles/edpm_accel_drivers/meta/argument_specs.yml
  roles/edpm_accel_drivers/molecule/amd_custom_url_rpm/converge.yml
  roles/edpm_accel_drivers/molecule/default/verify.yml
  roles/edpm_accel_drivers/tasks/amd_drivers.yml
  roles/edpm_accel_drivers/tasks/disable_module.yml
  roles/edpm_accel_drivers/tasks/download_cache.yml
  roles/edpm_accel_drivers/tasks/download_from_custom_url.yml
  roles/edpm_accel_drivers/tasks/main.yml
  roles/edpm_accel_drivers/tasks/nvidia_drivers.yml
Due: edpm-ansible-molecule-edpm_accel_drivers

Refactor GPU module blacklisting to support multiple vendors
  roles/edpm_accel_drivers/defaults/main.yml
  roles/edpm_accel_drivers/tasks/blacklist_gpu_module.yml
  roles/edpm_accel_drivers/tasks/blacklist_nouveau.yml
  roles/edpm_accel_drivers/tasks/main.yml
Due: edpm-ansible-molecule-edpm_accel_drivers

Add Molecule test scenarios for AMD custom URL RPM installation
  roles/edpm_accel_drivers/molecule/amd_custom_url_rpm/converge.yml
  roles/edpm_accel_drivers/molecule/amd_custom_url_rpm/molecule.yml
  roles/edpm_accel_drivers/molecule/amd_custom_url_rpm/prepare.yml
  roles/edpm_accel_drivers/molecule/amd_custom_url_rpm/test_package/mock-amd-driver.spec
  roles/edpm_accel_drivers/molecule/amd_custom_url_rpm/verify.yml
  roles/edpm_accel_drivers/molecule/amd_custom_url_rpm_vagrant/molecule.yml
Due: edpm-ansible-molecule-edpm_accel_drivers

fix: prevent libvirt password truncation in saslpasswd2
  roles/edpm_libvirt/tasks/configure.yml
Due: edpm-ansible-molecule-edpm_libvirt

Fix missing Swift service in edpm_tripleo_cleanup
  roles/edpm_tripleo_cleanup/defaults/main.yml
  roles/edpm_tripleo_cleanup/meta/argument_specs.yml
Due: edpm-ansible-molecule-edpm_tripleo_cleanup

[edpm_ovn] Add option to configure resource providers
  roles/edpm_ovn/defaults/main.yml
  roles/edpm_ovn/meta/argument_specs.yml
  roles/edpm_ovn/molecule/resource_providers/cleanup.yml
  roles/edpm_ovn/molecule/resource_providers/collections.yml
  roles/edpm_ovn/molecule/resource_providers/converge.yml
  roles/edpm_ovn/molecule/resource_providers/molecule.yml
  roles/edpm_ovn/molecule/resource_providers/prepare.yml
  roles/edpm_ovn/molecule/resource_providers/test-data
  roles/edpm_ovn/molecule/resource_providers/verify.yml
  roles/edpm_ovn/tasks/cleanup.yml
  roles/edpm_ovn/tasks/configure.yml
Due: none

Add option to configure resource providers
  roles/edpm_ovn/defaults/main.yml
  roles/edpm_ovn/meta/argument_specs.yml
  roles/edpm_ovn/molecule/resource_providers/cleanup.yml
  roles/edpm_ovn/molecule/resource_providers/collections.yml
  roles/edpm_ovn/molecule/resource_providers/converge.yml
  roles/edpm_ovn/molecule/resource_providers/molecule.yml
  roles/edpm_ovn/molecule/resource_providers/prepare.yml
  roles/edpm_ovn/molecule/resource_providers/test-data
  roles/edpm_ovn/molecule/resource_providers/verify.yml
  roles/edpm_ovn/tasks/cleanup.yml
  roles/edpm_ovn/tasks/configure.yml
Due: none
