Repository openstack-k8s-operators/edpm-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: edpm-ansible-crc-podified-edpm-baremetal, edpm-ansible-centos-stream-molecule-env_data, edpm-ansible-centos-stream-molecule-test_deps, edpm-ansible-centos-stream-molecule-chrony, edpm-ansible-centos-stream-molecule-edpm_bootstrap, edpm-ansible-centos-stream-molecule-edpm_ceph_client_files, edpm-ansible-centos-stream-molecule-edpm_container_manage, edpm-ansible-centos-stream-molecule-edpm_container_rm, edpm-ansible-centos-stream-molecule-edpm_container_standalone, edpm-ansible-centos-stream-molecule-edpm_hosts_entries, edpm-ansible-centos-stream-molecule-edpm_iscsid, edpm-ansible-centos-stream-molecule-edpm_kernel, edpm-ansible-centos-stream-molecule-edpm_logrotate_crond, edpm-ansible-centos-stream-molecule-edpm_module_load, edpm-ansible-centos-stream-molecule-edpm_network_config, edpm-ansible-centos-stream-molecule-edpm_nftables, edpm-ansible-centos-stream-molecule-edpm_nodes_validation, edpm-ansible-centos-stream-molecule-edpm_nova_libvirt, edpm-ansible-centos-stream-molecule-edpm_nova_compute, edpm-ansible-centos-stream-molecule-edpm_nvdimm, edpm-ansible-centos-stream-molecule-edpm_ovn, edpm-ansible-centos-stream-molecule-edpm_podman, edpm-ansible-centos-stream-molecule-edpm_ssh_known_hosts, edpm-ansible-centos-stream-molecule-edpm_sshd, edpm-ansible-centos-stream-molecule-edpm_timezone, edpm-ansible-centos-stream-role-addition

edpm-ansible-crc-podified-edpm-baremetal:
  parent: cifmw-crc-podified-edpm-baremetal

edpm-ansible-centos-stream-molecule-env_data:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: env_data

edpm-ansible-centos-stream-molecule-test_deps:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: test_deps

edpm-ansible-centos-stream-molecule-chrony:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: chrony

edpm-ansible-centos-stream-molecule-edpm_bootstrap:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_bootstrap

edpm-ansible-centos-stream-molecule-edpm_ceph_client_files:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_ceph_client_files

edpm-ansible-centos-stream-molecule-edpm_container_manage:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_container_manage
  voting: false

edpm-ansible-centos-stream-molecule-edpm_container_rm:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_container_rm

edpm-ansible-centos-stream-molecule-edpm_container_standalone:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_container_standalone

edpm-ansible-centos-stream-molecule-edpm_hosts_entries:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_hosts_entries

edpm-ansible-centos-stream-molecule-edpm_iscsid:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_iscsid

edpm-ansible-centos-stream-molecule-edpm_kernel:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_kernel

edpm-ansible-centos-stream-molecule-edpm_logrotate_crond:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_logrotate_crond

edpm-ansible-centos-stream-molecule-edpm_module_load:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_module_load

edpm-ansible-centos-stream-molecule-edpm_network_config:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_network_config

edpm-ansible-centos-stream-molecule-edpm_nftables:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_nftables

edpm-ansible-centos-stream-molecule-edpm_nodes_validation:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_nodes_validation

edpm-ansible-centos-stream-molecule-edpm_nova_libvirt:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_nova_libvirt

edpm-ansible-centos-stream-molecule-edpm_nova_compute:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_nova_compute

edpm-ansible-centos-stream-molecule-edpm_nvdimm:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_nvdimm

edpm-ansible-centos-stream-molecule-edpm_ovn:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_ovn

edpm-ansible-centos-stream-molecule-edpm_podman:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_podman

Change tls ansible variable name
  roles/edpm_nova/defaults/main.yml
Due: edpm-ansible-crc-podified-edpm-baremetal

Set some neutron-ovn-metadata agent options only if necessary
  roles/edpm_neutron_metadata/defaults/main.yml
  roles/edpm_neutron_metadata/templates/neutron-ovn-metadata-agent.conf.j2
Due: edpm-ansible-crc-podified-edpm-baremetal

[edpm_libvirt]Open firewall for live migration traffic
  roles/edpm_libvirt/molecule/default/test-helpers/verify_firewall.yaml
  roles/edpm_libvirt/molecule/default/verify.yml
  roles/edpm_libvirt/tasks/post-install.yml
  roles/edpm_libvirt/templates/firewall.yaml
  roles/edpm_libvirt/templates/qemu.conf
Due: edpm-ansible-crc-podified-edpm-baremetal

Stub documentation for all playbooks
  docs/source/playbooks/bootstrap.rst
  docs/source/playbooks/ceph_client.rst
  docs/source/playbooks/ceph_hci_pre.rst
  docs/source/playbooks/configure_network.rst
  docs/source/playbooks/configure_os.rst
  docs/source/playbooks/configure_ovs_dpdk.rst
  docs/source/playbooks/download_cache.rst
  docs/source/playbooks/frr.rst
  docs/source/playbooks/libvirt.rst
  docs/source/playbooks/neutron_dhcp.rst
  docs/source/playbooks/neutron_metadata.rst
  docs/source/playbooks/neutron_ovn.rst
  docs/source/playbooks/neutron_sriov.rst
  docs/source/playbooks/nova.rst
  docs/source/playbooks/ovn.rst
  docs/source/playbooks/ovn_bgp_agent.rst
  docs/source/playbooks/run_os.rst
  docs/source/playbooks/select_kernel_ddp_package.rst
  docs/source/playbooks/telemetry.rst
  docs/source/playbooks/telemetry_logging.rst
  docs/source/playbooks/validate_network.rst
Due: none

Install rootwrap.conf where neutron rpm expects it
  roles/edpm_neutron_dhcp/defaults/main.yml
  roles/edpm_neutron_dhcp/meta/argument_specs.yml
  roles/edpm_neutron_dhcp/templates/kolla_config/neutron_dhcp_agent.yaml.j2
  roles/edpm_neutron_metadata/defaults/main.yml
  roles/edpm_neutron_metadata/meta/argument_specs.yml
  roles/edpm_neutron_metadata/templates/kolla_ovn_metadata_agent.yaml.j2
  roles/edpm_neutron_ovn/defaults/main.yml
  roles/edpm_neutron_ovn/meta/argument_specs.yml
  roles/edpm_neutron_ovn/molecule/default/verify.yml
  roles/edpm_neutron_ovn/templates/kolla_ovn_agent.yaml.j2
  roles/edpm_neutron_sriov/defaults/main.yml
  roles/edpm_neutron_sriov/meta/argument_specs.yml
  roles/edpm_neutron_sriov/molecule/default/verify.yml
  roles/edpm_neutron_sriov/templates/kolla_config/neutron_sriov_agent.yaml.j2
Due: edpm-ansible-crc-podified-edpm-baremetal

Comments for the more complicated parts of existing playbooks.
  playbooks/bootstrap.yml
  playbooks/ceph_client.yml
  playbooks/ceph_hci_pre.yml
  playbooks/configure_network.yml
  playbooks/configure_os.yml
  playbooks/install_os.yml
  playbooks/telemetry.yml
  playbooks/telemetry_logging.yml
  playbooks/validate_network.yml
Due: edpm-ansible-crc-podified-edpm-baremetal

Mount certs for libvirt
  roles/edpm_libvirt/defaults/main.yml
  roles/edpm_libvirt/meta/argument_specs.yml
  roles/edpm_libvirt/tasks/configure.yml
Due: edpm-ansible-crc-podified-edpm-baremetal

[molecule][podman] Drop remote_tmp config_options
  roles/edpm_neutron_dhcp/molecule/default/molecule.yml
  roles/edpm_neutron_metadata/molecule/default/molecule.yml
  roles/edpm_telemetry/molecule/default/molecule.yml
Due: none

Peform DNF update on edpm node
  roles/edpm_bootstrap/tasks/download_cache.yml
  roles/edpm_bootstrap/tasks/update_package.yml
Due: edpm-ansible-crc-podified-edpm-baremetal

Add root_helper checks for metadata and dhcp roles
  roles/edpm_neutron_dhcp/molecule/default/tests/test_neutron_dhcp.py
  roles/edpm_neutron_metadata/molecule/default/tests/test_neutron_metadata.py
Due: none

Ceilometer will log to stdout, removing log dir creation
  roles/edpm_telemetry/molecule/default/prepare.yml
  roles/edpm_telemetry/tasks/deploy_ceilometer.yml
Due: edpm-ansible-crc-podified-edpm-baremetal

Use different src directories for telemetry and logging
  roles/edpm_telemetry/defaults/main.yml
  roles/edpm_telemetry/molecule/default/converge.yml
  roles/edpm_telemetry/molecule/default/prepare.yml
  roles/edpm_telemetry/tasks/enable_logging.yml
Due: edpm-ansible-crc-podified-edpm-baremetal

update virtlogd enabeld check
  roles/edpm_libvirt/molecule/default/verify.yml
Due: none

Configure rsyslog to being able to send TLS encrypted logs to the remote server
  roles/edpm_telemetry/molecule/default/prepare.yml
  roles/edpm_telemetry/tasks/enable_logging.yml
Due: edpm-ansible-crc-podified-edpm-baremetal

add optional vagrant senairo for local testing and development.
  .ansible-lint
  .yamllint
  molecule-requirements.txt
  roles/edpm_libvirt/molecule/default/molecule.yml
  roles/edpm_libvirt/molecule/vagrant/README.md
  roles/edpm_libvirt/molecule/vagrant/molecule.yml
  roles/edpm_libvirt/molecule/vagrant/verify.yml
  roles/edpm_nova/molecule/default/converge.yml
  roles/edpm_nova/molecule/default/molecule.yml
  roles/edpm_nova/molecule/default/verify.yml
  roles/edpm_nova/molecule/vagrant/README.md
  roles/edpm_nova/molecule/vagrant/molecule.yml
  roles/edpm_nova/molecule/vagrant/verify.yml
Due: edpm-ansible-crc-podified-edpm-baremetal, edpm-ansible-centos-stream-molecule-env_data, edpm-ansible-centos-stream-molecule-test_deps, edpm-ansible-centos-stream-molecule-chrony, edpm-ansible-centos-stream-molecule-edpm_bootstrap, edpm-ansible-centos-stream-molecule-edpm_ceph_client_files, edpm-ansible-centos-stream-molecule-edpm_container_manage, edpm-ansible-centos-stream-molecule-edpm_container_rm, edpm-ansible-centos-stream-molecule-edpm_container_standalone, edpm-ansible-centos-stream-molecule-edpm_hosts_entries, edpm-ansible-centos-stream-molecule-edpm_iscsid, edpm-ansible-centos-stream-molecule-edpm_kernel, edpm-ansible-centos-stream-molecule-edpm_logrotate_crond, edpm-ansible-centos-stream-molecule-edpm_module_load, edpm-ansible-centos-stream-molecule-edpm_network_config, edpm-ansible-centos-stream-molecule-edpm_nftables, edpm-ansible-centos-stream-molecule-edpm_nodes_validation, edpm-ansible-centos-stream-molecule-edpm_nova_libvirt, edpm-ansible-centos-stream-molecule-edpm_nova_compute, edpm-ansible-centos-stream-molecule-edpm_nvdimm, edpm-ansible-centos-stream-molecule-edpm_ovn, edpm-ansible-centos-stream-molecule-edpm_podman, edpm-ansible-centos-stream-molecule-edpm_ssh_known_hosts, edpm-ansible-centos-stream-molecule-edpm_sshd, edpm-ansible-centos-stream-molecule-edpm_timezone, edpm-ansible-centos-stream-role-addition

[edpm_kernel] Improve `edpm_kernel_args` search in `/proc/cmdline`
  roles/edpm_kernel/molecule/kernelargs-update-substring/converge.yml
  roles/edpm_kernel/molecule/kernelargs-update-substring/molecule.yml
  roles/edpm_kernel/molecule/kernelargs-update-substring/verify.yml
  roles/edpm_kernel/tasks/kernelargs.yml
Due: edpm-ansible-crc-podified-edpm-baremetal

Asciidocs build procedure
  .github/workflows/documentation.yaml
  .gitignore
  docs/Gemfile
  docs/build-docs.sh
  docs/source/main.adoc
Due: edpm-ansible-crc-podified-edpm-baremetal

Add role to run node reboot
  .github/workflows/molecule.yaml
  playbooks/reboot.yml
  roles/edpm_kernel/meta/argument_specs.yml
  roles/edpm_kernel/tasks/reboot.yaml
  roles/edpm_reboot/defaults/main.yaml
  roles/edpm_reboot/meta/argument_specs.yml
  roles/edpm_reboot/meta/main.yaml
  roles/edpm_reboot/molecule/default/converge.yml
  roles/edpm_reboot/molecule/default/molecule.yml
  roles/edpm_reboot/molecule/default/prepare.yml
  roles/edpm_reboot/tasks/main.yaml
  roles/edpm_reboot/tasks/reboot.yaml
Due: edpm-ansible-crc-podified-edpm-baremetal

Clarifying tennant_ip argument
  docs/source/playbooks/ovn.rst
  roles/edpm_ovn/meta/argument_specs.yml
Due: edpm-ansible-crc-podified-edpm-baremetal

Clarifying requirements of the role
  docs/source/roles/role-edpm_network_config.rst
Due: none

Adding information to playbook and argspec
  docs/source/playbooks/configure_network.rst
  roles/edpm_network_config/meta/argument_specs.yml
Due: edpm-ansible-crc-podified-edpm-baremetal

More information about the ctlplane_gateway_ip variable
  docs/source/playbooks/configure_network.rst
  docs/source/roles/role-edpm_network_config.rst
Due: none

Call package update via bootstrap playbook
  roles/edpm_bootstrap/tasks/bootstrap.yml
  roles/edpm_bootstrap/tasks/main.yml
Due: edpm-ansible-crc-podified-edpm-baremetal

Revert "Peform DNF update on edpm node"
  roles/edpm_bootstrap/tasks/download_cache.yml
  roles/edpm_bootstrap/tasks/main.yml
  roles/edpm_bootstrap/tasks/update_package.yml
Due: edpm-ansible-crc-podified-edpm-baremetal

Add role edpm_install_certs
  docs/source/playbooks/install_certs.rst
  docs/source/roles/role-edpm_install_certs.rst
  playbooks/install_certs.yml
  roles/edpm_install_certs/meta/argument_specs.yml
  roles/edpm_install_certs/meta/main.yml
  roles/edpm_install_certs/tasks/copy_ca_certs.yaml
  roles/edpm_install_certs/tasks/copy_certs_and_keys.yaml
  roles/edpm_install_certs/tasks/main.yml
  roles/edpm_nova/defaults/main.yml
  roles/edpm_nova/meta/argument_specs.yml
  roles/edpm_nova/tasks/configure.yml
  roles/edpm_nova/templates/nova_compute.json.j2
Due: edpm-ansible-crc-podified-edpm-baremetal

Modify libvirt role to handle new locations for certs
  docs/source/roles/role-edpm_install_certs.rst
  roles/edpm_libvirt/defaults/main.yml
  roles/edpm_libvirt/meta/argument_specs.yml
  roles/edpm_libvirt/tasks/configure.yml
Due: edpm-ansible-crc-podified-edpm-baremetal

Make edpm_user the default for nova persistent directories
  roles/edpm_nova/tasks/configure.yml
Due: edpm-ansible-crc-podified-edpm-baremetal

OVN role arguments refactor
  roles/edpm_ovn/defaults/main.yml
  roles/edpm_ovn/meta/argument_specs.yml
Due: edpm-ansible-crc-podified-edpm-baremetal

Nova compute parameters changes
  roles/edpm_nova/defaults/main.yml
  roles/edpm_nova/meta/argument_specs.yml
  roles/edpm_nova/tasks/configure_compute.yml
  roles/edpm_nova/tasks/main.yml
Due: edpm-ansible-crc-podified-edpm-baremetal

[edpm_nova]Pre-generate compute_id
  roles/edpm_nova/molecule/default/verify.yml
  roles/edpm_nova/tasks/configure.yml
Due: edpm-ansible-crc-podified-edpm-baremetal

Adding code snippets to playbook docs
  docs/source/playbooks/bootstrap.rst
  docs/source/playbooks/ceph_client.rst
  docs/source/playbooks/ceph_hci_pre.rst
  docs/source/playbooks/configure_network.rst
  docs/source/playbooks/configure_os.rst
  docs/source/playbooks/configure_ovs_dpdk.rst
  docs/source/playbooks/download_cache.rst
  docs/source/playbooks/frr.rst
  docs/source/playbooks/install_certs.rst
  docs/source/playbooks/install_os.rst
  docs/source/playbooks/libvirt.rst
  docs/source/playbooks/neutron_dhcp.rst
  docs/source/playbooks/neutron_metadata.rst
  docs/source/playbooks/neutron_ovn.rst
  docs/source/playbooks/neutron_sriov.rst
  docs/source/playbooks/nova.rst
  docs/source/playbooks/ovn.rst
  docs/source/playbooks/ovn_bgp_agent.rst
  docs/source/playbooks/run_os.rst
  docs/source/playbooks/select_kernel_ddp_package.rst
  docs/source/playbooks/telemetry.rst
  docs/source/playbooks/telemetry_logging.rst
  docs/source/playbooks/validate_network.rst
Due: none

[edpm_libvirt]Enable os_enable_vtpm selinux boolean
  roles/edpm_libvirt/molecule/default/prepare.yml
  roles/edpm_libvirt/molecule/default/verify.yml
  roles/edpm_libvirt/tasks/configure.yml
  roles/edpm_nova/molecule/default/prepare.yml
Due: edpm-ansible-crc-podified-edpm-baremetal

Use antelope repos instead of wallaby
  molecule/common/Containerfile.j2
Due: none

add molecule vagrant support to edpm_neutron_sriov
  roles/edpm_neutron_sriov/molecule/vagrant/README.md
  roles/edpm_neutron_sriov/molecule/vagrant/molecule.yml
  roles/edpm_neutron_sriov/molecule/vagrant/verify.yml
Due: none

Fixing nova permission denied issues
  roles/edpm_neutron_sriov/molecule/default/converge.yml
  roles/edpm_neutron_sriov/tasks/install.yml
  roles/edpm_nova/tasks/install.yml
Due: edpm-ansible-crc-podified-edpm-baremetal

refactor edpm_neutron_sriov role
  roles/edpm_neutron_sriov/defaults/main.yml
  roles/edpm_neutron_sriov/molecule/default/converge.yml
  roles/edpm_neutron_sriov/molecule/default/prepare.yml
  roles/edpm_neutron_sriov/molecule/default/verify.yml
  roles/edpm_neutron_sriov/tasks/configure.yml
  roles/edpm_neutron_sriov/tasks/install.yml
  roles/edpm_neutron_sriov/tasks/run.yml
  roles/edpm_neutron_sriov/templates/config.json.j2
  roles/edpm_neutron_sriov/templates/kolla_config/neutron_sriov_agent.yaml.j2
  roles/edpm_neutron_sriov/templates/neutron_sriov_agent.json.j2
  roles/edpm_neutron_sriov/templates/neutron_sriov_agent.yaml.j2
Due: edpm-ansible-crc-podified-edpm-baremetal

Create host user and group, if not exists
  roles/edpm_users/tasks/create_users_and_groups.yml
Due: edpm-ansible-crc-podified-edpm-baremetal

Allow for multiple inventory files to be passed to ansibleee
  openstack_ansibleee/edpm_entrypoint.sh
Due: edpm-ansible-crc-podified-edpm-baremetal

Add ceilometer config customization
  roles/edpm_telemetry/tasks/deploy_ceilometer.yml
Due: edpm-ansible-crc-podified-edpm-baremetal

Path conditions:
  edpm-ansible-crc-podified-edpm-baremetal: unless all of: LICENSE, OWNERS.*, README.md, molecule/.*, molecule-requirements.txt, .github/workflows, scripts/.*, docs/.*, contribute/.*, tests, roles/.*/molecule/.*
  edpm-ansible-centos-stream-molecule-env_data: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/env_data/(?!meta).*
  edpm-ansible-centos-stream-molecule-test_deps: any of: ^molecule-requirements.txt, ^.config/molecule/config.yml, ^edpm_ansible/roles/test_deps/(?!meta).*, ^zuul.d/playbooks/pre.yml
  edpm-ansible-centos-stream-molecule-chrony: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/chrony/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_bootstrap: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_bootstrap/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ceph_client_files: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ceph_client_files/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_container_manage: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_manage/(?!meta).*, ^edpm_ansible/roles/edpm_container_rm/.*, ^edpm_ansible/ansible_plugins/action/container_systemd.py$, ^edpm_ansible/ansible_plugins/filter/helpers.py$, ^edpm_ansible/ansible_plugins/modules/container_config_data.py$, ^edpm_ansible/ansible_plugins/modules/container_config_hash.py$
  edpm-ansible-centos-stream-molecule-edpm_container_rm: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_rm/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_container_standalone: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_standalone/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_hosts_entries: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_hosts_entries/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_iscsid: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_iscsid/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_kernel: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_kernel/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_logrotate_crond: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_logrotate_crond/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_module_load: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_module_load/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_network_config: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_network_config/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_os_net_config.py, ^edpm_ansible/ansible_plugins/modules/edpm_os_net_config_mappings.py
  edpm-ansible-centos-stream-molecule-edpm_nftables: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nftables/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_nftables_from_files.py, ^edpm_ansible/ansible_plugins/modules/edpm_nftables_snippet.py
  edpm-ansible-centos-stream-molecule-edpm_nodes_validation: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nodes_validation/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nova_libvirt: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nova_libvirt/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nova_compute: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nova_compute/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nvdimm: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nvdimm/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ovn: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ovn/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_ovn_mac_addresses.py
  edpm-ansible-centos-stream-molecule-edpm_podman: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_podman/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ssh_known_hosts: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ssh_known_hosts/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_sshd: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_sshd/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_timezone: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_timezone/(?!meta).*
  edpm-ansible-centos-stream-role-addition: any of: ^.config/molecule/config.yml, ^_skeleton_role_/.*, ^role-addition.yml, ^tox.ini, ^molecule-requirements.txt, ^zuul.d/playbooks/.*, ^zuul.d/molecule.yaml
