Repository openstack-k8s-operators/edpm-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: edpm-ansible-molecule-edpm_accel_drivers, edpm-ansible-molecule-edpm_bootstrap, edpm-ansible-molecule-edpm_podman, edpm-ansible-molecule-edpm_module_load, edpm-ansible-molecule-edpm_kernel, edpm-ansible-molecule-edpm_libvirt, edpm-ansible-molecule-edpm_nova, edpm-ansible-molecule-edpm_frr, edpm-ansible-molecule-edpm_iscsid, edpm-ansible-molecule-edpm_ovn_bgp_agent, edpm-ansible-molecule-edpm_ovs, edpm-ansible-molecule-edpm_tripleo_cleanup, edpm-ansible-molecule-edpm_tuned, edpm-ansible-molecule-edpm_telemetry_power_monitoring, edpm-ansible-molecule-edpm_update, edpm-ansible-centos-stream-molecule-env_data, edpm-ansible-centos-stream-molecule-test_deps, edpm-ansible-centos-stream-molecule-chrony, edpm-ansible-centos-stream-molecule-edpm_bootstrap, edpm-ansible-centos-stream-molecule-edpm_ceph_client_files, edpm-ansible-centos-stream-molecule-edpm_container_manage, edpm-ansible-centos-stream-molecule-edpm_container_rm, edpm-ansible-centos-stream-molecule-edpm_container_standalone, edpm-ansible-centos-stream-molecule-edpm_hosts_entries, edpm-ansible-centos-stream-molecule-edpm_iscsid, edpm-ansible-centos-stream-molecule-edpm_kernel, edpm-ansible-centos-stream-molecule-edpm_logrotate_crond, edpm-ansible-centos-stream-molecule-edpm_module_load, edpm-ansible-centos-stream-molecule-edpm_network_config, edpm-ansible-centos-stream-molecule-edpm_nftables, edpm-ansible-centos-stream-molecule-edpm_nodes_validation, edpm-ansible-centos-stream-molecule-edpm_nova_libvirt, edpm-ansible-centos-stream-molecule-edpm_nova_compute, edpm-ansible-centos-stream-molecule-edpm_nvdimm, edpm-ansible-centos-stream-molecule-edpm_ovn, edpm-ansible-centos-stream-molecule-edpm_podman, edpm-ansible-centos-stream-molecule-edpm_ssh_known_hosts, edpm-ansible-centos-stream-molecule-edpm_sshd, edpm-ansible-centos-stream-molecule-edpm_timezone, edpm-ansible-centos-stream-role-addition

Path conditions:
  edpm-ansible-molecule-edpm_accel_drivers: any of: ^roles/edpm_accel_drivers/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_bootstrap: any of: ^roles/edpm_bootstrap/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_podman: any of: ^roles/edpm_podman/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_module_load: any of: ^roles/edpm_module_load/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_kernel: any of: ^roles/edpm_kernel/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_libvirt: any of: ^roles/edpm_libvirt/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_nova: any of: ^roles/edpm_nova/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_frr: any of: ^roles/edpm_frr/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_iscsid: any of: ^roles/edpm_iscsid/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_ovn_bgp_agent: any of: ^roles/edpm_ovn_bgp_agent/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_ovs: any of: ^roles/edpm_ovs/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_tripleo_cleanup: any of: ^roles/edpm_tripleo_cleanup/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_tuned: any of: ^roles/edpm_tuned/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_telemetry_power_monitoring: any of: ^roles/edpm_telemetry_power_monitoring/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-molecule-edpm_update: any of: ^roles/edpm_update/(defaults|files|handlers|library|lookup_plugins|module_utils|molecule|tasks|templates|vars).*
  edpm-ansible-centos-stream-molecule-env_data: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/env_data/(?!meta).*
  edpm-ansible-centos-stream-molecule-test_deps: any of: ^molecule-requirements.txt, ^.config/molecule/config.yml, ^edpm_ansible/roles/test_deps/(?!meta).*, ^zuul.d/playbooks/pre.yml
  edpm-ansible-centos-stream-molecule-chrony: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/chrony/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_bootstrap: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_bootstrap/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ceph_client_files: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ceph_client_files/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_container_manage: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_manage/(?!meta).*, ^edpm_ansible/roles/edpm_container_rm/.*, ^edpm_ansible/ansible_plugins/action/container_systemd.py$, ^edpm_ansible/ansible_plugins/filter/helpers.py$, ^edpm_ansible/ansible_plugins/modules/container_config_data.py$, ^edpm_ansible/ansible_plugins/modules/container_config_hash.py$
  edpm-ansible-centos-stream-molecule-edpm_container_rm: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_rm/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_container_standalone: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_standalone/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_hosts_entries: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_hosts_entries/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_iscsid: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_iscsid/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_kernel: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_kernel/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_logrotate_crond: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_logrotate_crond/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_module_load: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_module_load/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_network_config: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_network_config/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_os_net_config.py, ^edpm_ansible/ansible_plugins/modules/edpm_os_net_config_mappings.py
  edpm-ansible-centos-stream-molecule-edpm_nftables: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nftables/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_nftables_from_files.py, ^edpm_ansible/ansible_plugins/modules/edpm_nftables_snippet.py
  edpm-ansible-centos-stream-molecule-edpm_nodes_validation: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nodes_validation/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nova_libvirt: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nova_libvirt/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nova_compute: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nova_compute/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nvdimm: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nvdimm/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ovn: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ovn/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_ovn_mac_addresses.py
  edpm-ansible-centos-stream-molecule-edpm_podman: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_podman/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ssh_known_hosts: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ssh_known_hosts/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_sshd: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_sshd/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_timezone: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_timezone/(?!meta).*
  edpm-ansible-centos-stream-role-addition: any of: ^.config/molecule/config.yml, ^_skeleton_role_/.*, ^role-addition.yml, ^tox.ini, ^molecule-requirements.txt, ^zuul.d/playbooks/.*, ^zuul.d/molecule.yaml

Cleanup any existing service files that might shadow quadlet
  roles/edpm_container_standalone/tasks/quadlet.yml
Due: none

Share NIC mapping tasks for nmstate and os-net-config
  roles/edpm_network_config/defaults/main.yml
  roles/edpm_network_config/meta/argument_specs.yml
  roles/edpm_network_config/tasks/nic_mapping.yml
  roles/edpm_network_config/tasks/nmstate_tool.yml
  roles/edpm_network_config/tasks/os_net_config_tool.yml
Due: none

[18.0-fr7] Normalize OVN bridge mappings for MAC generation (#1312)
  roles/edpm_ovn/defaults/main.yml
  roles/edpm_ovn/meta/argument_specs.yml
  roles/edpm_ovn/molecule/bridge_mappings_list/verify.yml
  roles/edpm_ovn/molecule/bridge_mappings_string/converge.yml
  roles/edpm_ovn/molecule/bridge_mappings_string/verify.yml
  roles/edpm_ovn/tasks/main.yml
Due: none

[edpm_accel_drivers] improve idempotency
  roles/edpm_accel_drivers/tasks/disable_module.yml
  roles/edpm_accel_drivers/tasks/install_from_rpm.yml
  roles/edpm_accel_drivers/tasks/main.yml
  roles/edpm_accel_drivers/tasks/nvidia_from_run.yml
Due: edpm-ansible-molecule-edpm_accel_drivers

Only download legacy netork service package for os-net-config
  roles/edpm_bootstrap/tasks/download_cache.yml
Due: edpm-ansible-molecule-edpm_bootstrap

WIP change zuul molecule jobs to use cs10
  molecule/common/test_deps/molecule/default/molecule.yml
  molecule/common/test_deps/tasks/main.yml
  molecule/common/test_deps/vars/centos-10.yml
  plugins/tests/molecule/edpm_os_net_config/molecule.yml
  roles/edpm_bootstrap/molecule/default/molecule.yml
  roles/edpm_bootstrap/molecule/default/verify.yml
  roles/edpm_bootstrap/molecule/molecule_config.yaml
  roles/edpm_bootstrap/tasks/pq_crypto_policy.yml
  roles/edpm_growvols/molecule/default/molecule.yml
  roles/edpm_kernel/molecule/extra/converge.yml
  roles/edpm_libvirt/molecule/default/prepare.yml
  roles/edpm_libvirt/molecule/default/test-helpers/verify_firewall.yaml
  roles/edpm_module_load/molecule/default/molecule.yml
  roles/edpm_module_load/molecule/legacy_vars/molecule.yml
  roles/edpm_module_load/molecule/remove_module/molecule.yml
  roles/edpm_nova/molecule/default/prepare.yml
  roles/edpm_nova/tasks/configure.yml
  roles/edpm_ovs/molecule/common/prepare_base.yml
  roles/edpm_podman/molecule/default/molecule.yml
  roles/edpm_podman/molecule/default/prepare.yml
  roles/edpm_podman/molecule/disconnected/molecule.yml
  roles/edpm_podman/molecule/disconnected/prepare.yml
  roles/edpm_podman/molecule/install/molecule.yml
  roles/edpm_podman/molecule/install/prepare.yml
  roles/edpm_podman/molecule/login/molecule.yml
  roles/edpm_podman/molecule/login/prepare.yml
  roles/edpm_reboot/molecule/default/molecule.yml
  roles/edpm_reboot/molecule/pre-adoption/molecule.yml
  roles/edpm_ssh_known_hosts/molecule/default/molecule.yml
  roles/edpm_ssh_known_hosts/molecule/no_networks/molecule.yml
  roles/edpm_telemetry_power_monitoring/molecule/default/prepare.yml
  roles/edpm_telemetry_power_monitoring/molecule/default/verify.yml
  roles/edpm_timezone/tasks/configure.yml
  roles/edpm_users/molecule/default/molecule.yml
  zuul.d/jobs.yaml
  zuul.d/playbooks/molecule-cs10-pre.yml
Due: edpm-ansible-molecule-edpm_bootstrap, edpm-ansible-molecule-edpm_podman, edpm-ansible-molecule-edpm_module_load, edpm-ansible-molecule-edpm_kernel, edpm-ansible-molecule-edpm_libvirt, edpm-ansible-molecule-edpm_nova, edpm-ansible-molecule-edpm_ovs, edpm-ansible-molecule-edpm_telemetry_power_monitoring, edpm-ansible-centos-stream-role-addition

edpm_network_config: record MAC address in nmstate device_map
  docs/source/roles/role-edpm_network_config.rst
  plugins/tests/test_edpm_nmstate_device_map.py
  roles/edpm_network_config/defaults/main.yml
  roles/edpm_network_config/files/edpm_nmstate_device_map.py
  roles/edpm_network_config/meta/argument_specs.yml
  roles/edpm_network_config/tasks/nmstate_device_map.yml
Due: none

edpm_network_config: add nmstate device_map (physical device PCI/MAC/driver map)
  plugins/tests/test_edpm_nmstate_device_map.py
  roles/edpm_network_config/defaults/main.yml
  roles/edpm_network_config/files/edpm_nmstate_device_map.py
  roles/edpm_network_config/meta/argument_specs.yml
  roles/edpm_network_config/tasks/nmstate_device_map.yml
  roles/edpm_network_config/tasks/nmstate_tool.yml
Due: none

edpm_network_config: add PCI driver binding via driverctl
  docs/source/roles/role-edpm_network_config.rst
  plugins/tests/test_edpm_driver_bind.py
  roles/edpm_network_config/defaults/main.yml
  roles/edpm_network_config/files/edpm_driver_bind.py
  roles/edpm_network_config/meta/argument_specs.yml
  roles/edpm_network_config/tasks/driver_bind.yml
  roles/edpm_network_config/tasks/nmstate_tool.yml
Due: none

Remove adoption-standalone-to-crc-ceph-provider for main branch
  zuul.d/projects.yaml
Due: none

[edpm_accel_drivers] fix MIG/SR-IOV svc persists
  roles/edpm_accel_drivers/molecule/nvidia_mig/cleanup.yml
  roles/edpm_accel_drivers/molecule/nvidia_mig/molecule.yml
  roles/edpm_accel_drivers/molecule/nvidia_mig/prepare.yml
  roles/edpm_accel_drivers/molecule/nvidia_mig/test_package/mock-readlink.sh
  roles/edpm_accel_drivers/molecule/nvidia_mig/verify.yml
  roles/edpm_accel_drivers/molecule/nvidia_mig_geometry_change/verify.yml
  roles/edpm_accel_drivers/molecule/nvidia_mig_removal/verify.yml
  roles/edpm_accel_drivers/tasks/nvidia_mig_partitioning.yml
  roles/edpm_accel_drivers/tasks/nvidia_mig_partitioning_cleanup_gpu.yml
  roles/edpm_accel_drivers/tasks/nvidia_mig_partitioning_gpu.yml
  roles/edpm_accel_drivers/tasks/nvidia_mig_sriov_gpu.yml
  roles/edpm_accel_drivers/templates/edpm_nvidia_mig_apply.path.j2
  roles/edpm_accel_drivers/templates/edpm_nvidia_mig_apply.service.j2
  roles/edpm_accel_drivers/templates/edpm_nvidia_sriov_manage.path.j2
  roles/edpm_accel_drivers/templates/edpm_nvidia_sriov_manage.service.j2
  roles/edpm_accel_drivers/templates/edpm_nvidia_sriov_manage.target.j2
Due: edpm-ansible-molecule-edpm_accel_drivers

Fix molecule tests on ubuntu-24.04 runners (#1308)
  .github/workflows/molecule.yaml
  molecule/common/Containerfile.j2
  molecule/common/test_deps/molecule/default/molecule.yml
  molecule/test-helpers/verify_podman.yaml
  plugins/tests/molecule/edpm_os_net_config/molecule.yml
  roles/edpm_bootstrap/molecule/default/molecule.yml
  roles/edpm_bootstrap/molecule/molecule_config.yaml
  roles/edpm_ceph_hci_pre/molecule/default/verify.yml
  roles/edpm_module_load/molecule/default/molecule.yml
  roles/edpm_module_load/molecule/legacy_vars/molecule.yml
  roles/edpm_module_load/molecule/remove_module/molecule.yml
  roles/edpm_podman/molecule/default/molecule.yml
  roles/edpm_podman/molecule/disconnected/molecule.yml
  roles/edpm_podman/molecule/install/molecule.yml
  roles/edpm_podman/molecule/login/molecule.yml
  roles/edpm_ssh_known_hosts/molecule/default/molecule.yml
  roles/edpm_ssh_known_hosts/molecule/no_networks/molecule.yml
  roles/edpm_timezone/tasks/configure.yml
  roles/edpm_users/molecule/default/molecule.yml
Due: edpm-ansible-molecule-edpm_bootstrap, edpm-ansible-molecule-edpm_podman, edpm-ansible-molecule-edpm_module_load

Feat: Upgrade PoC for 18->19
  playbooks/upgrade_services.yml
  roles/edpm_neutron_ovn/tasks/upgrade.yml
  roles/edpm_upgrade_services/defaults/main.yml
  roles/edpm_upgrade_services/meta/argument_specs.yml
  roles/edpm_upgrade_services/meta/main.yml
  roles/edpm_upgrade_services/tasks/main.yml
Due: none
