Repository openstack-k8s-operators/edpm-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: edpm-ansible-centos-stream-molecule-env_data, edpm-ansible-centos-stream-molecule-test_deps, edpm-ansible-centos-stream-molecule-chrony, edpm-ansible-centos-stream-molecule-edpm_bootstrap, edpm-ansible-centos-stream-molecule-edpm_ceph_client_files, edpm-ansible-centos-stream-molecule-edpm_container_manage, edpm-ansible-centos-stream-molecule-edpm_container_rm, edpm-ansible-centos-stream-molecule-edpm_container_standalone, edpm-ansible-centos-stream-molecule-edpm_hosts_entries, edpm-ansible-centos-stream-molecule-edpm_iscsid, edpm-ansible-centos-stream-molecule-edpm_kernel, edpm-ansible-centos-stream-molecule-edpm_logrotate_crond, edpm-ansible-centos-stream-molecule-edpm_module_load, edpm-ansible-centos-stream-molecule-edpm_network_config, edpm-ansible-centos-stream-molecule-edpm_nftables, edpm-ansible-centos-stream-molecule-edpm_nodes_validation, edpm-ansible-centos-stream-molecule-edpm_nova_libvirt, edpm-ansible-centos-stream-molecule-edpm_nova_compute, edpm-ansible-centos-stream-molecule-edpm_nvdimm, edpm-ansible-centos-stream-molecule-edpm_ovn, edpm-ansible-centos-stream-molecule-edpm_podman, edpm-ansible-centos-stream-molecule-edpm_ssh_known_hosts, edpm-ansible-centos-stream-molecule-edpm_sshd, edpm-ansible-centos-stream-molecule-edpm_timezone, edpm-ansible-centos-stream-role-addition

Path conditions:
  edpm-ansible-centos-stream-molecule-env_data: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/env_data/(?!meta).*
  edpm-ansible-centos-stream-molecule-test_deps: any of: ^molecule-requirements.txt, ^.config/molecule/config.yml, ^edpm_ansible/roles/test_deps/(?!meta).*, ^zuul.d/playbooks/pre.yml
  edpm-ansible-centos-stream-molecule-chrony: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/chrony/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_bootstrap: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_bootstrap/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ceph_client_files: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ceph_client_files/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_container_manage: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_manage/(?!meta).*, ^edpm_ansible/roles/edpm_container_rm/.*, ^edpm_ansible/ansible_plugins/action/container_systemd.py$, ^edpm_ansible/ansible_plugins/filter/helpers.py$, ^edpm_ansible/ansible_plugins/modules/container_config_data.py$, ^edpm_ansible/ansible_plugins/modules/container_config_hash.py$
  edpm-ansible-centos-stream-molecule-edpm_container_rm: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_rm/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_container_standalone: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_standalone/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_hosts_entries: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_hosts_entries/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_iscsid: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_iscsid/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_kernel: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_kernel/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_logrotate_crond: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_logrotate_crond/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_module_load: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_module_load/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_network_config: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_network_config/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_os_net_config.py, ^edpm_ansible/ansible_plugins/modules/edpm_os_net_config_mappings.py
  edpm-ansible-centos-stream-molecule-edpm_nftables: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nftables/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_nftables_from_files.py, ^edpm_ansible/ansible_plugins/modules/edpm_nftables_snippet.py
  edpm-ansible-centos-stream-molecule-edpm_nodes_validation: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nodes_validation/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nova_libvirt: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nova_libvirt/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nova_compute: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nova_compute/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nvdimm: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nvdimm/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ovn: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ovn/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_ovn_mac_addresses.py
  edpm-ansible-centos-stream-molecule-edpm_podman: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_podman/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ssh_known_hosts: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ssh_known_hosts/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_sshd: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_sshd/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_timezone: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_timezone/(?!meta).*
  edpm-ansible-centos-stream-role-addition: any of: ^.config/molecule/config.yml, ^_skeleton_role_/.*, ^role-addition.yml, ^tox.ini, ^molecule-requirements.txt, ^zuul.d/playbooks/.*, ^zuul.d/molecule.yaml

Change copyright year in headers for skeleton_role files
  _skeleton_role_/defaults/main.yml.j2
  _skeleton_role_/handlers/main.yml
  _skeleton_role_/meta/main.yml.j2
  _skeleton_role_/molecule/default/converge.yml.j2
  _skeleton_role_/molecule/default/prepare.yml
  _skeleton_role_/tasks/main.yml.j2
  _skeleton_role_/vars/main.yml.j2
Due: edpm-ansible-centos-stream-role-addition

removed some files because molecule jobs will be executed via prow
  zuul.d/base.yaml
  zuul.d/layout.yaml
  zuul.d/molecule.yaml
Due: edpm-ansible-centos-stream-role-addition

Added timeout 120 to ansible-galaxy install command
  openstack_ansibleee/Dockerfile
Due: none

Adapt files to run tests
  Makefile
  scripts/run-local-test
  scripts/setup_env
Due: none

Fix linter
  scripts/run-local-test
Due: none

fixed artifact upload and publish condition (#7)
  .github/workflows/documentation.yaml
Due: none

Move SELinux task into edpm_bootstrap
  edpm_ansible/playbooks/deploy-edpm-selinux.yml
  edpm_ansible/roles/edpm_bootstrap/defaults/main.yml
  edpm_ansible/roles/edpm_bootstrap/tasks/bootstrap.yml
Due: edpm-ansible-centos-stream-molecule-edpm_bootstrap

Do not deploy docs on PRs
  .github/workflows/documentation.yaml
Due: none

Move OS install tasks from deploy-edpm-os-install.yaml playbook into edpm_bootstrap role
  edpm_ansible/playbooks/deploy-edpm-os-install.yml
  edpm_ansible/roles/edpm_bootstrap/tasks/bootstrap.yml
Due: edpm-ansible-centos-stream-molecule-edpm_bootstrap

added edpm_tuned role
  docs/source/roles/role-edpm_tuned.rst
  edpm_ansible/playbooks/deploy-edpm-os-configure.yml
  edpm_ansible/playbooks/deploy-edpm-os-install.yml
  edpm_ansible/roles/edpm_tuned/defaults/main.yml
  edpm_ansible/roles/edpm_tuned/meta/main.yml
  edpm_ansible/roles/edpm_tuned/molecule/default/converge.yml
  edpm_ansible/roles/edpm_tuned/molecule/default/molecule.yml
  edpm_ansible/roles/edpm_tuned/molecule/default/prepare.yml
  edpm_ansible/roles/edpm_tuned/molecule/isolated/converge.yml
  edpm_ansible/roles/edpm_tuned/molecule/isolated/molecule.yml
  edpm_ansible/roles/edpm_tuned/molecule/isolated/prepare.yml
  edpm_ansible/roles/edpm_tuned/molecule/isolated/tests/test_isolated.py
  edpm_ansible/roles/edpm_tuned/tasks/main.yml
  edpm_ansible/roles/edpm_tuned/tasks/tuned_config.yml
  edpm_ansible/roles/edpm_tuned/tasks/tuned_install.yml
  edpm_ansible/roles/edpm_tuned/vars/redhat.yml
Due: none

Handle the case when tuned is already installed but not started yet
  edpm_ansible/roles/edpm_tuned/tasks/tuned_config.yml
  edpm_ansible/roles/edpm_tuned/tasks/tuned_install.yml
Due: none

adapted role to be consistent to other edpm roles
  edpm_ansible/playbooks/deploy-edpm-os-configure.yml
  edpm_ansible/playbooks/deploy-edpm-os-install.yml
  edpm_ansible/playbooks/deploy-edpm-os-run.yml
  edpm_ansible/roles/edpm_tuned/defaults/main.yml
  edpm_ansible/roles/edpm_tuned/molecule/default/converge.yml
  edpm_ansible/roles/edpm_tuned/molecule/isolated/converge.yml
  edpm_ansible/roles/edpm_tuned/molecule/isolated/prepare.yml
  edpm_ansible/roles/edpm_tuned/molecule/isolated/tests/test_isolated.py
  edpm_ansible/roles/edpm_tuned/tasks/configure.yml
  edpm_ansible/roles/edpm_tuned/tasks/install.yml
  edpm_ansible/roles/edpm_tuned/tasks/main.yml
  edpm_ansible/roles/edpm_tuned/tasks/run.yml
  edpm_ansible/roles/edpm_tuned/vars/redhat.yml
Due: none

Fix EOL newline for install.yml file
  edpm_ansible/roles/edpm_tuned/tasks/install.yml
Due: none

provide full path to tuned-adm binary
  edpm_ansible/roles/edpm_tuned/tasks/configure.yml
Due: none

Removed check for installed packages
  edpm_ansible/roles/edpm_tuned/tasks/install.yml
Due: none

rename chrony role to edpm_chrony
  docs/source/roles/role-edpm_chrony.rst
  edpm_ansible/playbooks/deploy-edpm-os-configure.yml
  edpm_ansible/playbooks/deploy-edpm-os-install.yml
  edpm_ansible/playbooks/deploy-edpm-os-run.yml
  edpm_ansible/roles/chrony/defaults/main.yml
  edpm_ansible/roles/chrony/handlers/main.yml
  edpm_ansible/roles/chrony/templates/chrony.conf.j2
  edpm_ansible/roles/chrony/vars/RedHat.yml
  edpm_ansible/roles/edpm_chrony/README.rst
  edpm_ansible/roles/edpm_chrony/defaults/main.yml
  edpm_ansible/roles/edpm_chrony/files/chrony-online.service
  edpm_ansible/roles/edpm_chrony/handlers/main.yml
  edpm_ansible/roles/edpm_chrony/meta/main.yml
  edpm_ansible/roles/edpm_chrony/tasks/config.yml
  edpm_ansible/roles/edpm_chrony/tasks/install.yml
  edpm_ansible/roles/edpm_chrony/tasks/main.yml
  edpm_ansible/roles/edpm_chrony/tasks/online.yml
  edpm_ansible/roles/edpm_chrony/tasks/run.yml
  edpm_ansible/roles/edpm_chrony/tasks/sync.yml
  edpm_ansible/roles/edpm_chrony/tasks/upgrade.yml
  edpm_ansible/roles/edpm_chrony/tasks/vars.yml
  edpm_ansible/roles/edpm_chrony/templates/chrony.conf.j2
  edpm_ansible/roles/edpm_chrony/tests/all.yml
  edpm_ansible/roles/edpm_chrony/tests/config.yml
  edpm_ansible/roles/edpm_chrony/tests/install.yml
  edpm_ansible/roles/edpm_chrony/tests/inventory.yml
  edpm_ansible/roles/edpm_chrony/tests/upgrade.yml
  edpm_ansible/roles/edpm_chrony/vars/RedHat.yml
  edpm_ansible/roles/edpm_chrony/vars/default.yml
Due: edpm-ansible-centos-stream-molecule-chrony

add vars.yml and import it from tasks files
  edpm_ansible/roles/edpm_tuned/tasks/configure.yml
  edpm_ansible/roles/edpm_tuned/tasks/install.yml
  edpm_ansible/roles/edpm_tuned/tasks/main.yml
  edpm_ansible/roles/edpm_tuned/tasks/vars.yml
Due: none

fix EOF newline
  edpm_ansible/roles/edpm_tuned/tasks/vars.yml
Due: none

Create testing environment for ansible roles under EDPM
  .config/molecule/config.yml
  .config/molecule/config_podman.yml
  Makefile
  README.rst
  scripts/bindep-install
  scripts/run-local-test
  scripts/setup_env
Due: edpm-ansible-centos-stream-molecule-test_deps, edpm-ansible-centos-stream-role-addition

relaunch jobs
  Makefile
Due: none

fixed requirements.txt syntax
  docs/requirements.txt
  requirements.txt
Due: none

Refactored Dockerfile
  openstack_ansibleee/Dockerfile
Due: none

Removed externaldeploy task in edpm_ovn role and its dependencies
  docs/source/modules/modules-edpm_ovn_mac_addresses.rst
  edpm_ansible/ansible_plugins/module_utils/network_data_v2.py
  edpm_ansible/ansible_plugins/modules/edpm_ovn_mac_addresses.py
  edpm_ansible/roles/edpm_ovn/tasks/externaldeploy.yml
  requirements.yml
Due: edpm-ansible-centos-stream-molecule-edpm_ovn

Removed externaldeploy task in edpm_ovn role and its dependencies
  docs/source/modules/modules-edpm_ovn_mac_addresses.rst
  docs/source/roles/role-edpm_ovn.rst
  edpm_ansible/ansible_plugins/modules/edpm_ovn_mac_addresses.py
  edpm_ansible/roles/edpm_ovn/tasks/externaldeploy.yml
Due: edpm-ansible-centos-stream-molecule-edpm_ovn

Replace allovercloud with all
  edpm_ansible/roles/edpm_ssh_known_hosts/tasks/main.yml
Due: edpm-ansible-centos-stream-molecule-edpm_ssh_known_hosts

fixed run-local playbook
  zuul.d/playbooks/run-local.yml
Due: edpm-ansible-centos-stream-role-addition

Remove reference to paunch and heat
  docs/source/roles/role-edpm_container_manage.rst
  edpm_ansible/ansible_plugins/filter/helpers.py
Due: edpm-ansible-centos-stream-molecule-edpm_container_manage

change pip to pip-3
  openstack_ansibleee/Dockerfile
Due: none

Upgrade packages and clean metadata files on image creation
  openstack_ansibleee/Dockerfile
Due: none

Bump ee-creator version to 0.14.1
  openstack_ansibleee/Dockerfile
Due: none

replace dnf with microdnf
  openstack_ansibleee/Dockerfile
Due: none

use already cloned git repo in Dockerfile
  .github/workflows/openstack-ansibleee-runner.yaml
  openstack_ansibleee/Dockerfile
Due: none

removed trailing whitespaces
  openstack_ansibleee/Dockerfile
Due: none

Fix permissions inside Dockerfile
  openstack_ansibleee/Dockerfile
Due: none

fixed permissions on files for edpm_entrypoint script execution
  openstack_ansibleee/Dockerfile
Due: none

Add OWNERS file to edpm-ansible
  OWNERS
  OWNERS_ALIASES
Due: none

fixed artifacts and settings permissions
  openstack_ansibleee/Dockerfile
Due: none

Added execution environment file
  .gitignore
  Makefile
  bindep.txt
  execution-environment.yml
Due: none

Add support for /runner/env/cmdline
  openstack_ansibleee/edpm_entrypoint.sh
Due: none
